<!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> -->

<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">
  <div class="row">
    <div class="col-md-2">
      <label class="font-weight-bold">{{ "Produit" | translate }}</label
      ><br />
      <p-autoComplete [(ngModel)]="productSearch" [suggestions]="productList"
      (completeMethod)="onProductSearch($event)" field="code"></p-autoComplete>
       </div>



    <div class="col-md-2">
      <label class="font-weight-bold">{{
        "Pompe de station" | translate
      }}</label
      ><br />
      <p-dropdown
      [options]="pumpList"
      optionLabel="code"
      [autoDisplayFirst]="false"
      [(ngModel)]="pumpSearch" filter="true"
    >
    </p-dropdown>
    </div>
  </div>
  <br />

  <div class="text-center">
    <button type="button" class="btn btn-primary mr-2" (click)="reset()">
      <i class="fa fa-refresh mr-2"></i> {{ "Réinitialiser" | translate }}
    </button>

    <button type="button" class="btn btn-success" (click)="onSearchClicked()">
      <i class="fa fa-search mr-2"></i> {{ "Rechercher" | translate }}

    </button>
  </div>
</p-panel>

<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="fuelPumpList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdf($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="titleList"
  [viewBtnVisible]="'false'"
  [permissionCreate]="['FUEL_PUMP_CREATE']"
  [permissionDelete]="['FUEL_PUMP_DELETE']"
  [permissionEdit]="['FUEL_PUMP_EDIT']"
></app-data-table>

<div *ngIf="showDialog == true">
  <app-fuel-pump-edit
    [editMode]="editMode"
    [selectFuelPump]="selectFuelPumps[0]"
    (showDialog)="onShowDialog($event)"
  ></app-fuel-pump-edit>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
>
</p-confirmDialog>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
