<form [formGroup]="planForm" (ngSubmit)="onSubmit();">
    <div class="modal-body">

        <div class="form-group">
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Code' | translate}}</label>
                    <input type="text" class="form-control" formControlName="code">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Description' | translate}}</label>
                    <input type="number" class="form-control" formControlName="descriptif">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Title' | translate}}</label>
                    <input type="number" class="form-control" formControlName="title">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Date' | translate}}</label>
                    <div style="display: flex;flex-direction: row">
                        <input type="text" ngbDatepicker class="form-control" formControlName="date" #da="ngbDatepicker" />
                        <button class="btn btn-primary" (click)="da.toggle()">Calendrier</button>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'State' | translate}}</label>
                    <div style="display: inline-block;">
                        <select class="btn btn-outline-primary" [(ngModel)]="currentState" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let state of states" [ngValue]="state.code">{{state.code}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Type' | translate}}</label>
                    <div style="display: inline-block;">
                        <select class="btn btn-outline-primary" [(ngModel)]="currentType" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let type of types" [ngValue]="type.code">{{type.code}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>