<br />
<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">
  <div class="row">
    <div class="col-md-2" >
      <label class="font-weight-bold">{{'Source' |translate}}</label
      ><br />
      <p-autoComplete [(ngModel)]="villeSourceSearch" [suggestions]="villeList"
      (completeMethod)="onVilleSearch($event)"></p-autoComplete>
    </div>

    <div class="col-md-2" >
      <label class="font-weight-bold">{{'Distination' |translate}}</label
      ><br />
      <p-autoComplete [(ngModel)]="villeDistinationSearch" [suggestions]="villeList"
      (completeMethod)="onVilleSearch($event)"></p-autoComplete>
    </div>

    <div class="col-md-2">
      <label class="font-weight-bold">{{ "Catégorie " | translate }}</label
      ><br />
      <p-dropdown
        [options]="vehicleCategoryList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="categorySearch"
        filter="true"
      >
      </p-dropdown>

    </div>

    <div class="col-md-2">
      <label class="font-weight-bold">{{ "Type " | translate }}</label
      ><br />
      <p-dropdown
        [options]="turnTypeList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="turnTypeSearch"
        filter="true"
      >
      </p-dropdown>





    </div>
  </div>
  <br />

  <div class="text-center">
    <button type="button" class="btn btn-primary mr-2" (click)="reset()">
      <i class="fa fa-refresh mr-2"></i> {{ "Réinitialiser" | translate }}
    </button>
    <button type="button" class="btn btn-success" (click)="onSearchClicked()">
      <i class="fa fa-search mr-2"></i> {{ "Rechercher" | translate }}
    </button>
  </div>
</p-panel>

<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="catalogTransportTypeList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdf($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="titleList"
  [viewBtnVisible]="'false'"
  [permissionCreate]="['BADGE_TYPE_CREATE']"
  [permissionDelete]="['BADGE_TYPE_DELETE']"
  [permissionEdit]="['BADGE_TYPE_EDIT']"
></app-data-table>

<div *ngIf="showDialog == true">
  <app-pricing-standard-edit
    [editMode]="editMode"
    [selectedCatalogTransportType]="selectedCatalogTransportTypes[0]"
    (showDialog)="onShowDialog($event)"
  ></app-pricing-standard-edit>
</div>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>



<p-confirmDialog

  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
>
</p-confirmDialog>

