<button class="btn btn-primary btn-sm" (click)="open(content)">
  <i class="fa" [ngClass]="editMode ? 'fa-pencil' : 'fa-plus'"></i>
</button>
<ng-template #content let-modal>
  <div class="modal-header" style=" background-color:#f7f7f7">
    <h4 class="modal-title" id="modal-basic-title">{{'Editer ligne de Plan de maintenance' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body border-top-primary">
    <div class="card-body ">
      <form [formGroup]="lineForm">

        <div class="row  justify-content-around">
          <div class="form-group col-md-3">
            <label>{{'Produit' | translate}} *</label>
            <span *ngIf="(lineForm.get('product').touched && lineForm.get('product').invalid) ||
            (isFormSubmitted && lineForm.get('product').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Champs obligatoire
            </span>
            <br />
            <p-autoComplete [suggestions]="productList" field="code" (completeMethod)="productSearch($event)"
              formControlName="product" (onSelect)="onSelectProduct($event)"></p-autoComplete>
          </div>

          <div class="form-group col-md-6">
            <label>{{'Description' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="description" />
          </div>

          <div class="form-group col-md-3">
            <label>{{'Taux TVA' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="tva" />
          </div>


        </div>
        <div class="row justify-content-around">
          <div class="form-group col-md-3 ">
            <label>{{'Prix Unitaire'| translate}}</label><br />
            <input type="text" class="form-control" (ngModelChange)="onUnitPriceChange()" pInputText pKeyFilter="num"
              formControlName="unitPrice" />
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'Quantite'| translate}}</label><br />
            <input type="text" class="form-control" pInputText pKeyFilter="num" (ngModelChange)="onQuantityChange()"
              formControlName="quantity" />
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'Prix Total HT'| translate}}</label><br />
            <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="priceHT" />
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'Prix Total TTC'| translate}}</label><br />
            <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="priceTTC" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer pull-right">

    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      {{'Fermer' | translate}}
    </button>
    <button type="button" class="btn btn-success" (click)="onSubmit()">
      {{'Valider' | translate}}
    </button>
  </div>
</ng-template>
