<p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>

<div class="card mt-1">
  <div class="card-header">
    <span class="h4">Commande De Livraison</span>
  </div>

  <div class="card-body border-top-primary">

      <p-steps [model]="items" [(activeIndex)]="activeIndex" > </p-steps>
      <span *ngIf="activeIndex==0">
<app-contact-information (nextstep)="next($event)"
(turnTypeId)="showStep($event)"></app-contact-information>

      </span>




      <span *ngIf="activeIndex==1">
        <span *ngIf="this.turnTypeId==1 ||this.turnTypeId==3 ">
        <app-merchandise-aller-edit (nextstep)="next($event)" (previousstep)="previous($event)"></app-merchandise-aller-edit>
        </span>
        <span *ngIf="this.turnTypeId==2">
          <app-merchandise-retour-edit (nextstep)="next($event)" (previousstep)="previous($event)"></app-merchandise-retour-edit>
        </span>
        <span>

        </span>
      </span>
      <span *ngIf="activeIndex==2">
        <span *ngIf="this.turnTypeId==3">
          <app-merchandise-retour-edit (nextstep)="next($event)" (previousstep)="previous($event)"></app-merchandise-retour-edit>
        </span>
        <span *ngIf="this.turnTypeId==1 ||this.turnTypeId==2 ">
          <app-tarification (nextstep)="next($event)" (previousstep)="previous($event)"></app-tarification>
        </span>
      </span>
      <span *ngIf="activeIndex==3">
        <span *ngIf="this.turnTypeId==3">
          <app-tarification (nextstep)="next($event)" (previousstep)="previous($event)"></app-tarification>
        </span>

        <span *ngIf="this.turnTypeId==1 ||this.turnTypeId==2">
          <app-order-delivery-verification  (previousstep)="previous($event)"></app-order-delivery-verification>
        </span>
      </span>

      <span *ngIf="activeIndex==4">
        <span *ngIf="this.turnTypeId==3">
          <app-order-delivery-verification  (previousstep)="previous($event)"></app-order-delivery-verification>
        </span>
      </span>





      <div></div>


  </div>

  <!-- <div class="text-center mt-3 mr-3 ml-3">
    <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
      {{ "Fermer" | translate }}
    </a>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
      {{ "Valider et continuer" | translate }}
    </button>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
      {{ "Valider" | translate }}
    </button>
  </div> -->
</div>





<p-toast position="top-right" [autoZIndex]="'true'"></p-toast>
<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
