<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '900px' }" (onHide)="onShowDialog()">
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="catalogPricingForm">

          <div class="row justify-content-around">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">{{ "Type " | translate }} *</label>
              <span *ngIf="
                  (catalogPricingForm.get('fTurnType').touched &&
                    catalogPricingForm.get('fTurnType').invalid) ||
                  (isFormSubmitted &&
                    catalogPricingForm.get('fTurnType').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-dropdown [autoDisplayFirst]="false"  [options]="turnTypeList" optionLabel="code" [filter]="true"
                [showClear]="true"  (onChange)="onSelectTurnType($event)"
                formControlName="fTurnType">
              </p-dropdown>
            </div>

 <div class="form-group col-sm-3">
              <label class="font-weight-bold">{{ "Categorie Véhicule" | translate }} *</label>
              <span *ngIf="
                  (catalogPricingForm.get('fVehicleCategory').touched &&
                    catalogPricingForm.get('fVehicleCategory').invalid) ||
                  (isFormSubmitted &&
                    catalogPricingForm.get('fVehicleCategory').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-dropdown [autoDisplayFirst]="false" [options]="vehicleCategorieList" optionLabel="code" [filter]="true"
                [showClear]="true" [disabled]="(editMode==2)" (onChange)="onSelectVehicleCateory($event)"
                formControlName="fVehicleCategory">
              </p-dropdown>
            </div>

            <div class="form-group col-sm-3">
              <label class="font-weight-bold">{{ "Ville Source " | translate }} *</label>
              <span *ngIf="
                  (catalogPricingForm.get('fVilleSource').touched &&
                    catalogPricingForm.get('fVilleSource').invalid) ||
                  (isFormSubmitted &&
                    catalogPricingForm.get('fVilleSource').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>


              <p-autoComplete [disabled]="(editMode==2)" formControlName="fVilleSource" [suggestions]="villeList"
                (onSelect)="onSelectVilleSource($event)" (completeMethod)="onVilleSourceSearch($event)" field="code">
              </p-autoComplete>

            </div>

            <div class="form-group col-sm-3">
              <label class="font-weight-bold">{{ "Ville Destination" | translate }} *</label>
              <span *ngIf="
                  (catalogPricingForm.get('fVilleDestination').touched &&
                    catalogPricingForm.get('fVilleDestination').invalid) ||
                  (isFormSubmitted &&
                    catalogPricingForm.get('fVilleDestination').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-autoComplete [disabled]="(editMode==2)" formControlName="fVilleDestination" [suggestions]="villeList"
                (onSelect)="onSelectVilleDestination($event)" (completeMethod)="onVilleSourceSearch($event)" field="code">
              </p-autoComplete>

            </div>



            </div>
            <div class="row justify-content-around">
              <div class="form-group col-sm-6">
            <p-fieldset legend="Complet" [toggleable]="true">

              <div class="row justify-content-around">
                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Montant HT" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fAmountHt').touched &&
                        catalogPricingForm.get('fAmountHt').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fAmountHt').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}
                  </span>
                  <br />
                  <input type="text" class="form-control" (keyup)="onPriceChange(1)" pInputText
                    formControlName="fAmountHt" />
                </div>

                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Taux TVA" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fVat').touched &&
                        catalogPricingForm.get('fVat').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fVat').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}
                  </span>
                  <p-dropdown
                   [autoDisplayFirst]="false"
                   [options]="vatList"
                     [filter]="true"
                     optionLabel="value"
                    [showClear]="true"
                     (onChange)="onSelectVat($event)"
                      formControlName="fVat"></p-dropdown>

                </div>

                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Montant TTC" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fAmountTtc').touched &&
                        catalogPricingForm.get('fAmountTtc').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fAmountTtc').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}

                  </span>
                  <br />
                  <input type="text" class="form-control" (keyup)="onPriceChange(2)" pInputText
                    formControlName="fAmountTtc" />


                </div>
                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Montant TVA" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fAmountTva').touched &&
                        catalogPricingForm.get('fAmountTva').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fAmountTva').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}

                  </span>
                  <br />
                  <input type="text" class="form-control" pInputText formControlName="fAmountTva"
                    (keydown.space)="$event.preventDefault()" />



                </div>
              </div>

            </p-fieldset>
</div>
<div class="form-group col-sm-6">

            <p-fieldset legend="Groupage" [toggleable]="true">

              <div class="row justify-content-around">
                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Montant HT" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fGroupingAmountHt').touched &&
                        catalogPricingForm.get('fGroupingAmountHt').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fGroupingAmountHt').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}
                  </span>
                  <br />
                  <input type="text" class="form-control" (keyup)="onPriceChange(1)" pInputText
                    formControlName="fGroupingAmountHt" />
                </div>

                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Taux TVA" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fGroupingVat').touched &&
                        catalogPricingForm.get('fGroupingVat').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fGroupingVat').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}
                  </span>
                  <p-dropdown
                   [autoDisplayFirst]="false"
                   [options]="vatList"
                     [filter]="true"
                     optionLabel="value"
                    [showClear]="true"
                     (onChange)="onSelectVat($event)"
                      formControlName="fGroupingVat"></p-dropdown>

                </div>

                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Montant TTC" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fGroupingAmountTtc').touched &&
                        catalogPricingForm.get('fGroupingAmountTtc').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fAmountTtc').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}

                  </span>
                  <br />
                  <input type="text" class="form-control" (keyup)="onPriceChange(2)" pInputText
                    formControlName="fGroupingAmountTtc" />


                </div>
                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{ "Montant TVA" | translate }} *</label>
                  <span *ngIf="
                      (catalogPricingForm.get('fGroupingAmountTva').touched &&
                        catalogPricingForm.get('fGroupingAmountTva').invalid) ||
                      (isFormSubmitted &&
                        catalogPricingForm.get('fGrouping AmountTva').invalid)
                    " class="text-lighter" style="color: red; font-size: xx-small;">
                    {{ 'Obligatoire' | translate}}

                  </span>
                  <br />
                  <input type="text" class="form-control" pInputText formControlName="fAmountTva"
                    (keydown.space)="$event.preventDefault()" />



                </div>
              </div>

            </p-fieldset>
            </div>
</div>

        </form>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="onShowDialog()" class="p-button-primary"
        label="{{'Annuler' |translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="p-button-success"
        label="{{'Valider' |translate}}"></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
