<br />
<div class="card ">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body border-top-primary">
    <div class="row">
      <div class="col-md-3">
        <label class="font-weight-bold ">Code</label><br />
        <input type="text" pInputText  />
      </div>

      <div class="col-md-3">
        <label class="font-weight-bold">Type Commission</label><br />
        <p-autoComplete ></p-autoComplete>
      </div>


    </div>
    <br />

    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" >Renitialiser</button>

      <button type="button" class="btn btn-success" >
        Rechercher
      </button>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header " style=" background-color:#f7f7f7;">
    <span>Liste </span>
    <span class="pull-right">
      <app-commission-driver-edit [editMode]="false"></app-commission-driver-edit>
    </span>
  </div>
  <div class="card-body border-top-primary">
    <p-table [value]="" [lazy]="true"   [contextMenu]="cm"

    >
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Nom Chauffeur</th>
          <th>Type Commission</th>
          <th>Commission</th>
          <th style="width:10%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-badge>
        <tr>

          <td>
            <button type="button"  class="btn btn-sm btn-danger mx-1">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

 <p-contextMenu #cm [model]="items"></p-contextMenu>

<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>

