<button class="btn btn-primary btn-sm" (click)="open(content)">
  <i class="fa" [ngClass]="editMode ? 'fa-pencil' : 'fa-plus'"></i>
</button>
<ng-template #content let-modal>
  <div class="modal-header" style=" background-color:#f7f7f7">
    <h4 class="modal-title" id="modal-basic-title">{{'Editer Véhicule Catégorie' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body border-top-primary">
    <div class="card-body">
      <form [formGroup]="vehicleCategoryForm">

        <div class="row justify-content-around">
          <div class="form-group col-sm-6">
            <label>{{'Code' | translate}} *</label>
            <span *ngIf="(vehicleCategoryForm.get('Fcode').touched && vehicleCategoryForm.get('Fcode').invalid) ||
            (isFormSubmitted && vehicleCategoryForm.get('Fcode').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="Fcode"  />
          </div>

          <div class="form-group col-sm-6">
            <label>{{'consomation' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="Fconsumption" pKeyFilter="num"/>
          </div>

        </div>
        <div class="row justify-content-around">
          <div class="form-group col-sm-6">
            <label>{{'poids' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="Fweight" pKeyFilter="num" />
          </div>

          <div class="form-group col-sm-6">
            <label>{{'largeur' | translate}} *</label>
            <span *ngIf="(vehicleCategoryForm.get('Fwidth').touched && vehicleCategoryForm.get('Fwidth').invalid) ||
            (isFormSubmitted && vehicleCategoryForm.get('Fwidth').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="Fwidth" pKeyFilter="num"/>

          </div>

        </div>
        <div class="row justify-content-around">
          <div class="form-group col-sm-6 ">
            <label>{{'profondeur'| translate}} *</label>
            <span *ngIf="(vehicleCategoryForm.get('Fdepth').touched && vehicleCategoryForm.get('Fdepth').invalid) ||
            (isFormSubmitted && vehicleCategoryForm.get('Fdepth').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="Fdepth" pKeyFilter="num">

          </div>
          <div class="form-group col-sm-6">
            <label>{{'tonnage' | translate}} *</label>
            <span *ngIf="(vehicleCategoryForm.get('Ftonnage').touched && vehicleCategoryForm.get('Ftonnage').invalid) ||
            (isFormSubmitted && vehicleCategoryForm.get('Ftonnage').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="Ftonnage" pKeyFilter="num">
          </div>

        </div>
        <div class="row">
          <div class="form-group col-sm-6 ">
            <label>{{'poids à vide'| translate}} *</label>
            <span *ngIf="(vehicleCategoryForm.get('FemptyWeight').touched && vehicleCategoryForm.get('FemptyWeight').invalid) ||
            (isFormSubmitted && vehicleCategoryForm.get('FemptyWeight').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="FemptyWeight" pKeyFilter="num">

          </div>
          <div class="form-group col-sm-6 ">
            <label>{{'poids Total'| translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="FtotalWeight" pKeyFilter="num">

          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer pull-right ">

    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      {{'Fermer' | translate}}
    </button>
    <button type="button" class="btn btn-success" (click)="onSubmit()">
      {{'Valider' | translate}}
    </button>
  </div>
</ng-template>
