<p-dialog
  header="{{ title | translate }}"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '500px'}"
  (onHide)="onShowDialog()"
>
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="vehicleCategoryForm">
          <div class="row justify-content-around">
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">{{ "Code" | translate }} *</label>
              <span
                *ngIf="
                  (vehicleCategoryForm.get('fCode').touched &&
                    vehicleCategoryForm.get('fCode').invalid) ||
                  (isFormSubmitted && vehicleCategoryForm.get('fCode').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
               {{ 'Obligatoire'  | translate }}
              </span>
              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fCode"
                (keydown.space)="$event.preventDefault()"

              />
            </div>

            <div class="form-group col-sm-8">
              <label class="font-weight-bold">{{ "Description" | translate }} </label>

              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fDescription"

              />


            </div>
            <div class="form-group col-sm-4">
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="form-group col-sm-4">
              <label class="font-weight-bold"
                >{{ "Longueur" | translate }}<span style="font-size: 9px;"> (cm)</span>  *</label
              >
              <span
                *ngIf="
                  (vehicleCategoryForm.get('fLength').touched &&
                    vehicleCategoryForm.get('fLength').invalid) ||
                  (isFormSubmitted &&
                    vehicleCategoryForm.get('fLength').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
              {{ 'Obligatoire'  | translate }}
            </span>
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fLength"
                pKeyFilter="num"
              />
            </div>

            <div class="form-group col-sm-4">
              <label class="font-weight-bold"
                >{{ "Largeur" | translate }}<span style="font-size: 9px;"> (cm)</span>  *</label
              >
              <span
                *ngIf="
                  (vehicleCategoryForm.get('fWidth').touched &&
                    vehicleCategoryForm.get('fWidth').invalid) ||
                  (isFormSubmitted && vehicleCategoryForm.get('fWidth').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
              {{ 'Obligatoire'  | translate }}
            </span>
              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fWidth"
                pKeyFilter="num"
              />
            </div>

            <div class="form-group col-sm-4">
              <label class="font-weight-bold"
                >{{ "Hauteur" | translate }}<span style="font-size: 9px;"> (cm)</span> *</label
              >
              <span
                *ngIf="
                  (vehicleCategoryForm.get('fheight').touched &&
                    vehicleCategoryForm.get('fheight').invalid) ||
                  (isFormSubmitted &&
                    vehicleCategoryForm.get('fheight').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
              {{ 'Obligatoire'  | translate }}
            </span>
              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fheight"
                pKeyFilter="num"
              />
            </div>
          </div>
          <div class="row justify-content-around">

            <div class="form-group col-sm-6">
              <!-- <label class="font-weight-bold"
                >{{ "Profondeur" | translate }}<span style="font-size: 9px;"> (cm)</span>  *</label
              >
              <span
                *ngIf="
                  (vehicleCategoryForm.get('fDepth').touched &&
                    vehicleCategoryForm.get('fDepth').invalid) ||
                  (isFormSubmitted && vehicleCategoryForm.get('fDepth').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
              {{ 'Obligatoire'  | translate }}

              </span>
              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fDepth"
                pKeyFilter="num"
              /> -->
            </div>

          </div>

          <div class="row justify-content-around">
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">{{ "Remorque" | translate }} *</label>

              <br />
              <p-multiSelect [options]="vehicleTrayList"
              formControlName="fVehicleTrays" [appendTo]="'body'"
              optionLabel="code" ></p-multiSelect>
            </div>


          </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label class="font-weight-bold"
                >{{ "Tonnage" | translate }}<span style="font-size: 9px;"> (P.T.A.C)</span> *</label
              >
              <span
                *ngIf="
                  (vehicleCategoryForm.get('fTonnage').touched &&
                    vehicleCategoryForm.get('fTonnage').invalid) ||
                  (isFormSubmitted &&
                    vehicleCategoryForm.get('fTonnage').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
              {{ 'Obligatoire'  | translate }}
            </span>
              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fTonnage"
                pKeyFilter="num"
              />
            </div>


              <div class="form-group col-sm-4">
                <label class="font-weight-bold"
                  >{{ "Poids à vide" | translate }}
                  <span style="font-size: 9px;">  P.V (Kg) </span>  </label
                >
                <span
                  *ngIf="
                    (vehicleCategoryForm.get('fEmptyWeight').touched &&
                      vehicleCategoryForm.get('fEmptyWeight').invalid) ||
                    (isFormSubmitted &&
                      vehicleCategoryForm.get('fEmptyWeight').invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small;"
                >
                {{ "Obligatoire"  | translate }}

                </span>
                <br />
                <input
                  type="text"
                  class="form-control"
                  pInputText
                  formControlName="fEmptyWeight"
                  pKeyFilter="num"
                />
              </div>



            <div class="form-group col-sm-4">
              <label class="font-weight-bold">{{
                "Poids total" | translate
              }}<span style="font-size: 9px;"> (P.T.R.A)</span></label
              ><br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fTotalWeight"
                pKeyFilter="num"
              />
            </div>
          </div>
          <div class="row justify-content-around">
          <div class="form-group col-sm-8">
            <label class="font-weight-bold">{{
              "Estimation du Coût Kilométrique " | translate
            }}<span style="font-size: 9px;"> (Dh/km)</span></label
            ><br />
            <input
              type="text"
              class="form-control"
              pInputText
              formControlName="fPriceKm"
              pKeyFilter="num"
            />
          </div>
          <div class="form-group col-sm-4"></div>
</div>






        </form>



  <div class="row  justify-content-around" >

    <div class="form-group col-sm-12">
      <div class="card">


        <p-fileUpload name="demo[]" (onSelect)="onSelectDocument($event)"
        chooseLabel="Choisir"
       showCancelButton showUploadButton accept="image/*" maxFileSize="100000000">
        <ng-template pTemplate="content">
          <div *ngIf="selectedVehicleCategory?.file">
            <div class="effet-zoom-1">
              <!-- style="height: 150px; width:200px ;border-radius: 20px;" -->

            <img [src]=" 'data:image/png;base64,' + selectedVehicleCategory.file "

          /></div>
            </div>

        </ng-template>
    </p-fileUpload>




            </div>

      </div>
    </div>

      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        (click)="onShowDialog()"
        class="p-button-primary"
        label="{{ 'Annuler' | translate}}"
      ></button>
      <button
        type="button"
        pButton
        (click)="onSubmit()"
        class="p-button-success"
        label="{{ 'Valider' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
