<br />
<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">

  <div class="row  mt-3 justify-content-around">
    <!-- <div class="col-md-3">
        <label class="font-weight-bold">
          {{"Code" | translate}}</label><br />
          <p-autoComplete [(ngModel)]="codeSearch" [suggestions]="codeList"
          (completeMethod)="onCodeSearch($event)"></p-autoComplete>
      </div> -->

      <div class="col-md-3">
        <label class="font-weight-bold"> {{ "Code" | translate }}</label
        ><br />
        <p-autoComplete
          [(ngModel)]="codeSearch"
          [suggestions]="machineCodeList"
          (completeMethod)="onMachineCodeSearch($event)"
          field="code"
        ></p-autoComplete>

       <!-- <p-dropdown
        [options]="vehicleCodeList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="codeSearch"
        filter="true"
      >
      </p-dropdown> -->
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">
          {{"référence" | translate}}</label><br />
        <input type="text" pInputText [(ngModel)]="refSearch" />
      </div>

      <div class="col-md-3">
        <label class="font-weight-bold ">{{"Type de contrat" | translate}}</label><br />
        <p-dropdown
        [options]="contratTypeList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="contratTypeSearch" filter="true"
      >
      </p-dropdown>
      </div>

      <div class="col-md-3">
        <label class="font-weight-bold ">{{"Transport" | translate}}</label><br />
        <p-dropdown
        [options]="transportList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="transportSearch" filter="true"
      >
      </p-dropdown>
      </div>

      <div class="col-md-3">

      </div>
    </div>

    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">
        <i class="fa fa-refresh mr-2"></i>
        {{ "Réinitialiser" | translate }}
      </button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        <i class="fa fa-search mr-2"></i>

        {{ "Rechercher" | translate }}
      </button>
    </div>

</p-panel>




<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="maachineList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"

  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdf($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="titleList"
  [addBtnVisible]="'true'"
  [viewBtnVisible]="'false'"

></app-data-table>



<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>
