<br />
<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">

    <div class="row">
      <div class="col-md-2">
        <label class="font-weight-bold">
          {{"Code" | translate}}</label><br />
        <input type="text" pInputText [(ngModel)]="codeSearch" />
      </div>


      <div class="col-md-2 ">
        <label class="font-weight-bold ">{{"Type de contrat" | translate}}</label><br />
        <p-dropdown
        [options]="contratTypeList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="contratTypeSearch" filter="true"
      >
      </p-dropdown>
      </div>
      <div class="col-md-2 ">
        <label class="font-weight-bold ">{{"Transport" | translate}}</label><br />
        <p-dropdown
        [options]="transportList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="transportSearch" filter="true"
      >
      </p-dropdown>
      </div>


    </div>

    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">
        <i class="fa fa-refresh mr-2"></i>
        {{ "Réinitialiser" | translate }}
      </button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        <i class="fa fa-search mr-2"></i>

        {{ "Rechercher" | translate }}
      </button>
    </div>

</p-panel>




<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="maachineList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"

  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdfGlobal($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="'Liste des Machines'"
  [addBtnVisible]="'true'"
  [viewBtnVisible]="'false'"
  [tableId]="'machine'"

></app-data-table>



<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>
