<!-- Large modal -->
<button class="btn btn-primary btn-sm" (click)="open(content)" type="button" [disabled]="selectedDriver?.id===1">
    <i class="fa" [ngClass]="{'fa-pencil': editMode , 'fa-plus' : !editMode}"></i>
</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
        <h4 class="modal-title">{{'Edit Driver' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="driverForm" (ngSubmit)="onSubmit(); c('Close click')">
        <div class="modal-body">

            <div class="form-group">
                <div class="row my-2">
                    <div class="col-sm-12 col-md-6">
                        <label>{{'Code' | translate}}</label>
                        <input type="text" class="form-control" formControlName="code">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label>{{'Cin' | translate}}</label>
                        <input type="text" class="form-control" formControlName="cin">
                    </div>
                </div>
                <fieldset formGroupName="contact">
                    <div class="row my-2">
                        <div class="col-sm-12 col-md-6">
                            <label>{{'Name' | translate}}</label>
                            <input type="text" class="form-control" formControlName="contactName">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label>{{'Surname' | translate}}</label>
                            <input type="text" class="form-control" formControlName="contactSurname">
                        </div>
                    </div>
                </fieldset>
                <fieldset formGroupName="zone">
                    <div class="row my-2">
                        <div class="col-sm-12 col-md-6">
                            <label>{{'WorkPlace' | translate}}</label>
                            <input type="text" class="form-control" formControlName="zoneName">
                        </div>
                    </div>
                </fieldset>

                <div class="form-group form-check mt-3">
                    <input type="checkbox" class="form-check-input" formControlName="working" >
                    <label class="form-check-label">{{'Working' | translate}} ?</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </form>
</ng-template>
