<app-page-header [heading]="'Edit Driver'" [icon]="'fa-users'">
</app-page-header>
<form *ngIf="formReady" [formGroup]="driverForm">
    <div class="modal-body">

        <div class="form-group">
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Code' | translate}}</label>
                    <input type="text" class="form-control" formControlName="code">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Cin' | translate}}</label>
                    <input type="text" class="form-control" formControlName="cin">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Birth date' | translate}}</label>
                    <div style="display: flex;flex-direction: row">
                        <input type="text" ngbDatepicker class="form-control" formControlName="birthDate" #da="ngbDatepicker" />
                        <button class="btn btn-primary" (click)="da.toggle()">Calendrier</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Last Medical Visit' | translate}}</label>
                    <div style="display: flex;flex-direction: row">
                        <input type="text" ngbDatepicker class="form-control" formControlName="lastMedicalVisit" #db="ngbDatepicker" />
                        <button class="btn btn-primary" (click)="db.toggle()">Calendrier</button>
                    </div>
                </div>
            </div>
            <fieldset formGroupName="contact">
                <div class="row my-2">
                    <div class="col-sm-12 col-md-6">
                        <label>{{'Name' | translate}}</label>
                        <input type="text" class="form-control" formControlName="contactName">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label>{{'Surname' | translate}}</label>
                        <input type="text" class="form-control" formControlName="contactSurname">
                    </div>
                </div>
            </fieldset>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'WorkPlace' | translate}}</label>
                    <div style="display: inline-block;">
                        <select class="btn btn-outline-primary" [(ngModel)]="currentZone" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let zone of zones" [ngValue]="zone">{{zone.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-12">
                    <div class="badges-header">
                        <h4>{{'Badges' | translate}}</h4>
                        <button class="btn btn-primary btn-sm" type="button" (click)="addBadge()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <hr>
                    <div class="badge-item" *ngFor="let badge of badges">
                        <label>{{badge.code}}</label>
                        <div class="badge-icons">
                            <app-badge-edit [selectedBadge]="badge"></app-badge-edit>
                            <button class="btn btn-danger btn-sm" type="button" (click)="removeBadge(badge)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-check mt-3">
                <input type="checkbox" class="form-check-input" formControlName="working">
                <label class="form-check-label">{{'Working' | translate}} ?</label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{'Save' | translate}}</button>
        <button *ngIf="!selectedDriver" type="submit" class="btn btn-danger" (click)="delete()">
            {{'Delete' | translate}}
        </button>
    </div>
</form>