<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog"
 [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true"  [style]="{ width: '75vw' }"
  [position]="'right'"
  (onHide)='onHideDialog()'>
  <br>
  <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>

  <div style="height: 50vh;">
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="actionPlanForm">


          <div *ngIf="activeIndex==0">
            <div formGroupName="general">
              <div class="row  mt-3 justify-content-around">

                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">{{'Type Action' | translate}} *</label>
                  <span *ngIf="(actionPlanForm.controls['general'].get('FcodeType').touched && actionPlanForm.controls['general'].get('FcodeType').invalid) ||
      (isFormSubmitted && actionPlanForm.controls['general'].get('FcodeType').invalid)" class="text-lighter"
                    style="color: red; font-size: xx-small;">
                    {{"Obligatoire" | translate}}
                  </span>
                  <br />
                  <p-autoComplete [suggestions]="actionTypeList" field='code'
                    (completeMethod)="onActionCodeSearch($event)" formControlName="FcodeType"
                    (onSelect)="onSelect($event)"></p-autoComplete>

                </div>
                <div class="form-group col-sm-6">
                </div>

              </div>


              <div class="row  mt-3 justify-content-around">

                <div class="form-group col-md-6 ">
                  <label class="font-weight-bold ">{{'Type de Maintenance'| translate}} *</label>
                  <span *ngIf="(actionPlanForm.controls['general'].get('fmaintenaceType').touched && actionPlanForm.controls['general'].get('fmaintenaceType').invalid) ||
      (isFormSubmitted && actionPlanForm.controls['general'].get('fmaintenaceType').invalid)" class="text-lighter"
                    style="color: red; font-size: xx-small;">
                    {{"Obligatoire" | translate}}
                  </span>
                  <br />

                  <p-dropdown [autoDisplayFirst]="true" optionLabel="code" [filter]="true"
                    [options]="maintenanceTypeList" [showClear]="true" [disabled]="true"
                    (onChange)='onSelectMaintenanceType($event)' formControlName="fmaintenaceType"></p-dropdown>
                </div>
                <div class="form-group col-md-6 ">
                  <label class="font-weight-bold ">{{'Type de programme'| translate}} *</label>
                  <span *ngIf="(actionPlanForm.controls['general'].get('fProgram').touched && actionPlanForm.controls['general'].get('fProgram').invalid) ||
      (isFormSubmitted && actionPlanForm.controls['general'].get('fProgram').invalid)" class="text-lighter"
                    style="color: red; font-size: xx-small;">
                    {{"Obligatoire" | translate}}
                  </span>
                  <br />
                  <p-dropdown [autoDisplayFirst]="false" optionLabel="code" [filter]="true" [options]="programTypeList"
                    [showClear]="true" (onChange)='onSelectProgrameType($event)' formControlName="fProgram">
                  </p-dropdown>
                </div>



              </div>


              <div class="row  mt-3 justify-content-around">
                <div class="form-group col-md-9 ">
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="activeIndex==1">
            <div formGroupName="periodicity">
              <!-- preventive systematique -->
              <div *ngIf="this.selectProgrameType.id === 1">
                <div class="row  mt-3 justify-content-around">
                  <div class="form-group col-md-4 ">
                    <label class="font-weight-bold ">{{'périodicité' | translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fPeriodicity').touched && actionPlanForm.controls['periodicity'].get('fPeriodicity').invalid) ||
(isFormSubmitted && actionPlanForm.controls['periodicity'].get('fPeriodicity').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-dropdown [autoDisplayFirst]="false" [options]="periodicityTypeList" optionLabel="code"
                      [filter]="true" [showClear]="true" (onChange)="onSelectPeriodicity($event)"
                      formControlName="fPeriodicity"></p-dropdown>
                  </div>
                  <div class="form-group col-md-4 " *ngIf="periodicityMode===3">
                    <label class="font-weight-bold ">{{'Date d intervention' | translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fInterventionDate').touched && actionPlanForm.controls['periodicity'].get('fInterventionDate').invalid) ||
(isFormSubmitted && actionPlanForm.controls['periodicity'].get('fInterventionDate').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
                      yearRange="1970:2100" formControlName="fInterventionDate"> </p-calendar>

                  </div>
                  <div class="form-group col-md-8 " *ngIf="periodicityMode!==3">
                  </div>
                  <div class="form-group col-md-4 ">
                  </div>
                </div>
                <div class="row  mt-3 justify-content-around" *ngIf="periodicityMode===1">
                  <div class="form-group col-md-9">

                    <label class="font-weight-bold ">{{'répéter le '| translate}} {{selectedTypes}}*</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fhebdomadaire').touched && actionPlanForm.controls['periodicity'].get('fhebdomadaire').invalid) ||
    (isFormSubmitted && actionPlanForm.controls['periodicity'].get('fhebdomadaire').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                     <p-multiSelect [options]="days"
                    formControlName="fhebdomadaire"
                     defaultLabel="sélectionner jours"
                      optionLabel="code" display="chip"></p-multiSelect>
                    <!-- <p-multiSelect [options]="days" [maxSelectedLabels]="7" optionLabel="code"
                      formControlName="fhebdomadaire">
                      <ng-template let-value pTemplate="selectedItems">
                        <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                          <span>{{val.code}}</span>
                        </div>
                        <span *ngIf="!value || value.length === 0"
                          class="ui-multiselected-empty-token ui-corner-all">Choisir</span>
                      </ng-template>

                    </p-multiSelect> -->

                   


                  </div>
                  <div class="form-group col-md-3">


                  </div>
                </div>
                <div class="row  mt-3 justify-content-around" *ngIf="periodicityMode===2">

                  <div class="form-group col-md-12">

                    <label class="font-weight-bold ">{{'répéter le '| translate}} * </label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fmensuel').touched && actionPlanForm.controls['periodicity'].get('fmensuel').invalid) ||
(isFormSubmitted && actionPlanForm.controls['periodicity'].get('fmensuel').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />

                    <p-multiSelect [options]="monthList"
                    formControlName="fmensuel"
                     defaultLabel="sélectionner mois"
                      optionLabel="code" display="chip"></p-multiSelect>

                    <!-- <p-multiSelect [options]="monthList" [maxSelectedLabels]="12" optionLabel="code"
                      formControlName="fmensuel">
                      <ng-template let-value pTemplate="selectedItems">
                        <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                          <span>{{val.code}}</span>
                        </div>
                        <span *ngIf="!value || value.length === 0"
                          class="ui-multiselected-empty-token ui-corner-all">Choose</span>
                      </ng-template>

                    </p-multiSelect> -->



                  </div>
                  <div class="form-group col-md-6">
                  </div>
                  <div class="form-group col-md-9"></div>
                </div>
                <div class="row  mt-3 justify-content-around" *ngIf="periodicityMode===2">

                  <div class="form-group col-md-4">
                    <label class="font-weight-bold ">{{'Le jour du mois '| translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fdayOfMonth').touched && actionPlanForm.controls['periodicity'].get('fdayOfMonth').invalid) ||
      (isFormSubmitted && actionPlanForm.controls['periodicity'].get('fdayOfMonth').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-inputNumber mode="decimal" [showButtons]="true" [min]="1" [max]="31"
                      formControlName="fdayOfMonth">
                    </p-inputNumber>
                  </div>
                  <div class="form-group col-md-8">
                  </div>
                </div>


                <div class="row  mt-3 justify-content-around">
                  <div class="form-group col-md-4 ">
                    <label class="font-weight-bold ">{{'Déclanchement' | translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fTriggerDay').touched && actionPlanForm.controls['periodicity'].get('fTriggerDay').invalid) ||
(isFormSubmitted && actionPlanForm.controls['periodicity'].get('fTriggerDay').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="5"
                      formControlName="fTriggerDay">
                    </p-inputNumber>

                  </div>
                  <div class="form-group col-md-4 " *ngIf="periodicityMode!==3">

                    <label class="font-weight-bold ">{{'Date debut' | translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fDateStart').touched && actionPlanForm.controls['periodicity'].get('fDateStart').invalid) ||
  (isFormSubmitted && actionPlanForm.controls['periodicity'].get('fDateStart').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
                      yearRange="1970:2100" formControlName="fDateStart"> </p-calendar>
                  </div>


                  <div class="form-group col-md-4 " *ngIf="periodicityMode!==3">
                    <label class="font-weight-bold ">{{'Date fin'| translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['periodicity'].get('fDateStart').touched && actionPlanForm.controls['periodicity'].get('fDateStart').invalid) ||
  (isFormSubmitted && actionPlanForm.controls['periodicity'].get('fDateStart').invalid)" class="text-lighter"
                      style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
                      yearRange="1970:2100" formControlName="fDateEnd"></p-calendar>
                  </div>

                  <div class="form-group col-md-3" *ngIf="periodicityMode!==3">
                  </div>
                  <div class="form-group col-md-8" *ngIf="periodicityMode===3">
                  </div>

                </div>


              </div>

            </div>




            <!-- preventive conditionnelle -->
            <div formGroupName="conditionalType">
              <div *ngIf="this.selectProgrameType.id === 2">

                <div class="row  mt-3 justify-content-around">
                  <div class="form-group col-md-4 ">
                    <label class="font-weight-bold ">{{'Type' | translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['conditionalType'].get('fConditionalType').touched && actionPlanForm.controls['conditionalType'].get('fConditionalType').invalid) ||
    (isFormSubmitted && actionPlanForm.controls['conditionalType'].get('fConditionalType').invalid)"
                      class="text-lighter" style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <p-dropdown [autoDisplayFirst]="false" [options]="conditionalTypeList" optionLabel="code"
                      [filter]="true" [showClear]="true" (onChange)="onSelectConditionalType($event)"
                      formControlName="fConditionalType"></p-dropdown>
                  </div>

                  <div class="form-group col-md-4 ">
                    <label class="font-weight-bold ">{{'valeur' | translate}} *</label>
                    <span *ngIf="(actionPlanForm.controls['conditionalType'].get('fValueConditionalType').touched && actionPlanForm.controls['conditionalType'].get('fValueConditionalType').invalid) ||
      (isFormSubmitted && actionPlanForm.controls['conditionalType'].get('fValueConditionalType').invalid)"
                      class="text-lighter" style="color: red; font-size: xx-small;">
                      {{"Obligatoire" | translate}}
                    </span>
                    <br />
                    <input type="text" class="form-control"  formControlName="fValueConditionalType" pInputText   />

                  </div>

                  <div class="form-group col-md-4 ">
</div>
                </div>


              </div>
            </div>




          </div>


          <div *ngIf="activeIndex==2">
            <div formGroupName="responsability">

              <div class="row  mt-3 justify-content-around">

                <div class="form-group col-md-6 ">
                  <label class="font-weight-bold ">{{'Prestataire de service' | translate}} *</label>
                  <span *ngIf="(actionPlanForm.controls['responsability'].get('fServiceProvider').touched && actionPlanForm.controls['responsability'].get('fServiceProvider').invalid) ||
(isFormSubmitted && actionPlanForm.controls['responsability'].get('fServiceProvider').invalid)" class="text-lighter"
                    style="color: red; font-size: xx-small;">
                    {{"Obligatoire" | translate}}
                  </span>
                  <br />
                  <p-dropdown [autoDisplayFirst]="false" optionLabel="code" [filter]="true"
                    [options]="serviceProviderList" [showClear]="true" (onChange)="onSelectPServiceProvider($event)"
                    formControlName="fServiceProvider"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label class="font-weight-bold ">{{'Responsabilité' | translate}} *</label>

                  <span *ngIf="(actionPlanForm.controls['responsability'].get('fResponsability').touched && actionPlanForm.controls['responsability'].get('fResponsability').invalid) ||
(isFormSubmitted && actionPlanForm.controls['responsability'].get('fResponsability').invalid)" class="text-lighter"
                    style="color: red; font-size: xx-small;">
                    {{"Obligatoire" | translate}}
                  </span>
                  <p-dropdown [autoDisplayFirst]="false" optionLabel="code" [filter]="true"
                    [options]="responsabilityList" [showClear]="true" (onChange)="onSelectResponsability($event)"
                    formControlName="fResponsability"></p-dropdown>
                </div>

                <div class="form-group col-md-6">
                  <label class="font-weight-bold ">{{'Agent' | translate}} </label>


                  <input type="text" class="form-control" formControlName="fagent" pInputText />
                </div>
                <div class="form-group col-md-6">
                </div>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
  <div>
    <div *ngIf="!(this.activeIndex==0)" class="row pull-left m-2">
      <button type="button" pButton icon="fa fa-chevron-left" (click)="openPrev()"></button>
    </div>


    <div *ngIf="!(this.activeIndex==2)" class="row pull-right m-2">
      <button type="button" pButton icon="fa fa-chevron-right" (click)="openNext()"></button>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button type="button" pButton (click)="onHideDialog()" class="p-button-primary"
        label="{{'Annuler' | translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="p-button-success"
        label="{{ 'Valider' | translate }}"></button>
    </div>
  </p-footer>
</p-dialog>