
<div class="container-fluid mt-5">
    <form [formGroup]="orderDeliveryForm">

        <!-- Général -->


            <div class="mt-3 row justify-content-around">
              <div class="form-group col-md-3">
                <label class="font-weight-bold"
                  >{{ "Code" | translate }} *</label
                >
                <span
                  *ngIf="
                    (orderDeliveryForm.get('code')
                      .touched &&
                      orderDeliveryForm.get('code')
                        .invalid) ||
                    (isFormSubmitted &&
                      orderDeliveryForm.get('code').invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small"
                >
                  {{ "Obligatoire" | translate }}
                </span>
                <br />
                <input
                disabled="true"
                  type="text"
                  formControlName="code"
                  class="form-control"
                  pInputText
                />
              </div>

              <div class="form-group col-md-3">
                <label class="font-weight-bold"
                  >{{ "Date " | translate }} *</label
                >
                <span
                  *ngIf="
                    (orderDeliveryForm.get('date')
                      .touched &&
                      orderDeliveryForm.get('date')
                        .invalid) ||
                    (isFormSubmitted &&
                      orderDeliveryForm.get('date').invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small"
                >
                  {{ "Obligatoire" | translate }}
                </span>
                <p-calendar
                  formControlName="date"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  dateFormat="dd/mm/yy"
                  yearRange="1970:2100"
                >
                </p-calendar>
              </div>

              <div class="form-group col-md-3">
                <label class="font-weight-bold"
                  >{{ "Chargement" | translate }} *</label
                >
                <span
                  *ngIf="
                    (orderDeliveryForm.get('loadingType')
                      .touched &&
                      orderDeliveryForm.get('loadingType')
                        .invalid) ||
                    (isFormSubmitted &&
                      orderDeliveryForm.get('loadingType')
                        .invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small"
                >
                  {{ "Obligatoire" | translate }}
                </span>
                <p-selectButton
                  formControlName="loadingType"
                  [options]="loadingTypeList"
                  (onChange)="onSelectLoadingTypes($event)"
                >
                </p-selectButton>
              </div>

              <div class="form-group col-md-3">
                <label class="font-weight-bold"
                  >{{ "Type" | translate }} *</label
                >
                <span
                  *ngIf="
                    (orderDeliveryForm.get('turnType')
                      .touched &&
                      orderDeliveryForm.get('turnType')
                        .invalid) ||
                    (isFormSubmitted &&
                      orderDeliveryForm.get('turnType')
                        .invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small"
                >
                  {{ "Obligatoire" | translate }}
                </span>
                <p-selectButton
                  formControlName="turnType"
                  [options]="turnTypeList"
                  (onChange)="onSelectType($event)"
                  optionLabel="code"
                >
                </p-selectButton>
              </div>
            </div>

            <div class="mt-3 row justify-content-around">
              <div class="form-group col-md-3">
                <label class="font-weight-bold"
                  >{{ "Client" | translate }} *</label
                >
                <span
                  *ngIf="
                    (orderDeliveryForm.get('account')
                      .touched &&
                      orderDeliveryForm.get('account')
                        .invalid) ||
                    (isFormSubmitted &&
                      orderDeliveryForm.get('account')
                        .invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small"
                >
                  {{ "Obligatoire" | translate }}
                </span>
                <br />
                <p-autoComplete
                  formControlName="account"
                  [suggestions]="accountList"
                  (onSelect)="onSelectAccount($event)"
                  (completeMethod)="onAccountSearch($event)"
                  field="description"
                ></p-autoComplete>
              </div>
              <div class="form-group col-md-3">
                <label class="font-weight-bold"
                  >{{ "Statut" | translate }} *</label
                >
                <span
                  *ngIf="
                    (orderDeliveryForm.get('status')
                      .touched &&
                      orderDeliveryForm.get('status')
                        .invalid) ||
                    (isFormSubmitted &&
                      orderDeliveryForm.get('status')
                        .invalid)
                  "
                  class="text-lighter"
                  style="color: red; font-size: xx-small"
                >
                  {{ "Obligatoire" | translate }}
                </span>
                <p-dropdown
                  formControlName="status"
                  [autoDisplayFirst]="false"
                  [options]="turnStatusList"
                  (onChange)="onSelectStatus($event)"
                  optionLabel="code"
                  [filter]="true"
                  [showClear]="true"
                ></p-dropdown>
              </div>
              <div class="form-group col-md-6"></div>
            </div>













      <div></div>
    </form>

    <div  class="row pull-right mt-5">
      <button
        type="button"
        pButton
        icon="fa fa-chevron-right"
        (click)="next()"
      ></button>
    </div>

</div>



<p-toast position="top-right" [autoZIndex]="'true'"></p-toast>
<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
