<div class="page-content fade-in-up">
  <p-panel header="Filters" [toggleable]="true">

    <div class="row">


      <div class="col-md-3">
        <label class="font-weight-bold">{{'Nom' |translate}}</label><br />
        <p-autoComplete [(ngModel)]="nameSearch" [suggestions]="nameList" (completeMethod)="onNameSearch($event)"
          field="name"></p-autoComplete>
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold"> {{'Date initial' | translate}} </label><br />
        <p-calendar [maxDateCount]='1' [(ngModel)]="dateDepartSearch" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" inputId="icon"
            [readonlyInput]="true"></p-calendar>

    </div>
    <div class="col-md-3">
        <label class="font-weight-bold"> {{'Date final' | translate}} </label><br />
        <p-calendar [maxDateCount]='1' [(ngModel)]="dateFinSearch" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" inputId="icon"
            [readonlyInput]="true"></p-calendar>

    </div>

    </div>
    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">
        <i class="fa fa-refresh mr-2"></i>
        {{'Réinitialiser'| translate}}
      </button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        <i class="fa fa-search mr-2"></i>

        {{' Rechercher'| translate}}
      </button>
    </div>
  </p-panel>
  <br />
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="ibox bg-info color-white widget-stat">
        <div class="ibox-body">
          <h2 class="m-b-5 font-strong">{{refusedtransport}} </h2>
          <div class="m-b-5">Trajets réfusé</div><i class="fa fa-tachometer widget-stat-icon"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ibox bg-success color-white widget-stat">
        <div class="ibox-body">
          <h2 class="m-b-5 font-strong">{{canceledtransport }} </h2>
          <div class="m-b-5">Trajets annulé</div><i class="fa fa-tachometer widget-stat-icon"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ibox bg-yellow color-white widget-stat">
        <div class="ibox-body">
          <h2 class="m-b-5 font-strong">{{rejectedtransport }} </h2>
          <div class="m-b-5">Trajets rejecté</div><i class="fa fa-tachometer widget-stat-icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4 col-md-6">
      <div class="ibox bg-orange color-white widget-stat">
        <div class="ibox-body">
          <h2 class="m-b-5 font-strong">{{validertransport }} </h2>
          <div class="m-b-5">Trajets validé</div><i class="fa fa-tachometer widget-stat-icon"></i>
        </div>
      </div>

    </div>
  </div>
 
  <div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-body">
                <div class="flexbox mb-4">
                    <div>
                        <h3 class="m-0">représentation visuelle</h3>
                    </div>
                 
                </div>
                <div>
                  <p-chart type="pie" [data]="data" [options]="options"></p-chart>                </div>
            </div>
        </div>
    </div>

</div>
</div>