<p-tabView>

  <p-tabPanel *hasPermission="['BADGE_TYPE_VIEW']" header="{{'Type de badge' | translate }}"   headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
                 <app-badge-type></app-badge-type>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['COMMISSION_TYPE_VIEW']" header="{{ 'Type de commission' | translate}}"  headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <app-commission-type></app-commission-type>
      </ng-template>
  </p-tabPanel>

</p-tabView>
