<p-tabView>

  <p-tabPanel *hasPermission="['ACCOUNT_VIEW']" header="{{'Carte Abonnement' | translate }}"   headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
                 <app-subscriptionCard></app-subscriptionCard>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['ACCOUNT_VIEW']" header="{{ 'Type Carte Abonnement' | translate}}"  headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <app-subscription-card-type></app-subscription-card-type>
      </ng-template>
  </p-tabPanel>

</p-tabView>
