<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body  border-top-primary">
    <div class="row">
      <div class="col-md-3">
        <label
          class="font-weight-bold"
          > Cin</label
        ><br />
        <input type="text" pInputText [(ngModel)] = "cinSearch" />
      </div>

      <div class="col-md-3">
        <label
          >Code</label
        ><br />
                <input type="text" pInputText [(ngModel)]="codeSearch" />

      </div>

      <div class="col-md-3 ">
        <label
          >Badge</label
        ><br />
        <p-dropdown [options]="badges" optionLabel="code"></p-dropdown>

      </div>

    </div>
    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary" style="margin-right:20px;" (click)="onSearchClicked()">
        Rechercher
      </button>
      <button type="button" class="btn btn-success" (click)="reset()">Renitialiser</button>
    </div>
  </div>
</div>

<div class="card mt-3">
    <div class="card-header " style=" background-color:#f7f7f7;">
      <span>Liste Des Chauffeurs</span>

    </div>
    <div class="card-body  border-top-primary">
      <p-table [value]="drivers"  [lazy]="true"
      (onLazyLoad)="loadDataLazy($event)" [rows]="size" [paginator]="true"
      [totalRecords]="collectionSize">
        <ng-template pTemplate="header" >
          <tr>
            <th>Cin</th>
            <th>Code</th>
            <th>Badge </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-drv >
          <tr>
            <td>{{drv.cin}}</td>
            <td>{{drv.code}}</td>
            <td>{{drv?.badge?.code}}</td>
            <td>
             <a [routerLink]="['/core/drivers/edit', drv.id]"
              routerLinkActive="active" class="btn btn-primary">
              <i class="fa fa-pencil"></i>
            </a>
            <button class="btn btn-danger fa fa-trash" type="button" (click)="onDeleteDriver(drv?.id)"></button>
          </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
