<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-tabView>

  <p-tabPanel *hasPermission="['MAINTENANCE_TYPE_VIEW']" header="{{ 'Type de Maintenance' | translate }}" headerStyleClass="onglet-p-4">
      <ng-template pTemplate="content">
                 <app-maintenance-type></app-maintenance-type>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['MAINTENANCE_TERM_VIEW']" header="{{ 'Etat de Maintenance' | translate }}" headerStyleClass="onglet-p-4">
      <ng-template pTemplate="content">
        <app-maintenance-status></app-maintenance-status>
      </ng-template>
  </p-tabPanel>


  <p-tabPanel *hasPermission="['MAINTENANCE_TERM_VIEW']" header="{{ 'Type Action' | translate }}" headerStyleClass="onglet-p-4">
    <ng-template pTemplate="content">
      <app-actionType></app-actionType>
    </ng-template>
</p-tabPanel>

<p-tabPanel *hasPermission="['MAINTENANCE_TERM_VIEW']" header="{{ 'Type Condition' | translate }}" headerStyleClass="onglet-p-4">
  <ng-template pTemplate="content">
    <app-conditional-type></app-conditional-type>
  </ng-template>
</p-tabPanel>


</p-tabView>
