<p-tabView>

  <p-tabPanel header="{{ 'Type de Maintenance' | translate }}">
      <ng-template pTemplate="content">
                 <app-maintenance-type></app-maintenance-type>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel header="{{ 'Etat de Maintenance' | translate }}">
      <ng-template pTemplate="content">
        <app-maintenance-status></app-maintenance-status>
      </ng-template>
  </p-tabPanel>
<p-tabPanel header="{{ 'Line de Maintenance' | translate }}">
  <ng-template pTemplate="content">
    <app-maintenance-line-ref></app-maintenance-line-ref>
  </ng-template>
</p-tabPanel>
<p-tabPanel header="{{ 'Action de Maintenance' | translate }}">
  <ng-template pTemplate="content">
    <app-maintenance-action></app-maintenance-action>
  </ng-template>
</p-tabPanel>

</p-tabView>
