
  <div style="overflow-x: hidden;overflow-y: scroll;height: 65vh; width: 100%;">

<div class="container mt-5">
  <form [formGroup]="tarificationForm">

  <div class="row justify-content-around">

    <div class="form-group col-md-3">
      <span >

      <label class="font-weight-bold">{{
        "Prix de vente HT" | translate
      }} *</label
      >


      <br />
      <!-- <input
      [(ngModel)]="this.priceTransport"

      type="text"
        class="form-control"
        pInputText
      /> -->

      <p-inputNumber inputId="locale-user"   [minFractionDigits]="2"
      formControlName="priceHT"
      (onInput)="onInputPrice($event)"
    ></p-inputNumber>
      </span>
    </div>

    <div class="form-group col-md-3">

    </div>

<div class="form-group col-md-6">
  <!-- <p-overlayPanel #op appendTo="body" [style]="{' margin-left': '50vw','width': '50vw', 'position': 'absolute'}" >
      <ng-template pTemplate>
        <p-fieldset legend="Tarification" [toggleable]="true">
          <div class="product-item">
            <div class="image-container">
                    <img src="/assets/img/truckCat.png"  class="product-image" />
            </div>
            <div class="product-list-detail">
                <h5 class="mb-2">{{selectedVehicleCategory?.description}}</h5>

            </div>
            <div class="product-list-action">
                <h5 class="mb-2">{{selectedVehicleCategory?.tonnage }} KG</h5>
            </div>
        </div>


<br>

    </p-fieldset>

    </ng-template>
    </p-overlayPanel>


    <button type="text" style="width:100%" pButton label="Tarification Transport" (click)="op.toggle($event)">

    <i class="pi pi-money-bill" style="font-size: 2rem"></i> </button> -->


</div>
</div>
</form>
</div>
<div >
<div class="container mt-5" *ngIf="(this.tarificationAccount!=1)">
  <div class="row justify-content-around">

  <div class="form-group col-md-12">

    <div class="row">
      <div class="form-group col-md-12">

        <p-panel [toggleable]="true">
          <ng-template pTemplate="header">
           <span style="    color: #4084bd;
           font-size: 15px;
           font-style: oblique;">Tarif</span>
          </ng-template>


          <div class="row justify-content-around p-3">

            <div class="form-group col-md-3"*ngIf="!(this.tarificationAccount==2)">
              <span >
              <p-card>
                <ng-template pTemplate="header">
                    Contrat Client
                </ng-template>
               <div class="lblPrice">{{this.selectedAccountPricing?.saleAmountHt}} <span style="font-size: 12px;">DH/<span style="font-size: 10px;">HT</span></span>

              </div>

              </p-card>
            </span>
              </div>


            <div class="form-group col-md-6">
              <p-card>
                <ng-template pTemplate="header">
                    Tarif
                </ng-template>

               <span class="lbltype">Achat</span>
                 <span  class="lblPrice">{{this.selectedCatalogPricing?.purchaseAmountHt}} <span style="font-size: 12px;">DH/<span style="font-size: 10px;">HT</span></span></span>
                 ---
                    <span class="lbltype">Vente</span>
                    <span class="lblPrice">{{this.selectedCatalogPricing?.saleAmountHt}} <span style="font-size: 12px;">DH/<span style="font-size: 10px;">HT</span></span></span>




            </p-card>
              </div>



                <div class="form-group col-md-3">
                  <p-card>
                    <ng-template pTemplate="header">
                      Taux de Marge
                    </ng-template>
                    <span class="lblPrice">
                      <span class="lblPrice">{{this.marginRate | number: '1.1-2'}} %</span>

                      </span>

                </p-card>
                  </div>

              </div>







      </p-panel>



</div>
<div class="row">

<div class="form-group col-md-12">
</div>
</div>
    </div>

    </div>
    </div>

    </div>
</div>




<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="form-group col-md-12" >

      <div class="row justify-content-around ">
        <div class="form-group col-md-12">
          <h4 class="divider donotcross" contenteditable>Trajet</h4>
      </div>
      </div>


      <div class="row justify-content-around">

        <div class="form-group col-md-6">

      <p-timeline [value]="this.orderTransportInfoAllerLignes" >
        <ng-template pTemplate="content" let-event>
          <small class="p-text-secondary" style="font-size: 23px;
          font-weight: 700;
          color: #326895;">{{event?.address?.ville?.code}}</small><br>
          <small class="p-text-secondary" style="font-size: 11px;
          font-weight: 900;
          color: #326895;">{{event?.orderTransportService?.code}}</small>

      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        <span style="font-size: 15px;
        font-weight: 700;
        color: #474a4c;"> {{event?.addressContactDeliveryInfo?.date | date: 'HH:mm'}}</span><br>
       <span style="font-size: 12px;
          font-weight: 500;
          color: #474a4c;"> {{event?.addressContactDeliveryInfo?.date | date: 'dd-MM-yyyy'}}</span>
      </ng-template>
      </p-timeline>
    </div>




      </div>

</div>



      </div>
</div>



</div>
<div class="container-fluid">
<div class="row pull-left mt-5">
  <button pButton pRipple type="button"
  label="Précédent" styleClass="p-button-lg"
   icon="fa fa-angle-double-left"
     class="p-button-rounded  bNext"
      iconPos="left" (click)="previous()"></button>
  <!-- <button
    type="button"
    pButton
    icon="fa fa-chevron-left"
    (click)="previous()"
  ></button> -->
</div>
<div class="row pull-right mt-5">
  <button pButton pRipple type="button"
  label="Suivant" styleClass="p-button-lg"
   icon="fa fa-angle-double-right"
     class="p-button-rounded  bNext"
      iconPos="right" (click)="next()"></button>

  <!-- <button
    type="button"
    pButton
    icon="fa fa-chevron-right"
    (click)="next()"
  ></button> -->
</div>

</div>
