
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">

  <div class="row  mt-1 ">
    <div class="col-md-2">
      <label class="font-weight-bold">
        Ordre Transport</label><br />
        <p-autoComplete
        [(ngModel)]="orderTransportSearch"
        [suggestions]="orderTrasnportList"
        (completeMethod)="onOrderTransportSearch($event)"
        field="code"
      ></p-autoComplete>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold">
        Prestataire</label><br />
        <p-autoComplete
        [(ngModel)]="transportSearch"
        [suggestions]="transportList"
        (completeMethod)="onTransportSearch($event)"
        field="name"
      ></p-autoComplete>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold">
        Client</label><br />
        <p-autoComplete
        [(ngModel)]="companySearch"
        [suggestions]="companyList"
        (completeMethod)="onCompanySearch($event)"
        field="name"
      ></p-autoComplete>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold">
        Catégotie</label><br />
        <p-dropdown
        [options]="categoryList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="categorySearch"
        filter="true"
      >
      </p-dropdown>
    </div>

    <div class="col-md-2">
      <label class="font-weight-bold">
        Statut</label><br />
        <p-dropdown
        [options]="turnStatusList"
        optionLabel="code"
        [autoDisplayFirst]="false"
        [(ngModel)]="turnStatusSearch"
        filter="true"
      >
      </p-dropdown>
    </div>


    <div class="col-md-2">
      <label class="font-weight-bold"> {{ "Date" | translate }} </label><br />
      <p-calendar
        [(ngModel)]="dateSearch"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2000:2030"
        [showIcon]="true"
        inputId="icon"
        [readonlyInput]="true"
        dateFormat="dd-mm-yy"
      ></p-calendar>
    </div>

    <div class="col-md-2">
      <label class="font-weight-bold">
        Chauffeur</label><br />
        <p-autoComplete
        [(ngModel)]="driverSearch"
        [suggestions]="driverList"
        (completeMethod)="onDriverSearch($event)"
        field="code"
      ></p-autoComplete>
    </div>

    <div class="col-md-2">
      <label class="font-weight-bold">
        Véhicule</label><br />
        <p-autoComplete
        [(ngModel)]="vehicleSearch"
        [suggestions]="vehicleList"
        (completeMethod)="onVehicleSearch($event)"
        field="registrationNumber"
      ></p-autoComplete>
    </div>




    </div>

    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">
        <i class="fa fa-refresh mr-2"></i>
        {{ "Réinitialiser" | translate }}
      </button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        <i class="fa fa-search mr-2"></i>

        {{ "Rechercher" | translate }}
      </button>
    </div>

</p-panel>

<!-- <div>
  <div class="row  mt-1 ">
    <div class="col-md-12">
  <button

  type="button"
  pButton
   (click)="downloadAsPDF()"
  class="p-button-warning m-1 " style="width:100%"
  label="{{'Générer Bon' | translate }}"
></button>
</div></div>
</div> -->


<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="transportPlanList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdf($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="titleList"
  [permissionDelete]="['TRANSPORT_PLAN_DELETE']"
  [permissionEdit]="['TRANSPORT_PLAN_EDIT']"
  [permissionCreate]="['TRANSPORT_PLAN_CREATE']"
 [generateInvoiceBtnVisible]="false"
 [generateCancelPTBtnVisible]="false"

></app-data-table>



<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>


<div *ngIf="showDialogReject == true">
  <app-transport-plan-cancel
    [editMode]="editMode"
    [selectedTransportPlanHistroy]="selectTransportPlanHistory"
    (showDialog)="onShowDialog($event)"
  ></app-transport-plan-cancel>
</div>

 <!-- <div id="pdfTable" #pdfTable
>
   <app-invoice-transport-plan

   >
 </app-invoice-transport-plan>
</div> -->
