<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-tabView >

  <p-tabPanel *hasPermission="['INSURANCETYPE_VIEW']" header='{{"Type assurance"| translate }}'  headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
                 <app-insurance-type></app-insurance-type>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['INSURANCETERM_VIEW']" header='{{"Terme assurance"|translate }}' headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <app-insurance-term></app-insurance-term>
      </ng-template>
  </p-tabPanel>
</p-tabView>
