.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > h4 {
    margin-bottom: 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.icons {
    display: flex;
    flex-direction: row;
}
