<div [@routerTransition]>
  <app-page-header [heading]="'Traffic'" [icon]="'fa-users'"></app-page-header>

  <div style="margin: 1em;">
    <div class="header">
      <h4>{{'Zones' | translate}}</h4>
      <div>
        <button class="btn btn-primary btn-sm" type="button" (click)="addTraffic()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="item" *ngFor="let traffic of traffics">

      <label *ngIf="!editMode[traffic.active]">{{traffic.active}}</label>
      <input *ngIf="editMode[traffic.active]" type="text" class="form-control" 
      [value]="traffic.active" (input)="traffic.active = $event.target.value">

      <div class="form-group form-check mt-3">
          <input type="checkbox" class="form-check-input" formControlName="date">
          <label class="form-check-label">{{'Date' | translate}} ?</label>
      </div>

  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>