<nav class="page-sidebar">
  <!-- 222d32 -->
  <div id="sidebar-collapse" style="background-color: #2c3941 !important;">
    <ul class="side-menu metismenu fixed" style="background-color: #2c3941 !important;">
      <li>

        <a class="text-white "><i class="sidebar-item-icon "><img src="./assets/img/Menu/Parametre.png" width="20px"
              height="20px"></i>

          <span class="nav-label "> {{'Paramétrage' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <!-- <li>
            <a routerLink="/core/settings/vehicle-categorie"><i class="fa fa-circle-o"></i>
              {{'Vehicle-Categorie' | translate}}</a>
          </li> -->
          <!-- <li>
            <a routerLink="/core/settings/badges"><i class="fa fa-circle-o"></i>
              {{'Badge' | translate}}</a>
          </li> -->
          <li *hasPermission="['CONFIG_MAIL']">
            <a routerLink="/core/settings/menu-mail" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Configuration Mail ' | translate}}</a>
          </li>
          <li *hasPermission="['INSURANCETERM_VIEW','INSURANCETYPE_VIEW']">
            <a routerLink="/core/settings/menu-insurance" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Assurance' | translate}}</a>
          </li>
          <li *hasPermission="['ACTION_TYPE_VIEW']">
            <a routerLink="/core/settings/action-type" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Type action' | translate}}</a>
          </li>
          <!-- <li>
            <a routerLink="/core/settings/contract-types"><i class="fa fa-circle-o"></i>
              {{'Type Contrat' | translate}}</a>
          </li> -->
          <!-- <li>
            <a routerLink="/core/settings/suppliers"><i class="fa fa-circle-o"></i>
              {{'Fournisseur' | translate}}</a>
          </li> -->
          
          <li *hasPermission="['CATEGORY_VEHICLE_VIEW','CONTRACT_TYPE_VIEW','CONSUMPTION_TYPE_VIEW']">
            <a routerLink="/core/settings/menu-vehicle" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Véhicule ' | translate}}</a>
          </li>
          <li *hasPermission="['MAINTENANCE_TERM_VIEW','MAINTENANCE_TYPE_VIEW']">
            <a routerLink="/core/settings/menu-maintenance" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Maintenance ' | translate}}</a>
          </li>
          <li *hasPermission="['BADGE_TYPE_VIEW','COMMISSION_TYPE_VIEW']">
            <a routerLink="/core/settings/menu-driver" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Conducteur ' | translate}}</a>
          </li>

          <li *hasPermission="['CONDITIONAL_TYPE_VIEW']">
            <a routerLink="/core/settings/conditional-type" class="m-a"><i class="fa fa-circle-o"></i>
              {{'type condition ' | translate}}</a>
          </li>
          <!-- <li>
            <a routerLink="/core/settings/badge-types"><i class="fa fa-circle-o"></i>
              {{'Type Badge ' | translate}}</a>
          </li> -->
          <!-- <li>
            <a routerLink="/core/settings/maintenance-types"><i class="fa fa-circle-o"></i>
              {{'Type Maintenance ' | translate}}</a>
          </li>
          <li>
            <a routerLink="/core/settings/maintenance-statuses"><i class="fa fa-circle-o"></i>
              {{'Etat Maintenance ' | translate}}</a>
          </li> -->

          <!-- <li>
            <a routerLink="/core/settings/consumption-type"><i class="fa fa-circle-o"></i>
              {{'Type Consomation ' | translate}}</a>
          </li> -->

          <!-- <li>
            <a routerLink="/core/settings/catalog-transport"><i class="fa fa-circle-o"></i>
              {{'Type Patrimoine ' | translate}}</a>
          </li> -->
          <!-- <li>
            <a routerLink="/core/settings/commission-type"><i class="fa fa-circle-o"></i>
              {{'Type Commission ' | translate}}</a>
          </li> -->

          <li *hasPermission="['CATEGORY_TRANSPORT_VIEW']">
            <a routerLink="/core/settings/transport-category-vehicle" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Catégorie de Transport  ' | translate}}</a>
          </li>
          <li *hasPermission="['CATALOG_TRANSPORT_VIEW']">
            <a routerLink="/core/settings/path" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Trajet ' | translate}}</a>
          </li>
          <!-- <li>
            <a routerLink="/core/settings/patrimony" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Type Patrimoine  ' | translate}}</a>
          </li> -->

          <!-- <li>
            <a routerLink="/core/settings/consomption-type"><i class="fa fa-circle-o"></i>
              {{'Type consomation ' | translate}}</a>
          </li> -->

          <li *hasPermission="['ZONE_VIEW']">
            <a routerLink="/core/settings/zone" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Zone  ' | translate}}</a>
          </li>
          <li *hasPermission="['SUPPLIER_VIEW']">
            <a routerLink="/core/settings/suppliers" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Fournisseur ' | translate}}</a>
          </li>
          <li *hasPermission="['TRANSPORT_VIEW']">
            <a routerLink="/core/settings/transport" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Transport ' | translate}}</a>
          </li>
          <li *hasPermission="['PRODUCT_VIEW','PRODUCT_TYPE_VIEW']">
            <a routerLink="/core/settings/menu-product" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Produit ' | translate}}</a>
          </li>


        </ul>
      </li>
      
      
   

      <!-- *ngxPermissionsOnly="['VEHICLE_CREATE']" -->
      
        <li *hasPermission="['VEHICLE_CREATE','VEHICLE_VIEW']">  

      
          <a  class="text-white"><i class="sidebar-item-icon fa " >
              <img src="./assets/img/Menu/vehicle.png" width="20px" height="20px">
            </i>
            <span class="nav-label">{{'Véhicule' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-2-level collapse" >
            <li *hasPermission="['VEHICLE_CREATE']">
              <a routerLink="/core/vehicles/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                  height="15px"> {{'Inserer' | translate}} </a>
            </li>
            <li *hasPermission="['VEHICLE_VIEW']">
              <a routerLink="/core/vehicles/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                  height="15px"> {{'Lister' | translate}}</a>
            </li>
          </ul>
     
        </li>      
 
     
       
      


      <li *hasPermission="['MACHINE_CREATE','MACHINE_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/machine.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Machine' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li *hasPermission="['MACHINE_CREATE']">
            <a routerLink="/core/machine/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li *hasPermission="['MACHINE_VIEW']">
            <a routerLink="/core/machine/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>


      <li *hasPermission="['DRIVER_CREATE','DRIVER_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/Chauffeur.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Chauffeur' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li *hasPermission="['DRIVER_CREATE']">
            <a routerLink="/core/drivers/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li  *hasPermission="['DRIVER_VIEW']">
            <a routerLink="/core/drivers/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>
      <li *hasPermission="['STOCK_CREATE','STOCK_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/stock.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Stock' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">

          <li *hasPermission="['STOCK_VIEW']">
            <a routerLink="/core/stock" class="m-a"><img src="./assets/img/Menu/list.png" width="15px" height="15px">
              {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>

      <li *hasPermission="['DIESELDECLARATION_VIEW']"> 
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/gasoil.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Declaration Gasoil' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">

          <li *hasPermission="['DIESELDECLARATION_VIEW']">
            <a routerLink="/core/settings/diesel-declaration" class="m-a"><img src="./assets/img/Menu/list.png"
                width="15px" height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>

      <li *hasPermission="['MAINTENANCEPLAN_VIEW','MAINTENANCEPLAN_CREATE','MAINTENANCE_CREATE','MAINTENANCE_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa">
            <img src="./assets/img/Menu/maintenance.png" width="20px" height="20px">

          </i>
          <span class="nav-label">{{'Maintenance' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">

          <li *hasPermission="['MAINTENANCEPLAN_CREATE']">
            <a routerLink="/core/maintenance-plan/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Plan Maintenance' | translate}} </a>
          </li>

          <li *hasPermission="['MAINTENANCE_CREATE']"> 
            <a routerLink="/core/maintenance/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Maintennace Corrective' | translate}} </a>
          </li>

          <li *hasPermission="['MAINTENANCEPLAN_VIEW']">
            <a routerLink="/core/maintenance-plan/list" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'List Plan Maintenance' | translate}} </a>
          </li>

          <li *hasPermission="['MAINTENANCE_CREATE']">
            <a routerLink="/core/maintenance/treatment" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Traitement des Maintenance' | translate}}</a>
          </li>

          <li>
            <a routerLink="/core/maintenance/calendar" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Calendrier' | translate}}</a>
          </li> 

        </ul>
      </li>

      <li *hasPermission="['INSURANCE_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/assurance_auto1.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Assurance' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li *hasPermission="['INSURANCE_VIEW']">
            <a routerLink="/core/settings/insurances" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Lister' | translate}} </a>
          </li>
       
        </ul>
      </li>


      <li *hasPermission="['PURCHASEORDER_CREATE','PURCHASEORDER_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/sale.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Commande' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li *hasPermission="['PURCHASEORDER_CREATE']">
            <a routerLink="/core/order/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li *hasPermission="['PURCHASEORDER_VIEW']">
            <a routerLink="/core/order/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>

      <li *hasPermission="['RECEPTION_CREATE','RECEPTION_VIEW']">
        <a class="text-white"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/purchase.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Reception' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li *hasPermission="['RECEPTION_CREATE']">
            <a routerLink="/core/reception/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li *hasPermission="['RECEPTION_VIEW']">
            <a routerLink="/core/reception/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>





      <!-- <li>
        <a class="text-white" routerLink="/core/consomptions/edit" class="m-a"><i class="sidebar-item-icon fa">
            <img src="./assets/img/Menu/commission.png" width="20px" height="20px">

          </i>
          <span class="nav-label">{{'commission Chauffeur' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>

      </li> -->



      <!-- <li>
        <a class="text-white" class="m-a"><i class="sidebar-item-icon fa ">
            <img src="./assets/img/Menu/vehicle.png" width="20px" height="20px">
          </i>
          <span class="nav-label">{{'Tour' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>


            <a routerLink="/core/turn/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Inserer' | translate}} </a>
          </li>

          <li>


            <a routerLink="/core/turn/list" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                height="15px"> {{'Lister' | translate}} </a>
          </li>

        </ul>
      </li> -->



    </ul>
  </div>
</nav>