<nav class="page-sidebar">
  <div id="sidebar-collapse" style="background-color: #222d32 !important;">
    <ul class="side-menu metismenu fixed" style="background-color: #222d32 !important;">
      <li>
        <a routerLinkActive="active" routerLink="/index"><i class="sidebar-item-icon fa fa-th-large"></i>
          <span class="nav-label">{{'Sample' | translate}}</span>
        </a>
      </li>

      <li>
        <a routerLinkActive="active" routerLink="/"><i class="sidebar-item-icon fa fa-th-large"></i>
          <span class="nav-label">{{'Sample2' | translate}}</span>
        </a>
      </li>

      <li>
        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
          <span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a href="javascript:;">Level 2</a>
          </li>
          <li>
            <a href="javascript:;">
              <span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-3-level collapse">
              <li>
                <a href="javascript:;">Level 3</a>
              </li>
              <li>
                <a href="javascript:;">Level 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
