<nav class="page-sidebar">
  <div id="sidebar-collapse" style="background-color: #222d32 !important;">
    <ul class="side-menu metismenu fixed" style="background-color: #222d32 !important;">
      <li  routerLinkActive="active">

        <a href="javascript:;"><i class="sidebar-item-icon "><img src="../../../../assets/img/Menu/Parametre.png"
              width="25px" height="25px"></i>

          <span class="nav-label"> {{'Parametrage' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
            <li  routerLinkActive="active">
                <a routerLink="/core/settings/vehicle-categorie"><i class="fa fa-circle-o"></i> {{'Vehicle-Categorie' | translate}}</a>
              </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/badges"><i class="fa fa-circle-o"></i>
              {{'Badge' | translate}}</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/insurances"><i class="fa fa-circle-o"></i>
              {{'Assurance' | translate}}</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/insurance-terms"><i class="fa fa-circle-o"></i>
              {{'Terme Assurance' | translate}}</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/contract-types"><i class="fa fa-circle-o"></i>
              {{'Type Contrat' | translate}}</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/suppliers"><i class="fa fa-circle-o"></i>
              {{'Fournisseur' | translate}}</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/badge-types"><i class="fa fa-circle-o"></i>
              {{'Badge Type' | translate}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/core/settings/maintenance-types"><i class="fa fa-circle-o"></i> {{'Maintenance Type' | translate}}</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/core/settings/maintenance-statuses"><i class="fa fa-circle-o"></i> {{'Maintenance Etat' | translate}}</a>
          </li>
        </ul>
      </li>


      <li  routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon fa ">
            <img src="../../../../assets/img/Menu/vehicle.png" width="25px" height="25px">
          </i>
          <span class="nav-label">{{'Vehicule' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>


            <a routerLink="/core/vehicles/edit"><img
                src="../../../../assets/img/Menu/insert.png" width="15px" height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li>
            <a routerLink="/core/vehicles/list"><img
                src="../../../../assets/img/Menu/list.png" width="15px" height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>

      <li  routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon fa ">
            <img src="../../../../assets/img/Menu/Chauffeur.png" width="25px" height="25px">
          </i>
          <span class="nav-label">{{'Chauffeur' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLink="/core/drivers/edit"><img
                src="../../../../assets/img/Menu/insert.png" width="15px" height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li>
            <a routerLink="/core/drivers/list"><img src="../../../../assets/img/Menu/list.png"
                width="15px" height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon fa">
            <img src="../../../../assets/img/Menu/maintenance.png" width="25px" height="25px">

          </i>
          <span class="nav-label">{{'Maintenance' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLink="/core/maintenances/edit"><img
                src="../../../../assets/img/Menu/insert.png" width="15px" height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li>
            <a routerLink="/core/maintenances/list"><img
                src="../../../../assets/img/Menu/list.png" width="15px" height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>

      <li  routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon fa ">
            <img src="../../../../assets/img/Menu/Chauffeur.png" width="25px" height="25px">
          </i>
          <span class="nav-label">{{'Assurance' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLink="/core/drivers/edit"><img
                src="../../../../assets/img/Menu/insert.png" width="15px" height="15px"> {{'Inserer' | translate}} </a>
          </li>
          <li>
            <a routerLink="/core/insurances/list"><img src="../../../../assets/img/Menu/list.png"
                width="15px" height="15px"> {{'Lister' | translate}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
