<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog"
[focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '900px' }" (onHide)="onShowDialog()">
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="transportServiceForm">

          <div class="row justify-content-around">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">{{ "Service " | translate }} *</label>
              <span *ngIf="
                  (transportServiceForm.get('fProduct').touched &&
                    transportServiceForm.get('fProduct').invalid) ||
                  (isFormSubmitted &&
                    transportServiceForm.get('fProduct').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-autoComplete [disabled]="(editMode==2)" formControlName="fProduct" [suggestions]="productList"
              (onSelect)="onSelectProduct($event)" (completeMethod)="onProductSearch($event)" field="code">
            </p-autoComplete>
            </div>
            <div class="form-group col-sm-9">
            </div>
</div>

            <div class="row justify-content-around">


<div class="form-group col-sm-12">
   <p-fieldset legend="Achat" [toggleable]="true">

    <div class="row justify-content-around">
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">{{ "Montant HT" | translate }} *</label>
        <span *ngIf="
            (transportServiceForm.get('fPurchaseAmountHt').touched &&
              transportServiceForm.get('fPurchaseAmountHt').invalid) ||
            (isFormSubmitted &&
              transportServiceForm.get('fPurchaseAmountHt').invalid)
          " class="text-lighter" style="color: red; font-size: xx-small;">
          {{ 'Obligatoire' | translate}}
        </span>
        <br />


          <p-inputNumber inputId="locale-user" (keyup)="onPurchasePriceChange(1)"  [minFractionDigits]="2"
          formControlName="fPurchaseAmountHt"
        >
         </p-inputNumber>

      </div>

      <div class="form-group col-sm-6">
        <label class="font-weight-bold">{{ "Taux TVA" | translate }} *</label>
        <span *ngIf="
            (transportServiceForm.get('fPurchaseVat').touched &&
              transportServiceForm.get('fPurchaseVat').invalid) ||
            (isFormSubmitted &&
              transportServiceForm.get('fPurchaseVat').invalid)
          " class="text-lighter" style="color: red; font-size: xx-small;">
          {{ 'Obligatoire' | translate}}
        </span>
        <p-dropdown
         [autoDisplayFirst]="false"
         [options]="vatList"
           [filter]="true"
           optionLabel="value"
           [appendTo]="'body'"
          [showClear]="true"
           (onChange)="onSelectPurchaseVat($event)"
            formControlName="fPurchaseVat"></p-dropdown>

      </div>

      <div class="form-group col-sm-6">
        <label class="font-weight-bold">{{ "Montant TTC" | translate }} *</label>
        <span *ngIf="
            (transportServiceForm.get('fPurchaseAmountTtc').touched &&
              transportServiceForm.get('fPurchaseAmountTtc').invalid) ||
            (isFormSubmitted &&
              transportServiceForm.get('fPurchaseAmountTtc').invalid)
          " class="text-lighter" style="color: red; font-size: xx-small;">
          {{ 'Obligatoire' | translate}}

        </span>
        <br />



          <p-inputNumber inputId="locale-user" (keyup)="onPurchasePriceChange(2)"
          [minFractionDigits]="2"
          formControlName="fPurchaseAmountTtc"
        >
         </p-inputNumber>


      </div>
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">{{ "Montant TVA" | translate }} *</label>
        <span *ngIf="
            (transportServiceForm.get('fPurchaseAmountTva').touched &&
              transportServiceForm.get('fPurchaseAmountTva').invalid) ||
            (isFormSubmitted &&
              transportServiceForm.get('fPurchaseAmountTva').invalid)
          " class="text-lighter" style="color: red; font-size: xx-small;">
          {{ 'Obligatoire' | translate}}

        </span>
        <br />

          <p-inputNumber inputId="locale-user"   [minFractionDigits]="2"
          formControlName="fPurchaseAmountTva"
        >
         </p-inputNumber>

      </div>
    </div>

  </p-fieldset>
</div>

</div>


        </form>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="onShowDialog()" class="p-button-primary"
        label="{{'Annuler' |translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="p-button-success"
        label="{{'Valider' |translate}}"></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
