<!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> -->
<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true" [collapsed]="true">
  <div class="row">



    <div class="col-md-2">
      <label class="font-weight-bold">{{
        "Service" | translate
      }}</label
      ><br />

      <p-autoComplete [(ngModel)]="productSearch" [suggestions]="productList"
      (completeMethod)="onProductSearch($event)" field="code"></p-autoComplete>

    </div>



  </div>
  <br />

  <div class="text-center">
    <button type="button" class="btn btn-primary mr-2" (click)="reset()">
      <i class="fa fa-refresh mr-2"></i> {{ "Réinitialiser" | translate }}

    </button>

    <button type="button" class="btn btn-success" (click)="onSearchClicked()">
      <i class="fa fa-search mr-2"></i> {{ "Rechercher" | translate }}

    </button>
  </div>
</p-panel>

<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="transportServiceList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdf($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="titleList"
  [viewBtnVisible]="'false'"

  [permissionCreate]="['TRANSPORT_SERVICE_PRICING_CREATE']"
  [permissionDelete]="['TRANSPORT_SERVICE_PRICING_DELETE']"
  [permissionEdit]="['TRANSPORT_SERVICE_PRICING_EDIT']"
></app-data-table>

<div *ngIf="showDialog == true">
  <app-transport-service-edit
     (showDialog)="onShowDialog($event)"
     [editMode]="editMode"
    [selectTransportService]="selectTransportServices[0]"
    [selectedTransport]="this.selectedTransport"
    (transportServiceEdited)="onLineEdited($event)"
    [transportServices]="transportServiceList"
  ></app-transport-service-edit>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
>
</p-confirmDialog>

<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
