<div class="card mt-4">
  <div class="card-header">
    <span class="h4">{{ "Editer Vehicule" | translate }}</span>
  </div>
  <div class="card-body border-top-primary">
    <form [formGroup]="vehicleForm">

      <div class="row  justify-content-around">
        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Code' | translate}}*</label>
          <span *ngIf="(vehicleForm.get('code').touched && vehicleForm.get('code').invalid) ||
            (isFormSubmitted && vehicleForm.get('code').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
          <br />
          <input type="text" class="form-control" pInputText formControlName="code"
          (keydown.space)="$event.preventDefault()"
          />
        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Matriculation'| translate}}*</label>
          <span *ngIf="(vehicleForm.get('registrationNumber').touched && vehicleForm.get('registrationNumber').invalid) ||
            (isFormSubmitted && vehicleForm.get('registrationNumber').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              Ce Champs est obligatoire
            </span>
          <br />
          <input type="text" class="form-control" pInputText formControlName="registrationNumber"

          />
        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Vehicule Categorie' | translate}}</label><br />
          <p-dropdown [autoDisplayFirst]="false" [options]="vehicleCategoryList" optionLabel="code"
            formControlName="vehicleCategory" (onChange)="onSelectVehicleCategory($event)" [filter]="true"
            [showClear]="true" ></p-dropdown>
        </div>

      </div>
      <div class="row justify-content-around">
        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Type Badge' | translate}}</label><br />
          <p-dropdown [autoDisplayFirst]="false" [options]="badgeTypeList" optionLabel="code" [filter]="true"
            (onChange)="onSelectBadgeType($event)" formControlName="badgeType" [showClear]="true"
           ></p-dropdown>
        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Assurance' | translate}}</label><br />
          <p-dropdown [autoDisplayFirst]="false"  [options]="insuranceList" optionLabel="code" [filter]="true" [showClear]="true"
            (onChange)="onSelectInsurance($event)" formControlName="insurance"
           ></p-dropdown>
        </div>

        <div class="col-md-3 ui-g-12 ui-md-3 ">
          <label class="font-weight-bold ">{{'Visite Technique' | translate}}</label><br />
          <p-calendar formControlName="technicalVisit" dateFormat="dd-mm-yy" showButtonBar="true"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2100"></p-calendar>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="text-center">
        <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']" routerLinkActive="active">
          {{'Fermer' | translate}}
        </a>
        <button type="button" class="btn btn-success m-1" (click)="onSubmit(false)">
          {{'Valider et continuer' | translate }}
        </button>

        <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
          {{ "Valider" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>


<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
