<div class="card mt-4">
  <div class="card-header">
    <span class="h4">{{ "Editer Vehicule" | translate }}</span>
  </div>
  <div class="card-body border-top-primary h-90" >
    <form [formGroup]="vehicleForm">

      <p-tabView>
        <p-tabPanel header="General"  >
          <div class="row  mt-3 justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Code' | translate}}*</label>
              <span *ngIf="(vehicleForm.get('Fcode').touched && vehicleForm.get('Fcode').invalid) ||
                (isFormSubmitted && vehicleForm.get('Fcode').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <br />
              <input type="text" class="form-control" pInputText formControlName="Fcode"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'immatriculation'| translate}}*</label>
              <span *ngIf="(vehicleForm.get('FregistrationNumber').touched && vehicleForm.get('FregistrationNumber').invalid) ||
              (isFormSubmitted && vehicleForm.get('FregistrationNumber').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <br />
              <input type="text" class="form-control" pInputText formControlName="FregistrationNumber" />
            </div>

            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Vehicule Categorie' | translate}}*</label>
              <span *ngIf="(vehicleForm.get('FvehicleCategory').touched && vehicleForm.get('FvehicleCategory').invalid) ||
              (isFormSubmitted && vehicleForm.get('FvehicleCategory').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <p-dropdown [autoDisplayFirst]="false" [options]="vehicleCategoryList" optionLabel="code"
                formControlName="FvehicleCategory" (onChange)="onSelectVehicleCategory($event)" [filter]="true"
                [showClear]="true"></p-dropdown>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Type Badge' | translate}}*</label>
              <span *ngIf="(vehicleForm.get('FbadgeType').touched && vehicleForm.get('FbadgeType').invalid) ||
              (isFormSubmitted && vehicleForm.get('FbadgeType').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <p-dropdown [autoDisplayFirst]="false" [options]="badgeTypeList" optionLabel="code" [filter]="true"
                (onChange)="onSelectBadgeType($event)" formControlName="FbadgeType" [showClear]="true"></p-dropdown>
            </div>
            <div class="form-group col-md-3 ">
               <label class="font-weight-bold ">{{'Type contrat' | translate}}*</label>
              <span *ngIf="(vehicleForm.get('FcontractType').touched && vehicleForm.get('FcontractType').invalid) ||
                (isFormSubmitted && vehicleForm.get('FcontractType').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span><br />
              <p-dropdown [autoDisplayFirst]="false" [options]="contractTypeList" optionLabel="code" [filter]="true"
                (onChange)="onSelectContract($event)" formControlName="FcontractType" [showClear]="true"></p-dropdown>
            </div>

            <div class="form-group col-md-3 ">

            </div>

          </div>
          <div class="row  justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Carte Grise' | translate}}</label>

              <br />
              <input type="text" class="form-control" pInputText formControlName="FgrayCard"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'N Chassis'| translate}}</label>

              <br />
              <input type="text" class="form-control" pInputText formControlName="FchassisNumber" />
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Nombre de Cylindres'| translate}}</label>
              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FnumberCylinder" />
            </div>
          </div>
          <div class="row  justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Visite Technique'| translate}}</label>
              <br />
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
                formControlName="FtechnicalVisit" yearRange="1970:2100"></p-calendar>
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Valeur'| translate}}</label>
              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FValeurVisiteTechnique" />
            </div>
            <div class="form-group col-md-3 "></div>
          </div>
          <div class="row  justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Vignette'| translate}}</label>
              <br />
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
                formControlName="Fvignette" yearRange="1970:2100"></p-calendar>
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Valeur'| translate}}</label>
              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FValeurVignette" />
            </div>
            <div class="form-group col-md-3 "></div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Caracteristiques">
          <div class="row mt-3 justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Puissance Fiscal' | translate}}</label>

              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FfiscalPower"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'carrosserie'| translate}}</label>

              <br />
              <input type="text" class="form-control" pInputText formControlName="Fbody" />
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Energie'| translate}}</label>

              <br />
              <input type="text" class="form-control" pInputText formControlName="Fenergy" />
            </div>
          </div>
          <hr class="w-50" />

          <div class="row  justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Huile Moteur' | translate}} (KM)</label>

              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FengineOil"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Pont Arriere'| translate}} (KM)</label>

              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FrearDeck" />
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Direction '| translate}} (KM)</label>
              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="Fdirection" />
            </div>
          </div>

          <div class="row  justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Radiateur' | translate}} (KM)</label>

              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="Fradiator"
                (keydown.space)="$event.preventDefault()" />
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Filtre à Air '| translate}} (KM)</label>
              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FareaFilter" />
            </div>
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Boite a Vitesse '| translate}} (KM)</label>
              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FgearBox" />
            </div>

          </div>

          <div class="row  justify-content-around">
            <div class="form-group col-md-3 ">
              <label class="font-weight-bold ">{{'Filtre Dissicateur' | translate}} (KM)</label>

              <br />
              <input type="text" class="form-control" pInputText pKeyFilter="num" formControlName="FdesiccantFilter"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-md-3 ">

            </div>
            <div class="form-group col-md-3 ">

            </div>

          </div>
        </p-tabPanel>
        <p-tabPanel header="Assurance" >
          <div [style.visibility]="editMode ? 'visible' : 'hidden'"  >
          <button type="button" class="btn btn-success m-1 float-right"  (click)="onNvclick()">
            {{'Nouveau Assurance' | translate }}
          </button></div><br><br>
             <div class="row mt-3 justify-content-around">

            <div class="form-group col-md-3">
              <label class="font-weight-bold ">{{'Numero' | translate}} *</label>
              <span *ngIf="(vehicleForm.get('FIcode').touched && vehicleForm.get('FIcode').invalid) ||
                  (isFormSubmitted && vehicleForm.get('FIcode').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <br />
              <input type="text" class="form-control" pInputText formControlName="FIcode"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold ">{{'Description' | translate}}</label>
              <span *ngIf="(vehicleForm.get('FIdescription').touched && vehicleForm.get('FIdescription').invalid) ||
                  (isFormSubmitted && vehicleForm.get('FIdescription').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span><br />
              <input type="text" class="form-control" pInputText formControlName="FIdescription" />
            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold ">{{'Fournisseur'| translate}} *</label>
              <span *ngIf="(vehicleForm.get('FIsupplier').touched && vehicleForm.get('FIsupplier').invalid) ||
                      (isFormSubmitted && vehicleForm.get('FIsupplier').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <p-dropdown [autoDisplayFirst]="false" [options]="supplierList" optionLabel="code"
                formControlName="FIsupplier" (onChange)="onSelectsupplier($event)" [filter]="true" [showClear]="true">
              </p-dropdown>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="form-group col-md-3">
              <label class="font-weight-bold ">{{'De' | translate}} *</label>
              <span *ngIf="(vehicleForm.get('FIstartDate').touched && vehicleForm.get('FIstartDate').invalid) ||
                    (isFormSubmitted && vehicleForm.get('FIstartDate').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <br />
              <p-calendar formControlName="FIstartDate" dateFormat="dd-mm-yy" showButtonBar="true"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2100"></p-calendar>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold ">{{'A' | translate}} *</label>
              <span *ngIf="(vehicleForm.get('FIendDate').touched && vehicleForm.get('FIendDate').invalid) ||
                    (isFormSubmitted && vehicleForm.get('FIendDate').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <br />
              <p-calendar formControlName="FIendDate" dateFormat="dd-mm-yy" showButtonBar="true" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1970:2100"></p-calendar>
            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold ">{{'Montant'| translate}} *</label>
              <span *ngIf="(vehicleForm.get('FIMontant').touched && vehicleForm.get('FIMontant').invalid) ||
                      (isFormSubmitted && vehicleForm.get('FIMontant').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                Ce Champs est obligatoire
              </span>
              <input type="text" class="form-control" pInputText formControlName="FIMontant" />
            </div>
          </div>




          <div class="card mt-2">
            <div class="card-header " style=" background-color:#f7f7f7;">
              <span>Liste Des lignes de Term D'assurance</span>
              <span class="pull-right">
                <app-vehicule-edit-line [editMode]="false" (insuranceTermLineAdded)="onLineEdited($event)"></app-vehicule-edit-line>
              </span>
              <span class="pull-right">
              </span>
            </div>
            <div class="card-body mt-2 border-top-primary">


              <p-table [value]="selectedInsurance?.insuranceTermLignes" [lazy]="true" [rows]="size" [paginator]="true"
                [totalRecords]="selectedInsurance?.insuranceTermLignes?.length" [scrollable]="true" scrollHeight="40px">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'Term Assurance' | translate}}</th>
                    <th>Prix </th>

                    <th style="width:10%">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-line>
                  <tr>
                    <td>{{line?.insuranceTerm?.code}}</td>
                   <td>{{line?.amount}}</td>
                   <td>
                    <app-vehicule-edit-line [selectedTermLigne]="line" [editMode]="true"
                      (insuranceTermLineAdded)="onLineEdited($event)"></app-vehicule-edit-line>
                    <button type="button" (click)="onDeleteLine(line)" class="btn btn-sm btn-danger mx-1">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>

                  </tr>
                </ng-template>
              </p-table>
            </div>


          </div>

        </p-tabPanel>
      </p-tabView>
      <div class="text-center mt-3" style="bottom: 10vh !important;">
        <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
          {{'Fermer' | translate}}
        </a>
        <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
          {{'Valider et continuer' | translate }}
        </button>
        <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
          {{ "Valider" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
