<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body  border-top-primary">
    <div class="row">


      <div class="col-md-3">
        <label class="font-weight-bold">
          Date tournée</label><br />
        <p-calendar [(ngModel)]="dateDelivery" dateFormat="dd.mm.yy"></p-calendar>

      </div>

    </div>
    <br />
    <br />
    <!-- <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">Renitialiser</button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        Rechercher
      </button>
    </div> -->
  </div>
</div>

<div class="card mt-3">
  <div class="card-header " style=" background-color:#f7f7f7;">
    <span>Liste Des Tours</span>

  </div>
  <div class="card-body border-top-primary">
    <p-table [value]="turnList" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [rows]="size"
      [totalRecords]="collectionSize" [resizableColumns]="true" [reorderableColumns]="true" selectionMode="single"
      [(selection)]="selectedTurn" [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Date Tournée</th>
          <th>Vehicule</th>
          <th>Driver</th>
          <th style="width:10%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-turn>
        <tr>

          <td>{{turn?.dateDelivery | date:'dd-MM-yyyy'}}</td>
          <td>{{turn?.vehicle?.code}}</td>
          <td  ><span *ngFor="let item of turn?.drivers"> {{item?.name }} </span></td>

          <td>
            <a [routerLink]="['/core/turn/turn', turn.id]" routerLinkActive="active"
              class="btn btn-sm btn-primary mr-2">
              <i class="fa fa-pencil"></i>
            </a>

            <button type="button" (click)="onDelete(turn.id)" class="btn btn-sm btn-danger">
              <i class="fa fa-trash-o fas-red"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>
