<p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>

<div class="card mt-1">
  <div class="card-header ">
    <div class="row ">
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-outline-primary btn-sm" style="float: left;
          min-width: 30%;"> {{this.selectedOrderTransport.code}}</button>

        <!-- <span class="h4" > {{this.selectedOrderTransport.code}}</span> -->

</div>
<div class="form-group col-md-4">
  <!-- <button type="button" class="btn " style="background: #5CADE2; color: white;">{{this.selectedOrderTransport.date |date:'dd'}}</button>
  <button type="button" class="btn "style="background: #F7B518; color: white;">{{this.selectedOrderTransport.date |date:'MM'}}</button>
  <button type="button" class="btn "style="background: #EC7064; color: white;">{{this.selectedOrderTransport.date |date:'yyyy'}}</button> -->

  <!-- <span class="h4" > {{this.selectedOrderTransport.date |date:'dd-MM-yyyy'}}</span> -->

</div>
<div class="form-group col-md-4">
  <button type="button" class="btn btn-outline-success btn-sm" style="float: right;    min-width: 30%;"> {{this.selectedOrderTransport.turnStatus?.code}}</button>

  <!-- <span class="h4" > {{this.selectedOrderTransport.turnStatus?.code}}</span> -->

</div>
    </div>


  </div>

  <div class="card-body border-top-primary">

      <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" > </p-steps>


      <span *ngIf="activeIndex==0">
<app-order-transport-information (nextstep)="next($event)"
(turnTypeId)="showStep($event)"></app-order-transport-information>

      </span>
      <span *ngIf="activeIndex==1">

        <span   *ngIf="this.turnTypeId==1 ||this.turnTypeId==3 " >
        <app-order-transport-complet (nextstep)="next($event)" (previousstep)="previous($event)"></app-order-transport-complet>
        </span>
      <span *ngIf="this.turnTypeId==2">
        <app-order-transport-complet-retour (nextstep)="next($event)"  (previousstep)="previous($event)"></app-order-transport-complet-retour>
        </span>
        <span>

        </span>
      </span>
      <span *ngIf="activeIndex==2">
       <span *ngIf="this.turnTypeId==3">
        <app-order-transport-complet-retour (nextstep)="next($event)"  (previousstep)="previous($event)"></app-order-transport-complet-retour>
        </span>

        <span *ngIf="this.turnTypeId==1 ||this.turnTypeId==2 " >
          <app-tarification (nextstep)="next($event)" (previousstep)="previous($event)"></app-tarification>
        </span>
      </span>
      <span *ngIf="activeIndex==3">
         <span *ngIf="this.turnTypeId==3">
          <app-tarification (nextstep)="next($event)" (previousstep)="previous($event)"></app-tarification>
        </span>
<!--   -->
        <span *ngIf="this.turnTypeId==1 ||this.turnTypeId==2">
          <app-order-transport-verification  (previousstep)="previous($event)"></app-order-transport-verification>
        </span>
      </span>

      <span *ngIf="activeIndex==4">
        <span *ngIf="this.turnTypeId==3">
          <app-order-transport-verification  (previousstep)="previous($event)"></app-order-transport-verification>
        </span>
      </span>





      <div></div>


  </div>


</div>




<p-toast position="top-right" [autoZIndex]="'true'"></p-toast>
<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
