.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(div)  {
  border-left: 5px solid #a94442; /* red */
}

:host ::ng-deep .p-card {
  border-right: 2rem solid;
    border-right-color: #326895;
    border-radius: 5px;
}
