<div class="card mt-4">
  <div class="card-header">
    <span class="h4">{{ editModeTitle | translate }}</span>
  </div>
  <div class="card-body border-top-primary" >
    <form  [formGroup]="maintenacePlanForm">

      <div formGroupName="general">
        <div class="row  mt-3 justify-content-around">
          <div class="form-group col-md-3 ">
            <label class="font-weight-bold ">{{'Code'| translate}} *</label>
            <span *ngIf="(maintenacePlanForm.controls['general'].get('fcode').touched && maintenacePlanForm.controls['general'].get('fcode').invalid) ||
            (isFormSubmitted && maintenacePlanForm.controls['general'].get('fcode').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{"Obligatoire" | translate}}
            </span>
            <br />
            <input type="text" class="form-control" formControlName="fcode" pInputText   />
          </div>
      <div class="form-group col-md-9 ">
      </div>
        </div>
      <div class="row  mt-3 justify-content-around">
        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Type de Maintenance'| translate}} *</label>
          <span *ngIf="(maintenacePlanForm.controls['general'].get('fmaintenaceType').touched && maintenacePlanForm.controls['general'].get('fmaintenaceType').invalid) ||
          (isFormSubmitted && maintenacePlanForm.controls['general'].get('fmaintenaceType').invalid)" class="text-lighter"
            style="color: red; font-size: xx-small;">
            {{"Obligatoire" | translate}}
          </span>
          <br />
          <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
          [filter]="true" [options]="maintenanceTypeList"
         [showClear]="true" (onChange)='onSelectMaintenanceType($event)' formControlName="fmaintenaceType"></p-dropdown>
    </div>
        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Type de programme'| translate}} *</label>
          <span *ngIf="(maintenacePlanForm.controls['general'].get('fProgram').touched && maintenacePlanForm.controls['general'].get('fProgram').invalid) ||
          (isFormSubmitted && maintenacePlanForm.controls['general'].get('fProgram').invalid)" class="text-lighter"
            style="color: red; font-size: xx-small;">
            {{"Obligatoire" | translate}}
          </span>
          <br />
          <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
          [filter]="true" [options]="programTypeList"
         [showClear]="true" (onChange)='onSelectProgrameType($event)' formControlName="fProgram"></p-dropdown>
    </div>

    <div class="form-group col-md-3 ">
      <label class="font-weight-bold ">{{'patrimoine' | translate}} *</label>
      <span *ngIf="(maintenacePlanForm.controls['general'].get('fPatrimony').touched && maintenacePlanForm.controls['general'].get('fPatrimony').invalid) ||
      (isFormSubmitted && maintenacePlanForm.controls['general'].get('fPatrimony').invalid)" class="text-lighter"
        style="color: red; font-size: xx-small;">
        {{"Obligatoire" | translate}}
      </span>
      <br />
      <p-autoComplete  [suggestions]="patrimonyList"
      (completeMethod)="onPatrimonySearch($event)"
      field='code'  formControlName="fPatrimony"
      ></p-autoComplete>
    </div>

        <div class="form-group col-md-3">

          <label class="font-weight-bold ">{{'Etat de Maintenance'| translate}} *</label>
          <span *ngIf="(maintenacePlanForm.controls['general'].get('fState').touched && maintenacePlanForm.controls['general'].get('fState').invalid) ||
          (isFormSubmitted && maintenacePlanForm.controls['general'].get('fState').invalid)" class="text-lighter"
            style="color: red; font-size: xx-small;">
            {{"Obligatoire" | translate}}
          </span>
          <br />
          <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
          [filter]="true" [options]="MaintenancestateList"
         [showClear]="true" (onChange)='onSelectMaintenanceState($event)' formControlName="fState"></p-dropdown>


        </div>
 </div>


 <div class="row  mt-3 justify-content-around">
  <div class="form-group col-md-9 ">
  </div>
</div>
  </div>



<hr>
<div formGroupName="periodicity">

<div *ngIf="(this.selectMaintenancetype.id ===1)" >
<span *ngIf="this.validiteMode">
  <label class="font-weight-bold ">{{'Validité' | translate}} :</label>
  <br/>
</span>
<div class="row  mt-3 justify-content-around"  *ngIf="this.validiteMode" >

  <div class="form-group col-md-3 ">

    <label class="font-weight-bold ">{{'Date debut' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['periodicity'].get('fDateStart').touched && maintenacePlanForm.controls['periodicity'].get('fDateStart').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['periodicity'].get('fDateStart').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-calendar [monthNavigator]="true"  [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
    yearRange="1970:2100"  formControlName="fDateStart" > </p-calendar>
  </div>


  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Date fin'| translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['periodicity'].get('fDateStart').touched && maintenacePlanForm.controls['periodicity'].get('fDateStart').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['periodicity'].get('fDateStart').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
     yearRange="1970:2100" formControlName="fDateEnd" ></p-calendar>
</div>

  <div class="form-group col-md-6"></div>
</div>

<div class="row  mt-3 justify-content-around">
  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'périodicité' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['periodicity'].get('fPeriodicity').touched && maintenacePlanForm.controls['periodicity'].get('fPeriodicity').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['periodicity'].get('fPeriodicity').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-dropdown [autoDisplayFirst]="false" [options]="periodicityTypeList" optionLabel="code"
    [filter]="true"  (onChange)="onChangePeriodicity($event)"
   [showClear]="true" (onChange)="onSelectPeriodicity($event)" formControlName="fPeriodicity"></p-dropdown>
  </div>
   <div class="form-group col-md-9" *ngIf="(this.periodicityMode===1)">

        <label class="font-weight-bold ">{{'répéter le '| translate}} {{selectedTypes}}*</label>
        <span *ngIf="(maintenacePlanForm.controls['periodicity'].get('flist').touched && maintenacePlanForm.controls['periodicity'].get('flist').invalid) ||
        (isFormSubmitted && maintenacePlanForm.controls['periodicity'].get('flist').invalid)" class="text-lighter"
          style="color: red; font-size: xx-small;">
          {{"Obligatoire" | translate}}
        </span>
        <br />

    <p-selectButton [options]="types" formControlName="flist"  multiple="multiple"
   ></p-selectButton>
</div>
<div class="form-group col-md-3" *ngIf="(this.periodicityMode===2 || this.periodicityMode===3)">
  <label class="font-weight-bold ">{{'Le jour du mois '| translate}} *</label>
  <span *ngIf="(maintenacePlanForm.controls['periodicity'].get('fInterventionDate').touched && maintenacePlanForm.controls['periodicity'].get('fInterventionDate').invalid) ||
        (isFormSubmitted && maintenacePlanForm.controls['periodicity'].get('fInterventionDate').invalid)" class="text-lighter"
          style="color: red; font-size: xx-small;">
          {{"Obligatoire" | translate}}
        </span>
<br />
<p-calendar [monthNavigator]="true" [showTime]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
yearRange="1970:2100" formControlName="fInterventionDate"></p-calendar>
</div>
<div class="form-group col-md-6" *ngIf="(this.periodicityMode===2 || this.periodicityMode===3)">
</div>
  <div class="form-group col-md-9" ></div>
</div>


<div class="row  mt-3 justify-content-around">
  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Déclanchement' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['periodicity'].get('fTrigger').touched && maintenacePlanForm.controls['periodicity'].get('fTrigger').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['periodicity'].get('fTrigger').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-inputNumber  mode="decimal"
    [showButtons]="true" [min]="0" [max]="5" formControlName="fTrigger">
    </p-inputNumber>

    </div>
  <div class="form-group col-md-9 ">
</div>
</div>
<hr>
</div>
</div>


<div formGroupName="service">

<div *ngIf="this.selectMaintenancetype.id === 2" >

  <div class="row  mt-3 justify-content-around">

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Service' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('fService').touched && maintenacePlanForm.controls['service'].get('fService').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('fService').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
        [filter]="true" [options]="responsabilityList"
       [showClear]="true"(onChange)="onSelectService($event)" formControlName="fService"></p-dropdown>
  </div>

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Nom' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('femplyer').touched && maintenacePlanForm.controls['service'].get('femplyer').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('femplyer').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <input type="text" class="form-control" formControlName="femplyer" pInputText   />

  </div>

  <div class="form-group col-md-3 ">

    <label class="font-weight-bold ">{{'Date de déclaration ' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('fDeclareDate').touched && maintenacePlanForm.controls['service'].get('fDeclareDate').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('fDeclareDate').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-calendar [monthNavigator]="true"  [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
    yearRange="1970:2100"  formControlName="fDeclareDate" > </p-calendar>
  </div>


  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{' Date de déclanchement'| translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('fTriggerr').touched && maintenacePlanForm.controls['service'].get('fTriggerr').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('fTriggerr').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
     yearRange="1970:2100" formControlName="fTriggerr" ></p-calendar>
</div>

</div>
<div class="row  mt-3 justify-content-around">

  <div class="form-group col-md-6 ">
    <label class="font-weight-bold ">{{'Constat' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('fObseravtion').touched && maintenacePlanForm.controls['service'].get('fObseravtion').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('fObseravtion').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />

    <input type="text" class="form-control" formControlName="fObseravtion" pInputText   />

  </div>
  <div class="form-group col-md-3 ">

    <label class="font-weight-bold ">{{'Date intervention ' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('fIntervetionDate').touched && maintenacePlanForm.controls['service'].get('fIntervetionDate').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('fIntervetionDate').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-calendar [monthNavigator]="true"  [showTime]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
    yearRange="1970:2100"  formControlName="fIntervetionDate" > </p-calendar>
  </div>
  <div class="form-group col-md-3 ">

    <label class="font-weight-bold ">{{'Durée' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['service'].get('fDuration').touched && maintenacePlanForm.controls['service'].get('fDuration').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['service'].get('fDuration').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-inputNumber  formControlName="fDuration" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5">

   </p-inputNumber>

</div>
</div>
<hr>
</div>

</div>

<div formGroupName="responsability">

<div class="row  mt-3 justify-content-around">

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Prestataire de service' | translate}} *</label>
    <span *ngIf="(maintenacePlanForm.controls['responsability'].get('fServiceProvider').touched && maintenacePlanForm.controls['responsability'].get('fServiceProvider').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['responsability'].get('fServiceProvider').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <br />
    <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
        [filter]="true" [options]="serviceProviderList"
       [showClear]="true" (onChange)="onSelectPServiceProvider($event)" formControlName="fServiceProvider"></p-dropdown>
  </div>
  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Responsabilité' | translate}} *</label>

    <span *ngIf="(maintenacePlanForm.controls['responsability'].get('fResponsability').touched && maintenacePlanForm.controls['responsability'].get('fResponsability').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['responsability'].get('fResponsability').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
        [filter]="true" [options]="responsabilityList"
       [showClear]="true"(onChange)="onSelectResponsability($event)" formControlName="fResponsability"></p-dropdown>
  </div>

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Agent' | translate}} *</label>

    <span *ngIf="(maintenacePlanForm.controls['responsability'].get('fagent').touched && maintenacePlanForm.controls['responsability'].get('fagent').invalid) ||
    (isFormSubmitted && maintenacePlanForm.controls['responsability'].get('fagent').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
    </span>
    <input type="text" class="form-control" formControlName="fagent" pInputText   />
  </div>
  <div class="form-group col-md-3 ">
  </div>
</div>
</div>
      </form>
 </div>


 <div class="card m-5 ">
  <div class="card-header" style="background-color: #f7f7f7;">
   <div class="row">

    <div class="col-xs-4 col-md-4 pull-left">
      <button

        type="button"
        class="btn btn-sm btn-primary mx-1"
        (click)="onShowDialogAction()"
        ><!--ADD-->
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class=" col-xs-4 col-md-6 pull-center">
      <span style="font-size: 16px; color: #5f5b5b;">
        <b> {{ "Liste des actions" | translate }}</b></span
      >
    </div>
  </div></div>
  <div class="card-body border-top-primary">
    <p-table
    [value]=" this.selectedMaintenancePlan?.actions" [lazy]="true" [rows]="size" [paginator]="true"
    [totalRecords]=" this.selectedMaintenancePlan
    ?.actions?.length">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "operation" | translate }}</th>
          <!-- <th>{{ "Prix" | translate }}</th> -->
          <th style="width: 15%;">{{ "Actions" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr>
          <td>{{line?.actionType?.code}}</td>

          <td>
            <button

            type="button"
            class="btn btn-sm btn-primary mx-1"
            (click)="onShowDialogAction(line)"
            ><!--ADD-->
            <i class="fa fa-pencil"></i>
          </button>
          <button

          type="button"
          class="btn btn-sm btn-danger mx-1"
          (click)="onDeleteMaintenanceLine(line.id)"
          ><!--ADD-->
          <i class="fa fa-trash"></i>
        </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="text-center mt-3 mr-3 ml-3" >
  <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
    {{'Fermer' | translate}}
  </a>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
    {{'Valider et continuer' | translate }}
  </button>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
    {{ "Valider" | translate }}
  </button>
</div>

</div>


<div *ngIf="showDialog == true">
  <app-action-edit
    (showDialog)="onHideDialogAction($event)"
    (lineActionEdited)="onLineEditedAction($event)"
     [selectedAction]="selectAction"
     [editMode]="editMode"
    ></app-action-edit>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
