<div class="card mt-4">
  <div class="card-header">
    <span class="h4">{{ editModeTitle | translate }}</span>
  </div>
  <div class="card-body border-top-primary" >
    <form  [formGroup]="maintenacePlanForm">

      <div class="row  mt-3 justify-content-around">

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{'Type de programme'| translate}} *</label>

          <br />
          <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
          [filter]="true" [options]="programTypeList"
         [showClear]="true" (onChange)='onSelectProgrameType($event)' formControlName="fProgram"></p-dropdown>
    </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold ">{{"Type d'operation" | translate}} *</label>

          <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
              [filter]="true" [options]="operationTypeList"
             [showClear]="true" formControlName="fOperation"></p-dropdown>
        </div>

        <div class="form-group col-md-6"></div>
 </div>


 <div class="row  mt-3 justify-content-around">

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'patrimoine' | translate}} *</label>

    <br />
    <p-autoComplete [(ngModel)]="patrimonySearch" [suggestions]="patrimonyList"
    (completeMethod)="onPatrimonySearch($event)" formControlName="fPatrimony"


    ></p-autoComplete>
  </div>
  <div class="form-group col-md-9 ">


  </div>


</div>

<hr>
<div class="row  mt-3 justify-content-around">

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Date debut' | translate}} *</label>

    <br />
    <p-calendar [monthNavigator]="true"  [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
    yearRange="1970:2100"  formControlName="fDateStart"> </p-calendar>
  </div>


  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Date fin'| translate}} *</label>

    <br />
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
     yearRange="1970:2100" formControlName="fDateEnd"></p-calendar>
</div>

  <div class="form-group col-md-6"></div>
</div>





<div class="row  mt-3 justify-content-around">

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'périodicité' | translate}} *</label>

    <br />
    <p-dropdown [autoDisplayFirst]="false" [options]="periodicityTypeList" optionLabel="code"
    [filter]="true"  (onChange)="onChangePeriodicity($event)"
   [showClear]="true" formControlName="fPeriodicity"></p-dropdown>
  </div>


  <div class="form-group col-md-9" *ngIf="(this.periodicityMode===1)">

        <label class="font-weight-bold ">{{'répéter le '| translate}} {{selectedTypes}}*</label>
    <br />

    <p-selectButton [options]="types" formControlName="frepeatDate" [(ngModel)]="selectedTypes" multiple="multiple"
   ></p-selectButton>

</div>

<div class="form-group col-md-3" *ngIf="(this.periodicityMode===2 || this.periodicityMode===3)">

  <label class="font-weight-bold ">{{'répéter le '| translate}} *</label>
<br />
<p-calendar [monthNavigator]="true" formControlName="frepeatDate" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
yearRange="1970:2100"></p-calendar>

</div>
<div class="form-group col-md-6" *ngIf="(this.periodicityMode===2 || this.periodicityMode===3)">
</div>
  <div class="form-group col-md-9" ></div>
</div>


<div class="row  mt-3 justify-content-around">
  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Déclanchement' | translate}} *</label>
    <br />
    <p-inputNumber [(ngModel)]="value4" mode="decimal"
    [showButtons]="true" [min]="0" [max]="5" formControlName="frepeatDate">
    </p-inputNumber>

    </div>
  <div class="form-group col-md-9 ">
</div>
</div>
<hr>



<div class="row  mt-3 justify-content-around">
  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Prestataire de service' | translate}} *</label>
    <br />

    <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
        [filter]="true" [options]="serviceProviderList"
       [showClear]="true"  formControlName="fServiceProvider"></p-dropdown>
  </div>
  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Responsabilité' | translate}} *</label>
    <br />

    <p-dropdown [autoDisplayFirst]="false"  optionLabel="code"
        [filter]="true" [options]="responsabilityList"
       [showClear]="true" formControlName="fResponsability"></p-dropdown>
  </div>

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold ">{{'Agent' | translate}} *</label>
    <br />
    <input type="text" class="form-control" formControlName="fagent" pInputText   />
  </div>
  <div class="form-group col-md-3 ">
  </div>
</div>


      </form>
 </div>


 <div class="card mt-3">
  <div class="card-header" style="background-color: #f7f7f7;">
   <div class="row">

    <div class="col-xs-4 col-md-4 pull-left">
      <button

        type="button"
        class="btn btn-sm btn-primary mx-1"
        (click)="onShowDialogAction()"
        ><!--ADD-->
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class=" col-xs-4 col-md-6 pull-center">
      <span style="font-size: 16px; color: #5f5b5b;">
        <b> {{ "Liste des actions" | translate }}</b></span
      >
    </div>
  </div></div>
  <div class="card-body border-top-primary">
    <p-table
    [value]=" this.selectedMaintenancePlan?.actions" [lazy]="true" [rows]="size" [paginator]="true"
    [totalRecords]=" this.selectedMaintenancePlan
    ?.actions?.length">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "operation" | translate }}</th>
          <!-- <th>{{ "Prix" | translate }}</th> -->
          <th style="width: 15%;">{{ "Actions" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr>
          <td>{{line?.actionType?.code}}</td>

          <td>
            <button

            type="button"
            class="btn btn-sm btn-primary mx-1"
            (click)="onShowDialogAction(line)"
            ><!--ADD-->
            <i class="fa fa-pencil"></i>
          </button>
          <button

          type="button"
          class="btn btn-sm btn-danger mx-1"
          (click)="onDeleteMaintenanceLine(line.action.id)"
          ><!--ADD-->
          <i class="fa fa-trash"></i>
        </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="text-center mt-3 mr-3 ml-3" >
  <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
    {{'Fermer' | translate}}
  </a>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
    {{'Valider et continuer' | translate }}
  </button>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
    {{ "Valider" | translate }}
  </button>
</div>

</div>


<div *ngIf="showDialog == true">
  <app-action-edit
    (showDialog)="onHideDialogAction($event)"
    (lineActionEdited)="onLineEditedAction($event)"
     [selectedAction]="selectAction"
     [editMode]="editMode"
    ></app-action-edit>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
