<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-tabView>

  <p-tabPanel *hasPermission="['ACCOUNT_VIEW']" header="{{'Adresse' | translate }}"   headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
                 <app-delivery-address></app-delivery-address>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['ACCOUNT_VIEW']" header="{{ 'Ville' | translate}}"  headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <app-city></app-city>
      </ng-template>
  </p-tabPanel>

</p-tabView>
