<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-tabView>
  <p-tabPanel *hasPermission="['CATEGORY_VEHICLE_VIEW']" header="{{ 'Catégorie de véhicule' | translate }}" headerStyleClass="onglet-p-3">
      <ng-template pTemplate="content">
         <app-vehicle-categorie></app-vehicle-categorie>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['CONSUMPTION_TYPE_VIEW']" header="{{ 'Type de contrat' | translate }}" headerStyleClass="onglet-p-3">
      <ng-template pTemplate="content">
        <app-contract-type></app-contract-type>
      </ng-template>
  </p-tabPanel>

  <p-tabPanel *hasPermission="['CONSUMPTION_TYPE_VIEW']" header="{{ 'Type de consommation ' | translate }}" headerStyleClass="onglet-p-3">
    <ng-template pTemplate="content">
      <app-comsumption-type></app-comsumption-type>
    </ng-template>
</p-tabPanel>




</p-tabView>
