<p-tabView>

  <p-tabPanel header="Véhicule Catégorie" headerStyleClass="m-three">
      <ng-template pTemplate="content">
                 <app-vehicle-categorie></app-vehicle-categorie>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Type Contrat" headerStyleClass="m-three">
      <ng-template pTemplate="content">
        <app-contract-type></app-contract-type>
      </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Type Consommation" headerStyleClass="m-three">
    <ng-template pTemplate="content">
      <app-comsumption-type></app-comsumption-type>
    </ng-template>
</p-tabPanel>



</p-tabView>
