<div class="content" style="margin-top: 10%;">
  <div class="brand" >
    <a class="link" routerLink="/index">EMS-TMS</a>
  </div>
  <form id="login-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h2 class="login-title">Log in</h2>
    <div class="form-group">
      <div class="input-group-icon right">
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
        <input  pInputText  class="form-control" type="email" name="email" placeholder="Email" autocomplete="off" ngModel>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group-icon right">
        <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
        <input pInputText  class="form-control" type="password" name="password" placeholder="Password" ngModel>
      </div>
    </div>
    <div class="form-group d-flex justify-content-between">
      <label class="ui-checkbox ui-checkbox-info">
        <input type="checkbox">
        <span class="input-span"></span>Remember me</label>
      <a routerLink="/forgot_password">Forgot password?</a>
    </div>
    <div class="form-group">
      <button class="btn btn-info btn-block" type="submit">Login</button>
    </div>
  </form>
</div>


<ngx-spinner></ngx-spinner>
