

<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '500px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="catalogTransportTypeForm">

        <div class="row justify-content-around">
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Type " | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fTurnType').touched &&
                  catalogTransportTypeForm.get('fTurnType').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fTurnType').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>
            <p-dropdown [autoDisplayFirst]="false" [disabled]="this.editMode"  [options]="turnTypeList" optionLabel="code" [filter]="true"
              [showClear]="true"  (onChange)="onSelectTurnType($event)"
              formControlName="fTurnType">
            </p-dropdown>
          </div>
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Categorie Véhicule" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fVehicleCategory').touched &&
                  catalogTransportTypeForm.get('fVehicleCategory').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fVehicleCategory').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>
            <p-dropdown [autoDisplayFirst]="false" [options]="vehicleCategorieList" optionLabel="code" [filter]="true"
              [showClear]="true" [disabled]="this.editMode" (onChange)="onSelectVehicleCateory($event)"
              formControlName="fVehicleCategory">
            </p-dropdown>
          </div>

          </div>

        <div class="row justify-content-around">


          <!-- <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Transport" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fTransport').touched &&
                  catalogTransportTypeForm.get('fTransport').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fTransport').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>

            <p-autoComplete [disabled]="(editMode==2)" formControlName="fTransport" [suggestions]="transportList"
              (onSelect)="onSelectTransport($event)" (completeMethod)="onTransportSearch($event)" field="name">
            </p-autoComplete>


          </div> -->

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Ville Source " | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fVilleSource').touched &&
                  catalogTransportTypeForm.get('fVilleSource').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fVilleSource').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>


            <p-autoComplete [disabled]="this.editMode" formControlName="fVilleSource" [suggestions]="villeList"
              (onSelect)="onSelectVilleSource($event)" (completeMethod)="onVilleSourceSearch($event)" field="code">
            </p-autoComplete>

          </div>

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Ville Destination" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fVilleDestination').touched &&
                  catalogTransportTypeForm.get('fVilleDestination').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fVilleDestination').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>
            <p-autoComplete [disabled]="this.editMode" formControlName="fVilleDestination" [suggestions]="villeList"
              (onSelect)="onSelectVilleDestination($event)" (completeMethod)="onVilleSourceSearch($event)" field="code">
            </p-autoComplete>

          </div>



          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Montant HT" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fAmountHt').touched &&
                  catalogTransportTypeForm.get('fAmountHt').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fAmountHt').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>
            <br />
            <input type="text" class="form-control" (keyup)="onPriceChange(1)" pInputText
              formControlName="fAmountHt" />

            <!-- <div class="ui-inputgroup">
                <input type="text"  pInputText (keyup)="onPriceChange(1)" formControlName="fAmountHt">
                <span class="ui-inputgroup-addon">DH</span>

            </div> -->



          </div>

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Taux TVA" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fVat').touched &&
                  catalogTransportTypeForm.get('fVat').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fVat').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}
            </span>
            <p-dropdown
            appendTo="body"
             [autoDisplayFirst]="false"
             [options]="vatList"
               [filter]="true"
               optionLabel="value"
              [showClear]="true"
               (onChange)="onSelectVat($event)"
                formControlName="fVat"></p-dropdown>

          </div>

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Montant TTC" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fAmountTtc').touched &&
                  catalogTransportTypeForm.get('fAmountTtc').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fAmountTtc').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>
            <br />
            <input type="text" class="form-control" (keyup)="onPriceChange(2)" pInputText
              formControlName="fAmountTtc" />

            <!-- <div class="ui-inputgroup">
                <input type="text"  pInputText (keyup)="onPriceChange(2)"
                formControlName="fAmountTtc">
                <span class="ui-inputgroup-addon">DH</span>
            </div> -->

          </div>
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{ "Montant TVA" | translate }} *</label>
            <span *ngIf="
                (catalogTransportTypeForm.get('fAmountTva').touched &&
                  catalogTransportTypeForm.get('fAmountTva').invalid) ||
                (isFormSubmitted &&
                  catalogTransportTypeForm.get('fAmountTva').invalid)
              " class="text-lighter" style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}

            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="fAmountTva"
              (keydown.space)="$event.preventDefault()" />

            <!-- <div class="ui-inputgroup">
                <input type="text"  pInputText
                formControlName="fAmountTva" (keydown.space)="$event.preventDefault()">
                <span class="ui-inputgroup-addon">DH</span>
            </div> -->

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="p-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="p-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
