<p>sample works!</p>
<input type="text" pInputText />
<h3>Severity Buttons</h3>
<button type="button" label="Primary" class="btn btn-primary mr-2" (click)="onPrimaryClick1()">Primary</button>
<button type="button" label="Secondary" class="btn btn-secondary mr-2" (click)="onPrimaryClick2()">Secondary</button>
<button type="button" label="Success" class="btn btn-success mr-2" (click)="onPrimaryClick3()">Success</button>
<button type="button" label="Info" class="btn btn-info mr-2" (click)="onPrimaryClick4()">Info</button>
<button type="button" label="Warning" class="btn btn-warning mr-2">Warning</button>
<button type="button" label="Danger" class="btn btn-danger mr-2">Danger</button>
