<div
class="container-fluid "
style="background:url(images/hhhhh.jpg); width: 100%;height: 100%;background-size:100%;position: fixed;"
>
<div class="m-5">
  <button
    type="button"
    class="btn btn float-left btn-outline-primary m-5 "
  >
    <i class="fa fa-user"></i> Profil
  </button>
  <button
    type="button"
    class="btn btn float-right  btn-outline-primary m-5 "
  >
    <i class="fa fa-sign-out"></i> Deconnexion
  </button>
</div>

<div class="container">
  <div class="row centered" style="margin: 20% 15% 15% 15%;">

     <div class="col-md-4" >

      <div class="text-center p-3"  style="border-radius:5px ;background-color:#253544;">
        <img src="images/chauffeur.png" style="width: 70px;height:70px;" class="mb-2"><br>
        <a href="">
          Chauffeur
        </a>
      </div>


      <div class="text-center p-3 mt-3"  style="border-radius:5px ;background-color:#253544;">
        <img src="images/truck.png" style="width: 70px;height:70px;" class="mb-2"><br>
        <a href="">
          Véhicule
        </a>
      </div>

     </div>


     <div class="col-md-4" >

        <div class="text-center p-3"  style="border-radius:5px ;background-color:#253544;">
            <img src="images/maintenance.png" style="width: 70px;height:70px;" class="mb-2"><br>
            <a href="">
              Maintenance
            </a>
          </div>
          <div class="text-center p-3 mt-3"  style="border-radius:5px ;background-color:#253544;">
            <img src="images/1435085.png" style="width: 70px;height:70px;" class="mb-2"><br>
            <a href="">
              Badge
            </a>
        </div>

   </div>
<div class="col-md-4" >

<div class="text-center p-3"  style="border-radius:5px ;background-color:#253544;">
<img src="images/assurance_auto.png" style="width: 70px;height:70px;" class="mb-2"><br>
<a href="">
Assurance
</a>
</div>
<div class="text-center p-3 mt-3"  style="border-radius:5px ;background-color:#253544;">
<img src="images/truck.png" style="width: 70px;height:70px;" class="mb-2"><br>
<a href="">
Chauffeur
</a>
</div>

</div>




  </div>
</div>
</div>
