
<!-- <p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '800px' }"
(onHide)='onShowDialog()'
>
<div> -->

  <div class="card mt-4">
    <div class="card-header">
      <span class="h4">{{   this.title | translate }}</span>
    </div>
    <div class="card-body border-top-primary" >
  <div class="modal-body">
    <div class="card-body">

      <form [formGroup]="transportForm">

        <div class="row  justify-content-around">

          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Nom' | translate}} *</label>
            <span *ngIf="(transportForm.get('name').touched && transportForm.get('name').invalid) ||
            (isFormSubmitted && transportForm.get('name').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="name"
           />
          </div>

          <div class="form-group col-sm-8">
            <label class="font-weight-bold">{{'Description' | translate}} </label>

            <br />
            <input type="text" class="form-control" pInputText formControlName="description"
           />
          </div>


        </div>

        <div class="row  justify-content-around">

          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Pays' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="country"
           />
          </div>

          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Ville' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="city"
           />
          </div>
          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Code Postale' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="zip"
           />
          </div>
        </div>

        <div class="row  justify-content-around">

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{'Addresse ' | translate}} *</label>
            <span *ngIf="(transportForm.get('line1').touched && transportForm.get('line1').invalid) ||
            (isFormSubmitted && transportForm.get('line1').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <input type="text" class="form-control" pInputText formControlName="line1"
           />
          </div>

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{'Addresse 2' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="line2"
           />
          </div>

        </div>

      </form>
    </div>
  </div>



<p-tabView>

  <p-tabPanel *hasPermission="['ACCOUNT_VIEW']" header="{{'Tarif Standard' | translate }}"   headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <div class="card " style=" border:none">
          <div class="card-header" style="background-color: #f7f7f7; border:none">
           <div class="row">


          <div class="col-xs-4 col-md-4 pull-left">
            <button

              type="button"
              class="btn btn-sm btn-primary mx-1"
              (click)="onShowDialogCatalogue(selectedtransport,false)"
              ><!--ADD-->
              <i class="fa fa-plus"></i>
            </button>
          </div>
            <div class=" col-xs-4 col-md-6 pull-center">
              <span style="font-size: 14px; color: #5f5b5b;">
                <b> {{ "Liste  Tarifs Standard" | translate }}</b></span
              >
            </div>
          </div></div>
          <div class="card-body border-top-primary" style="    padding: 0px;">
            <p-table
              [value]="catalogueTransports"
              [rows]="10"
              [paginator]="true"
              [lazy]="true"
              [totalRecords]="catalogueTransports?.length"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ "Type" | translate }}</th>
                  <th>{{ "Catégorie" | translate }}</th>
                  <th>{{ "Source" | translate }}</th>
                  <th>{{ "Destination" | translate }}</th>
                  <th>{{ "Montant Ht" | translate }}</th>
                  <th>{{ "Montant TVA" | translate }}</th>
                  <th>{{ "TVA" | translate }}</th>

                  <th style="width: 15%;">{{ "Actions" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-catalogue>
                <tr>
                  <td>{{ catalogue?.turnType?.code }}</td>
                  <td>{{ catalogue?.vehicleCategory?.code }}</td>
                  <td>{{ catalogue?.villeSource?.code }}</td>
                  <td>{{ catalogue?.villeDestination?.code }}</td>
                  <td>{{ catalogue?.amountHt }}</td>
                  <td>{{ catalogue?.amountTtc }}</td>
                  <td>{{ catalogue?.amountTva }}</td>


                  <td>
                    <button

                    type="button"
                    class="btn btn-sm btn-secondary mx-1"
                    title="Generer Tarif Client."
                    (click)="onShowDialogAccountPricingByCatalogue(catalogue,true)"
                    ><!--ADD-->
                    <i class="fa fa-user-circle-o"></i>
                  </button>
                    <button

                    type="button"
                    class="btn btn-sm btn-primary mx-1"
                    (click)="onShowDialogCatalogue(catalogue,true)"
                    ><!--ADD-->
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button

                  type="button"
                  class="btn btn-sm btn-danger mx-1"
                  (click)="onDeleteCatalogue(catalogue.id)"
                  ><!--ADD-->
                  <i class="fa fa-trash"></i>
                </button>

                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['ACCOUNT_VIEW']" header="{{ 'Tarif Client' | translate}}"  headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">


        <div class="card " style=" border:none">
          <div class="card-header" style="background-color: #f7f7f7; border:none">
           <div class="row">


          <div class="col-xs-4 col-md-4 pull-left">
            <button

              type="button"
              class="btn btn-sm btn-primary mx-1"
              (click)="onShowDialogAccountPricing(selectedtransport,false)"
              ><!--ADD-->
              <i class="fa fa-plus"></i>
            </button>
          </div>
            <div class=" col-xs-4 col-md-6 pull-center">
              <span style="font-size: 14px; color: #5f5b5b;">
                <b> {{ "Liste  Tarifs Standard" | translate }}</b></span
              >
            </div>
          </div></div>
          <div class="card-body border-top-primary" style="    padding: 0px;">
            <p-table
              [value]="accountPricings"
              [rows]="10"
              [paginator]="true"
              [lazy]="true"
              [totalRecords]="accountPricings?.length"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ "Client" | translate }}</th>

                  <th>{{ "Type" | translate }}</th>
                  <th>{{ "Catégorie" | translate }}</th>
                  <th>{{ "Source" | translate }}</th>
                  <th>{{ "Destination" | translate }}</th>
                  <th>{{ "Montant Ht" | translate }}</th>
                  <th>{{ "Prix Client" | translate }}</th>

                  <th style="width: 15%;">{{ "Actions" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-pricing>
                <tr>
                  <td>{{ pricing?.account?.name }}</td>
                  <td>{{ pricing?.catalogTransportType?.turnType?.code }}</td>
                  <td>{{ pricing?.catalogTransportType?.vehicleCategory?.code }}</td>
                  <td>{{ pricing?.catalogTransportType?.villeSource?.code }}</td>
                  <td>{{ pricing?.catalogTransportType?.villeDestination?.code }}</td>
                  <td>{{ pricing?.catalogTransportType?.amountHt }}</td>
                  <td>{{ pricing?.price }}</td>


                  <td>
                    <button

                    type="button"
                    class="btn btn-sm btn-primary mx-1"
                    (click)="onShowDialogAccountPricing(pricing,true)"
                    ><!--ADD-->
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button

                  type="button"
                  class="btn btn-sm btn-danger mx-1"
                  (click)="onDeleteAccountPricing(catalogue.id)"
                  ><!--ADD-->
                  <i class="fa fa-trash"></i>
                </button>

                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>



      </ng-template>
  </p-tabPanel>



</p-tabView>



</div>




<div class="text-center mt-3 mr-3 ml-3" >

  <div class="text-center mt-3 mr-3 ml-3" >
    <a class="btn btn-primary m-1" [routerLink]="['/core/settings/transport']">
      {{'Fermer' | translate}}
    </a>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
      {{'Valider et continuer' | translate }}
    </button>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
      {{ "Valider" | translate }}
    </button>
  </div>
</div>
</div>


<!-- </div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="p-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="p-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog> -->
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>


<div *ngIf="showDialogCatalogue == true">
  <app-catalogue-transport-edit
    (showDialog)="onHideDialogCAtalogue($event)"
    (catalogTransportTypeAdded)="onLineCatalogueEdited($event)"
     [selectCatalogTransportType]="selectCatalogueTransport"
     [editMode]="editModeCatalogue"
    ></app-catalogue-transport-edit>
</div>


<div *ngIf="showDialogAccountPricing == true">
  <app-account-pricing-edit
    (showDialog)="onHideDialogAccountPricing($event)"
    (accountPricingAdded)="onLineAccountPricingEdited($event)"
     [selectedAccountPricing]="selectAccountPricing"
     [editMode]="editModeAccountPricing"
    ></app-account-pricing-edit>
</div>
