
<!-- <p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '800px' }"
(onHide)='onShowDialog()'
>
<div> -->

  <div class="card mt-4">
    <div class="card-header">
      <span class="h4">{{   this.title | translate }}</span>
    </div>
    <div class="card-body border-top-primary" >
  <div class="modal-body">
    <div class="card-body">

      <form [formGroup]="transportForm">

        <div class="row  justify-content-around">

          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Code' | translate}} *</label>

            <br />
            <input type="text" class="form-control" pInputText formControlName="code"
           />
          </div>
          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Nom' | translate}} *</label>
            <span *ngIf="(transportForm.get('name').touched && transportForm.get('name').invalid) ||
            (isFormSubmitted && transportForm.get('name').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="name"
           />
          </div>
<div class="form-group col-sm-2">
            <label class="font-weight-bold">{{'Actif' | translate}} </label>

            <br />

             <div class="field-checkbox">
            <p-checkbox formControlName="active" [(ngModel)]="this.selectedTransport.active" name="active"(onChange)="onSelectActive($event)" [binary]="true" inputId="active"></p-checkbox>
            <label class="font-weight-bold" for="active">{{this.selectedTransport.active?"Oui":"Non"}}</label>
          </div>
        </div>
          <div class="form-group col-sm-2">
            <label class="font-weight-bold">{{'Interne' | translate}} </label>

            <br />
            <div class="field-checkbox">
            <p-checkbox formControlName="intern" [(ngModel)]="this.selectedTransport.interneOrExterne" name="intern"(onChange)="onSelectIntern($event)" [binary]="true" inputId="intern"></p-checkbox>
            <label class="font-weight-bold" for="intern">{{this.selectedTransport.interneOrExterne?"Oui":"Non"}}</label>
          </div>
        </div>


        </div>

        <div class="row  justify-content-around">

          <div class="form-group col-sm-12 col-md-4">
            <label class="font-weight-bold">{{'Tel 1' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="tel1" />
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label class="font-weight-bold">{{'email' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="email" />
          </div>
          <div class="form-group col-sm-2">
            <label class="font-weight-bold">{{'Facture Transport' | translate}} </label>

            <br />

             <div class="field-checkbox">
            <p-checkbox formControlName="factureTransport" [(ngModel)]="this.selectedTransport.factureTransport" name="factureTransport"(onChange)="onSelectFactureTransport($event)" [binary]="true" inputId="active"></p-checkbox>
            <label class="font-weight-bold" for="factureTransport">{{this.selectedTransport.factureTransport?"Oui":"Non"}}</label>
          </div>
        </div>
          <div class="form-group col-sm-2">
            <label class="font-weight-bold">{{'Facture Service' | translate}} </label>

            <br />
            <div class="field-checkbox">
            <p-checkbox formControlName="factureService" [(ngModel)]="this.selectedTransport.factureService" name="factureService"(onChange)="onSelectFactureService($event)" [binary]="true" inputId="intern"></p-checkbox>
            <label class="font-weight-bold" for="factureService">{{this.selectedTransport.factureService?"Oui":"Non"}}</label>
          </div>
        </div>
        </div>


        <div class="row  justify-content-around">

          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Pays' | translate}} </label>
            <br />
            <!-- <input type="text" class="form-control" pInputText formControlName="country"  /> -->
            <p-autoComplete  formControlName="country" [suggestions]="paysList"
            (onSelect)="onSelectPays($event)" (completeMethod)="onPaysSearch($event)" field="code">
          </p-autoComplete>

          </div>

          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Ville' | translate}} </label>
            <br />
            <!-- <input type="text" class="form-control" pInputText formControlName="city"/> -->
            <p-autoComplete  formControlName="city" [suggestions]="villeList"
            (onSelect)="onSelectVille($event)" (completeMethod)="onVilleSearch($event)" field="code">
          </p-autoComplete>
          </div>
          <div class="form-group col-sm-4">
            <label class="font-weight-bold">{{'Code Postale' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="zip"
           />
          </div>
        </div>

        <div class="row  justify-content-around">

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{'Addresse ' | translate}} </label>
            <!-- <span *ngIf="(transportForm.get('line1').touched && transportForm.get('line1').invalid) ||
            (isFormSubmitted && transportForm.get('line1').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span> -->
            <input type="text" class="form-control" pInputText formControlName="line1"
           />
          </div>

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{'Addresse 2' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="line2"
           />
          </div>

        </div>

      </form>
    </div>
  </div>



<p-tabView>

  <p-tabPanel [cache]="false" *hasPermission="['ACCOUNT_VIEW']" header="{{'Tarif Trajet Standard' | translate }}"   headerStyleClass="onglet-p-4">
      <ng-template pTemplate="content">
        <div class="card " style=" border:none">
          <span *ngIf="this.showTransportCatalogPricing==true">
          <app-transport-catalog-pricing [selectedTransport]="this.selectedTransport" (catalogTransportPricingListEdited)="onCatalogTransportPricingEdited($event)"></app-transport-catalog-pricing>
        </span>
        </div>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel  [cache]="false" *hasPermission="['ACCOUNT_VIEW']" header="{{ 'Tarif Trajet Client' | translate}}"  headerStyleClass="onglet-p-4">
      <ng-template pTemplate="content">


        <div class="card " style=" border:none">
          <span *ngIf="this.showTransportCatalogPricing==true">
            <app-transport-account-pricing [selectedTransport]="this.selectedTransport" (catalogTransportAccountPricingListEdited)="onCatalogTransportAccountPricingEdited($event)"></app-transport-account-pricing>
          </span>
        </div>



      </ng-template>
  </p-tabPanel>

  <p-tabPanel  header="{{ 'Tarif Service' | translate}}"  headerStyleClass="onglet-p-4">


    <ng-template pTemplate="content">


      <div class="card " style=" border:none">
        <span *ngIf="this.showTransportCatalogPricing==true">
          <app-transport-service [selectedTransport]="this.selectedTransport" (catalogTransportServiceListEdited)="onCatalogTransportServiceEdited($event)"></app-transport-service>
        </span>
      </div>



    </ng-template>

  </p-tabPanel>

  <p-tabPanel  [cache]="false" *hasPermission="['ACCOUNT_VIEW']" header="{{ 'Tarif Service Client' | translate}}"  headerStyleClass="onglet-p-4">
    <ng-template pTemplate="content">


      <div class="card " style=" border:none">
        <span *ngIf="this.showTransportCatalogPricing==true">
          <app-transport-account-service [selectedTransport]="this.selectedTransport" (catalogTransportAccountServiceistEdited)="onCatalogTransportAccountServiceEdited($event)"></app-transport-account-service>
        </span>
      </div>



    </ng-template>
</p-tabPanel>

</p-tabView>



</div>




<div class="text-center mt-3 mr-3 ml-3" >

  <div class="text-center mt-3 mr-3 ml-3" >
    <a class="btn btn-primary m-1" [routerLink]="['/core/settings/transport']">
      {{'Fermer' | translate}}
    </a>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
      {{'Valider et continuer' | translate }}
    </button>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
      {{ "Valider" | translate }}
    </button>
  </div>
</div>
</div>


<!-- </div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="p-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="p-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog> -->
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>





