<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog" [focusOnShow]="false"
 [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '50vw' }" (onHide)='onHideDialog()'>

<div class="card">
  <p-dataView #dv [value]="vehicleAvailable" [layout]="'list'"
  [paginator]="true" [rows]="5" filterBy="code"
     layout="grid">
      <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between" >
              <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown> -->
              <span class="p-input-icon-left mb-2 md:mb-0" style="width: 40%;">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Rechercher par code" (input)="dv.filter($event.target.value)">

              </span>
              <span class="p-input-icon-right mb-2 md:mb-0 float-right" style="width: 40%;display: flex;">
                <a (click)="disponible()" class="customer-badge status-4" style="    width: 99%;">Disponible </a>
                <a (click)="indisponible()" class="customer-badge status-2" style="    width: 99%;">Indisponible </a>
            </span>
          </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem" let-index="rowIndex">
          <div class="p-col-12">
              <div class="product-list-item">
                <img [src]=" 'data:image/png;base64,' + product?.vehicleCategory?.file "class="product-image" />

                <!-- <img  src="./assets/img/services-fret.jpg" alt="Bracelet"> -->
                  <div class="product-list-detail">
                      <div class="product-name">Matricule : {{product.registrationNumber}}</div>
                      <div class="product-category">Code :{{product.code}}</div>

                      <span class="product-category">Catégorie :{{product?.vehicleCategory?.code}} </span>
                      <div class="product-category">Dernier point connu :{{product.lastPointCity}} - {{product.lastPointDate | date:'dd-MM-yyyy'}} {{product.lastPointDate | date:'H:mm'}} </div>

                      <!-- <div class="product-category">le dernier point de livraison :{{product?.lastCity}} </div> -->

                      <div *ngIf="product?.vehicleTray?.code!=null" class="product-category">Form : {{product?.vehicleTray?.code}}</div>
                    </div>
                  <div class="product-list-action">
                    <!-- [disabled]="product.state === 'Trajet'" -->
                      <p-button icon="pi pi-plus" label="Sélectionner" (click)="onSelectVehicle(product)" ></p-button>
                      <span [class]="'customer-badge status-' + product.disponible" style="    width: 99%;">{{getDisponible(product.disponible)}} </span>
                  </div>

              </div>


              <p-accordion>
                  <p-accordionTab>
                    <ng-template pTemplate="header"
                      ><a (click)="geDetailsOT(product.registrationNumber,index)">Détails des OT planifiés</a>
                      </ng-template
                    >
                    <ng-template pTemplate="content">



                      <p-table [value]="detailOtByVehicle[index]"       [responsive]="true"
                      >


                        <ng-template pTemplate="header">
                          <tr>
                            <th>{{ "Ordre Transport" | translate }}</th>
                            <th>{{ "Type" | translate }}</th>

                            <th>{{ "Chauffeur" | translate }}</th>
                            <th>{{ "Trajet" | translate }}</th>
                            <th>{{ "Staus" | translate }}</th>


                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-line>
                          <!-- *ngIf="this.notificationLeaveList.length>0" -->

                          <tr class="ui-selectable-row">

                            <td style="    text-align: center;">
                              <span class="product-category"
                                ><i
                                  class="fa fa-cubes  icon mr-2"
                                  aria-hidden="true"
                                ></i
                                >{{ line.orderTransport?.code }}</span
                              >
                            </td>

                            <td style="    text-align: center;">
                              <span class="product-category"
                                ><i
                                  class="fa fa-cubes  icon mr-2"
                                  aria-hidden="true"
                                ></i
                                >
                                {{ line?.orderTransport?.loadingType?.code }}
                                </span
                              >
                            </td>

                            <td style="    text-align: center;">
                              <span class="product-category"
                                ><i
                                  class="fa fa-user icon mr-2"
                                  aria-hidden="true"
                                ></i
                                >{{ line.driver?.code }}</span
                              >
                            </td>

                            <td style="    text-align: center;">
                              <span class="product-category"
                                ><i
                                  class="fa fa-map-marker icon mr-2"
                                  aria-hidden="true"
                                ></i
                                >{{ line.trajet?.code }}</span
                              >
                            </td>

                            <td style="    text-align: center;">
                              <span class="product-category"
                                ><i
                                  class="fa fa-map-marker icon mr-2"
                                  aria-hidden="true"
                                ></i
                                >{{ line.turnStatus?.code }}</span
                              >
                            </td>

                          </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                          <tr>
                            <td style="text-align: center">
                              Aucun enregistrement trouvé
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>



















                      </ng-template>

                      </p-accordionTab>

                      </p-accordion>

          </div>
      </ng-template>
      <!-- <ng-template let-product pTemplate="gridItem">
          <div class="col-6 md-col-2">
              <div class="product-grid-item card">
                  <div class="product-grid-item-top">
                      <div>
                          <i class="pi pi-tag product-category-icon"></i>
                          <span class="product-category">{{product.vehicleCategory.code}}</span>
                      </div>
                      <span [class]="'customer-badge status-' + product.state">{{product.state}}</span>
                  </div>
                  <div class="product-grid-item-content">
                    <img  src="./assets/img/services-fret.jpg" alt="Bracelet">

                      <div class="product-name">{{product.registrationNumber}}</div>
                      <div class="product-description">{{product.code}}</div>
                  </div>
                  <div class="product-grid-item-bottom">
                      <span class="product-price">--</span>
                      <p-button icon="pi pi-plus" [disabled]="product.state === 'Trajet'"></p-button>
                  </div>
              </div>
          </div>
      </ng-template> -->
  </p-dataView>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button type="button" pButton (click)="onHideDialog()" class="p-button-primary"
        label="{{'Annuler' | translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="p-button-success"
        label="{{ 'Valider' | translate }}"></button>
    </div>
  </p-footer>
</p-dialog>

