<!-- <p-dialog
  header="{{ title | translate }}"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '80%' }"
  (onHide)="onShowDialog()"
> -->

<div class="card mt-4">
  <div class="card-header">
    <span class="h4">{{ 'editMofdeTitle' | translate }}</span>
  </div>
  <div class="card-body border-top-primary" >
      <form [formGroup]="accountForm">

        <div class="row  justify-content-around">

            <div class="form-group col-sm-12 col-md-12">
            <label class="font-weight-bold">{{'Nom' | translate}} *</label>
            <span *ngIf="(accountForm.get('nameA').touched && accountForm.get('nameA').invalid) ||
                (isFormSubmitted && accountForm.get('nameA').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{'Obligatoire'| translate}}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="nameA"
              [ngClass]="{'is-invalid': accountForm.get('nameA').touched && accountForm.get('nameA').invalid}" />
          </div>

          <div class="col-sm-12 col-md-4">

          </div>
        </div>

        <div class="row  justify-content-around">

          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{'Tel 1' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="tel1" />
          </div>
          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{'email' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="email" />
          </div>
        </div>


        <div class="row  justify-content-around">

          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{"Ligne d'adresse 1" | translate}} *</label>
            <span *ngIf="(accountForm.get('line1').touched && accountForm.get('line1').invalid) ||
            (isFormSubmitted && accountForm.get('line1').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{'Obligatoire'| translate}}

            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="line1"
              [ngClass]="{'is-invalid': accountForm.get('line1').touched && accountForm.get('line1').invalid}" />
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{"Ligne d'adresse 2" | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="line2" />
          </div>
        </div>

        <div class="row  justify-content-around">
          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{'Ville' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="city" />
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{'Code postal' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="zipCode" />
          </div>


        </div>
        <div class="row  justify-content-around">

<div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{'Pays' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="country" />
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <label class="font-weight-bold">{{'Société' | translate}}</label><br />

            <p-autoComplete  formControlName="company" [suggestions]="companies"
            (onSelect)="onSelectCompany($event)" (completeMethod)="onCompanySearch($event)" field="code">
          </p-autoComplete>

          </div>
        </div>

        <div class="row  justify-content-around">

          <div class="form-group col-sm-12 col-md-6">
          <label class="font-weight-bold">{{'heure preferentielle de livraison'| translate}}</label><br />

            <p-calendar  [timeOnly]="true" formControlName="deliveryDate" hourFormat="24" inputId="timeonly" ></p-calendar>

          </div>
          <div class="form-group col-sm-12 col-md-6">

          </div>
</div>

      </form>
  </div>
  <p-tabView [activeIndex]="0" >
  <p-tabPanel header="{{ 'Plannings' | translate}}" [disabled]="true" headerStyleClass="onglet-p-5">

    <div class="card  ">
      <div class="card-header" style="background-color: #f7f7f7;">
        <div class="row">

          <div class="col-xs-4 col-md-4 pull-left">
            <button type="button" class="btn btn-sm btn-primary mx-1" (click)="onShowDialogPlanning(this.selectedPlanning,false)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class=" col-xs-4 col-md-6 pull-center">
            <span style="font-size: 16px; color: #5f5b5b;">
              <b> {{ "Liste Planning" | translate }}</b></span>
          </div>
        </div>
      </div>
      <div class="card-body border-top-primary">
        <p-table [value]=" this.selectedAccount?.plannings" [lazy]="true" [rows]="size"
          [paginator]="true" [totalRecords]=" this.selectedAccount
      ?.plannings?.length">
          <ng-template pTemplate="header">
            <tr>


              <th>{{'jour' | translate}}</th>
              <th>{{'Fermeture' | translate}}</th>

              <th>{{'Heure début Matin' | translate}}</th>
              <th>{{'Heure fin Matin '| translate}}</th>
              <th>{{'Heure debut Soir' | translate}}</th>
              <th>{{'Heure fin Soir '| translate}}</th>
              <!-- <th>{{ "Prix" | translate }}</th> -->
              <th style="width: 18%;">{{ "Actions" | translate }}</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-line>
            <tr>
              <td>{{line?.day?.code}}</td>
              <td>{{line?.closingDay}}</td>
              <td>{{line?.morningTimeStart | date: 'HH:mm'}}</td>
              <td>{{line?.morningTimeEnd | date: 'HH:mm'}}</td>
              <td>{{line?.everingTimeStart | date: 'HH:mm'}}</td>
              <td>{{line?.everingTimeEnd | date: 'HH:mm'}}</td>

              <td>

                <button [disabled]="editModePlanning" type="button" class="btn btn-sm btn-primary mx-1"
                  (click)="onShowDialogPlanning(line,true)">
                  <!--ADD-->
                  <i class="fa fa-pencil"></i>
                </button>
                <button [disabled]="editModePlanning" type="button" class="btn btn-sm btn-danger mx-1"
                  (click)="onDeletePlanning(line.day)">
                  <!--ADD-->
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>

  </p-tabPanel>

  </p-tabView>
<div class="text-center mt-3 mr-3 ml-3" >

  <div class="text-center mt-3 mr-3 ml-3" >
    <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
      {{'Fermer' | translate}}
    </a>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
      {{'Valider et continuer' | translate }}
    </button>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
      {{ "Valider" | translate }}
    </button>
  </div>
</div>

</div>


<!-- </p-dialog> -->
<div *ngIf="showDialogPlanning == true">
  <app-planning-edit
   (showDialog)="onHideDialogPlanning($event)"
  (planningEdited)="onLineEditedPlanning($event)"
    [selectedPlanning]="this.selectedPlanning"
    [editMode]="editModePlannig"></app-planning-edit>
</div>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
