

<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '350px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="agencyForm">

        <div class="row  justify-content-around">
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">{{'Code' | translate}} *</label>
            <span *ngIf="(agencyForm.get('code').touched && agencyForm.get('code').invalid) ||
            (isFormSubmitted && agencyForm.get('code').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="code"
            (keydown.space)="$event.preventDefault()"
            />
          </div>
          <div class="form-group col-sm-12">
            <label class="font-weight-bold"> {{'Description' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="description" />
          </div>
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">{{'Zone' | translate}} *</label>
            <span *ngIf="(agencyForm.get('zone').touched && agencyForm.get('zone').invalid) ||
            (isFormSubmitted && agencyForm.get('zone').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
              </span>
              <br />
            <p-autoComplete formControlName="zone" [suggestions]="zoneList"
            (completeMethod)="onZoneSearch($event)" field='code'></p-autoComplete>
        
          </div>
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">{{'Address' | translate}} *</label>
            <span *ngIf="(agencyForm.get('address').touched && agencyForm.get('address').invalid) ||
            (isFormSubmitted && agencyForm.get('address').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
              </span>
              <br />
            <p-autoComplete formControlName="address" [suggestions]="adressList"
            (completeMethod)="onAdressSearch($event)" field='code'></p-autoComplete>
        
          </div>
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">{{'Responsable' | translate}} *</label>
            <span *ngIf="(agencyForm.get('responsable').touched && agencyForm.get('responsable').invalid) ||
            (isFormSubmitted && agencyForm.get('responsable').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <p-autoComplete formControlName="responsable" [suggestions]="responsableList"
            (completeMethod)="onResponsableSearch($event)" field='surname'></p-autoComplete>
        
          </div>
         

        </div>
      </form>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="p-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="p-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
