
<p-dialog
header="{{ title | translate}}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '500px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="commissionTypeForm">

        <div class="row  justify-content-around">
          <div class="form-group col-sm-6">
            <label  class="font-weight-bold ">{{'Code' | translate}} *</label>
            <span *ngIf="(commissionTypeForm.get('code').touched && commissionTypeForm.get('code').invalid) ||
            (isFormSubmitted && commissionTypeForm.get('code').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{ 'Obligatoire' | translate}}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="code"
            (keydown.space)="$event.preventDefault()"
           />
          </div>

          <div class="form-group col-sm-6">
            <label  class="font-weight-bold ">{{'Description' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="description" />
          </div>
          <div class="form-group col-sm-6 ">
            <label class="font-weight-bold ">{{'Distance Min'| translate}} *</label>
            <span *ngIf="(commissionTypeForm.get('fMinDistance').touched && commissionTypeForm.get('fMinDistance').invalid) ||
            (isFormSubmitted && commissionTypeForm.get('fMinDistance').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}
            </span>
             <input type="text" class="form-control"pKeyFilter="num" formControlName="fMinDistance" pInputText  />

           </div>
           <div class="form-group col-sm-6 ">
            <label class="font-weight-bold ">{{'Distance Max'| translate}} *</label>
            <span *ngIf="(commissionTypeForm.get('fMaxDistance').touched && commissionTypeForm.get('fMaxDistance').invalid) ||
            (isFormSubmitted && commissionTypeForm.get('fMaxDistance').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}
            </span>
             <input type="text" class="form-control"pKeyFilter="num" formControlName="fMaxDistance" pInputText  />

           </div>
          <div class="form-group col-sm-6 ">
            <label class="font-weight-bold ">{{'Montant'| translate}} *</label>
            <span *ngIf="(commissionTypeForm.get('fAmount').touched && commissionTypeForm.get('fAmount').invalid) ||
            (isFormSubmitted && commissionTypeForm.get('fAmount').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{ 'Obligatoire' | translate}}
            </span>

            <input type="text" class="form-control"pKeyFilter="num" formControlName="fAmount" pInputText  />

            <!-- <p-inputNumber formControlName="fAmount" [showButtons]="true" mode="currency" currency="MAD">
            </p-inputNumber> -->


           </div>
          <div class="col-md-6"></div>

        </div>
      </form>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="ui-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="ui-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog>
