
<p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>

<div class="card mt-1">
  <div class="card-header">
    <span class="h4">Plan Transport</span>
  </div>

  <div class="card-body border-top-primary">

    <div class="row mt-3 justify-content-around">
      <div class="form-group col-md-6">
   <div class="row ml-5">
    <div class="form-group col-md-5">

 <p-autoComplete
        [suggestions]="villeList"
        (onSelect)="onSelectVilleSource($event)"
        (completeMethod)="onVilleSearch($event)"
        field="code"
        appendTo="body"
        [(ngModel)]="selectedVilleSource"
      >
      </p-autoComplete>
      </div>

      <div class="form-group col-md-2 text-justify">
        <button pButton pRipple type="button" (click)="invertVille()" icon="fa fa-exchange" class="p-button-rounded p-button-secondary p-button-outlined"></button>

        <!-- <p-button styleClass="p-button-outlined">
          <ng-template pTemplate="content">
              <img alt="logo" src="./assets/img/change1.png" />
          </ng-template>
      </p-button> -->

        <!-- <img src="./assets/img/change1.png" style="width: 30px ; height: 30px;"> -->
</div>

      <div class="form-group col-md-5">

        <p-autoComplete
               [suggestions]="villeList"
               (onSelect)="onSelectVilleDistination($event)"
               (completeMethod)="onVilleSearch($event)"
               field="code"
               appendTo="body"
               [(ngModel)]="selectedVilleDistination"
             >
             </p-autoComplete>
             </div>

   </div>
    <div class="row ml-5">
      <div class="form-group col-md-6">
          <button type="text" style="width:100%" class="btn  p-button-success" pButton label="Réinitialiser" (click)="resetSearchByVille()">

            <i class="fa fa-refresh " style="font-size: 2rem"></i> </button>
          </div>
      <div class="form-group col-md-6">

        <button type="text" style="width:100%" pButton label="Recherche" (click)="searchByVille()">

          <i class="pi pi-search" style="font-size: 2rem"></i> </button>
        </div>


    </div>



        </div>
        <div class="form-group col-md-6" style="    padding-left: 6%;">



        </div>
        </div>


    <div class="row mt-3 justify-content-around">
      <div class="form-group col-md-6">

        <p-orderList [value]="orderTransportList"
         (onSelectionChange)="loadTransport($event)"
         [listStyle]="{'max-height':'30rem'}"
        header="Liste des Ordre de Transports"
         [dragdrop]="true"
        >
          <ng-template let-order pTemplate="item">
              <div class="product-item">
                  <div class="image-container" style="    margin-right: 10px;">
                          <!-- <img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" /> -->
                          <h6 style="    font-weight: 500;">{{order?.orderTransportInfoAller?.date | date: 'yyyy'}}</h6>
                          <h6 style="    color: #4084bd;
                          font-size: 30px;
                          font-weight: 600;">{{order?.orderTransportInfoAller?.date | date: 'dd'}}</h6>
                          <h6 style="    font-weight: 500;">{{order?.orderTransportInfoAller?.date | date: 'MMMM'}}</h6>

                        </div>
                  <div class="product-list-detail">
                    <span>Order  :<span style="   color: #4084bd;  font-weight: 500;"> {{order?.code }}</span></span>
                      <h6 style="font-size: 14px;">{{order?.account?.name}}</h6>

                     <span *ngIf="order.turnType.id==1 || order.turnType.id==3"> <i class="pi pi-map-marker product-category-icon" style="color: #e74c3c;"></i>
                     <span class="product-category">Aller : <span style="    font-weight: 500;">{{order?.orderTransportInfoAller?.villeSource?.code}}</span> -> <span style="    font-weight: 500;">{{order?.orderTransportInfoAller?.villeDistination?.code}}</span></span><br>
                    </span>
                    <span *ngIf="order.turnType.id==2 || order.turnType.id==3"> <i class="pi pi-map-marker product-category-icon" style="color: #e74c3c;"></i>
                     <span class="product-category">Retour : <span style="    font-weight: 500;">{{order?.orderTransportInfoRetour?.villeSource?.code}}</span> -> <span style="    font-weight: 500;">{{order?.orderTransportInfoRetour?.villeDistination?.code}}</span></span>
                    </span>
                    </div>
                  <div class="product-list-action">
                      <h6 style="    background: #4084bd;
                      color: #2f4f6a;
                      padding: 4px 14px 4px 14px;
                      border-radius: 5px;">{{order?.turnType?.code}}</h6>
                     <span ><i class="fa fa-bus"></i><b style="font-size: 10px;
                      margin: 5px;">{{order?.vehicleCategory?.code}}</b>-<b style="font-size: 10px;
                      margin: 5px;">{{order?.vehicleTray?.code}}</b></span>


<span ><i class="fa fa-money"></i><b style="font-size: 14px;
  margin: 5px;">{{order?.marginRate| number: '1.1-2'}} %</b></span>
                  </div>

              </div>
          </ng-template>
      </p-orderList>


        </div>

        <div class="form-group col-md-6">
<!-- <span *ngIf="isInterOrPrestataire=='Interne'">
  <p-orderList [value]="vehicleAvailable"  (onSelectionChange)="onSelectVehicle($event)" [listStyle]="{'max-height':'30rem'}"
  header="Liste des Véhicule" filterBy="state"
   filterPlaceholder="Recherche Par Matricule" [dragdrop]="true">
    <ng-template let-vehicle pTemplate="item" >
        <div class="product-item">
            <div class="image-container">
                    <img src="./assets/img/truckCat.png"  class="product-image" />
            </div>
            <div class="product-list-detail">
              <span>Code  :<span style="   color: #4084bd;  font-weight: 600; font-size: 15px;"> {{vehicle?.code}}</span></span><br>

              <span>Matricule  :<span style="   color: #4084bd;  font-weight: 600; font-size: 15px;"> {{vehicle?.registrationNumber}}</span></span>
              <br>
           <i class="pi pi-tag product-category-icon"></i>
              <span style="font-size: 14px;font-weight:600">
                {{vehicle?.vehicleCategory?.code}}</span>

<br>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category"style="     font-weight: 800;     font-size: 17px;" >
                  {{vehicle?.vehicleCategory?.tonnage}}<span style=" color: #4084bd;  font-size: 10px;  font-weight: 800;" >KG</span> </span>
            </div>
            <div class="product-list-action">
                <span [class]="'customer-badge status-'+vehicle.state">{{vehicle.state}}</span>
            </div>
        </div>
    </ng-template>
</p-orderList>

</span> -->
<span >
  <p-orderList [value]="catalogTransportPricingList"  (onSelectionChange)="onselectTransport($event)" [listStyle]="{'max-height':'30rem'}"
  header="Liste des Prestataires" filterBy="registrationNumber" filterPlaceholder="Recherche Par Matricule" [dragdrop]="true">
    <ng-template let-transport pTemplate="item" >
        <div class="product-item">
            <div class="image-container">
                    <img src="./assets/img/transport.png"  class="product-image" />
            </div>
            <div class="product-list-detail">

              <span style="font-size: 14px;font-weight:600">
                {{transport?.transport?.name}}</span>

<br>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category"style="     font-weight: 700;     font-size: 13px;" >
                  {{transport?.vehicleCategory?.code}}
                  </span>
            </div>
            <div class="product-list-action">
                <!-- <h6 class="mb-2">${{vehicle?.vehicleCategory?.tonnage}} KG</h6> -->
                <span [class]="'customer-badge status-price'">{{transport?.marginRate| number: '1.1-2'}} %</span>
            </div>
        </div>
    </ng-template>
</p-orderList>

  </span>


  <div class="row mt-3 justify-content-around">
    <div class="form-group col-md-2"></div>

 <div class="form-group col-md-10">
  <button type="text" style="width:100%" pButton label="Affecter" (click)="affectedTransport()">

    <i class="pi pi-sliders-h" style="font-size: 2rem"></i> </button>
  </div>
</div>
        </div>


        </div>

<form [formGroup]="transportPlanForm" >

  <div class="row m-2 mt-3  justify-content-around divRowInfo" >

    <div class="form-group col-md-3 divLineInfo" >
      <label class="font-weight-bold"
        >{{ "Order" | translate }} *</label>
      <br />
      <input
      formControlName="orderTransport"
      [attr.disabled]="'true'"

        type="text"
        class="form-control"
        pInputText
      />
    </div>

  <div class="form-group col-md-3 divLineInfo">
    <label class="font-weight-bold"
      >{{ "Catégorie" | translate }} *</label>
    <br />
    <input
    formControlName="vehicleCategory"
 [attr.disabled]="'true'"
      type="text"
      class="form-control"
      pInputText
    />
  </div>

  <div class="form-group col-md-3 divLineInfo">
    <label class="font-weight-bold"
      >{{ "Transport" | translate }} *</label>
    <br />
    <input
    formControlName="transport"
    [attr.disabled]="'true'"


      type="text"
      class="form-control"
      pInputText
    />
  </div>

    <div class="form-group col-md-3 divLineInfo">
      <label class="font-weight-bold"
      >{{ "Date" | translate }} *</label>
    <br />
      <p-calendar
      [monthNavigator]="true"
      [yearNavigator]="true"
      dateFormat="dd/mm/yy"
      yearRange="1970:2100"
      formControlName="date"
    >
    </p-calendar>
</div>
    </div>


<div class="row m-2 mt-3 justify-content-around divRowInfo"*ngIf="isInterOrPrestataire==true">


  <div class="form-group col-md-3  divLineInfo" >
    <label class="font-weight-bold"
      >{{ "Vehicule" | translate }} *</label
    >

    <br />
    <input
    formControlName="vehicle"
    [attr.disabled]="'true'"

      type="text"
      class="form-control"
      pInputText
    />
  </div>
  <div class="form-group col-md-3 divLineInfo" >
    <label class="font-weight-bold"
      >{{ "Chauffeur" | translate }} *</label
    >

    <br />

    <p-dropdown
    formControlName="driver"
  [autoDisplayFirst]="false"
  [options]="driverList"
  (onChange)="onSelectDriver($event)"
  optionLabel="name"
  [filter]="true"
  [showClear]="true"
  [dataKey]="name"
></p-dropdown>
  </div>

  <div class="form-group col-md-6"></div>


</div>



</form>



<div class="card  ">
  <div class="card-header" style="background-color: #f7f7f7;">
    <div class="row">

      <div class="col-xs-4 col-md-4 pull-left">
        <button type="button" class="btn btn-sm btn-primary mx-1" (click)="onShowDialogTransportProduct(selectedTransportProductService,false)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class=" col-xs-4 col-md-6 pull-center">
        <span style="font-size: 16px; color: #5f5b5b;">
          <b> {{ "Services" | translate }}</b></span>
      </div>
    </div>
  </div>
  <div class="card-body border-top-primary">
    <p-table [value]=" this.selectedTransportPlan?.transportPlanProductServices" [lazy]="true" [rows]="8"
      [paginator]="true" [totalRecords]=" this.selectedTransportPlan
  ?.transportPlanProductServices?.length" >
      <ng-template pTemplate="header">
        <tr>

          <th>{{'Service' | translate}}</th>
          <th>{{'Prix HT '| translate}}</th>
          <th>{{'TVA' | translate}}</th>
          <th>{{'Pric TTC '| translate}}</th>
          <!-- <th>{{ "Prix" | translate }}</th> -->
          <th style="width: 18%;">{{ "Actions" | translate }}</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr>
          <td>{{line?.product?.code}}</td>
          <td>{{line?.priceHT}}</td>
          <td>{{line?.vat?.value}}</td>
          <td>{{line?.priceTTC}}</td>

          <td>

            <button  type="button" class="btn btn-sm btn-primary mx-1"
              (click)="onShowDialogTransportProduct(line,true)">
              <!--ADD-->
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger mx-1"
              (click)="onDeleteTransportProduct(line?.product?.code)">
              <!--ADD-->
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>



<div class="text-center mt-5 mr-3 ml-3">
  <a class="btn btn-primary m-1" [routerLink]="['/core/transport-plan/list']">
    {{ "Fermer" | translate }}
  </a>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
    {{ "Valider et continuer" | translate }}
  </button>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
    {{ "Valider" | translate }}
  </button>
</div>
    </div>



    <ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  acceptLabel="Complet"
  rejectLabel="Grouper"
></p-confirmDialog>


<div *ngIf="showDialogTransportProduct == true">


  <app-transport-plan-service-edit
  (showDialog)="onHideDialogTransportProduct($event)"
 (transportProductEdited)="onLineEditedTransportProduct($event)"
   [selectedTransportProduct]="this.selectedTransportProductService"
   [editMode]="editModeTransportProduct"></app-transport-plan-service-edit>

</div>


<div *ngIf="showDialogVehicle == true">
  <app-transport-plan-vehicle-list
  (showDialog)="onHideDialogVehicle($event)"
  (selectedVehicule)="onSelectedVehicle($event)"
   [vehicleCategory]="this.selectedTransportPlan.vehicleCategory"
   ></app-transport-plan-vehicle-list>
</div>
