<div class="card mt-3">
  <div class="card-header" style="background-color: #f7f7f7;">
    <div class="d-flex justify-content-between">
      <div>
        <button
          type="button"
          class="btn btn-sm btn-primary mx-1"
          (click)="editModeSubmit(1)"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success mx-1"
          (click)="editModeSubmit(2)"
          [disabled]="visibilityBtnUpdate == false"
        >
          <i class="fa fa-pencil"></i>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger mx-1"
          (click)="editModeSubmit(3)"
          [disabled]="visibilityBtnDelete == false"
        >
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div>
        <p style="font-size: 16px; color: #5f5b5b;" class="text-center ml-5">
          <b>Liste </b>
        </p>
      </div>
      <div>
        <div class="d-flex justify-content-end">
          <p-button
            label="Enregistrer la vue"
            styleClass="ui-button-primary"
            class="mr-3"
            (click)="onSaveVue()"
          ></p-button>
          <p-splitButton
            label="Export"
            icon="pi pi-file"
            class="mr-3"
            [model]="itemsBtnExport"
            styleClass="ui-button-warning"
          ></p-splitButton>

          <p-multiSelect
            [options]="cols"
            [(ngModel)]="selectedColumns"
            optionLabel="header"
            selectedItemsLabel="colonnes sélectionnées"
            dropdownIcon="pi pi-table"
            [style]="{ minWidth: '150px' }"
            defaultLabel="Choisir"
            maxSelectedLabels="0"
          ></p-multiSelect>
        </div>
      </div>
    </div>
    <!-- (onRowReorder)='onSaveVue($event)' -->
    <p-table
      [value]="objectList"
      #myTable
      id="myTable"
      [rows]="size"
      [paginator]="true"
      [rowsPerPageOptions]="[5,10, 20, 50, 100, 1000]"
      [totalRecords]="collectionSize"
      [columns]="selectedColumns"
      [lazy]="true"
      (onLazyLoad)="loadDataLazy($event)"
      [resizableColumns]="true"
      [reorderableColumns]="true"
      [(selection)]="selectedObjects"
      selectionMode="multiple"
      [reorderableColumns]="true"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th *ngFor="let col of columns" pReorderableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>

          <td *ngFor="let col of columns; let i = index">
            {{rowData[col.field]}}
          </td>


          <!-- <p-checkbox binary="true"></p-checkbox> -->
        </tr>
      </ng-template>
    </p-table>
  </div>



  </div>

  <ngx-spinner
    bdColor="rgba(255,255,255,0)"
    size="large"
    color="#00d2ff"
    type="ball-spin-fade-rotating"
  ></ngx-spinner>
