
<div class="container-fluid mt-5">
  <div  style="overflow-x: hidden;overflow-y: scroll;height: 65vh; width: 100%;">

  <form [formGroup]="OrderTransportForm">

      <!-- Général -->


          <div class="mt-3 row justify-content-around">
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Donneur d'ordre" | translate }} *</label
              >
              <span
                *ngIf="
                  (OrderTransportForm.get('account')
                    .touched &&
                    OrderTransportForm.get('account')
                      .invalid) ||
                  (isFormSubmitted &&
                    OrderTransportForm.get('account')
                      .invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                {{ "Obligatoire" | translate }}
              </span>
              <br />
              <!-- <p-autoComplete
                formControlName="account"
                [suggestions]="accountList"
                (onSelect)="onSelectAccount($event)"
                (completeMethod)="onAccountSearch($event)"

              ></p-autoComplete> -->


              <p-autoComplete
               formControlName="account" field="codeName"
               [suggestions]="accountList" (onSelect)="onSelectAccount($event)"
               (completeMethod)="onAccountSearch($event)"  [dropdown]="true"
               [disabled]="this.selectedOrderTransport?.turnStatus.id==2"
               >
                <ng-template let-account pTemplate="item">
                    <div class="account-item">
                        <div>{{account.code}} -> {{account.name}} </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <span class="add" style="float: left;">

              <img
              src="./assets/img/add2.png" style="width: 20px ; height: 20px;">
              <a (click)='onShowdialogAccount()' class="ml-2">Ajouter Compte </a></span>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Contact" | translate }} </label
              >

              <br />

              <p-dropdown
              formControlName="contact"
              [autoDisplayFirst]="false"
              [options]="contactList"
              (onChange)="onSelectContact($event)"
              [filter]="true"
              [showClear]="true"
              optionLabel="name"
              [placeholder]=" this.selectedOrderTransport?.contact?.name"


            ></p-dropdown>
            <span class="add" style="float: left;">

              <img
              src="./assets/img/add2.png" style="width: 20px ; height: 20px;">
              <a (click)='onShowdialogContact()' class="ml-2">Ajouter Contact </a></span>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Remarque/Commentaire" | translate }} </label
              >
              <br />
              <input
                formControlName="remark"
                  type="text"
                  class="form-control"
                  pInputText

                />
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Date de la Commande" | translate }} </label
              >
              <br />
              <p-calendar formControlName="date"
              [showTime]="false" [monthNavigator]="true"
              [yearNavigator]="true" dateFormat="dd/mm/yy"   [disabled]="'true'" yearRange="1970:2100"
              >
             </p-calendar>
            </div>


            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Chargement" | translate }} *</label
              >
              <span
                *ngIf="
                  (OrderTransportForm.get('loadingType')
                    .touched &&
                    OrderTransportForm.get('loadingType')
                      .invalid) ||
                  (isFormSubmitted &&
                    OrderTransportForm.get('loadingType')
                      .invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                {{ "Obligatoire" | translate }}
              </span>

              <p-dropdown
              formControlName="loadingType"
              [autoDisplayFirst]="false"
              [options]="loadingTypeList"
              (onChange)="onSelectLoadingTypes($event)"
              [disabled]="this.selectedOrderTransport.id>0"
              [filter]="true"
              [showClear]="true"
              optionLabel="code"
              placeholder="{{selectedOrderTransport?.loadingType?.code}}"


            ></p-dropdown>


            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Catégorie" | translate }} *</label
              >
              <span
                *ngIf="
                  (OrderTransportForm.get('category')
                    .touched &&
                    OrderTransportForm.get('category')
                      .invalid) ||
                  (isFormSubmitted &&
                    OrderTransportForm.get('category')
                      .invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                {{ "Obligatoire" | translate }}
              </span>
              <p-dropdown
                formControlName="category"
                [autoDisplayFirst]="false"
                [options]="vehicleCategoryList"
                (onChange)="onSelectCategory($event)"
                optionLabel="code"
                [filter]="true"
                [showClear]="true"
                [placeholder]="this.selectedOrderTransport?.vehicleCategory?.code"
              ></p-dropdown>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Type Remorque" | translate }} *</label
              >
              <span
                *ngIf="
                  (OrderTransportForm.get('vehicleTray')
                    .touched &&
                    OrderTransportForm.get('vehicleTray')
                      .invalid) ||
                  (isFormSubmitted &&
                    OrderTransportForm.get('vehicleTray')
                      .invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                {{ "Obligatoire" | translate }}
              </span>
              <p-dropdown
                formControlName="vehicleTray"
                [autoDisplayFirst]="false"
                [options]="vehicleTrayList"
                (onChange)="onSelectVehicleTray($event)"
                optionLabel="code"
                [filter]="true"
                [showClear]="true"
                [placeholder]="this.selectedOrderTransport?.vehicleTray?.code"
              ></p-dropdown>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Moyen d'accompagnement" | translate }} </label
              ><br>

              <p-multiSelect [options]="vehicleAccompanimentList"
              formControlName="vehicleAccompaniments"
              optionLabel="code" ></p-multiSelect>
            </div>




</div>

  <div class="mt-3 row justify-content-around">

    <div class="form-group col-md-3">
      <label class="font-weight-bold"
        >{{ "Départ " | translate }} *</label
      >
      <span
        *ngIf="
          (OrderTransportForm.get('villeSource')
            .touched &&
            OrderTransportForm.get('villeSource')
              .invalid) ||
          (isFormSubmitted &&
            OrderTransportForm.get('villeSource')
              .invalid)
        "
        class="text-lighter"
        style="color: red; font-size: xx-small"
      >
        {{ "Obligatoire" | translate }}
      </span>
      <br />
      <p-autoComplete
      field="code"
        formControlName="villeSource"
        [suggestions]="villeList"

        (onSelect)="onSelectSource($event)"
        (completeMethod)="onSourceSearch($event)"

      ></p-autoComplete>



    </div>

    <div class="form-group col-md-3">
      <label class="font-weight-bold"
        >{{ "Arrivée " | translate }} *</label
      >
      <span
        *ngIf="
          (OrderTransportForm.get('villeDistination')
            .touched &&
            OrderTransportForm.get('villeDistination')
              .invalid) ||
          (isFormSubmitted &&
            OrderTransportForm.get('villeDistination')
              .invalid)
        "
        class="text-lighter"
        style="color: red; font-size: xx-small"
      >
        {{ "Obligatoire" | translate }}
      </span>
      <br />
      <p-autoComplete
      field="code"
        formControlName="villeDistination"
        [suggestions]="villeList"
        (onSelect)="onSelectDistination($event)"
        (completeMethod)="onSourceSearch($event)"

      ></p-autoComplete>



    </div>

    <div class="form-group col-md-3">
      <label class="font-weight-bold"
        >{{ "Type" | translate }} *</label
      >
      <span
        *ngIf="
          (OrderTransportForm.get('turnType')
            .touched &&
            OrderTransportForm.get('turnType')
              .invalid) ||
          (isFormSubmitted &&
            OrderTransportForm.get('turnType')
              .invalid)
        "
        class="text-lighter"
        style="color: red; font-size: xx-small"
      >
        {{ "Obligatoire" | translate }}
      </span>
      <p-selectButton [options]="turnTypeList"
      formControlName="turnType"
      (onChange)="onSelectType($event)"

       optionLabel="code"></p-selectButton>

      <!-- <p-dropdown
      formControlName="turnType"
      [autoDisplayFirst]="false"
      [options]="turnTypeList"

      [filter]="true"
      [showClear]="true"
      optionLabel="code"
      placeholder="{{selectedOrderTransport?.turnType?.code}}"


    ></p-dropdown> -->

    </div>

    <div class="form-group col-sm-3">
      <label class="font-weight-bold">{{'Port' | translate}} </label>

      <br />

       <div class="form-group  field-checkbox">
        <p-selectButton [options]="portList" optionLabel="code"    (onChange)="onSelectPort($event)" formControlName="portObject"  ></p-selectButton>

         </div>
    </div>



            <div class="form-group col-md-3">
</div>
  </div>





<div class="mt-3 row justify-content-around">
  <!-- <div class="form-group col-md-3">
    <label class="font-weight-bold"
      >{{ "Type emballage" | translate }} *</label
    >
    <span
    *ngIf="
      (OrderTransportForm.get('packagingType').touched &&
      OrderTransportForm.get('packagingType').invalid) ||
      (isFormSubmitted &&
      OrderTransportForm.get('packagingType').invalid)
    "
    class="text-lighter"
    style="color: red; font-size: xx-small"
  >
    {{ "Obligatoire" | translate }}
  </span>
    <p-dropdown
    formControlName="packagingType"
      [autoDisplayFirst]="false"
      [options]="packagingTypeList"
      optionLabel="code"

      (onChange)="onSelectPackagingType($event)"
      [filter]="true"
      [showClear]="true"
    ></p-dropdown>
  </div> -->
  <div class="form-group col-md-3">
    <label class="font-weight-bold"
      >{{ "Nature marchandise" | translate }} </label
    >
    <span
    *ngIf="
      (OrderTransportForm.get('marchandiseType').touched &&
      OrderTransportForm.get('marchandiseType').invalid) ||
      (isFormSubmitted &&
      OrderTransportForm.get('marchandiseType').invalid)
    "
    class="text-lighter"
    style="color: red; font-size: xx-small"
  >
    {{ "Obligatoire" | translate }}
  </span>
    <p-dropdown
    formControlName="marchandiseType"
      [autoDisplayFirst]="false"
      [options]="marchandiseTypeList"
      optionLabel="code"

      (onChange)="onSelectMarchandiseType($event)"
      [filter]="true"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="form-group col-sm-3">
    <label class="font-weight-bold">{{'Consignation' | translate}} </label>

    <br />


    <div class="form-group  field-checkbox">
      <p-selectButton [options]="consignationList" optionLabel="code"    (onChange)="onSelectConsignment($event)" formControlName="consignment"  ></p-selectButton>

       </div>
     <!-- <div class="field-checkbox">


    <p-checkbox formControlName="consignment" [(ngModel)]="this.selectedOrderTransport.consignment" name="consignment"(onChange)="onSelectConsignment($event)" [binary]="true" inputId="consignment"></p-checkbox>
    <label class="font-weight-bold" for="consignment">{{this.selectedOrderTransport.consignment?"Oui":"Non"}}</label>
  </div> -->
</div>

<div class="form-group col-sm-3">
  <span *ngIf="this.selectedOrderTransport?.loadingType?.id==2">

  <label class="font-weight-bold">{{'Donneur d´ordre Unique' | translate}} </label>
  <br />
   <div class="field-checkbox">
  <p-checkbox formControlName="groupageUnique" [(ngModel)]="this.selectedOrderTransport.groupageUnique" name="groupageUnique"(onChange)="onSelectGroupageUnique($event)" [binary]="true" inputId="consignment"></p-checkbox>
  <label class="font-weight-bold" for="groupageUnique">{{this.selectedOrderTransport.groupageUnique?"Oui":"Non"}}</label>
</div>
</span>
</div>

<div class="form-group col-sm-3">
  <span *ngIf="this.selectedOrderTransport.consignment==true">
  <label class="font-weight-bold">{{'Responsabilité palette' | translate}} </label>

  <br />

   <div class="field-checkbox">
    <p-selectButton [options]="palletResponsibilityList"  optionLabel="code"  (onChange)="onSelectPalletResponsibility($event)" formControlName="palletResponsibilityObject" ></p-selectButton>
</div>
</span>
</div>

</div>



    <div></div>
  </form>




  </div>
  <!-- d-flex align-items-center justify-content-center  -->
  <div class="container-fluid">

  <div  class="row pull-right  mt-5">
    <!-- <button type="button" class="btn btn-success m-1" (click)="next()">
      {{ "Valider" | translate }}
    </button> -->

    <!-- <p-button pRipple  label="Valider" icon="fa fa-chevron-right" styleClass="p-button-lg" class="p-button-rounded p-button-success" iconPos="right"></p-button> -->
    <button pButton pRipple type="button" label="Suivant" styleClass="p-button-lg"  icon="fa fa-angle-double-right"
     class="p-button-rounded  bNext" (click)="next()" iconPos="right"></button>


    <!-- <button
      type="button"
      pButton
      icon="fa fa-chevron-right"
      (click)="next()"
    ></button> -->
  </div>
</div>
</div>



<p-toast position="top-right" [autoZIndex]="'true'"></p-toast>
<ngx-spinner
bdColor="rgba(255,255,255,0)"
size="large"
color="#00d2ff"
type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
header="Confirmation"
icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<!-- (showDialog)="onHideDialogGenerateContactAddress($event)" -->

<div *ngIf="showDialogAccount == true">
  <app-information-account-edit
  (showDialog)="onHideDialogAccount($event)"

    (accountEdited)="affectedAccountInsert($event)"
  ></app-information-account-edit>
</div>


<div *ngIf="showDialogContact == true">
  <app-information-contact-edit
  [selectedAccount]="this.selectedOrderTransport.account"
  (showDialog)="onHideDialogContact($event)"

    (contactEdited)="affectedContactInsert($event)"
  ></app-information-contact-edit>
</div>
