<div class="header" style="height:20pxpx;">

  <div class="page-brand" style="background-color: #3581ad !important;">
    <a class="link" routerLink="/index">
      <span class="brand">EMS -
        <span class="brand-tip">TMS</span>
      </span>
      <span class="brand-mini">TMS</span>
    </a>
  </div>
  <div class="flexbox flex-1 text-white" style="background-color: #3c8dbc; color: white;">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
      <li>
        <a class="nav-link sidebar-toggler js-sidebar-toggler text-white"><i class="ti-menu"></i></a>
      </li>

    </ul>
    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar text-white">
      <li class="dropdown dropdown-user">
        <a class="nav-link dropdown-toggle link text-white " data-toggle="dropdown">

          <i class="fa fa-language m-l-5"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="changeLang('fr')">{{'Francais' | translate}}</a>
          <a class="dropdown-item" (click)="changeLang('en')">{{'English' | translate}}</a>
        </ul>
      </li>
      <li class="dropdown dropdown-user text-white">
        <a class="nav-link dropdown-toggle link text-white" data-toggle="dropdown">

          user</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i>Deconnexion</a>
        </ul>
      </li>
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
  </div>

</div>
