
<p-dialog
header="{{ editMode ==1 ? 'Ajouter': 'Modifier' }} Type De Maintenance"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '350px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="maintenanceTypeForm">
        <div class="row  justify-content-around">
          <div class="form-group col-sm-12">
            <label>{{ "Code" | translate }} *</label>
            <span *ngIf="(maintenanceTypeForm.get('code').touched && maintenanceTypeForm.get('code').invalid) ||
            (isFormSubmitted && maintenanceTypeForm.get('code').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               obligatoire
            </span>
            <br />
            <input
              type="text"
              class="form-control"
              pInputText
              formControlName="code"


            />
          </div>

          <div class="form-group col-sm-12">
            <label>{{ "Description" | translate }}</label
            ><br />
            <input
              type="text"
              class="form-control"
              pInputText
              formControlName="description"
            />
          </div>
          <div class="col-md-3"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="ui-button-primary"
    label="fermer"
  ></button>
  <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="onSubmit()"
      class="ui-button-success"
      label="Valider"
    ></button>
  </div>
</p-footer>
</p-dialog>
