<div class="container">
  <div class="row  justify-content-around">
    <div class="form-group col-md-2">
      </div>

      <div class="form-group col-md-8">
      </div>
      <div class="form-group col-md-2">
      </div>

</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Type</th>
      <th scope="col">Désignation</th>
      <th scope="col">Montant HT</th>
      <th scope="col">Taux TVA</th>
      <th scope="col">Montant TTC</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
