
<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '1000px' }"
[position]="'right'"
(onHide)='onShowDialog()'
>
<div>
  <div >
    <div class="card-body">
      <form [formGroup]="orderTransportInfoLineForm" >
        <div class="modal-body">
        <div formGroupName="general">
          <div class="row  justify-content-around">

          <div class="form-group col-md-3">
            <label class="font-weight-bold">{{'Type' | translate}}*</label>
            <span *ngIf="(orderTransportInfoLineForm.controls['general'].get('orderTransportType').touched && orderTransportInfoLineForm.controls['general'].get('orderTransportType').invalid) ||
    (isFormSubmitted && orderTransportInfoLineForm.controls['general'].get('orderTransportType').invalid)" class="text-lighter"
      style="color: red; font-size: xx-small;">
      {{"Obligatoire" | translate}}
            </span>

            <p-dropdown
formControlName="orderTransportType"
[autoDisplayFirst]="false"
[options]="orderTransportTypeList"
optionLabel="code"
(onChange)="onSelectorderTransportType($event)"
[filter]="true"
[showClear]="true"
></p-dropdown>

        </div>
        <div class="form-group col-md-9">
</div>
</div>

<div class="row  justify-content-around">

    <div class="form-group col-md-12">

        <p-panel  [toggleable]="true">
          <ng-template pTemplate = "header" >
            <img src="./assets/img/depuis.png" width="30px"
            height="30px">          <span style="font-weight: 600"> Adresse</span>
        </ng-template>
        <div class="row justify-content-around">

          <div class="form-group col-md-6">
            <span class="add" style="float: left;">

              <img
              src="./assets/img/address.png" style="width: 30px ; height: 30px;">
              <a (click)='onSelectAccount(null,false)' class="ml-2">Rechercher une adresse</a></span>
        </div>
        <div class="form-group col-md-6">
        </div>
        </div>



          <div class="row justify-content-around">
            <div class="form-group col-md-4">
              <label class="font-weight-bold"
                >{{ "Nom" | translate }} *</label
              >
              <span
              *ngIf="
                (orderTransportInfoLineForm.controls['general'].get('deliveryInfoName').touched &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoName').invalid) ||
                (isFormSubmitted &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoName').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />

              <input *ngIf="(isExistAccount=='false')"
                type="text"
                class="form-control" formControlName="deliveryInfoName"
                pInputText

              />
            </div>

            <div class="form-group col-md-4">
              <label class="font-weight-bold">{{
                "Tel 1" | translate
              }} *</label
              >
              <span
              *ngIf="
                (orderTransportInfoLineForm.controls['general'].get('deliveryInfoTel1').touched &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoTel1').invalid) ||
                (isFormSubmitted &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoTel1').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoTel1"
                type="text"
                class="form-control"
                pInputText
              />
            </div>
 <div class="form-group col-md-4">
              <!-- <label class="font-weight-bold">{{
                "Société" | translate
              }}</label
              ><br />

              <p-autoComplete  field="code" formControlName="deliveryInfoCompany">
              </p-autoComplete> -->
            </div>


</div>


          <div class="row justify-content-around">
            <div class="form-group col-md-4">
              <label class="font-weight-bold">{{
                "email" | translate
              }}</label
              ><br />
              <input
              formControlName="deliveryInfoEmail"
                type="text"
                class="form-control"
                pInputText
              />
            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-bold"
                >{{ "Ligne d'adresse 1" | translate }} *</label
              >
              <span
              *ngIf="
                (orderTransportInfoLineForm.controls['general'].get('deliveryInfoLine1').touched &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoLine1').invalid) ||
                (isFormSubmitted &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoLine1').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoLine1"
                type="text"
                class="form-control"
                pInputText

              />
            </div>

            <div class="form-group col-md-4">
              <label class="font-weight-bold">{{
                "Ville" | translate
              }} *</label
              >
              <span
              *ngIf="
                (orderTransportInfoLineForm.controls['general'].get('deliveryInfoCity').touched &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoCity').invalid) ||
                (isFormSubmitted &&
                orderTransportInfoLineForm.controls['general'].get('deliveryInfoCity').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoCity"
                type="text"
                class="form-control"
                pInputText
              />
            </div>
          </div>

          <div class="row justify-content-around">

          <div class="form-group col-md-4">
            <label class="font-weight-bold">{{
              "Code postal" | translate
            }}</label
            ><br />
            <input
            formControlName="deliveryInfoZip"
              type="text"
              class="form-control"
              pInputText
            />
          </div>
            <div class="form-group col-md-4">
        <label class="font-weight-bold">{{
          "Pays" | translate
        }} *</label
        >
        <span
        *ngIf="
          (orderTransportInfoLineForm.controls['general'].get('deliveryInfoCountry').touched &&
          orderTransportInfoLineForm.controls['general'].get('deliveryInfoCountry').invalid) ||
          (isFormSubmitted &&
          orderTransportInfoLineForm.controls['general'].get('deliveryInfoCountry').invalid)
        "
        class="text-lighter"
        style="color: red; font-size: xx-small"
      >
        {{ "Obligatoire" | translate }}
      </span>
        <br />
        <input
        formControlName="deliveryInfoCountry"
          type="text"
          class="form-control"
          pInputText
        />
      </div>
      <div class="form-group col-md-4"></div>

</div>
    <div class="row justify-content-around">

      <div class="form-group col-md-4">
        <label class="font-weight-bold">{{
          "Latitude" | translate
        }}</label
        >
        <span
        *ngIf="
          (orderTransportInfoLineForm.controls['general'].get('deliveryInfoLatitude').touched &&
          orderTransportInfoLineForm.controls['general'].get('deliveryInfoLatitude').invalid) ||
          (isFormSubmitted &&
          orderTransportInfoLineForm.controls['general'].get('deliveryInfoLatitude').invalid)
        "
        class="text-lighter"
        style="color: red; font-size: xx-small"
      >
        {{ "Obligatoire" | translate }}
      </span>
        <br />
        <input
        formControlName="deliveryInfoLatitude"
          type="text"
          class="form-control"
          pInputText
        />
</div>

    <div class="form-group col-md-4">
      <label class="font-weight-bold">{{
        "Longitude" | translate
      }}</label
      >
      <span
      *ngIf="
        (orderTransportInfoLineForm.controls['general'].get('deliveryInfoLongitude').touched &&
        orderTransportInfoLineForm.controls['general'].get('deliveryInfoLongitude').invalid) ||
        (isFormSubmitted &&
        orderTransportInfoLineForm.controls['general'].get('deliveryInfoLongitude').invalid)
      "
      class="text-lighter"
      style="color: red; font-size: xx-small"
    >
      {{ "Obligatoire" | translate }}
    </span>
      <br />
      <input
      formControlName="deliveryInfoLongitude"
        type="text"
        class="form-control"
        pInputText
      />
  </div>
  <div class="form-group col-md-4">
    <label class="font-weight-bold">{{
      "Date d'enlévenment" | translate
    }}</label
    ><br />
  <p-calendar formControlName="deliveryInfoDate" [monthNavigator]="true"
   [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="1970:2100"
  [showTime]="true" [showSeconds]="true"
 >
</p-calendar>
</div>          </div>



        </p-panel>
    </div>
    </div>
        </div>
<div formGroupName="enlevement">
        <div class="row  justify-content-around" *ngIf="this.selectedOrderTransportInfoLine?.orderTransportType?.id ==1 ||this.selectedOrderTransportInfoLine?.orderTransportType?.id ==3">
          <div class="form-group col-md-7">

        <p-panel  [toggleable]="true" >
          <ng-template pTemplate = "header" >
            <img src="./assets/img/depuis.png" width="30px"
            height="30px">          <span style="font-weight: 600"> Enlevement</span>
        </ng-template>
        <div >

                    <div class="row justify-content-around">

                      <div class="form-group col-md-4">
                        <label class="font-weight-bold">{{
                          "Nombre Palette" | translate
                        }} *</label
                        >
                        <span
                        *ngIf="
                          (orderTransportInfoLineForm.controls['enlevement'].get('numberOfPallets').touched &&
                          orderTransportInfoLineForm.controls['enlevement'].get('numberOfPallets').invalid) ||
                          (isFormSubmitted &&
                          orderTransportInfoLineForm.controls['enlevement'].get('numberOfPallets').invalid)
                        "
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                        {{ "Obligatoire" | translate }}
                      </span>
                        <br />
                        <div class="p-inputgroup">
                          <!-- <input type="text" pInputText formControlName="weight" (onInput)="inputWeightEnlevement($event,false)"> -->
                          <p-inputNumber     formControlName="numberOfPallets" (onInput)="inputPalletEnlevement($event,false)"
                          ></p-inputNumber>
                          <button type="button" pButton pRipple icon="pi pi-check" (click)="inputPalletEnlevement(0,true)" styleClass="p-button-warn"></button>
                      </div>
                        <!-- <p-inputNumber formControlName="numberOfPallets"
                        (onInput)="inputPalletEnlevement($event)"
                        ></p-inputNumber> -->
                        <span
                        *ngIf="showPalletMaxEnlevement==true"
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                       maximum autorisé : {{this.palletMaxEnlevement}} (Kg)
                      </span>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="font-weight-bold">{{
                          "Poids" | translate
                        }}<span style="font-size: 9px;"> (KG)</span> *</label
                        >
                        <span
                        *ngIf="
                          (orderTransportInfoLineForm.controls['enlevement'].get('weight').touched &&
                          orderTransportInfoLineForm.controls['enlevement'].get('weight').invalid) ||
                          (isFormSubmitted &&
                          orderTransportInfoLineForm.controls['enlevement'].get('weight').invalid)
                        "
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                        {{ "Obligatoire" | translate }}
                      </span>
                        <br />
                        <div class="p-inputgroup">
                          <!-- <input type="text" pInputText formControlName="weight" (onInput)="inputWeightEnlevement($event,false)"> -->
                          <p-inputNumber     formControlName="weight" (onInput)="inputWeightEnlevement($event)"
                          ></p-inputNumber>
                          <button type="button" pButton pRipple icon="pi pi-check" (click)="inputWeightEnlevement(0,true)" styleClass="p-button-warn"></button>
                      </div>
                        <!-- <p-inputNumber     formControlName="weight" (onInput)="inputWeightEnlevement($event)"
                        ></p-inputNumber> -->
                        <span
                        *ngIf="showWeightMaxEnlevement==true"
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                       maximum autorisé : {{ this.weightMaxEnlevement}} (Kg)
                      </span>
                      </div>
                      <div class="form-group col-md-4">
                        <label class="font-weight-bold">{{
                          "Volume" | translate
                        }}<span style="font-size: 9px;">Mètre cube (m3)</span> </label
                        >
                        <!-- <span
                        *ngIf="
                          (orderTransportInfoLineForm.controls['enlevement'].get('capacity').touched &&
                          orderTransportInfoLineForm.controls['enlevement'].get('capacity').invalid) ||
                          (isFormSubmitted &&
                          orderTransportInfoLineForm.controls['enlevement'].get('capacity').invalid)
                        "
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                        {{ "Obligatoire" | translate }}
                      </span> -->
                        <br />
<!-- (onInput)="inputCapacityEnlevement($event,false)" -->
                        <p-inputNumber     formControlName="capacity"
                        ></p-inputNumber>
                        <!-- <span
                        *ngIf="showCapacityMaxEnlevement==true"
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                       maximum autorisé : {{this.capacityMaxEnlevement}} (Kg)
                      </span> -->
                      </div>
                      <div class="form-group col-md-12">
                        <label class="font-weight-bold">{{
                          "Commentaire" | translate
                        }} </label
                        >

                        <br />
                        <textarea pInputTextarea
                        formControlName="comment"
                          type="text"
                          class="form-control"
                        ></textarea>
                      </div>

</div>


        </div>

        </p-panel>
</div>
<div class="form-group col-md-5">
  <p-panel  [toggleable]="true">
    <ng-template pTemplate = "header" >
      <img src="./assets/img/depuis.png" width="30px"
      height="30px">          <span style="font-weight: 600"> Paiement</span>
  </ng-template>

  <div class="row justify-content-around">
    <div class="form-group col-md-12">
      <label class="font-weight-bold">{{
        "Mode Paiement" | translate
      }} </label
      >
      </div>
    <div class="form-group col-md-4">
      <label class="font-weight-bold">{{
        "Contre BL" | translate
      }} </label
      >

      <br />
      <p-toggleButton formControlName="contreBL"
      onLabel="Oui" offLabel="Non" (onChange)="onChangeCBLEnlevement($event)"
      onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
      </div>

      <div class="form-group col-md-5">
        <label class="font-weight-bold">{{
          "Contre Facture" | translate
        }} </label
        >

        <br />
        <p-toggleButton formControlName="contreFacture"
        onLabel="Oui" offLabel="Non" (onChange)="onChangeCFEnlevement($event)"
        onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
        </div>
        <div class="form-group col-md-3">
</div>


</div>
<div class="row justify-content-around">

  <div class="form-group col-md-6">
    <label class="font-weight-bold">{{'Type Paiement' | translate}}</label>
    <p-dropdown
  formControlName="paymentType"
  [autoDisplayFirst]="false"
  [options]="paymentTypeList"
  optionLabel="code"
  (onChange)="onSelectPaymentTypeEnlevement($event)"
  [filter]="true"
  appendTo="body"
  [showClear]="true"
  ></p-dropdown>

  </div>
  <div class="form-group col-md-6">
  </div>
  </div>
</p-panel>
</div>

</div>
</div>





<div class="row  justify-content-around" >
  <div formGroupName="livraison" *ngIf="this.selectedOrderTransportInfoLine?.orderTransportType?.id ==2 ||this.selectedOrderTransportInfoLine?.orderTransportType?.id ==3">
    <div class="row  justify-content-around">
      <div class="form-group col-md-7">

          <p-panel  [toggleable]="true"  >
            <ng-template pTemplate = "header" >
              <img src="./assets/img/depuis.png" width="30px"
              height="30px">          <span style="font-weight: 600"> Livraison</span>
          </ng-template>
          <div >

                      <div class="row justify-content-around">

                        <div class="form-group col-md-4">
                          <label class="font-weight-bold">{{
                            "Nombre Palette" | translate
                          }} *</label
                          >
                          <span
                          *ngIf="
                            (orderTransportInfoLineForm.controls['livraison'].get('numberOfPallets').touched &&
                            orderTransportInfoLineForm.controls['livraison'].get('numberOfPallets').invalid) ||
                            (isFormSubmitted &&
                            orderTransportInfoLineForm.controls['livraison'].get('numberOfPallets').invalid)
                          "
                          class="text-lighter"
                          style="color: red; font-size: xx-small"
                        >
                          {{ "Obligatoire" | translate }}
                        </span>
                          <br />
                          <div class="p-inputgroup">
                            <!-- <input type="text" pInputText formControlName="weight" (onInput)="inputWeightEnlevement($event,false)"> -->
                            <p-inputNumber     formControlName="numberOfPallets" (onInput)="inputPalletLivraison($event,false)"
                            ></p-inputNumber>
                            <button type="button" pButton pRipple icon="pi pi-check" (click)="inputPalletLivraison(0,true)" styleClass="p-button-warn"></button>
                        </div>
                          <!-- <p-inputNumber formControlName="numberOfPallets"
                          (onInput)="inputPalletLivraison($event)"
                          ></p-inputNumber> -->
                          <span
                          *ngIf="showPalletMaxLivraison==true"
                          class="text-lighter"
                          style="color: red; font-size: xx-small"
                        >
                         maximum autorisé : {{this.palletMaxLivraison}} (Kg)
                        </span>

                        </div>

                        <div class="form-group col-md-4">
                          <label class="font-weight-bold">{{
                            "Poids" | translate
                          }}<span style="font-size: 9px;"> (KG)</span> *</label
                          >
                          <span
                          *ngIf="
                            (orderTransportInfoLineForm.controls['livraison'].get('weight').touched &&
                            orderTransportInfoLineForm.controls['livraison'].get('weight').invalid) ||
                            (isFormSubmitted &&
                            orderTransportInfoLineForm.controls['livraison'].get('weight').invalid)
                          "
                          class="text-lighter"
                          style="color: red; font-size: xx-small"
                        >
                          {{ "Obligatoire" | translate }}
                        </span>
                          <br />
                          <div class="p-inputgroup">
                            <!-- <input type="text" pInputText formControlName="weight" (onInput)="inputWeightEnlevement($event,false)"> -->
                            <p-inputNumber     formControlName="weight" (onInput)="inputWeightLivraison($event,false)"
                            ></p-inputNumber>
                            <button type="button" pButton pRipple icon="pi pi-check" (click)="inputWeightLivraison(0,true)" styleClass="p-button-warn"></button>
                        </div>
                          <!-- <p-inputNumber     formControlName="weight" (onInput)="inputWeightLivraison($event)"
                          ></p-inputNumber> -->
                          <span
                        *ngIf="showWeightMaxLivraison==true"
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                       maximum autorisé : {{this.weightMaxLivraison}} (Kg)
                      </span>

                        </div>
                        <div class="form-group col-md-4">
                          <label class="font-weight-bold">{{
                            "Volume" | translate
                          }}<span style="font-size: 9px;"> Mètre cube (m3)</span> *</label
                          >
                          <!-- <span
                          *ngIf="
                            (orderTransportInfoLineForm.controls['livraison'].get('capacity').touched &&
                            orderTransportInfoLineForm.controls['livraison'].get('capacity').invalid) ||
                            (isFormSubmitted &&
                            orderTransportInfoLineForm.controls['livraison'].get('capacity').invalid)
                          "
                          class="text-lighter"
                          style="color: red; font-size: xx-small"
                        >
                          {{ "Obligatoire" | translate }}
                        </span> -->
                          <br />

                          <p-inputNumber     formControlName="capacity" (onInput)="inputCapacityLivraison($event)"
                          ></p-inputNumber>
                          <span
                        *ngIf="showCapacityMaxLivraison==true"
                        class="text-lighter"
                        style="color: red; font-size: xx-small"
                      >
                       maximum autorisé : {{this.capacityMaxLivraison}} (Kg)
                      </span>
                        </div>
                        <div class="form-group col-md-12">
                          <label class="font-weight-bold">{{
                            "Commentaire" | translate
                          }} </label
                          >

                          <br />
                          <textarea pInputTextarea
                          formControlName="comment"
                            type="text"
                            class="form-control"
                          ></textarea>
                        </div>

  </div>

          </div>
        </p-panel>
</div>
<div class="form-group col-md-5">

        <p-panel  [toggleable]="true">
          <ng-template pTemplate = "header" >
            <img src="./assets/img/depuis.png" width="30px"
            height="30px">          <span style="font-weight: 600"> Paiement</span>
        </ng-template>

        <div class="row justify-content-around">
     <div class="form-group col-md-12">
            <label class="font-weight-bold">{{
              "Mode Paiement" | translate
            }} </label
            >
</div>
          <div class="form-group col-md-4">
            <label class="font-weight-bold">{{
              "Contre BL" | translate
            }} </label
            >

            <br />
            <p-toggleButton formControlName="contreBL"
            onLabel="Oui" offLabel="Non" (onChange)="onChangeCBLLivraison($event)"
            onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
            </div>

            <div class="form-group col-md-5">
              <label class="font-weight-bold">{{
                "Contre Facture" | translate
              }} </label
              >

              <br />
              <p-toggleButton formControlName="contreFacture"
              onLabel="Oui" offLabel="Non" (onChange)="onChangeCFLivraison($event)"
              onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
              </div>
              <div class="form-group col-md-3">
      </div>


      </div>
       <div class="row justify-content-around">

      <div class="form-group col-md-6">
        <label class="font-weight-bold">{{'Type Paiement' | translate}}</label>
        <p-dropdown
      formControlName="paymentType"
      [autoDisplayFirst]="false"
      [options]="paymentTypeList"
      optionLabel="code"
      (onChange)="onSelectPaymentTypeLivraison($event)"
      [filter]="true"
      appendTo="body"
      [showClear]="true"
      ></p-dropdown>

      </div>
      <div class="form-group col-md-6">
      </div>
      </div>
      </p-panel>
      </div>
    </div>
</div></div>
</div>
    </form>


</div>
</div>
</div>
<p-footer>
<div class="ui-dialog-buttonpane ui-helper-clearfix">

  <button
  type="button"
  pButton
  (click)="onShowDialog()"
  class="p-button-primary"
  label="{{'Annuler' | translate }}"
></button>
<button

    type="button"
    pButton
    (click)="onSubmit()"
    class="p-button-success"
    label="{{ 'Valider' | translate }}"
  ></button>
</div>
</p-footer>
</p-dialog>


<div *ngIf="showDialogContactAddress == true">
  <app-generate-address-contact
    (showDialog)="onHideDialogGenerateContactAddress($event)"
    [selectedAccount]="selectedAccount"
    (addressContactDeliveryInfo)="affectedContactAddressInfoSelected($event)"
  ></app-generate-address-contact>
</div>
