<app-page-header [heading]="'Edit Vehicle'" [icon]="'fa-users'">
</app-page-header>
<form *ngIf="!!formReady" [formGroup]="vehicleForm">
    <div class="form-body">

        <div class="form-group">
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Immatriculation' | translate}}</label>
                    <input type="text" class="form-control" formControlName="registrationNumber">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Technical Visite' | translate}}</label>
                    <div style="display: flex;flex-direction: row">
                        <input type="text" ngbDatepicker class="form-control" formControlName="technicalVisit" #da="ngbDatepicker" />
                        <button class="btn btn-primary" (click)="da.toggle()">Calendrier</button>
                    </div>
                </div>
            </div>
            <fieldset formGroupName="traffic">
                <div class="row my-2">
                    <div class="col-sm-12 col-md-6">
                        <label>{{'Traffic Date' | translate}}</label>
                        <div style="display: flex;flex-direction: row">
                            <input type="text" ngbDatepicker class="form-control" formControlName="date" #db="ngbDatepicker" />
                            <button class="btn btn-primary" (click)="db.toggle()">Calendrier</button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="form-check-label" style="display: block; margin-bottom: .8em;">
                            {{'Traffic Active' | translate}} ?
                        </label>
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="active">
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" [value]="true"> Oui
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="false"> Non
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                </div>
            </fieldset>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Badge Type' | translate}}</label>
                    <div style="display: inline-block;">
                        <select class="btn btn-outline-primary"[(ngModel)]="currentBadgeType" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let type of badgeTypes" [ngValue]="type">{{type.code}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Category' | translate}}</label>
                    <div style="display: inline-block;">
                        <select class="btn btn-outline-primary" [(ngModel)]="currentCategory" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row my-2">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
    </div>
</form>