
:host ::ng-deep.number {
  // position: absolute;
  // top: -10px;
  // left: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
  width: 100%;
}


:host ::ng-deep .circleMarker {
  border-radius: 20%;
  // width: 50px;
  // height: 50px;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #17a3f5;
  //border: 3px solid #000;
  display: block;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
  box-shadow: 0px 10px 20px 5px rgb(108 222 255 / 50%);
  background: radial-gradient(#17a3f5, #71b6dd);
  transform: translateY(-5px);

  margin-left: 0px !important;
  margin-top: 0px !important;
  width: auto !important;
  height: auto !important;




}

:host ::ng-deep .leaflet-right{
display: none;

}

:host ::ng-deep .leaflet-popup-content-wrapper, .leaflet-popup-tip{


    padding: 7px 0 0 0;
    background: rgba(247, 247, 247, 0.85);
    border-radius: 5px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.29);
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transform-origin: 0 10px;
    transform-origin: 0 10px;
}
.headerText{
  background: #2c3941;
    color: white;
    padding: 5px;
    border-radius: 2px;
    width: 18rem;
    text-align: center;
    // margin: 0px 15px;
}

:host ::ng-deep  .p-datatable .p-datatable-tbody > tr {
  background: #F5F6F8;
  border-left: 5px solid #0d77e1;
  border-bottom: 5px solid #ffffff;
}

:host ::ng-deep  .p-datatable .p-datatable-thead > tr  {

    background: #F5F6F8;
    border-left: 5px solid #2c3941;
    border-bottom: 5px solid #ffffff;

}
:host ::ng-deep.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  // padding: 0.4rem
}
:host ::ng-deep  .p-datatable .p-datatable-thead > tr > th  {
  text-align: center;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 700;
}

.product-category {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
 // font-size: small;
  letter-spacing: .3px;
  //      margin-left: 4%;
  //      margin-bottom: 2px;
  //      background: #c8e6c9 !important;
  // color: #256029 !important;
}
.product-name {
  vertical-align: middle;
  line-height: 2;
  font-weight: 800;
  //font-size: small;
 // margin-left: 2%;
}
.product-date {
vertical-align: middle;
line-height: 2;
font-weight: 800;
//font-size: x-small;
background: #c8d9e6 !important;
color: #253c60 !important;
border-radius: 3px;
padding: 2px;

}
// }
.icon{
// background-color: #b3e5fc;
// color: #23547b;
background: #c8d9e6 !important;
color: #253c60 !important;
font-size: 15px;

border-radius: 5px;
font-weight: 700;
padding: 2px;
}
@media screen and (max-width: 576px) {
.product-item {
    flex-wrap: wrap;

    .image-container {
        width: 100%;
        text-align: center;
    }

    img {
        margin: 0 0 1rem 0;
        width: 100px;
    }
}
}



:host ::ng-deep .customer-badge {





  &.status-Validé {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: small;
    letter-spacing: .3px;
    background-color: #357ddc;
    color: #ffffff;
}


&.status-Refusé {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: small;
  letter-spacing: .3px;
    background-color: #dc3545;
    color: #ffffff;
}

&.product-date-Validé {
  vertical-align: middle;
  line-height: 2;
  font-weight: 800;
  font-size: x-small;
  background: #c8d9e6 !important;
  color: #253c60 !important;
  border-radius: 3px;
  padding: 2px;

}

&.product-date-Refusé {
  vertical-align: middle;
  line-height: 2;
  font-weight: 800;
  font-size: x-small;
  background: #e6c8c8 !important;
  color: #dc3545 !important;
  border-radius: 3px;
  padding: 2px;

}

&.icon-Validé{
  // background-color: #b3e5fc;
  // color: #23547b;
  background: #c8d9e6 !important;
  color: #253c60 !important;
  font-size: 15px;

  border-radius: 5px;
  font-weight: 700;
  padding: 2px;
}
&.icon-Refusé{
  // background-color: #b3e5fc;
  // color: #23547b;
  background: #e6c8c8 !important;
  color: #dc3545 !important;
  font-size: 15px;

  border-radius: 5px;
  font-weight: 700;
  padding: 2px;
}



}
