
<!--
<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '800px' }"
(onHide)='onShowDialog()'
> -->

<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="card mt-1">
  <div class="card-header">
    <span class="h4">{{   this.title | translate }}</span>
  </div>
  <div class="card-body border-top-primary" >
      <form [formGroup]="companyForm">

        <div class="row  justify-content-around">
          <div class="form-group col-sm-3">
            <label class="font-weight-bold">{{'Code' | translate}} *</label>
            <span *ngIf="(companyForm.get('code').touched && companyForm.get('code').invalid) ||
            (isFormSubmitted && companyForm.get('code').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="code"
            (keydown.space)="$event.preventDefault()"
           />
          </div>

 <div class="form-group col-sm-3">
            <label class="font-weight-bold"> {{'Nom' | translate}} *</label>
              <span *ngIf="(companyForm.get('name').touched && companyForm.get('name').invalid) ||
            (isFormSubmitted && companyForm.get('name').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <input type="text" class="form-control" pInputText formControlName="name" />

          </div>



 <div class="form-group col-sm-3">
  <label class="font-weight-bold"> {{"Secteur d'activité" | translate}}</label><br />
  <p-dropdown [autoDisplayFirst]="false" [options]="activityAreaList" optionLabel="code" [filter]="true"
  [showClear]="true"  (onChange)="onSelectActivityArea($event)"
  formControlName="activityArea">
</p-dropdown></div>

<div class="form-group col-sm-3">

</div>

        </div>

        <div class="row  justify-content-around">
          <div class="form-group col-sm-3">
            <label class="font-weight-bold">{{'Téléphone' | translate}} *</label>
            <span *ngIf="(companyForm.get('tel').touched && companyForm.get('tel').invalid) ||
            (isFormSubmitted && companyForm.get('tel').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="tel"
            (keydown.space)="$event.preventDefault()"
           />
          </div>
          <div class="form-group col-sm-3">
            <label class="font-weight-bold">{{'Fax' | translate}} </label>
            <span *ngIf="(companyForm.get('fax').touched && companyForm.get('fax').invalid) ||
            (isFormSubmitted && companyForm.get('fax').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="fax"
            (keydown.space)="$event.preventDefault()"
           />
          </div>
          <div class="form-group col-sm-3">
            <label class="font-weight-bold">{{'Email' | translate}} </label>
            <span *ngIf="(companyForm.get('email').touched && companyForm.get('email').invalid) ||
            (isFormSubmitted && companyForm.get('email').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="email"
            (keydown.space)="$event.preventDefault()"
           />
          </div>
          <div class="form-group col-sm-3">
</div>
</div>


        <div class="row  justify-content-around">

          <div class="form-group col-sm-6">
            <label class="font-weight-bold">{{"Nom d'adresse de Facturation " | translate}} *</label>
            <span *ngIf="(companyForm.get('nameAdd').touched && companyForm.get('nameAdd').invalid) ||
            (isFormSubmitted && companyForm.get('nameAdd').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="nameAdd"
           />
</div><div class="form-group col-sm-6"></div>
          </div>

          <div class="row  justify-content-around">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{"Premiére Ligne d'adresse Facturation" | translate}} *</label>
              <span *ngIf="(companyForm.get('line1').touched && companyForm.get('line1').invalid) ||
              (isFormSubmitted && companyForm.get('line1').invalid)" class="text-lighter"
                style="color: red; font-size: xx-small;">
                 {{'Obligatoire' | translate }}
              </span>
              <input type="text" class="form-control" pInputText formControlName="line1"
             />
            </div>

            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{"Deuxiéme Ligne d'adresse Facturation" | translate}} </label>

              <br />
              <input type="text" class="form-control" pInputText formControlName="line2"
             />
            </div>

          </div>

          <div class="row  justify-content-around">

              <div class="form-group col-sm-3">
            <label class="font-weight-bold">{{'Code Postal Facturation' | translate}} </label>
            <br />
            <input type="text" class="form-control" pInputText formControlName="zip"
           />
          </div>
          <div class="form-group col-sm-3">

            <label class="font-weight-bold">{{'Pays de Facturation' | translate}} *</label>
               <span *ngIf="(companyForm.get('country').touched && companyForm.get('country').invalid) ||
            (isFormSubmitted && companyForm.get('country').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />

            <p-autoComplete  formControlName="country" [suggestions]="paysList"
            (onSelect)="onSelectPays($event)" (completeMethod)="onPaysSearch($event)" field="code">
          </p-autoComplete>


          </div>

          <div class="form-group col-sm-3">

            <label class="font-weight-bold">{{'Ville de Facturation' | translate}}* </label>
              <span *ngIf="(companyForm.get('city').touched && companyForm.get('city').invalid) ||
            (isFormSubmitted && companyForm.get('city').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>

            <br />
            <p-autoComplete  formControlName="city" [suggestions]="villeList"
            (onSelect)="onSelectVille($event)" (completeMethod)="onVilleSearch($event)" field="code">
          </p-autoComplete>

          </div>
          <div class="form-group col-sm-3"></div>
        </div>




        <div class="row  justify-content-around">

          <div class="form-group col-sm-3">
            <label class="font-weight-bold"> {{'Registre du Commerce' | translate}} *</label><br />
            <span *ngIf="(companyForm.get('tradeRegister').touched && companyForm.get('tradeRegister').invalid) ||
            (isFormSubmitted && companyForm.get('tradeRegister').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <input type="text" class="form-control" pInputText formControlName="tradeRegister" />
          </div>

          <div class="form-group col-sm-3">
            <label class="font-weight-bold"> {{'Tax Professionnelle' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="tax" />
          </div>

          <div class="form-group col-sm-3">
            <label class="font-weight-bold"> {{'IF' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="if" />
          </div>

          <div class="form-group col-sm-3">
            <label class="font-weight-bold"> {{'Numéro CNSS' | translate}}</label><br />
            <input type="text" class="form-control" pInputText formControlName="cnss" />
          </div>
  <div class="form-group col-sm-3">
            <label class="font-weight-bold"> {{'ICE' | translate}} </label><br />
            <input type="text" class="form-control" pInputText formControlName="ice" />
          </div>

           <div class="form-group col-sm-3">
            <!-- <label class="font-weight-bold"> {{'Classification Fiscale' | translate}}*</label><br />
            <input type="text" class="form-control" pInputText formControlName="fiscal" /> -->
          </div>


          <div class="col-md-6"></div>

        </div>




      </form>


    <p-tabView  >

      <p-tabPanel [cache]="false" *hasPermission="['COMPANY_ROUTE_PRICING_VIEW']"  header="{{ 'Compte' | translate}}"  headerStyleClass="onglet-p-3">
        <span *ngIf="this.showContrat==true">
           <app-company-account [selectedCompany]="this.selectedCompany" (accountPricingListEdited)="onAcountPricingEdited($event)"></app-company-account>
        </span>
              </p-tabPanel>

      <p-tabPanel [cache]="false" *hasPermission="['COMPANY_ROUTE_PRICING_VIEW']"  header="{{ 'Tarif Trajet' | translate}}"  headerStyleClass="onglet-p-3">
<span *ngIf="this.showContrat==true">
   <app-company-pricing [selectedCompany]="this.selectedCompany" (accountPricingListEdited)="onAcountPricingEdited($event)"></app-company-pricing>
</span>
      </p-tabPanel>


              <p-tabPanel  [cache]="false" *hasPermission="['COMPANY_SERVICE_PRICING_VIEW']" header="{{ 'Tarif Service' | translate}}"  headerStyleClass="onglet-p-3">
                <ng-template pTemplate="content">


                  <div class="card " style=" border:none">
                    <span *ngIf="this.showService==true">

                       <app-company-service [selectedCompany]="this.selectedCompany" (accountServiceListEdited)="onAcountServiceEdited($event)"></app-company-service>
                    </span>
                  </div>



                </ng-template>
            </p-tabPanel>

      </p-tabView>

 </div>


<div class="text-center mt-3 mr-3 ml-3" >

  <div class="text-center mt-3 mr-3 ml-3" >
    <a class="btn btn-primary m-1" [routerLink]="['/core/settings/company']">
      {{'Fermer' | translate}}
    </a>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
      {{'Valider et continuer' | translate }}
    </button>
    <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
      {{ "Valider" | translate }}
    </button>
  </div>
</div>
</div>
<!-- <p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="p-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="p-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer> -->
<!-- </p-dialog> -->
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
