<app-data-table
  [className]='className'
  [cols]='cols'
  [objectList]="insuranceTermList"
  [collectionSize]="collectionSize"
  [size]="size"
  (editModeBtn)='editModeSubmit($event)'
  (lazySizePage)='loadDataLazy($event)'

  ></app-data-table>


  <div *ngIf="showDialog == true">
    <app-insurance-term-ediit
      [editMode]="editMode"
      [selectedInsuranceTerm]="selectedInsuranceTerms[0]"
      (showDialog)="onHideDialog($event)"
    ></app-insurance-term-ediit>
  </div>

  <ngx-spinner
    bdColor="rgba(255,255,255,0)"
    size="large"
    color="#00d2ff"
    type="ball-spin-fade-rotating"
  ></ngx-spinner>
  <p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
>
</p-confirmDialog>
