<div class="container" style="margin-top: 20%">
  <div class="row justify-content-around mt-5 ml-5 mr-5">
    <div class="form-group col-md-2">
      <img src="./assets/img/voie.png" />
    </div>

    <div class="form-group col-md-6">

    </div>
    <div class="form-group col-md-4">
      <h4 style="color: #1f60a0; font-style: italic; font-weight: bold">
        LA VOIE EXPRESS
      </h4>
      <h6 style="font-style: italic">
        19, Rue Ibnou Koutia Ain Sebaâ, Casablanca, Maroc
      </h6>
      <h6 style="font-style: italic">Casablanca , Maroc</h6>
    </div>
  </div>

  <div class="row justify-content-around mt-5 ml-5 mr-5">
    <div class="form-group col-md-6">
      <span style="font-style: italic; font-weight: bold">Client : </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >3S MOROCCO</span
      >
      <br />
      <span style="font-style: italic; font-weight: bold">Adresse : </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >19, Rue Ibnou Koutia Ain Sebaâ, Casablanca, Maroc</span
      >
    </div>

    <div class="form-group col-md-6">
      <span style="font-style: italic; font-weight: bold">Téléphone : </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >0630065722</span
      >
    </div>
    <div class="form-group col-md-4"></div>
  </div>

  <div class="row justify-content-around mt-5 ml-5 mr-5">
    <div class="form-group col-md-6">
      <span style="font-style: italic; font-weight: bold"
        >Ordre de Commande :
      </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >OT4962</span
      >
      <br />
      <span style="font-style: italic; font-weight: bold">Trajet : </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >FES-CASA</span
      > <br>
      <span style="font-style: italic; font-weight: bold">Date : </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >25/12/2022</span
      >
    </div>

    <div class="form-group col-md-6">
      <span style="font-style: italic; font-weight: bold">Type : </span>
      <span style="color: #1f60a0; font-style: italic; font-weight: bold"
        >Complet</span
      >
    </div>
    <div class="form-group col-md-4"></div>
  </div>

  <div class="row justify-content-around mt-5 ml-5 mr-5">
    <div class="form-group col-md-12">
      <div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th
          scope="col"
          style="
            background: #1f60a0;
            color: white;
            text-align: center;
            border-right: 4px white solid;
          "
        >
          Type
        </th>
        <th scope="col"  style="
        background: #1f60a0;
        color: white;
        text-align: center;
        border-right: 4px white solid;
      ">Désignation</th>
        <th scope="col"  style="
        background: #1f60a0;
        color: white;
        text-align: center;
        border-right: 4px white solid;
      ">Montant HT</th>
        <th scope="col"  style="
        background: #1f60a0;
        color: white;
        text-align: center;
        border-right: 4px white solid;
      ">Taux TVA</th>
        <th scope="col"  style="
            background: #1f60a0;
            color: white;
            text-align: center;
            border-right: 4px white solid;
          ">Montant TTC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  </div>


  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th
            scope="col"
            style="
              background: #1f60a0;
              color: white;
              text-align: center;
              border-right: 4px white solid;
            "
          >
            Type
          </th>
          <th scope="col"  style="
          background: #1f60a0;
          color: white;
          text-align: center;
          border-right: 4px white solid;
        ">Désignation</th>
          <th scope="col"  style="
          background: #1f60a0;
          color: white;
          text-align: center;
          border-right: 4px white solid;
        ">Montant HT</th>
          <th scope="col"  style="
          background: #1f60a0;
          color: white;
          text-align: center;
          border-right: 4px white solid;
        ">Taux TVA</th>
          <th scope="col"  style="
              background: #1f60a0;
              color: white;
              text-align: center;
              border-right: 4px white solid;
            ">Montant TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th
              scope="col"
              style="
                background: #1f60a0;
                color: white;
                text-align: center;
                border-right: 4px white solid;
              "
            >
              Type
            </th>
            <th scope="col"  style="
            background: #1f60a0;
            color: white;
            text-align: center;
            border-right: 4px white solid;
          ">Désignation</th>
            <th scope="col"  style="
            background: #1f60a0;
            color: white;
            text-align: center;
            border-right: 4px white solid;
          ">Montant HT</th>
            <th scope="col"  style="
            background: #1f60a0;
            color: white;
            text-align: center;
            border-right: 4px white solid;
          ">Taux TVA</th>
            <th scope="col"  style="
                background: #1f60a0;
                color: white;
                text-align: center;
                border-right: 4px white solid;
              ">Montant TTC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr>
              <th
                scope="col"
                style="
                  background: #1f60a0;
                  color: white;
                  text-align: center;
                  border-right: 4px white solid;
                "
              >
                Type
              </th>
              <th scope="col"  style="
              background: #1f60a0;
              color: white;
              text-align: center;
              border-right: 4px white solid;
            ">Désignation</th>
              <th scope="col"  style="
              background: #1f60a0;
              color: white;
              text-align: center;
              border-right: 4px white solid;
            ">Montant HT</th>
              <th scope="col"  style="
              background: #1f60a0;
              color: white;
              text-align: center;
              border-right: 4px white solid;
            ">Taux TVA</th>
              <th scope="col"  style="
                  background: #1f60a0;
                  color: white;
                  text-align: center;
                  border-right: 4px white solid;
                ">Montant TTC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
        </div>

        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th
                  scope="col"
                  style="
                    background: #1f60a0;
                    color: white;
                    text-align: center;
                    border-right: 4px white solid;
                  "
                >
                  Type
                </th>
                <th scope="col"  style="
                background: #1f60a0;
                color: white;
                text-align: center;
                border-right: 4px white solid;
              ">Désignation</th>
                <th scope="col"  style="
                background: #1f60a0;
                color: white;
                text-align: center;
                border-right: 4px white solid;
              ">Montant HT</th>
                <th scope="col"  style="
                background: #1f60a0;
                color: white;
                text-align: center;
                border-right: 4px white solid;
              ">Taux TVA</th>
                <th scope="col"  style="
                    background: #1f60a0;
                    color: white;
                    text-align: center;
                    border-right: 4px white solid;
                  ">Montant TTC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th
                    scope="col"
                    style="
                      background: #1f60a0;
                      color: white;
                      text-align: center;
                      border-right: 4px white solid;
                    "
                  >
                    Type
                  </th>
                  <th scope="col"  style="
                  background: #1f60a0;
                  color: white;
                  text-align: center;
                  border-right: 4px white solid;
                ">Désignation</th>
                  <th scope="col"  style="
                  background: #1f60a0;
                  color: white;
                  text-align: center;
                  border-right: 4px white solid;
                ">Montant HT</th>
                  <th scope="col"  style="
                  background: #1f60a0;
                  color: white;
                  text-align: center;
                  border-right: 4px white solid;
                ">Taux TVA</th>
                  <th scope="col"  style="
                      background: #1f60a0;
                      color: white;
                      text-align: center;
                      border-right: 4px white solid;
                    ">Montant TTC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="table-responsive">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      style="
                        background: #1f60a0;
                        color: white;
                        text-align: center;
                        border-right: 4px white solid;
                      "
                    >
                      Type
                    </th>
                    <th scope="col"  style="
                    background: #1f60a0;
                    color: white;
                    text-align: center;
                    border-right: 4px white solid;
                  ">Désignation</th>
                    <th scope="col"  style="
                    background: #1f60a0;
                    color: white;
                    text-align: center;
                    border-right: 4px white solid;
                  ">Montant HT</th>
                    <th scope="col"  style="
                    background: #1f60a0;
                    color: white;
                    text-align: center;
                    border-right: 4px white solid;
                  ">Taux TVA</th>
                    <th scope="col"  style="
                        background: #1f60a0;
                        color: white;
                        text-align: center;
                        border-right: 4px white solid;
                      ">Montant TTC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
              </div>
              <div class="table-responsive">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th
                        scope="col"
                        style="
                          background: #1f60a0;
                          color: white;
                          text-align: center;
                          border-right: 4px white solid;
                        "
                      >
                        Type
                      </th>
                      <th scope="col"  style="
                      background: #1f60a0;
                      color: white;
                      text-align: center;
                      border-right: 4px white solid;
                    ">Désignation</th>
                      <th scope="col"  style="
                      background: #1f60a0;
                      color: white;
                      text-align: center;
                      border-right: 4px white solid;
                    ">Montant HT</th>
                      <th scope="col"  style="
                      background: #1f60a0;
                      color: white;
                      text-align: center;
                      border-right: 4px white solid;
                    ">Taux TVA</th>
                      <th scope="col"  style="
                          background: #1f60a0;
                          color: white;
                          text-align: center;
                          border-right: 4px white solid;
                        ">Montant TTC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <div class="table-responsive">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          style="
                            background: #1f60a0;
                            color: white;
                            text-align: center;
                            border-right: 4px white solid;
                          "
                        >
                          Type
                        </th>
                        <th scope="col"  style="
                        background: #1f60a0;
                        color: white;
                        text-align: center;
                        border-right: 4px white solid;
                      ">Désignation</th>
                        <th scope="col"  style="
                        background: #1f60a0;
                        color: white;
                        text-align: center;
                        border-right: 4px white solid;
                      ">Montant HT</th>
                        <th scope="col"  style="
                        background: #1f60a0;
                        color: white;
                        text-align: center;
                        border-right: 4px white solid;
                      ">Taux TVA</th>
                        <th scope="col"  style="
                            background: #1f60a0;
                            color: white;
                            text-align: center;
                            border-right: 4px white solid;
                          ">Montant TTC</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  <div class="table-responsive">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th
                            scope="col"
                            style="
                              background: #1f60a0;
                              color: white;
                              text-align: center;
                              border-right: 4px white solid;
                            "
                          >
                            Type
                          </th>
                          <th scope="col"  style="
                          background: #1f60a0;
                          color: white;
                          text-align: center;
                          border-right: 4px white solid;
                        ">Désignation</th>
                          <th scope="col"  style="
                          background: #1f60a0;
                          color: white;
                          text-align: center;
                          border-right: 4px white solid;
                        ">Montant HT</th>
                          <th scope="col"  style="
                          background: #1f60a0;
                          color: white;
                          text-align: center;
                          border-right: 4px white solid;
                        ">Taux TVA</th>
                          <th scope="col"  style="
                              background: #1f60a0;
                              color: white;
                              text-align: center;
                              border-right: 4px white solid;
                            ">Montant TTC</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    <div class="table-responsive">

                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th
                              scope="col"
                              style="
                                background: #1f60a0;
                                color: white;
                                text-align: center;
                                border-right: 4px white solid;
                              "
                            >
                              Type
                            </th>
                            <th scope="col"  style="
                            background: #1f60a0;
                            color: white;
                            text-align: center;
                            border-right: 4px white solid;
                          ">Désignation</th>
                            <th scope="col"  style="
                            background: #1f60a0;
                            color: white;
                            text-align: center;
                            border-right: 4px white solid;
                          ">Montant HT</th>
                            <th scope="col"  style="
                            background: #1f60a0;
                            color: white;
                            text-align: center;
                            border-right: 4px white solid;
                          ">Taux TVA</th>
                            <th scope="col"  style="
                                background: #1f60a0;
                                color: white;
                                text-align: center;
                                border-right: 4px white solid;
                              ">Montant TTC</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="table-responsive">

                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th
                                scope="col"
                                style="
                                  background: #1f60a0;
                                  color: white;
                                  text-align: center;
                                  border-right: 4px white solid;
                                "
                              >
                                Type
                              </th>
                              <th scope="col"  style="
                              background: #1f60a0;
                              color: white;
                              text-align: center;
                              border-right: 4px white solid;
                            ">Désignation</th>
                              <th scope="col"  style="
                              background: #1f60a0;
                              color: white;
                              text-align: center;
                              border-right: 4px white solid;
                            ">Montant HT</th>
                              <th scope="col"  style="
                              background: #1f60a0;
                              color: white;
                              text-align: center;
                              border-right: 4px white solid;
                            ">Taux TVA</th>
                              <th scope="col"  style="
                                  background: #1f60a0;
                                  color: white;
                                  text-align: center;
                                  border-right: 4px white solid;
                                ">Montant TTC</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

</div>

</div>

  <div class="row justify-content-around mt-5 ml-5 mr-5">
    <div class="form-group col-md-8">
 </div>
  <div class="form-group col-md-4">
 <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col" style="background: #e8e8e8; color:black">Total HT </th>
        <th scope="col">555 DH</th>

      </tr>

      <tr>

        <th scope="col" style="background: #f1f1f1;color:black">Total TVA</th>
        <th scope="col">66 DH</th>

      </tr>

      <tr>

        <th scope="col">TOTAL TTC </th>
        <th scope="col" style="background: #10365c;">666 DH</th>

      </tr>
    </thead>

  </table>
    </div>
</div>

</div>

