<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-tabView >


  <p-tabPanel *hasPermission="['INSURANCETERM_VIEW']" header='{{"Sinistre"|translate }}' headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <app-sinister></app-sinister>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['INSURANCETYPE_VIEW']" header='{{"Type Sinistre"| translate }}'  headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
                 <app-sinister-type></app-sinister-type>
      </ng-template>
  </p-tabPanel>
</p-tabView>
