<form *ngIf="!!formReady" [formGroup]="categoryForm" (ngSubmit)="onSubmit();">
    <div class="modal-body">

        <div class="form-group">
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Name' | translate}}</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Consumption' | translate}}</label>
                    <input type="number" class="form-control" formControlName="consumption">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Weight' | translate}}</label>
                    <input type="number" class="form-control" formControlName="weight">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Width' | translate}}</label>
                    <input type="number" class="form-control" formControlName="width">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Depth' | translate}}</label>
                    <input type="number" class="form-control" formControlName="depth">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Tonnage' | translate}}</label>
                    <input type="number" class="form-control" formControlName="tonnage">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-12 col-md-6">
                    <label>{{'Empty Weight' | translate}}</label>
                    <input type="number" class="form-control" formControlName="emptyWeight">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>{{'Total Weight' | translate}}</label>
                    <input type="number" class="form-control" formControlName="totalWeight">
                </div>
            </div>
            <div class="col-sm-12 col-md-6" style="padding: 0;">
                <label class="form-check-label" style="display: block; margin-bottom: .8em;">
                    {{'Door' | translate}}
                </label>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="door">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" [value]="side"> {{'Side' | translate}}
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="back"> {{'Back' | translate}}
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>