<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '500px' }" (onHide)="onShowDialog()">
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="transportCatVehicleForm">

          <div class="row justify-content-around">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Type " | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fTurnType').touched &&
                    transportCatVehicleForm.get('fTurnType').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fTurnType').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-dropdown [autoDisplayFirst]="false"  [options]="turnTypeList" optionLabel="code" [filter]="true"
                [showClear]="true"  (onChange)="onSelectTurnType($event)"
                formControlName="fTurnType">
              </p-dropdown>
            </div>

            <div class="form-group col-sm-6">
</div>
            </div>

          <div class="row justify-content-around">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Categorie Véhicule" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fVehicleCategory').touched &&
                    transportCatVehicleForm.get('fVehicleCategory').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fVehicleCategory').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-dropdown [autoDisplayFirst]="false" [options]="vehicleCategorieList" optionLabel="code" [filter]="true"
                [showClear]="true" [disabled]="(editMode==2)" (onChange)="onSelectVehicleCateory($event)"
                formControlName="fVehicleCategory">
              </p-dropdown>
            </div>

            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Transport" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fTransport').touched &&
                    transportCatVehicleForm.get('fTransport').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fTransport').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>

              <p-autoComplete [disabled]="(editMode==2)" formControlName="fTransport" [suggestions]="transportList"
                (onSelect)="onSelectTransport($event)" (completeMethod)="onTransportSearch($event)" field="name">
              </p-autoComplete>


            </div>

            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Ville Source " | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fVilleSource').touched &&
                    transportCatVehicleForm.get('fVilleSource').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fVilleSource').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>


              <p-autoComplete [disabled]="(editMode==2)" formControlName="fVilleSource" [suggestions]="villeList"
                (onSelect)="onSelectVilleSource($event)" (completeMethod)="onVilleSourceSearch($event)" field="code">
              </p-autoComplete>

            </div>

            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Ville Destination" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fVilleDestination').touched &&
                    transportCatVehicleForm.get('fVilleDestination').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fVilleDestination').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <p-autoComplete [disabled]="(editMode==2)" formControlName="fVilleDestination" [suggestions]="villeList"
                (onSelect)="onSelectVilleDestination($event)" (completeMethod)="onVilleSourceSearch($event)" field="code">
              </p-autoComplete>

            </div>



            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Montant HT" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fAmountHt').touched &&
                    transportCatVehicleForm.get('fAmountHt').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fAmountHt').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <br />
              <input type="text" class="form-control" (keyup)="onPriceChange(1)" pInputText
                formControlName="fAmountHt" />

              <!-- <div class="ui-inputgroup">
                  <input type="text"  pInputText (keyup)="onPriceChange(1)" formControlName="fAmountHt">
                  <span class="ui-inputgroup-addon">DH</span>

              </div> -->



            </div>

            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Taux TVA" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fVat').touched &&
                    transportCatVehicleForm.get('fVat').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fVat').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}
              </span>
              <p-dropdown
               [autoDisplayFirst]="false"
               [options]="vatList"
                 [filter]="true"
                 optionLabel="value"
                [showClear]="true"
                 (onChange)="onSelectVat($event)"
                  formControlName="fVat"></p-dropdown>

            </div>

            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Montant TTC" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fAmountTtc').touched &&
                    transportCatVehicleForm.get('fAmountTtc').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fAmountTtc').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <br />
              <input type="text" class="form-control" (keyup)="onPriceChange(2)" pInputText
                formControlName="fAmountTtc" />

              <!-- <div class="ui-inputgroup">
                  <input type="text"  pInputText (keyup)="onPriceChange(2)"
                  formControlName="fAmountTtc">
                  <span class="ui-inputgroup-addon">DH</span>
              </div> -->

            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">{{ "Montant TVA" | translate }} *</label>
              <span *ngIf="
                  (transportCatVehicleForm.get('fAmountTva').touched &&
                    transportCatVehicleForm.get('fAmountTva').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fAmountTva').invalid)
                " class="text-lighter" style="color: red; font-size: xx-small;">
                {{ 'Obligatoire' | translate}}

              </span>
              <br />
              <input type="text" class="form-control" pInputText formControlName="fAmountTva"
                (keydown.space)="$event.preventDefault()" />

              <!-- <div class="ui-inputgroup">
                  <input type="text"  pInputText
                  formControlName="fAmountTva" (keydown.space)="$event.preventDefault()">
                  <span class="ui-inputgroup-addon">DH</span>
              </div> -->

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="onShowDialog()" class="p-button-primary"
        label="{{'Annuler' |translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="p-button-success"
        label="{{'Valider' |translate}}"></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
