<p-dialog
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '60%' }"
  [baseZIndex]="10000"
  [position]="'right'"
  (onHide)="onHideDialog()"
>

<div class="row">


        <p-table [value]="vehicleCatsToDeliver" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>
              <th>Catégorie</th>
              <th>Tonnage</th>
              <th>Pourcentage</th>
              <th>Nombre Palettes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cat let-expanded="expanded">
            <tr>
              <td>
                <button
                  type="button"
                  pButton
                  pRipple
                  [pRowToggler]="cat"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="
                    expanded
                      ? 'pi pi-chevron-down'
                      : 'pi pi-chevron-right'
                  "
                ></button>
              </td>
              <td>{{ cat.description }}</td>
              <td>{{ cat.tonnage }} KG</td>
              <td>{{ cat.pourcentageToDeliver | number: "1.2-2" }}%</td>
              <td>{{ cat.numberOfPalette | number: "1.2-2" }}</td>
            </tr>
          </ng-template>

          <ng-template
            pTemplate="rowexpansion"
            let-cat
            let-expanded="expanded"
          >
            <tr>
              <td colspan="7">
                <div class="p-p-3">
                  <p-table [value]="cat.transports" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>transport</th>

                        <th>prix</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tr>
                      <tr>
                        <td>
                          <b>{{ tr?.name }}</b>
                        </td>

                        <td>
                          <b>{{ tr?.priceTurn }} DH</b>
                        </td>
                      </tr>
                      <tr
                        *ngFor="let item of tr?.catalogTransportTypes"
                      >
                        <td>+{{ item?.zoneDestination.code }}</td>

                        <td>{{ item?.amountTtc }}DH</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6">pas de Transport</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

  </div>



</p-dialog>
