<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-tabView >

  <p-tabPanel *hasPermission="['REFUSAL_REASON_VIEW']" header="{{ 'Refus' | translate }}" headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
                 <app-refus></app-refus>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel *hasPermission="['REJECTION_REASON_VIEW']" header="{{ 'Rejets' | translate }}" headerStyleClass="onglet-p-2">
      <ng-template pTemplate="content">
        <app-rejets></app-rejets>
      </ng-template>
  </p-tabPanel>


</p-tabView>
