<p-dialog
  header="{{ title | translate }}"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '380px' }"
  (onHide)="onShowDialog()"
>
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="transportCatVehicleForm">
          <div class="row justify-content-around">
            <div class="form-group col-sm-12">
              <label class="font-weight-bold"
                >{{ "Categorie véhicule " | translate }} *</label
              >
              <span
                *ngIf="
                  (transportCatVehicleForm.get('fVehicleCategory').touched &&
                    transportCatVehicleForm.get('fVehicleCategory').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fVehicleCategory').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
                {{ "Obligatoire" | translate }}
              </span>
              <p-dropdown
                [autoDisplayFirst]="false"
                [options]="vehicleCategorieList"
                optionLabel="code"
                [filter]="true"
                [showClear]="true"
                (onChange)="onSelectVehicleCateory($event)"
                formControlName="fVehicleCategory" [disabled]="(editMode==2)"
              ></p-dropdown>
            </div>

            <div class="form-group col-sm-12">
              <label class="font-weight-bold"
                >{{ "Transport" | translate }} *</label
              >
              <span
                *ngIf="
                  (transportCatVehicleForm.get('fTransport').touched &&
                    transportCatVehicleForm.get('fTransport').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fTransport').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
                {{ "Obligatoire" | translate }} </span
              ><br />
              <p-autoComplete formControlName="fTransport" [suggestions]="transportList"
              (onSelect)="onSelectTransport($event)"
              (completeMethod)="onTransportSearch($event)" field="code"
              [disabled]="(editMode==2)" >

            </p-autoComplete>




            </div>

            <div class="form-group col-sm-12">
              <label class="font-weight-bold"
                >{{ "Quantité" | translate }} *</label
              >
              <span
                *ngIf="
                  (transportCatVehicleForm.get('fQuantity').touched &&
                    transportCatVehicleForm.get('fQuantity').invalid) ||
                  (isFormSubmitted &&
                    transportCatVehicleForm.get('fQuantity').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
              {{'Obligatoire' |translate }}

              </span>
              <br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="fQuantity"
                (keydown.space)="$event.preventDefault()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        (click)="onShowDialog()"
        class="p-button-primary"
        label="{{'Annuler' | translate }}"
      ></button>
      <button
        type="button"
        pButton
        (click)="onSubmit()"
        class="p-button-success"
        label="{{'Valider' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>
