<div class="card mt-4">
  <div class="card-header">
    <span class="h4">{{ editModeTitle | translate }}</span>
  </div>
  <div class="card-body border-top-primary" >
    <form  [formGroup]="maintenacePlanForm">

        <div class="row  mt-3 justify-content-around">
          <div class="form-group col-md-3 ">
            <label class="font-weight-bold ">{{'Code'| translate}} *</label>
            <span *ngIf="(maintenacePlanForm.get('fcode').touched && maintenacePlanForm.get('fcode').invalid) ||
            (isFormSubmitted && maintenacePlanForm.get('fcode').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{"Obligatoire" | translate}}
            </span>
            <br />
            <input type="text" class="form-control" [attr.disabled]="true"
             formControlName="fcode" pInputText   />
          </div>

          <div class="form-group col-md-3 ">
            <label class="font-weight-bold ">{{'Description'| translate}} *</label>
            <span *ngIf="(maintenacePlanForm.get('fdescription').touched && maintenacePlanForm.get('fdescription').invalid) ||
            (isFormSubmitted && maintenacePlanForm.get('fdescription').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{"Obligatoire" | translate}}
            </span>
            <br />
            <input type="text" class="form-control"  formControlName="fdescription" pInputText   />
          </div>
      <div class="form-group col-md-4l ">
      </div>
        </div>
     


 <div class="row  mt-3 justify-content-around">
  <div class="form-group col-md-9 ">
  </div>
</div>



      </form>
 </div>


 <div class="card m-5 ">
  <div class="card-header" style="background-color: #f7f7f7;">
   <div class="row">

    <div class="col-xs-4 col-md-4 pull-left">
      <button

        type="button"
        class="btn btn-sm btn-primary mx-1"
        (click)="onShowDialogAction()"
        ><!--ADD-->
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class=" col-xs-4 col-md-6 pull-center">
      <span style="font-size: 16px; color: #5f5b5b;">
        <b> {{ "Liste des actions" | translate }}</b></span
      >
    </div>
  </div></div>
  <div class="card-body border-top-primary">
    <p-table
    [value]=" this.selectedMaintenancePreventive?.actionPlans" [lazy]="true" [rows]="size" [paginator]="true"
    [totalRecords]=" this.selectedMaintenancePreventive
    ?.actionPlans?.length">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "Operation" | translate }}</th>
          <th>{{ "Périodicité" | translate }}</th>
          <th>{{ "Programme" | translate }}</th>
          <th>{{ "Prestataire" | translate }}</th>
          <th>{{ "Responsabilité" | translate }}</th>

          <th style="width: 15%;">{{ "Actions" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr>
          <td>{{line?.actionType?.code}}</td>
          <td>{{line?.periodicityType?.code}}</td>
          <td>{{line?.programType?.code}}</td>
          <td>{{line?.serviceProvider?.code}}</td>
          <td>{{line?.responsability?.code}}</td>
          <td>
            <button

            type="button"
            class="btn btn-sm btn-primary mx-1"
            (click)="onShowDialogAction(line)"
            ><!--ADD-->
            <i class="fa fa-pencil"></i>
          </button>
          <button

          type="button"
          class="btn btn-sm btn-danger mx-1"
          (click)="onDeleteMaintenanceLine(line.id)"
          ><!--ADD-->
          <i class="fa fa-trash"></i>
        </button>

          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>

<div class="text-center mt-3 mr-3 ml-3" >
  <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
    {{'Fermer' | translate}}
  </a>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
    {{'Valider et continuer' | translate }}
  </button>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
    {{ "Valider" | translate }}
  </button>
</div>

</div>


<div *ngIf="showDialog == true">
  <app-plan-action-edit
  [selectedActionPlan]="selectActionPlan"
  (lineActionPlanEdited)="onLineEditedAction($event)"
  (showDialog)="onHideDialogAction($event)"
  [editMode]="editMode"
    ></app-plan-action-edit>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
