<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <label>Code</label><br />
        <input type="text" pInputText [(ngModel)]="codeSearch" />
      </div>
    </div>
    <br />

    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">Renitialiser</button>
      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        Rechercher
      </button>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header " style=" background-color:#f7f7f7;">
    <span>Liste Des BadgeTypes</span>
    <span class="pull-right">
      <app-badge-type-edit [editMode]="false"></app-badge-type-edit>
    </span>
  </div>
  <div class="card-body">
    <p-table [value]="badgeTypeList" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [rows]="size" [contextMenu]="cm"
      [(contextMenuSelection)]="selectedBadgeType" [totalRecords]="collectionSize" [resizableColumns]="true"
      [reorderableColumns]="true" selectionMode="single" [(selection)]="selectedBadgeType" [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th style="width:10%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-badgeType>
        <tr>
          <td>{{badgeType?.code}}</td>
          <td>{{badgeType?.description}}</td>
          <td>
            <app-badge-type-edit [editMode]="true" [selectedBadgeType]="badgeType"></app-badge-type-edit>
            <button type="button" (click)="onDelete(badgeType.id)" class="btn btn-sm btn-danger mx-1">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>
