<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '850px' }" (onHide)='onShowDialog()'>
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="insuranceForm">

          <div class="row justify-content-around">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold ">{{'Numero' | translate}} *</label>
              <span
                *ngIf="
                  (insuranceForm.get('code').touched &&
                  insuranceForm.get('code').invalid) ||
                  (isFormSubmitted && insuranceForm.get('code').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small;"
              >
                {{ "Obligatoire" | translate }}
              </span>
              <input type="text" class="form-control" pInputText formControlName="code"
                (keydown.space)="$event.preventDefault()" />
            </div>

            <div class="form-group col-sm-3 ">
              <label class="font-weight-bold ">{{'Fournisseur'| translate}} *</label>
              <span
              *ngIf="
                (insuranceForm.get('supplier').touched &&
                insuranceForm.get('supplier').invalid) ||
                (isFormSubmitted && insuranceForm.get('supplier').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small;"
            >
              {{ "Obligatoire" | translate }}
            </span>

              <p-autoComplete formControlName="supplier" [suggestions]="supplierList"
              (completeMethod)="onSupplierSearch($event)" field="code"></p-autoComplete>


            </div>
            <div class="form-group col-sm-3 ">

              <label class="font-weight-bold ">{{'Patrimoine'| translate}} *</label>
              <span
              *ngIf="
                (insuranceForm.get('patrimony').touched &&
                insuranceForm.get('patrimony').invalid) ||
                (isFormSubmitted && insuranceForm.get('patrimony').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small;"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <p-autoComplete formControlName="patrimony" [suggestions]="patrimonyList"
                (completeMethod)="onPatrimonySearch($event)" field="code"></p-autoComplete>


            </div>
            <div class="form-group col-sm-3 ">
              <label class="font-weight-bold ">{{"Type assurance"| translate}} *</label>
              <span
              *ngIf="
                (insuranceForm.get('typeinsurance').touched &&
                insuranceForm.get('typeinsurance').invalid) ||
                (isFormSubmitted && insuranceForm.get('typeinsurance').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small;"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <p-dropdown [options]="insuranceTypeList" optionLabel="code" [autoDisplayFirst]="editModee"
                (onChange)="onSelectInsuranceType($event)" formControlName="typeinsurance" filter="true"
                [showClear]='true'>
              </p-dropdown>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="form-group col-sm-3">

              <label class="font-weight-bold ">{{'De' | translate}} *</label>
              <span
              *ngIf="
                (insuranceForm.get('startDate').touched &&
                insuranceForm.get('startDate').invalid) ||
                (isFormSubmitted && insuranceForm.get('startDate').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small;"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <p-calendar formControlName="startDate" dateFormat="dd-mm-yy" showButtonBar="true" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1970:2100"></p-calendar>
            </div>

            <div class="form-group col-sm-3">
              <label class="font-weight-bold ">{{'à' | translate}} *</label>
              <span
              *ngIf="
                (insuranceForm.get('endDate').touched &&
                insuranceForm.get('endDate').invalid) ||
                (isFormSubmitted && insuranceForm.get('endDate').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small;"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <p-calendar formControlName="endDate" dateFormat="dd-mm-yy" showButtonBar="true" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1970:2100"></p-calendar>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold ">{{'Montant' | translate}} *</label>
              <span
              *ngIf="
                (insuranceForm.get('amount').touched &&
                insuranceForm.get('amount').invalid) ||
                (isFormSubmitted && insuranceForm.get('amount').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small;"
            >
              {{ "Obligatoire" | translate }}
            </span>
               <input type="text" class="form-control" pInputText formControlName="amount" pKeyFilter="num"> 
           
            
           
           
            </div>

            <div class="form-group col-sm-3">
</div>
          </div>

          <div class="card mt-2">
            <div class="card-header " style=" background-color:#f7f7f7;">
              <div class="row">

              <div class="col-xs-4 col-md-4 pull-left">
                <app-term-ediit [editMode]="false" (insuranceTermLineAdded)="onLineEdited($event)"></app-term-ediit>
              </div>
              <div class=" col-xs-4 col-md-6 pull-center">{{ "Liste des termes assurance" | translate }}</div>

           </div>
          </div>
            <div class="card-body mt-2 border-top-primary">

              <p-table [value]="this.selectedInsurance?.insuranceTermLignes"
                [totalRecords]="this.selectedInsurance?.insuranceTermLignes?.length" [scrollable]="true"
                scrollHeight="150px">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{"Terme assurance" | translate}}</th>
                    <th width='30%'>{{"valeur" |translate }} </th>
                    <th width='20%'>{{"Actions" |translate }} </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-line>
                  <tr>
                    <td>{{line?.insuranceTerm?.code}}</td>
                    <td  width='30%'> {{line?.amount}}</td>
                    <td width='20%'>

                   <app-term-ediit
                    [selectedTermLigne]="line" [editMode]="true"
                    (insuranceTermLineAdded)="onLineEdited($event)"> </app-term-ediit>
                  <button type="button" (click)="onDeleteLine(line)" class="btn btn-sm btn-danger mx-1">
                    <i class="fa fa-trash-o"></i>
                  </button>

                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button type="button" pButton (click)="onShowDialog()" class="ui-button-primary"
        label="{{'Annuler' | translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="ui-button-success"
        label="{{ 'Valider' | translate }}"></button>

    </div>
  </p-footer>
</p-dialog>
