.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}
.donotcross {
  overflow: hidden;
  align-items: center;
  background: #4084bd;
  color: white;
  height: 1em;
  line-height: 1em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

:host ::ng-deep  .p-card {
  border :1px solid #4084bd;
}
