<p-dialog header="{{ title | translate }}" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '70vw' }" (onHide)='onHideDialog()'>
  <div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="transportProductForm">

          <div class="row  justify-content-around">

            <div class="form-group col-md-4">

              <label class="font-weight-bold">{{'Transport'| translate}}</label><br />
              <p-dropdown  formControlName="transport"
              [disabled]="'true'"
              [options]="transportList"
              [autoDisplayFirst]="false"
              [appendTo]="'body'"
              [placeholder]="this.selectedTransportServiceCatalog?.transport?.name"
               (onChange)="onSelectTransport($event)"
              optionLabel="name"  [filter]="true" [showClear]="true">
            </p-dropdown>

            </div>
 <div class="form-group col-sm-2">
              <label class="font-weight-bold">{{'Avec Facture' | translate}} </label>

              <br />
              <div class="field-checkbox">
              <p-checkbox formControlName="invoice" name="invoice"(onChange)="onSelectInvoice($event)" [binary]="true" inputId="invoice"></p-checkbox>
              <label class="font-weight-bold" for="invoice">{{this.selectedTransportServiceCatalog.invoice?"Oui":"Non"}}</label>
            </div>
</div>
          <div class="form-group col-md-4 ">
            <!-- <label class="font-weight-bold">{{'Compte'| translate}}</label><br />
            <p-dropdown  formControlName="account"
            [options]="accountList"
            [disabled]="'true'"
            [autoDisplayFirst]="false"
            [placeholder]="this.selectedTransportServiceCatalog?.account?.name"
             (onChange)="onSelectAccount($event)"
            optionLabel="name"  [filter]="true" [showClear]="true">
          </p-dropdown> -->
            </div>


            <div class="form-group col-md-2"></div>
          </div>


          <div class="row  justify-content-around">


            <div class="form-group col-md-4">
              <label class="font-weight-bold">{{'Service' | translate}}*</label>
              <span *ngIf="(transportProductForm.get('product').touched && transportProductForm.get('product').invalid) ||
              (isFormSubmitted && transportProductForm.get('product').invalid)" class="text-lighter"
            style="color: red; font-size: xx-small;">
            {{'Obligatoire'| translate}}
          </span>
          <p-autoComplete [suggestions]="productList" field="code" (completeMethod)="productSearch($event)"
          formControlName="product" (onSelect)="onSelectProduct($event)"></p-autoComplete>


            </div>

            <div class="form-group col-md-4">
              <label class="font-weight-bold">{{'Quantité'| translate}}</label><br />
              <input type="text" class="form-control" pInputText
              (keyup)="onQuantityChange()" formControlName="quantity" />
</div>

<div class="form-group col-md-4 ">
  <label class="font-weight-bold">{{'Date '| translate}}</label><br />

  <p-calendar formControlName="dateService" [showTime]="true"
   [monthNavigator]="true" [yearNavigator]="true" [appendTo]="'body'"
    dateFormat="dd/mm/yy" yearRange="1970:2100"
  >
</p-calendar>
            </div>
</div>

                        <div class="row  justify-content-around" >

            <div class="form-group col-md-4 ">
              <label class="font-weight-bold">{{'Prix Achat HT'| translate}}</label><br />
              <input type="text" class="form-control" pInputText
              (keyup)="onPriceChange(1)" formControlName="purchasePriceHT" />
              </div>

              <div class="form-group col-md-4 ">
                <label class="font-weight-bold">{{'TVA'| translate}}</label><br />
                <p-dropdown  formControlName="purchaseVat"
                [options]="vats"
                appendTo="body"
                [placeholder]="this.selectedTransportServiceCatalog?.purchaseVat?.value"
                 (onChange)="onSelectPurchaseVat($event)"
                optionLabel="value"  [filter]="true" [showClear]="true">
            </p-dropdown>
                </div>

              <div class="form-group col-md-4 ">
                <label class="font-weight-bold">{{'Prix Achat TTC'| translate}}</label><br />
                <input type="text" class="form-control" pInputText
                (keyup)="onPriceChange(2)" formControlName="purchasePriceTTC" />
                </div>

                <div class="form-group col-md-4 ">
                  <label class="font-weight-bold">{{'Total Achat HT'| translate}}</label><br />
                  <input type="text" class="form-control" pInputText
                   formControlName="totalPurchasePriceHT" />
                  </div>

                  <div class="form-group col-md-4 ">
                    <label class="font-weight-bold">{{'Total Achat TVA'| translate}}</label><br />
                    <input type="text" class="form-control" pInputText
                     formControlName="totalPurchasePriceVat" />
                    </div>


                    <div class="form-group col-md-4 ">
                      <label class="font-weight-bold">{{'Total Achat TTC'| translate}}</label><br />
                      <input type="text" class="form-control" pInputText
                       formControlName="totalPurchasePriceTTC" />
                      </div>


          </div>




        </form>




      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button type="button" pButton (click)="onHideDialog()" class="p-button-primary"
        label="{{'Annuler' | translate }}"></button>
      <button type="button" pButton (click)="onSubmit()" class="p-button-success"
        label="{{ 'Valider' | translate }}"></button>
    </div>
  </p-footer>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
