

<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '350px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="vehicleForm">

        <div class="row  justify-content-around">
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">{{'Status' | translate}} *</label>
            <span *ngIf="(vehicleForm.get('code').touched && vehicleForm.get('code').invalid) ||
            (isFormSubmitted && vehicleForm.get('code').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />

            <p-dropdown [options]="status" (onChange)="onSelectStatus($event)" [appendTo]="'body'" formControlName="code"
            optionValue="id" optionLabel="code"></p-dropdown>

          </div>



        </div>
      </form>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="p-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="p-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
