<p-dialog
  header="{{ title | translate }}"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '900px' }"
  (onHide)="onShowDialog()"
>
  <form [formGroup]="orderDeliveryTransportForm">
    <div class="modal-body">
      <div class="row justify-content-around ">

        <div class="form-group col-md-3">
          <label class="font-weight-bold">{{
            "Véhicule" | translate
          }}</label
          ><br />
          <p-dropdown
          appendTo="body"
          formControlName="vehicleCategory"
            [autoDisplayFirst]="false"
            [options]="vehicleCategoryList"
            optionLabel="code"
            (onChange)="onSelectVehiclecategory($event)"
            [filter]="true"
            [showClear]="true"
          ></p-dropdown>

        </div>

       <div class="form-group col-md-3">
          <label class="font-weight-bold">{{
            "Véhicule" | translate
          }}</label
          ><br />

          <p-dropdown
          appendTo="body"
          formControlName="vehicle"
            [autoDisplayFirst]="false"
            [options]="vehicleList"
            optionLabel="registrationNumber"
            (onChange)="onSelectVehicle($event)"
            [filter]="true"
            [showClear]="true"
          ></p-dropdown>


        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold">{{
            "Transport" | translate
          }}</label
          ><br />
          <p-dropdown
          appendTo="body"
          [autoDisplayFirst]="false"
          [options]="transportList"
          optionLabel="name"
          [filter]="true"
          formControlName="transport"
          (onChange)="onSelectTransport($event)"
        >
        </p-dropdown>
        </div>




        <div class="form-group col-md-3">
          <label class="font-weight-bold">{{
            "Chauffeur" | translate
          }}</label
          ><br />
          <p-multiSelect
          appendTo="body"
          [options]="driverList"
          optionLabel="name"
          defaultLabel="- - - - - - Choisir - - - - - - "
          [maxSelectedLabels]="5"
          [panelStyle]="{ minWidth: '20em' }"
          [showTransitionOptions]="'0ms'"
          [hideTransitionOptions]="'0ms'"
          formControlName="driver"
        >
        </p-multiSelect>
        </div>
        <div class="form-group col-md-3">
      </div>
        </div>
    </div>
  </form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button
      type="button"
      pButton
      (click)="onShowDialog()"
      class="p-button-primary"
      label="{{'Annuler' | translate }}"
    ></button>
    <button
        type="button"
        pButton
        (click)="onSubmit()"
        class="p-button-success"
        label="{{ 'Valider' | translate }}"
      ></button>
    </div>
    </p-footer>
</p-dialog>
