<div [@routerTransition]>
    <app-page-header [heading]="'Roads Auto'" [icon]="'fa-users'"></app-page-header>

    <div class="main-div">
        <div class="section orders">
            <div class="table-wrapper-scroll-y">
                <table class="table table-bordered table-sm text-center">
                    <thead class="table-header">
                        <tr>
                            <th *ngFor="let header of headers">
                                <div class="th-item">
                                    <span class="th-item-text">{{header.text | translate}}</span>
                                    <i *ngIf="header.showSort" class="fa th-item-tool" [ngClass]="headerSortIcon(header.text)" (click)="changeSortState(header.text)"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orderList; let i = index">
                            <td>
                                <input type="checkbox" [(ngModel)]="selectedOrders[order.code]" (change)="updateProductList()">
                            </td>
                            <td>{{order.code}}</td>
                            <td>{{order.account ? order.account.code : '---'}}</td>
                            <td>{{getOrderTonnage(order)}}</td>
                            <td>{{getOrderDate(order)}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 
                        <div class="pagination-wrapper">
                            <ngb-pagination [(collectionSize)]="orderList.length" [(page)]="currentPage" [(maxSize)]="MAX_ITEM_PER_PAGE" [boundaryLinks]="true"></ngb-pagination>
                        </div>
                        -->
            </div>
        </div>
        <div class="section details">
            <label>{{'Title' | translate}}</label>
            <div class="products">
                <div class="table-wrapper-scroll-y">
                    <table class="table table-hover table-sm table-striped text-center">
                        <thead class="table-header">
                            <tr>
                                <th>{{'Driver' | translate}}</th>
                                <th>{{'Vehicle' | translate}}</th>
                                <th>{{'Distance' | translate}}</th>
                                <th>{{'Cost' | translate}}</th>
                                <th>{{'Duration' | translate}}</th>
                                <th>{{'Status' | translate}}</th>
                                <th>{{'Details' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let line of productList; let i = index">
                                <td>{{line.product.code}}</td>
                                <td>{{line.quantity}}</td>
                            </tr>!-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>