<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">

    <div class="list-group">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ 'Dashboard' | translate }}">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>
                <span class="sidebar-label">{{ 'Dashboard' | translate }}</span>
            </a>
        </span>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ 'Clients' | translate }}">
            <a [routerLink]="['/clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-address-book"></i>
                <span class="sidebar-label">{{ 'Clients' | translate }}</span>
            </a>
        </span>

        <div ngbDropdown class="d-inline-block">
            <a ngbDropdownToggle id="driversDropDown" class="list-group-item" style="cursor: pointer;">
                <i class="fa fa-fw fa-address-book"></i>
                <span class="sidebar-label">{{ 'Drivers' | translate }}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="driversDropDown">
                <a class="dropdown-item" [routerLink]="['/drivers']" [routerLinkActive]="['router-link-active']">{{'List' | translate}}</a>
                <a class="dropdown-item" [routerLink]="['/drivers-edit']" [routerLinkActive]="['router-link-active']">{{'Add Driver' | translate}}</a>
                <a class="dropdown-item" [routerLink]="['/drivers-zones']" [routerLinkActive]="['router-link-active']">{{'Add Zone' | translate}}</a>
            </div>
        </div>

        <div ngbDropdown class="d-inline-block">
            <a ngbDropdownToggle id="vehiclesDropDown" class="list-group-item" style="cursor: pointer;">
                <i class="fa fa-fw fa-address-book"></i>
                <span class="sidebar-label">{{ 'Vehicles' | translate }}</span>
            </a>
            <!-- <div ngbDropdownMenu aria-labelledby="driversDropDown">
                <a class="dropdown-item" [routerLink]="['/drivers']" [routerLinkActive]="['router-link-active']">{{'List' | translate}}</a>
                <a class="dropdown-item" [routerLink]="['/drivers-edit']" [routerLinkActive]="['router-link-active']">{{'Add Driver' | translate}}</a>
                <a class="dropdown-item" [routerLink]="['/drivers-zones']" [routerLinkActive]="['router-link-active']">{{'Add Zone' | translate}}</a>
            </div> -->
        </div>

        <!-- Header Fields / for small screens -->

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span>
                    <i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span>
                        <i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }}
                        <b class="caret"></b>
                    </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>&nbsp; {{currentUser.name}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
        <div>
                <span>
                    <a class="sidebar-toggler list-group-item" (click)="cropSidebar()">
                        <i class="fa " [ngClass]="{ 'fa-chevron-left' : !sidebarcropped, 'fa-chevron-right' : sidebarcropped}"></i>
                    </a>
                </span>
            </div>
    </div>
</nav>
