
<div
class="container-fluid "
style="background:url('./assets/img/imgArrierePlan99.png'); width: 100%;height: 100%;background-size:100%;position: fixed;background-repeat: no-repeat;background-size: cover;"
>
<div class="m-5">
  <!-- <button
    type="button"
    class="btn btn float-left btn-outline-primary m-5 "
  >
    <i class="fa fa-user"></i> Profil
  </button> -->
  <button
    type="button"
    class="btn btn float-right  btn-outline-primary m-5 "
    (click)="logout()"
  >
    <i class="fa fa-sign-out"></i> {{'Deconnexion' | translate }}
  </button>
</div>

<div class="container">
  <div class="row centered" style="margin: 20% 15% 15% 15%;">

     <div class="col-md-4" >
      <a routerLinkActive="active" routerLink="/core/drivers/list">
      <div class="text-center p-3"  style="border-radius:5px ;background-color:#253544;">
        <img src="./assets/img/chauffeur.png" style="width: 67px;height:67px;" class="mb-2"><br>

         <span class="text-white">{{'Chauffeur' | translate }}</span>

      </div>
    </a>

 <a routerLinkActive="active" routerLink="/core/vehicles/list">
      <div class="text-center p-3 mt-3"  style="border-radius:5px ;background-color:#253544;">
        <img src="./assets/img/truck.png" style="width: 70px;height:70px;" class="mb-2"><br>

         <span class="text-white">{{'Véhicule' | translate }}</span>

      </div> </a>

     </div>


     <div class="col-md-4" >
       <a routerLinkActive="active" routerLink="/core/maintenance/treatment">
        <div class="text-center p-4"  style="border-radius:5px ;background-color:#253544;">
            <img src="./assets/img/maintenance1.png" style="width: 65px;height:65;" class="mb-3"><br>

             <span class="text-white">{{'Maintenance' | translate }}</span>

          </div> </a>
    <a routerLinkActive="active" routerLink="/core/settings/badge-types">
          <div class="text-center p-3 mt-3"  style="border-radius:5px ;background-color:#253544;">
            <img src="./assets/img/1435085.png" style="width: 70px;height:70px;" class="mb-2"><br>

            <span class="text-white">{{'Badge' | translate }}</span>

          </div> </a>

   </div>
<div class="col-md-4" >
<a routerLinkActive="active" routerLink="/core/settings/insurances">
<div class="text-center p-3"  style="border-radius:5px ;background-color:#253544;">
<img src="./assets/img/assurance_auto.png" style="width: 70px;height:70px;" class="mb-2"><br>

<span class="text-white">{{'Assurance' | translate }}</span>

</div></a>
<a routerLinkActive="active" routerLink="/core/settings/suppliers">
<div class="text-center p-3 mt-3"  style="border-radius:5px ;background-color:#253544;">
<img src="./assets/img/supplier.png" style="width: 70px;height:70px;" class="mb-2"><br>

<span class="text-white">{{'Fournisseur' | translate }}</span>

</div></a>

</div>




  </div>
</div>
</div>

