
<div
class="container-fluid cadr"
>
<div class="m-5">
  <!-- <button
    type="button"
    class="btn btn float-left btn-outline-primary m-5 "
  >
    <i class="fa fa-user"></i> Profil
  </button> -->
  <button
    type="button"
    class="btn btn float-right  btn-outline-primary m-5 "
    (click)="logout()"
  >
    <i class="fa fa-sign-out"></i> {{'Deconnexion' | translate }}
  </button>
</div>

<div class="container">
  <div class="row centered" style="margin: 20% 15% 15% 15%;">

     <div class="col-md-4" >
      <a routerLinkActive="active" routerLink="/core/drivers/list">
      <div class="text-center p-3 menu"  >
        <img src="./assets/img/chauffeur.png" style="width: 67px;height:67px;" class="mb-2"><br>

         <span class="text-white">{{'Chauffeur' | translate }}</span>

      </div>
    </a>

     <a routerLinkActive="active" routerLink="/core/vehicles/list">
      <div class="text-center p-3 mt-3 menu"  >
        <img src="./assets/img/truck.png" style="width: 70px;height:70px;" class="mb-2"><br>
         <span class="text-white">{{'Véhicule' | translate }}</span>
      </div> </a>

      <a routerLinkActive="active" routerLink="/core/settings/insurances">
        <div class="text-center p-3 mt-3 menu"  >
          <img src="./assets/img/assurance_auto.png" style="width: 70px;height:70px;" class="mb-2"><br>
           <span class="text-white">{{'Assurance' | translate }}</span>
        </div> </a>

     </div>


     <div class="col-md-4" >
       <a routerLinkActive="active" routerLink="/core/maintenance/treatment">
        <div class="text-center p-4 menu"  >
            <img src="./assets/img/maintenance1.png" style="width: 65px;height:65;" class="mb-3"><br>

             <span class="text-white">{{'Maintenance Corrective' | translate }}</span>

          </div> </a>
    <a routerLinkActive="active" routerLink="/core/maintenance-plan/list">
          <div class="text-center p-3 mt-3 menu"  >
            <img src="./assets/img/plan.png" style="width: 70px;height:70px;" class="mb-2"><br>

            <span class="text-white">{{'Maintenance Préventive' | translate }}</span>

          </div> </a>

          <a routerLinkActive="active" routerLink="/core/settings/diesel-declaration">
            <div class="text-center p-3 mt-3 menu"  >
              <img src="./assets/img/gasoil.png" style="width: 70px;height:70px;" class="mb-2"><br>
  
              <span class="text-white">{{'Déclaration Gasoil' | translate }}</span>
  
            </div> </a>

   </div>
<div class="col-md-4" >
<a routerLinkActive="active" routerLink="/core/order/list">
<div class="text-center p-3 menu"  >
<img src="./assets/img/order.png" style="width: 70px;height:70px;" class="mb-2"><br>

<span class="text-white">{{'Commande' | translate }}</span>

</div></a>
<a routerLinkActive="active" routerLink="/core/reception/list">
<div class="text-center p-3 mt-3 menu"  >
<img src="./assets/img/supplier.png" style="width: 70px;height:70px;" class="mb-2"><br>

<span class="text-white">{{'Reception' | translate }}</span>

</div></a>


<a routerLinkActive="active" routerLink="/core/stock">
  <div class="text-center p-3 mt-3 menu"  >
  <img src="./assets/img/stock.png" style="width: 70px;height:70px;" class="mb-2"><br>
  
  <span class="text-white">{{'Stock' | translate }}</span>
  
  </div></a>

</div>




  </div>
</div>
</div>

