




<div
class="container-fluid cadr"
>

<div >

  <button
    type="button"
    class="btn btn float-right  btn-outline-primary  mt-5"
    (click)="logout()"
  >
    <i class="fa fa-sign-out"></i> {{'Deconnexion' | translate }}
  </button>
</div>


<main class="site-wrapper">


  <div class="pt-table">

    <div class="pt-tablecell page-home relative" >
        <div class="ems" style="margin-top: -30px;margin-bottom: 30px;">
            <img src="./assets/img/Menu/candor.ico" style="width: 300px" ><br>

          </div>
                    <div class="overlay">

                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">


                                <div class="hexagon-menu clear">
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>

                                        <a  class="hex-content" routerLink="/core/drivers/list">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i > <img src="./assets/img/index/chauffeur.png">
                                                    </i>
                                                </span>
                                                <span class="title">Chauffeur</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>



                                        <a  class="hex-content" routerLink="/core/vehicles/list">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i > <img src="./assets/img/index/truck.png">
                                                  </i>
                                              </span>
                                              <span class="title">Véhicle</span>
                                          </span>
                                      </a>

                                    </div>
                                    <div class="hexagon-item">
                                      <div class="hex-item">
                                          <div></div>
                                          <div></div>
                                          <div></div>
                                      </div>
                                      <div class="hex-item">
                                          <div></div>
                                          <div></div>
                                          <div></div>
                                      </div>



                                      <a  class="hex-content" routerLink="/core/settings/insurances">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i > <img src="./assets/img/index/assurance_auto.png">
                                                  </i>
                                              </span>
                                              <span class="title">Assurance</span>
                                          </span>
                                      </a>
                                  </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>


                                        <a  class="hex-content" routerLink="/core/order-transport/list">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i> <img src="./assets/img/index/stock.png">
                                                  </i>
                                              </span>
                                              <span class="title">Order Transpot</span>
                                          </span>
                                      </a>
                                    </div>
                                    <div class="hexagon-item">
                                      <div class="hex-item">
                                          <div></div>
                                          <div></div>
                                          <div></div>
                                      </div>
                                      <div class="hex-item">
                                          <div></div>
                                          <div></div>
                                          <div></div>
                                      </div>
                                      <a  class="hex-content" routerLink="/core/order/list">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i > <img src="./assets/img/index/order.png">
                                                  </i>
                                              </span>
                                              <span class="title">Tarifs</span>
                                          </span>
                                      </a>
                                  </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>


                                        <a  class="hex-content" routerLink="/core/settings/account">
                                             <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i>  <img src="./assets/img/index/account.png"></i>
                                                </span>
                                                <span class="title">CLient</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                      <div class="hex-item">
                                          <div></div>
                                          <div></div>
                                          <div></div>
                                      </div>
                                      <div class="hex-item">
                                          <div></div>
                                          <div></div>
                                          <div></div>
                                      </div>




                                      <a  class="hex-content" routerLink="/core/transport-plan/list">
                                        <span class="hex-content-inner">
                                           <span class="icon">
                                               <i>  <img src="./assets/img/index/plan.png" ></i>
                                           </span>
                                           <span class="title">Plan transport</span>
                                       </span>
                                   </a>
                                  </div>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </main>
</div>









