.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}
.bNext
{
  width: 150px;
    font-size: 15px;
    font-weight: bolder;
}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: #4084bd;
  color: white;
  height: 1em;
  line-height: 1em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

:host ::ng-deep  .p-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  // border :1px solid #4084bd;
}
