
<div class="container-fluid mt-5">
<form [formGroup]="deliveryInfoForm">


  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <p-scrollPanel [style]="{ width: '100%', height: 'auto' }">
        <p-panel  [toggleable]="true">
          <ng-template pTemplate = "header" >
            <img src="./assets/img/depuis.png" width="30px"
            height="30px">          <span style="font-weight: 600">DEPUIS</span>
        </ng-template>
          <div class="row justify-content-around">
            <div class="form-group col-md-4">
              <label class="font-weight-bold"
                >{{ " Déjà existant" | translate }} *</label
              >
              <br />
            </div>
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Oui" | translate }} </label
              >

              <p-radioButton
                name="expediteur"
                [value]="'true'"
                [(ngModel)]="isExistAccountOrderTypeAllerSource" [ngModelOptions]="{standalone: true}"
                inputId="expediteur1"
              ></p-radioButton>
            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Non" | translate }} </label
              >
                <p-radioButton
                name="expediteur"
                 [value]="'false'"
                [(ngModel)]="isExistAccountOrderTypeAllerSource" [ngModelOptions]="{standalone: true}"
                inputId="expediteur2"
              ></p-radioButton>
            </div>

          </div>
          <div class="row justify-content-around">
            <div class="form-group col-md-6">
              <label class="font-weight-bold"
                >{{ "Nom" | translate }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoSourceName').touched &&
                deliveryInfoForm.get('deliveryInfoSourceName').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoSourceName').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <p-autoComplete  *ngIf="(isExistAccountOrderTypeAllerSource=='true')"
               field="description" formControlName="deliveryInfoSourceName"
               [suggestions]="accountList"
               (onSelect)="onSelectAccount($event,'Source')"
               (completeMethod)="onAccountSearch($event)">
            </p-autoComplete>
              <input *ngIf="(isExistAccountOrderTypeAllerSource=='false')"
                type="text"
                class="form-control" formControlName="deliveryInfoSourceName"
                pInputText

              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Tel 1" | translate
              }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoSourceTel1').touched &&
                deliveryInfoForm.get('deliveryInfoSourceTel1').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoSourceTel1').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoSourceTel1"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "email" | translate
              }}</label
              ><br />
              <input
              formControlName="deliveryInfoSourceEmail"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Société" | translate
              }}</label
              ><br />

              <p-autoComplete  field="code" formControlName="deliveryInfoSourceCompany">
              </p-autoComplete>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="form-group col-md-6">
              <label class="font-weight-bold"
                >{{ "Ligne d'adresse 1" | translate }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoSourceLine1').touched &&
                deliveryInfoForm.get('deliveryInfoSourceLine1').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoSourceLine1').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoSourceLine1"
                type="text"
                class="form-control"
                pInputText

              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Ville" | translate
              }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoSourceCity').touched &&
                deliveryInfoForm.get('deliveryInfoSourceCity').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoSourceCity').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoSourceCity"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Code postal" | translate
              }}</label
              ><br />
              <input
              formControlName="deliveryInfoSourceZip"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Pays" | translate
              }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoSourceCountry').touched &&
                deliveryInfoForm.get('deliveryInfoSourceCountry').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoSourceCountry').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoSourceCountry"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Latitude" | translate
              }}</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoSourceLatitude').touched &&
                deliveryInfoForm.get('deliveryInfoSourceLatitude').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoSourceLatitude').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoSourceLatitude"
                type="text"
                class="form-control"
                pInputText
              />
    </div>
    <div class="form-group col-md-6">
      <label class="font-weight-bold">{{
        "Longitude" | translate
      }}</label
      >
      <span
      *ngIf="
        (deliveryInfoForm.get('deliveryInfoSourceLongitude').touched &&
        deliveryInfoForm.get('deliveryInfoSourceLongitude').invalid) ||
        (isFormSubmitted &&
        deliveryInfoForm.get('deliveryInfoSourceLongitude').invalid)
      "
      class="text-lighter"
      style="color: red; font-size: xx-small"
    >
      {{ "Obligatoire" | translate }}
    </span>
      <br />
      <input
      formControlName="deliveryInfoSourceLongitude"
        type="text"
        class="form-control"
        pInputText
      />
  </div>



            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Date d'enlévenment" | translate
              }}</label
              ><br />
            <p-calendar formControlName="deliveryInfoSourceDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="1970:2100"
           >
          </p-calendar>
        </div>
          <div class="form-group col-md-6">
  </div>

          </div>
        </p-panel>
      </p-scrollPanel>
    </div>
    <div class="p-col-12 p-md-6">
      <p-scrollPanel
        [style]="{ width: '100%', height: 'auto' }"
        styleClass="custombar1"
      >
        <p-panel [toggleable]="true">
          <ng-template pTemplate = "header" >
            <img src="./assets/img/vers.png" width="30px"
            height="30px">          <span style="font-weight: 600">VERS</span>
        </ng-template>
          <div class="row justify-content-around">
            <div class="form-group col-md-4">
              <label class="font-weight-bold"
                >{{ " Déjà existant" | translate }} </label
              >
              <br />
            </div>
                       <div class="form-group col-md-2">
  </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Oui" | translate }} </label
              >

              <p-radioButton
                name="destinataire"
                [value]="'true'"
                [(ngModel)]="isExistAccountOrderTypeAllerDistinataire"[ngModelOptions]="{standalone: true}"
                inputId="destinataire1"
              ></p-radioButton>
            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Non" | translate }} *</label
              >
                <p-radioButton
                name="destinataire"
                 [value]="'false'"
                [(ngModel)]="isExistAccountOrderTypeAllerDistinataire"[ngModelOptions]="{standalone: true}"
                inputId="destinataire2"
              ></p-radioButton>
            </div>

          </div>

          <div class="row justify-content-around">
            <div class="form-group col-md-6">
              <label class="font-weight-bold"
                >{{ "Nom" | translate }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoDestinationName').touched &&
                deliveryInfoForm.get('deliveryInfoDestinationName').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoDestinationName').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <p-autoComplete  *ngIf="(isExistAccountOrderTypeAllerDistinataire=='true')"
              field="description"
              [suggestions]="accountList"
               (onSelect)="onSelectAccount($event,'Destination')"
               (completeMethod)="onAccountSearch($event)"
              formControlName="deliveryInfoDestinationName">
           </p-autoComplete>
             <input *ngIf="(isExistAccountOrderTypeAllerDistinataire=='false')"
               type="text"
               class="form-control"
                formControlName="deliveryInfoDestinationName"
               pInputText

             />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Tel 1" | translate
              }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoDestinationTel1').touched &&
                deliveryInfoForm.get('deliveryInfoDestinationTel1').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoDestinationTel1').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span><br />
              <input
              formControlName="deliveryInfoDestinationTel1"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "email" | translate
              }}</label
              ><br />
              <input
              formControlName="deliveryInfoDestinationEmail"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Société" | translate
              }}</label
              ><br />

              <p-autoComplete  formControlName="deliveryInfoDestinationCompany" field="code">
              </p-autoComplete>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="form-group col-md-6">
              <label class="font-weight-bold"
                >{{ "Ligne d'adresse 1" | translate }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoDestinationLine1').touched &&
                deliveryInfoForm.get('deliveryInfoDestinationLine1').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoDestinationLine1').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoDestinationLine1"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Ville" | translate
              }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoDestinationCity').touched &&
                deliveryInfoForm.get('deliveryInfoDestinationCity').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoDestinationCity').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoDestinationCity"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Code postal" | translate
              }}</label
              ><br />
              <input
              formControlName="deliveryInfoDestinationZip"
                type="text"
                class="form-control"
                pInputText
              />
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Pays" | translate
              }} *</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoDestinationCountry').touched &&
                deliveryInfoForm.get('deliveryInfoDestinationCountry').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoDestinationCountry').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoDestinationCountry"
                type="text"
                class="form-control"
                pInputText
              />
            </div>
            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Latitude" | translate
              }}</label
              >
              <span
              *ngIf="
                (deliveryInfoForm.get('deliveryInfoDestinationLatitude').touched &&
                deliveryInfoForm.get('deliveryInfoDestinationLatitude').invalid) ||
                (isFormSubmitted &&
                deliveryInfoForm.get('deliveryInfoDestinationLatitude').invalid)
              "
              class="text-lighter"
              style="color: red; font-size: xx-small"
            >
              {{ "Obligatoire" | translate }}
            </span>
              <br />
              <input
              formControlName="deliveryInfoDestinationLatitude"
                type="text"
                class="form-control"
                pInputText
              />
    </div>
    <div class="form-group col-md-6">
      <label class="font-weight-bold">{{
        "Longitude" | translate
      }}</label
      >
      <span
      *ngIf="
        (deliveryInfoForm.get('deliveryInfoDestinationLongitude').touched &&
        deliveryInfoForm.get('deliveryInfoDestinationLongitude').invalid) ||
        (isFormSubmitted &&
        deliveryInfoForm.get('deliveryInfoDestinationLongitude').invalid)
      "
      class="text-lighter"
      style="color: red; font-size: xx-small"
    >
      {{ "Obligatoire" | translate }}
    </span>
      <br />
      <input
      formControlName="deliveryInfoDestinationLongitude"
        type="text"
        class="form-control"
        pInputText
      />
  </div>
            <div class="form-group col-md-6">
              <label class="font-weight-bold">{{
                "Date Livraison" | translate
              }}</label
              ><br />
            <p-calendar  formControlName="deliveryInfoDestinationDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="1970:2100"
           >
          </p-calendar>
        </div>
          <div class="form-group col-md-6">

  </div>

          </div>
        </p-panel>
      </p-scrollPanel>
    </div>


  </div>




  <div class="row justify-content-around">

  <div class="form-group col-md-3">
    <label class="font-weight-bold"
      >{{ "Type emballage" | translate }} *</label
    >
    <span
    *ngIf="
      (deliveryInfoForm.get('packagingType').touched &&
      deliveryInfoForm.get('packagingType').invalid) ||
      (isFormSubmitted &&
      deliveryInfoForm.get('packagingType').invalid)
    "
    class="text-lighter"
    style="color: red; font-size: xx-small"
  >
    {{ "Obligatoire" | translate }}
  </span>
    <p-dropdown
    formControlName="packagingType"
      [autoDisplayFirst]="false"
      [options]="packagingTypeList"
      optionLabel="code"
      
      (onChange)="onSelectPackagingType($event)"
      [filter]="true"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="form-group col-md-3">
    <label class="font-weight-bold"
      >{{ "Poids" | translate }} *</label
    >
    <span
    *ngIf="
      (deliveryInfoForm.get('weight').touched &&
      deliveryInfoForm.get('weight').invalid) ||
      (isFormSubmitted &&
      deliveryInfoForm.get('weight').invalid)
    "
    class="text-lighter"
    style="color: red; font-size: xx-small"
  >
    {{ "Obligatoire" | translate }}
  </span>
  <input
  formControlName="weight"
    type="text"
    class="form-control"
    pInputText
  />
  </div>

  <div class="form-group col-md-3">
    <label class="font-weight-bold"
      >{{ "Volume  " | translate }}<span style="font-size: 9px;">Mètre cube (m3)</span> *</label
    >
    <span
    *ngIf="
      (deliveryInfoForm.get('capacity').touched &&
      deliveryInfoForm.get('capacity').invalid) ||
      (isFormSubmitted &&
      deliveryInfoForm.get('capacity').invalid)
    "
    class="text-lighter"
    style="color: red; font-size: xx-small"
  >
    {{ "Obligatoire" | translate }}
  </span>
  <input
  formControlName="capacity"
    type="text"
    class="form-control"
    pInputText
  />
  </div>
  <div class="form-group col-md-3">

  </div>
    </div>
    <div class="row justify-content-around">

    <div class="form-group col-md-6">
      <!-- <p-button  (click)='onShowDialogPackageDetail(null,false)'>Ajouter Details d'emballage</p-button> -->
      <span class="add" style="float: left;" *ngIf="   this.selectedDeliveryInfo.packagingType?.id>0">
        <img *ngIf="   this.selectedDeliveryInfo.packagingType?.id==2" src="/assets/img/add.png" style="width: 30px ; height: 30px;">

        <img *ngIf="   this.selectedDeliveryInfo.packagingType?.id==1
        " src="/assets/img/add_pallet.png" style="width: 30px ; height: 30px;">
        <a (click)='onShowDialogPackageDetail(null,false)' class="ml-2">Ajouter Details d'emballage</a></span>
  </div>
  <div class="form-group col-md-6">
  </div>
  </div>

  <p-table *ngIf="   this.selectedDeliveryInfo.packagingType?.id>0"
    [value]=" packageDetails" [lazy]="true" [rows]="5" [paginator]="true"
    [totalRecords]="packageDetails">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "Nombre colis" | translate }}</th>
          <th>{{ "Type Palette" | translate }}</th>
          <th>{{ "Longueur" | translate }}</th>
          <th>{{ "Largeur" | translate }}</th>
          <th>{{ "Hauteur" | translate }}</th>
          <th>{{ "Poids Kg" | translate }}</th>


          <th style="width: 15%;">{{ "Actions" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr>
          <td>{{ line?.numberOfPackages }}</td>

          <td>
            {{ line?.containerType?.code }}
        </td>
        <td>{{ line?.length }}</td>
        <td>
            {{ line?.width }}
        </td>
        <td>{{ line?.height }}</td>
        <td>{{ line?.weight }}</td>


          <td>
            <button

            type="button"
            class="btn btn-sm btn-primary mx-1"
            (click)="onShowDialogPackageDetail(line,true)"
            ><!--ADD-->
            <i class="fa fa-pencil"></i>
          </button>
          <button

          type="button"
          class="btn btn-sm btn-danger mx-1"
          (click)="onDeletePackageDetail(line.id)"
          ><!--ADD-->
          <i class="fa fa-trash"></i>
        </button>

          </td>
        </tr>
      </ng-template>

    </p-table>


</form>
</div>
<div class="row pull-left mt-5">
  <button
    type="button"
    pButton
    icon="fa fa-chevron-left"
    (click)="previous()"
  ></button>
</div>
<div class="row pull-right mt-5">
  <button
    type="button"
    pButton
    icon="fa fa-chevron-right"
    (click)="next()"
  ></button>
</div>


  <div *ngIf="showDialogContactAddress == true">
    <app-generate-contact-address
      (showDialog)="onHideDialogGenerateContactAddress($event)"
      [selectedAccount]="selectedAccount"
      (addressContactDeliveryInfo)="affectedContactAddressInfoSelected($event)"
    ></app-generate-contact-address>
  </div>


  <div *ngIf="showDialogPackageDetail == true">
    <app-package-detail-edit
      (showDialog)="onHideDialogPackageDetail($event)"
      (packageDetailAdded)="onLineEditedPackageDetail($event)"
       [selectedPackageDetail]="selectPackageDetail"
       [editMode]="editModePackageDetail"
      ></app-package-detail-edit>
  </div>
