<div class="card mt-1">
  <div class="card-header">
    <span class="h4">Plan Transport</span>
  </div>

  <div class="card-body border-top-primary">

    <form [formGroup]="transportPlanForm">

      <div class="row mt-3 justify-content-around ">

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Ordre" | translate }} *</label>
          <br />
          <input formControlName="orderTransport" [attr.disabled]="'true'" type="text" class="form-control"
            pInputText />
        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Catégorie" | translate }} *</label>
          <br />

          <p-dropdown formControlName="vehicleCategory" [autoDisplayFirst]="false" [options]="vehicleCategoryList"
            (onChange)="onSelectVehicleCategory($event)" optionLabel="code" [filter]="true" [showClear]="true"
            [placeholder]="this.selectedTransportPlan?.vehicleCategory?.code"></p-dropdown>

        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Transport" | translate }} *</label>
          <br />

          <p-autoComplete formControlName="transport" [suggestions]="transportList"
            (onSelect)="onSelectTransport($event)" (completeMethod)="onTransportSearch($event)" field="name">
          </p-autoComplete>

        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Date" | translate }} *</label>
          <br />
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="1970:2100"
            formControlName="date">
          </p-calendar>
        </div>
      </div>

      <div class="row mt-3 justify-content-around ">

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Type" | translate }} *</label>
          <br />
          <input formControlName="turnType" [attr.disabled]="'true'" type="text" class="form-control" pInputText />
        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Chargement" | translate }} *</label>
          <br />

          <input formControlName="loadingType" [attr.disabled]="'true'" type="text" class="form-control" pInputText />

        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Trajet" | translate }} *</label>
          <br />

          <input formControlName="trajet" [attr.disabled]="'true'" type="text" class="form-control" pInputText />

        </div>

        <div class="form-group col-md-3 ">
          <label class="font-weight-bold">{{ "Compte" | translate }} *</label>
          <br />

          <input formControlName="account" [attr.disabled]="'true'" type="text" class="form-control" pInputText />
        </div>
      </div>

      <div class="row mt-3 justify-content-around "
      >


        <div class="form-group col-md-3  " *ngIf="this.selectedTransportPlan?.transport?.interneOrExterne==true">
          <label class="font-weight-bold">{{ "Véhicule" | translate }} *</label>

          <br />
          <p-autoComplete
          formControlName="vehicle" field="code"
          [suggestions]="vehicleList" (onSelect)="onSelectVehicle($event)"
          (completeMethod)="onVehicleSearch($event)"  [dropdown]="true"
          >
           <ng-template let-vehicle pTemplate="item">
               <div class="vehicle-item">
                   <div>{{vehicle.code}} </div>
               </div>
           </ng-template>
       </p-autoComplete>

          <!-- <p-autoComplete formControlName="vehicle" [suggestions]="vehicleList" (onSelect)="onSelectVehicle($event)"
            (completeMethod)="onVehicleSearch($event)" field="registrationNumber">
          </p-autoComplete> -->

        </div>
        <div class="form-group col-md-3 "  *ngIf="this.selectedTransportPlan?.transport?.interneOrExterne==true">
          <label class="font-weight-bold">{{ "Chauffeur" | translate }} *</label>

          <br />



          <p-autoComplete
          formControlName="driver" field="codeName"
          [suggestions]="driverList" (onSelect)="onSelectDriver($event)"
          (completeMethod)="onDriverSearch($event)"  [dropdown]="true"
          >
           <ng-template let-driver pTemplate="item">
               <div class="driver-item">
                   <div>{{driver.code}} -> {{driver.name}} </div>
               </div>
           </ng-template>
       </p-autoComplete>
<!--
          <p-dropdown formControlName="driver" [autoDisplayFirst]="false" [options]="driverList"
            (onChange)="onSelectDriver($event)" optionLabel="name" [filter]="true" [showClear]="true" [dataKey]="name"
            [placeholder]="this.selectedTransportPlan?.driver?.name"></p-dropdown> -->
        </div>

        <div class="form-group col-md-3  " *ngIf="this.selectedTransportPlan?.transport?.interneOrExterne==false">
          <label class="font-weight-bold">{{ "Vehicle" | translate }} *</label>
          <br />

          <input formControlName="vehicleExterne"  type="text" class="form-control"
            pInputText />
        </div>

        <div class="form-group col-md-3  " *ngIf="this.selectedTransportPlan?.transport?.interneOrExterne==false">
          <label class="font-weight-bold">{{ "Chauffeur" | translate }} *</label>
          <br />

          <input formControlName="driverExterne"  type="text" class="form-control"
            pInputText />
        </div>


        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Statut" | translate }} *</label>
          <br />
          <input formControlName="status" [attr.disabled]="'true'" type="text" class="form-control" pInputText />
        </div>
        <div class="form-group col-md-3 "></div>
      </div>

      <div class="row mt-3 justify-content-around ">

        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Prix Achat HT" | translate }} *</label>
          <br />

          <input formControlName="purchasePriceNegotiated" [attr.disabled]="'true'" type="text" class="form-control"
            pInputText />
        </div>
        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Prix Service Achat HT" | translate }} *</label>
          <br />

          <input formControlName="totalServicePurchaseHt" [attr.disabled]="'true'" type="text" class="form-control"
            pInputText />
        </div>
        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Total HT" | translate }} *</label>
          <br />
          <input formControlName="totalPurchasePriceHT" [attr.disabled]="'true'" type="text" class="form-control"
            pInputText />
        </div>
        <div class="form-group col-md-3  ">
        </div>
      </div>

      <div class="row mt-3 justify-content-around ">

        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Prix de Vente HT" | translate }} *</label>
          <br />

          <input formControlName="price" [attr.disabled]="'true'" type="text" class="form-control" pInputText />
        </div>

        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Prix Service Vente HT" | translate }} *</label>
          <br />

          <input formControlName="totalServiceSaleHt" [attr.disabled]="'true'" type="text" class="form-control"
            pInputText />
        </div>
        <div class="form-group col-md-3  ">
          <label class="font-weight-bold">{{ "Total HT" | translate }} *</label>
          <br />
          <input formControlName="totalSalePriceHT" [attr.disabled]="'true'" type="text" class="form-control"
            pInputText />
        </div>
        <div class="form-group col-md-3"></div>

      </div>








    </form>
<!-- <div *ngIf="this.selectedTransportPlan?.orderTransport?.loadingType.id==1"> -->
    <p-tabView>

      <p-tabPanel *ngIf="orderTransportInfoLinesAller.length>0" header='{{"Aller"| translate }}'
        headerStyleClass="onglet-p-2">
        <ng-template pTemplate="content">
          <div class="card  ">
            <div class="card-header" style="background-color: #f7f7f7;">
              <div class="row">

                <div class="col-xs-4 col-md-4 pull-left">

                </div>
                <div class=" col-xs-4 col-md-6 pull-center">
                  <span style="font-size: 16px; color: #5f5b5b;">
                    <b> {{ "Trajets" | translate }}</b></span>
                </div>
              </div>
            </div>
            <div class="card-body border-top-primary">
              <p-table *ngIf="orderTransportInfoLinesAller.length>0" [value]=" this.orderTransportInfoLinesAller"
                [lazy]="true" [rows]="5" [paginator]="true" [totalRecords]="orderTransportInfoLinesAller">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{ "Service" | translate }}</th>
                    <th>{{ "Ville" | translate }}</th>
                    <th style="width: 25%;">{{ "Actions" | translate }}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-line>
                  <tr>
                    <td>{{ line?.orderTransportType?.code }}</td>
                    <td>{{ line?.address?.ville?.code }}</td>


                    <td>
                      <span *ngIf="this.selectedTransportPlan?.turnStatus?.id==3">
                        {{ line?.turnStatus?.code }}
                      </span>

                      <span *ngIf="this.selectedTransportPlan?.turnStatus?.id!=3">
                      <p-splitButton  styleClass="p-button-secondary " id="button-icon-only"
                        [label]="line.turnStatus.code" (onDropdownClick)="handleActionsClick(line)"
                        (onClick)="handleItemClick(line, $event)" [model]="items"></p-splitButton>
</span>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel *ngIf="orderTransportInfoLinesRetour.length>0" header='{{"Retour"| translate }}'
        headerStyleClass="onglet-p-2">
        <ng-template pTemplate="content">
          <div class="card  ">
            <div class="card-header" style="background-color: #f7f7f7;">
              <div class="row">

                <div class="col-xs-4 col-md-4 pull-left">

                </div>
                <div class=" col-xs-4 col-md-6 pull-center">
                  <span style="font-size: 16px; color: #5f5b5b;">
                    <b> {{ "Trajets" | translate }}</b></span>
                </div>
              </div>
            </div>
            <div class="card-body border-top-primary">
              <p-table *ngIf="orderTransportInfoLinesRetour.length>0" [value]=" this.orderTransportInfoLinesRetour"
                [lazy]="true" [rows]="5" [paginator]="true" [totalRecords]="orderTransportInfoLinesRetour">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{ "Service" | translate }}</th>
                    <th>{{ "Ville" | translate }}</th>
                    <th style="width: 25%;">{{ "Actions" | translate }}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-line>
                  <tr>
                    <td>{{ line?.orderTransportType?.code }}</td>
                    <td>{{ line?.address?.ville?.code }}</td>


                    <td>

                      <p-splitButton styleClass="p-button-secondary " id="button-icon-only"
                        [label]="line.turnStatus.code" (onDropdownClick)="handleActionsClick(line)"
                        (onClick)="handleItemClick(line, $event)" [model]="items"></p-splitButton>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
<!-- </div> -->

    <div class="row m-2 justify-content-around ">
      <div class="card  ">
        <div class="card-header" style="background-color: #f7f7f7;">
          <div class="row">

            <div class="col-xs-4 col-md-4 pull-left">
              <button type="button" class="btn btn-sm btn-primary mx-1"
                (click)="onShowDialogTransportProduct(selectedTransportProductService,false)">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class=" col-xs-4 col-md-6 pull-center">
              <span style="font-size: 16px; color: #5f5b5b;">
                <b> {{ "Services" | translate }}</b></span>
            </div>
          </div>
        </div>
        <div class="card-body border-top-primary">
          <p-table [value]=" this.selectedOrderTransport.orderTransportServiceCatalogs" [lazy]="true" [rows]="8"
            [paginator]="true" [totalRecords]=" this.selectedOrderTransport.orderTransportServiceCatalogs?.length">
            <ng-template pTemplate="header">
              <tr>

                <th>{{'Service' | translate}}</th>
                <th>{{'Quantité '| translate}}</th>

                <th>{{'Total Vente HT '| translate}}</th>
                <th>{{'TVA '| translate}}</th>

                <th>{{'Total Vente TTC '| translate}}</th>
                <th style="width: 18%;">{{ "Actions" | translate }}</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{line?.product?.code}}</td>
                <td>{{line?.quantity}}</td>
                <td>{{line?.totalSalePriceHT}}</td>
                <td>{{line?.totalSalePriceVat}}</td>

                <td>{{line?.totalSalePriceTTC}}</td>

                <td>

                  <button type="button" class="btn btn-sm btn-primary mx-1"
                    (click)="onShowDialogTransportProduct(line,true)">
                    <!--ADD-->
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger mx-1"
                    (click)="onDeleteTransportProduct(line?.product?.code)">
                    <!--ADD-->
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      </div>

      <!-- <p-tabView>
      <p-tabPanel header="Aller" headerStyleClass="onglet-p-2" *ngIf="(selectedOrderTransport?.turnType?.id==1 || selectedOrderTransport?.turnType?.id==3)">

        <div class="row mt-3 justify-content-around " >

          <div class="form-group col-md-6  " >


            <span >
              <span><img  src="./assets/img/depuis.png" style="width: 35px;
                " ></span>
              <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoAller?.villeSource?.code }} </span>
    </span>
    <span style="margin-left: 40%;">
              <span><img  src="./assets/img/vers.png" style="width: 35px;
              " ></span>
              <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoAller?.villeDistination?.code }} </span>
              </span>



             </div>





        </div>



        <p-table *ngIf=" this.selectedOrderTransportInfoAller.orderTransportInfoLines.length>0"
          [value]=" this.selectedOrderTransportInfoAller.orderTransportInfoLines" [lazy]="true" [rows]="5" [paginator]="true"
          [totalRecords]="this.selectedOrderTransportInfoAller.orderTransportInfoLines">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ "Type" | translate }}</th>
                <th>{{ "Ville" | translate }}</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{ line?.orderTransportType?.code }}</td>

                <td>
                  {{ line?.addressContactDeliveryInfo?.city }}
              </td>




              </tr>
            </ng-template>

          </p-table>


      </p-tabPanel>
      <p-tabPanel header="Retour" headerStyleClass="onglet-p-2" *ngIf="(selectedOrderTransport?.turnType?.id==2 || selectedOrderTransport?.turnType?.id==3)">
        <div class="row mt-3 justify-content-around ">

          <div class="form-group col-md-3  " ></div>
        <div class="form-group col-md-6  " >
<span >
          <span><img  src="./assets/img/depuis.png" style="width: 35px;
            " ></span>
          <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoRetour?.addressContactInitial?.city }} </span>
</span>
<span style="margin-left: 40%;">
          <span><img  src="./assets/img/vers.png" style="width: 35px;
          " ></span>
          <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoRetour?.addressContactFinal?.city }} </span>
          </span>
        </div>
        <div class="form-group col-md-3  " ></div>

      </div>

        <p-table *ngIf="this.selectedOrderTransportInfoRetour.orderTransportInfoLines.length>0"
          [value]=" this.selectedOrderTransportInfoRetour.orderTransportInfoLines" [lazy]="true" [rows]="5" [paginator]="true"
          [totalRecords]="this.selectedOrderTransportInfoRetour.orderTransportInfoLines">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ "Type" | translate }}</th>
                <th>{{ "Ville" | translate }}</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{ line?.orderTransportType?.code }}</td>

                <td>
                  {{ line?.addressContactDeliveryInfo?.city }}
              </td>




              </tr>
            </ng-template>

          </p-table>


         </p-tabPanel>


  </p-tabView> -->
    </div>

  </div>


</div>


<div class="text-center mt-5 mr-3 ml-3">
  <a class="btn btn-primary m-1" [routerLink]="['/core/transport-plan/list']">
    {{ "Fermer" | translate }}
  </a>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
    {{ "Valider et continuer" | translate }}
  </button>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
    {{ "Valider" | translate }}
  </button>

  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true,true)">
    {{ "Terminer le plan" | translate }}
  </button>
</div>



<div *ngIf="showDialogTransportProduct == true">


  <app-transport-plan-service-edit (showDialog)="onHideDialogTransportProduct($event)"
    (transportProductEdited)="onLineEditedTransportProduct($event)"
    [selectedAccount]="this.selectedTransportPlan?.orderTransport?.account"
    [selectedTransportServiceCatalog]="this.selectedTransportProductService" [editMode]="editModeTransportProduct"
    [type]="2"></app-transport-plan-service-edit>

</div>
<p-toast position="top-right" [autoZIndex]="'true'"></p-toast>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
