<div class="card mt-1">
  <div class="card-header">
    <span class="h4">Plan Transport</span>
  </div>

  <div class="card-body border-top-primary">

<form [formGroup]="transportPlanForm" class="">

  <div class="row mt-3 justify-content-around " >

    <div class="form-group col-md-3 " >
      <label class="font-weight-bold"
        >{{ "Order" | translate }} *</label>
      <br />
      <input
      formControlName="orderTransport"
  [attr.disabled]="'true'"
        type="text"
        class="form-control"
        pInputText
      />
    </div>

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold"
      >{{ "Catégorie" | translate }} *</label>
    <br />

    <p-dropdown
    formControlName="vehicleCategory"
  [autoDisplayFirst]="false"
  [options]="vehicleCategoryList"
  (onChange)="onSelectVehicleCategory($event)"
  optionLabel="code"
  [filter]="true"
  [showClear]="true"
  [placeholder]="this.selectedTransportPlan?.vehicleCategory?.code"

></p-dropdown>

  </div>

  <div class="form-group col-md-3 ">
    <label class="font-weight-bold"
      >{{ "Transport" | translate }} *</label>
    <br />

    <p-autoComplete
    formControlName="transport"
    [suggestions]="transportList"
    (onSelect)="onSelectTransport($event)"
    (completeMethod)="onTransportSearch($event)"
    field="name"
  >
  </p-autoComplete>

  </div>

    <div class="form-group col-md-3 ">
      <label class="font-weight-bold"
      >{{ "Date" | translate }} *</label>
    <br />
      <p-calendar
      [monthNavigator]="true"
      [yearNavigator]="true"
      dateFormat="dd/mm/yy"
      yearRange="1970:2100"
      formControlName="date"
    >
    </p-calendar>
</div>
    </div>


<div class="row mt-3 justify-content-around " *ngIf="this.selectedTransportPlan?.transport?.id==10147">


  <div class="form-group col-md-3  " >
    <label class="font-weight-bold"
      >{{ "Vehicule" | translate }} *</label
    >

    <br />
    <p-autoComplete
    formControlName="vehicle"
    [suggestions]="vehicleList"
    (onSelect)="onSelectVehicle($event)"
    (completeMethod)="onVehicleSearch($event)"
    field="registrationNumber"
  >
  </p-autoComplete>

  </div>
  <div class="form-group col-md-3 " >
    <label class="font-weight-bold"
      >{{ "Chauffeur" | translate }} *</label
    >

    <br />

    <p-dropdown
    formControlName="driver"
  [autoDisplayFirst]="false"
  [options]="driverList"
  (onChange)="onSelectDriver($event)"
  optionLabel="name"
  [filter]="true"
  [showClear]="true"
  [dataKey]="name"
  [placeholder]="this.selectedTransportPlan?.driver?.name"
></p-dropdown>
  </div>

  <div class="form-group col-md-6 " ></div>
</div>
  <div class="row mt-3 justify-content-around ">


  <div class="form-group col-md-3  " >
    <label class="font-weight-bold"
      >{{ "statut" | translate }} *</label>
    <br />
    <input
    formControlName="status"
 [attr.disabled]="'true'"
      type="text"
      class="form-control"
      pInputText
    />
  </div>

  <div class="form-group col-md-9 " ></div>

</div>



</form>


<div class="row m-2 justify-content-around ">

  <p-tabView>
      <p-tabPanel header="Aller" headerStyleClass="onglet-p-2" *ngIf="(selectedOrderTransport?.turnType?.id==1 || selectedOrderTransport?.turnType?.id==3)">

        <div class="row mt-3 justify-content-around " >
          <!-- <div class="form-group col-md-2  " >
</div>
          <div class="form-group col-md-3 divRowInfo divLineInfo" >
            <label class="font-weight-bold"
              >{{ "Ville Source" | translate }} </label
            >
            <br />
            <label class="font-weight-bold"
            >{{ selectedOrderTransportInfoAller?.addressContactInitial?.city }} </label
          >
          </div> -->
          <div class="form-group col-md-6  " >


            <span >
              <span><img  src="./assets/img/depuis.png" style="width: 35px;
                " ></span>
              <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoAller?.villeSource?.code }} </span>
    </span>
    <span style="margin-left: 40%;">
              <span><img  src="./assets/img/vers.png" style="width: 35px;
              " ></span>
              <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoAller?.villeDistination?.code }} </span>
              </span>



             </div>
          <!-- <div class="form-group col-md-3 divRowInfo divLineInfo" >
            <label class="font-weight-bold"
              >{{ "Ville Distination" | translate }} </label
            >
            <br />
            <label class="font-weight-bold"
            >{{ selectedOrderTransportInfoAller?.addressContactFinal?.city }} </label
          >
          </div>

          <div class="form-group col-md-2  " >
          </div> -->




        </div>



        <p-table *ngIf=" this.selectedOrderTransportInfoAller.orderTransportInfoLines.length>0"
          [value]=" this.selectedOrderTransportInfoAller.orderTransportInfoLines" [lazy]="true" [rows]="5" [paginator]="true"
          [totalRecords]="this.selectedOrderTransportInfoAller.orderTransportInfoLines">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ "Type" | translate }}</th>
                <th>{{ "Ville" | translate }}</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{ line?.orderTransportType?.code }}</td>

                <td>
                  {{ line?.addressContactDeliveryInfo?.city }}
              </td>




              </tr>
            </ng-template>

          </p-table>


      </p-tabPanel>
      <p-tabPanel header="Retour" headerStyleClass="onglet-p-2" *ngIf="(selectedOrderTransport?.turnType?.id==2 || selectedOrderTransport?.turnType?.id==3)">
        <div class="row mt-3 justify-content-around ">

          <div class="form-group col-md-3  " ></div>
        <div class="form-group col-md-6  " >
<span >
          <span><img  src="./assets/img/depuis.png" style="width: 35px;
            " ></span>
          <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoRetour?.addressContactInitial?.city }} </span>
</span>
<span style="margin-left: 40%;">
          <span><img  src="./assets/img/vers.png" style="width: 35px;
          " ></span>
          <span class="font-weight-bold m-2">{{ selectedOrderTransportInfoRetour?.addressContactFinal?.city }} </span>
          </span>
        </div>
        <div class="form-group col-md-3  " ></div>

      </div>

        <p-table *ngIf="this.selectedOrderTransportInfoRetour.orderTransportInfoLines.length>0"
          [value]=" this.selectedOrderTransportInfoRetour.orderTransportInfoLines" [lazy]="true" [rows]="5" [paginator]="true"
          [totalRecords]="this.selectedOrderTransportInfoRetour.orderTransportInfoLines">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ "Type" | translate }}</th>
                <th>{{ "Ville" | translate }}</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{ line?.orderTransportType?.code }}</td>

                <td>
                  {{ line?.addressContactDeliveryInfo?.city }}
              </td>




              </tr>
            </ng-template>

          </p-table>


         </p-tabPanel>

  </p-tabView>
</div>

</div>


</div>


<div class="text-center mt-5 mr-3 ml-3">
  <a class="btn btn-primary m-1" [routerLink]="['/core/transport-plan/list']">
    {{ "Fermer" | translate }}
  </a>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit()">
    {{ "Valider et continuer" | translate }}
  </button>
  <button type="button" class="btn btn-success m-1" (click)="onSubmit(true)">
    {{ "Valider" | translate }}
  </button>
</div>
