
:host ::ng-deep .tabview-custom
{
  // display: flex;
}

:host ::ng-deep .tabview-custom .p-tabview-nav-link {
  background: #2c3941 !important;
  border-color: #2196F3 !important;
  color: #ffffff !important;
 // width: 18.4vw !important;
}

:host ::ng-deep .tabview-custom .p-tabview .p-tabview-panels {
  padding: 0rem !important;
}


:host ::ng-deep .tabview-custom .p-tabview-nav-link:not(.p-disabled):focus {
  background: #2196F3 !important;
  border-color: #2c3941 !important;
}
:host ::ng-deep  .tabview-custom .p-tabview-nav li {
  margin-right: 0;
  margin-bottom: 5px;
}
:host ::ng-deep .tabview-custom .p-tabview-nav { display: flow}






















:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #4084bd;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}


.divRowInfo {box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 5px;
 // margin: 2px;
}
.divLineInfo{
  margin-top: 9px;
  border-right: 1px solid #dce0e6;
}
:host ::ng-deep .divRowInfo .divLineInfo .p-inputtext{

  border: none;
}
:host ::ng-deep .divRowInfo .divLineInfo .p-dropdown{

  border: none;
}

:host ::ng-deep .p-splitbutton {

  width: 200px;
}







