<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body  border-top-primary">
    <div class="row">
      <div class="col-md-3">
        <label class="font-weight-bold "> Code</label><br />
        <input type="text" pInputText [(ngModel)]="codeSearch" />
      </div>

      <div class="col-md-3">

        <label class="font-weight-bold ">Vehicle</label><br />
        <p-dropdown [autoDisplayFirst]="false" [options]="vehicleList" optionLabel="code" [filter]="true"
          [showClear]="true" [(ngModel)]="vehicleSearch">
        </p-dropdown>
      </div>

      <div class="col-md-3 ">


        <label class="font-weight-bold ">Type Maintenance</label><br />
        <p-dropdown [autoDisplayFirst]="false" [filter]="true" [options]="maintenanceTypeList" optionLabel="code"
          [showClear]="true" [(ngModel)]="typeMaintenanceSearch">
        </p-dropdown>
      </div>
      <div class="col-md-3 ">


        <label class="font-weight-bold ">Status Maintenance</label><br />
        <p-dropdown [autoDisplayFirst]="false" [options]="maintenanceStatusList" optionLabel="code" [filter]="true"
          [showClear]="true" [(ngModel)]="statusMaintenanceSearch">
        </p-dropdown>
      </div>

    </div>
    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">Renitialiser</button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        Rechercher
      </button>
    </div>
  </div>
</div>


<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="maintenancePlanList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  [listName]="'Véhicule'"
  [tableId]="'vehicle'"

></app-data-table>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
