<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">
    Editer Maintenance
  </div>
  <div class="card-body border-top-primary">

  <form [formGroup]="maintenanceForm" (ngSubmit)="OnSubmitForm()">

    <div class="row justify-content-around">
      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Code</label><br />
        <input
          type="text"
          class="form-control"
          formControlName="Fcode"
          pInputText
        />
      </div>
      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Véhicule</label><br />
        <p-dropdown
        [autoDisplayFirst]="false"
        [options]="vehicleList"
        optionLabel="code"
        [filter]="true"
        [showClear]="true"
        formControlName="Fvehicule"
        (onChange)="onSelectVehicle($event)">
      </p-dropdown>

      </div>

      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Type Maintenance</label><br />
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="maintenanceTypeList"
          optionLabel="code"
          [filter]="true"
          [showClear]="true"
          formControlName="FmaintenanceType"
          (onChange)="onSelectMaintenanceType($event)">
        </p-dropdown>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Date Debut</label><br />
        <p-calendar
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2000:2030"
          formControlName="FdateDebut"></p-calendar>
      </div>
      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Date Fin</label><br />
        <p-calendar
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2000:2030"
          formControlName="FdateFin"></p-calendar>
      </div>
      <div class="form-group col-md-3"></div>
    </div>
    <div class="row justify-content-around">
      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Status Maintenance</label><br />
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="maintenanceStatusList"
          optionLabel="code"
          [filter]="true"
          [showClear]="true"
          formControlName="FstatusMaintenance"
          (onChange)="onSelectMaintenanceStatus($event)">
        </p-dropdown>
      </div>
      <div class="form-group col-md-3">
        <label class="font-weight-bold ">Description</label><br />
        <textarea
          autoResize="autoResize"
          pInputTextarea
          formControlName="Fdescription"></textarea>
      </div>

      <div class="form-group col-md-3"></div>
    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
      <button
        type="button"
        class="btn btn-primary col-md-2"
        style="margin-right:20px;"
      >
        Fermer
      </button>
      <button type="submit" class="btn btn-success col-md-2">
        {{ "Valider" | translate }}
      </button>
    </div>
      </form>
  </div>
</div>
