<div class="card mt-2">
  <div class="card-header " style="background-color:#f7f7f7;">
    Editer Maintenance
  </div>
  <div class="card-body border-top-primary">
    <form [formGroup]="maintenanceForm">
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Code" | translate}}*
            <span *ngIf="
              submitted &&
              maintenanceForm.get('Fcode').errors &&
              maintenanceForm.get('Fcode').invalid" style="font-size:xx-small" class="text-danger">Obligatoire</span>
          </label><br />
          <input type="text" class="form-control" formControlName="Fcode" pInputText />

        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Véhicule" | translate}}*
            <span *ngIf="
              submitted &&
              maintenanceForm.get('Fvehicule').errors &&
              maintenanceForm.get('Fvehicule').invalid" style="font-size:xx-small"
              class="text-danger">Obligatoire</span>
          </label><br />
          <p-dropdown [autoDisplayFirst]="false" [options]="vehicleList" optionLabel="code" [filter]="true"
            [showClear]="true" formControlName="Fvehicule" (onChange)="onSelectVehicle($event)">
          </p-dropdown>

        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"Type Maintenance" | translate }}*
            <span *ngIf="
              submitted &&
              maintenanceForm.get('FmaintenanceType').errors &&
              maintenanceForm.get('FmaintenanceType').invalid" style="font-size:xx-small"
              class="text-danger">Obligatoire</span>
          </label><br />
          <p-dropdown [autoDisplayFirst]="false" [options]="maintenanceTypeList" optionLabel="code" [filter]="true"
            [showClear]="true" formControlName="FmaintenanceType" (onChange)="onSelectMaintenanceType($event)">
          </p-dropdown>

        </div>
      </div>
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"kilométrage" | translate }}</label><br />
          <input pInputText pKeyFilter="num" formControlName="mileage" class="form-control" />
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"Date Début" | translate }}</label><br />
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" [locale]="fr"
            yearRange="1970:2100" formControlName="FdateDebut"></p-calendar>
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"Date Fin" | translate }}</label><br />
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="1970:2100"
            [locale]="fr" formControlName="FdateFin"></p-calendar>
        </div>

      </div>
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"Prix total" | translate }}</label><br />
          <input type="text" class="form-control" formControlName="price" pInputText />

        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"Status Maintenance" | translate }}</label><br />
          <p-dropdown [autoDisplayFirst]="false" [options]="maintenanceStatusList" optionLabel="code" [filter]="true"
            [showClear]="true" formControlName="FstatusMaintenance" (onChange)="onSelectMaintenanceStatus($event)">
          </p-dropdown>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{"Description" | translate }}</label><br />
          <input pInputText formControlName="Fdescription" class="form-control" />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card mt-2">
  <div class="card-header " style=" background-color:#f7f7f7;">
    <span>Liste Des lignes de plan de maintenance</span>

    <span class="pull-right">
      <app-maintenance-line-edit [editMode]="false" (lineEdited)="onLineEdited($event)"></app-maintenance-line-edit>
    </span>
  </div>
  <div class="card-body mt-2 border-top-primary">


    <p-table [value]="selectedMaintenance?.maintenanceLineList" [lazy]="true" [rows]="size" [paginator]="true"
      [totalRecords]="selectedMaintenance?.maintenanceLineList?.length">
      <ng-template pTemplate="header">
        <tr>
          <th>{{'produit' | translate}}</th>
          <th>Description</th>
          <th>Prix Un</th>
          <th>Quantite </th>
          <th>Prix HT </th>
          <th>Prix TTC </th>
          <th style="width:10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr>
          <td>{{line?.product?.code}}</td>
          <td>{{line?.description}}</td>
          <td>{{line?.unitPrice}}</td>
          <td>{{line?.quantity}}</td>
          <td>{{line?.totalPriceHT}}</td>
          <td>{{line?.totalPriceTTC}}</td>
          <td>
            <app-maintenance-line-edit [selectedMaintenanceLine]="line" [editMode]="true"
              (lineEdited)="onLineEdited($event)"></app-maintenance-line-edit>
            <button type="button" (click)="onDeleteMaintenanceLine(line?.product?.id)" class="btn btn-sm btn-danger mx-1">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card-footer">
    <div class="text-center mt-3">
      <a class="btn btn-primary m-1" [routerLink]="['/core/maintenances/list']" routerLinkActive="active">
        {{ "Fermer" | translate }}
      </a>
      <button type="button" class="btn btn-success m-1" (click)="OnSubmitForm()">
        {{ "Valider et continue" | translate }}
      </button>

      <button type="button" class="btn btn-success m-1" (click)="OnSubmitForm(true)">
        {{ "Valider " | translate }}
      </button>
    </div>
  </div>

</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
