<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body  border-top-primary">
    <div class="row">
      <div class="col-md-3">
        <label class="font-weight-bold">
          Code</label><br />
        <input type="text" pInputText [(ngModel)]="codeSearch" />
      </div>

      <div class="col-md-3">
        <label class="font-weight-bold ">Matriculation</label><br />
        <input type="text" pInputText [(ngModel)]="matSearch" />
      </div>

      <div class="col-md-3 ">
        <label class="font-weight-bold ">Catégorie</label><br />
        <p-autoComplete [(ngModel)]="categorySearch" [suggestions]="vehicleCategoryList"
          (completeMethod)="onVehicleCategorySearch($event)"></p-autoComplete>
      </div>

      <div class="col-md-3 ">
        <label class="font-weight-bold ">Type Badge</label><br />
        <p-autoComplete [(ngModel)]="badgeTypeSearch" [suggestions]="badgeTypeList"
          (completeMethod)="onBadgeTypeSearch($event)"></p-autoComplete>
      </div>

    </div>
    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">Renitialiser</button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        Rechercher
      </button>
    </div>
  </div>
</div>




<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="vehicleList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  [listName]="'Véhicule'"
></app-data-table>



<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>
