<br />
<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">

    <div class="row">
      <div class="col-md-3">
        <label class="font-weight-bold ">{{"Code"|translate}}</label><br />
        <input type="text" pInputText [(ngModel)]="codeSearch" />
      </div>

      <div class="col-md-3">
        <label class="font-weight-bold ">{{'Fournisseur' | translate}}</label><br />
        <p-autoComplete [(ngModel)]="supplierSearch" [suggestions]="supplierList"
          (completeMethod)="onSupplierearch($event)"></p-autoComplete>
      </div>



      <div class="col-md-3">
        <label class="font-weight-bold ">{{'Véhicule' | translate}}</label><br />
            <p-autoComplete [(ngModel)]="vehicleSearch" [suggestions]="vehicleList"
          (completeMethod)="onVehicleSearch($event)"></p-autoComplete>
      </div>
    </div>
    <br />

    <div class="text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="reset()">
        <i class="fa fa-refresh mr-2"></i>
        {{ "Réinitialiser" | translate }}
      </button>

      <button type="button" class="btn btn-success" (click)="onSearchClicked()">
        <i class="fa fa-search mr-2"></i>
        {{ "Rechercher" | translate }}

      </button>
    </div>
</p-panel>

<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="insuranceList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  [listName]="'Liste des assurance'"
 [addBtnVisible]="'true'"
  [updateBtnVisible]="'true'"

></app-data-table>

<div *ngIf="showDialog == true">
  <app-insurance-edit
    [editMode]="editMode"
    [selectedInsurance]="selectedInsurance[0]"
    (showDialog)="onShowDialog($event)"
  ></app-insurance-edit>
</div>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [acceptLabel]="'Oui'" [rejectLabel]="'Non'">
</p-confirmDialog>
