<div [@routerTransition]>
  <app-page-header [heading]="'Category'" [icon]="'fa-users'"></app-page-header>

  <div style="margin: 1em;">
    <div class="header">
      <h4>{{'Zones' | translate}}</h4>
      <div>
        <button class="btn btn-primary btn-sm" type="button" (click)="addCategory()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="item" *ngFor="let category of categories">

      <label *ngIf="!editMode[category.nom]">{{category.nom}}</label>
      <input *ngIf="editMode[category.nom]" type="text" class="form-control" 
      [value]="category.nom" (input)="category.nom = $event.target.value">

      <label *ngIf="!editMode[category.consumption]">{{category.consumption}}</label>
      <input *ngIf="editMode[category.consumption]" type="text" class="form-control" 
      [value]="category.consumption" (input)="category.consumption = $event.target.value">

      <label *ngIf="!editMode[category.weight]">{{category.weight}}</label>
      <input *ngIf="editMode[category.weight]" type="text" class="form-control" 
      [value]="category.weight" (input)="category.weight = $event.target.value">

      <label *ngIf="!editMode[category.width]">{{category.width}}</label>
      <input *ngIf="editMode[category.width]" type="text" class="form-control" 
      [value]="category.width" (input)="category.width = $event.target.value">

      <label *ngIf="!editMode[category.depth]">{{category.depth}}</label>
      <input *ngIf="editMode[category.depth]" type="text" class="form-control" 
      [value]="category.depth" (input)="category.depth = $event.target.value">

      <label *ngIf="!editMode[category.tonnage]">{{category.tonnage}}</label>
      <input *ngIf="editMode[category.tonnage]" type="text" class="form-control" 
      [value]="category.tonnage" (input)="category.tonnage = $event.target.value">

      <label *ngIf="!editMode[category.emptyweight]">{{category.emptyweight}}</label>
      <input *ngIf="editMode[category.emptyweight]" type="text" class="form-control" 
      [value]="category.emptyweight" (input)="category.emptyweight = $event.target.value">

      <label *ngIf="!editMode[category.totalweight]">{{category.totalweight}}</label>
      <input *ngIf="editMode[category.totalweight]" type="text" class="form-control" 
      [value]="category.totalweight" (input)="category.totalweight = $event.target.value">

      <div class="field">
        <table>
   <!--<tr>
      <th><label *ngIf="!editMode[category.doorType]">{{category.doorType}}</label></th>
      <th><p class="left"><input type='checkbox' formControlName="side" ><label>Side</label></p></th>
      <th><p class="right"><input type='checkbox' formControlName="back" ><label>Back</label></p></th>
   </tr>-->
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>