
<div style="overflow-x: hidden;overflow-y: scroll;height: 65vh; width: 100%;">

  <div class="container-fluid mt-5" >
    <form [formGroup]="orderTransportInfoForm">

      <div *ngIf="this.selectedOrderTransport.consignment==true">

      <div class="row justify-content-around">

        <div class="form-group col-md-3">
          <label class="font-weight-bold"
            >{{ "Type emballage" | translate }} *</label
          >
          <span
          *ngIf="
            (orderTransportInfoForm.get('packagingType').touched &&
            orderTransportInfoForm.get('packagingType').invalid) ||
            (isFormSubmitted &&
            orderTransportInfoForm.get('packagingType').invalid)
          "
          class="text-lighter"
          style="color: red; font-size: xx-small"
        >
          {{ "Obligatoire" | translate }}
        </span>
          <p-dropdown
          formControlName="packagingType"
            [autoDisplayFirst]="false"
            [options]="packagingTypeList"
            optionLabel="code"

            (onChange)="onSelectPackagingType($event)"
            [filter]="true"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold"
            >{{ "Poids" | translate }}<span style="font-size: 9px;"> (KG)</span> </label
          >

        <!-- <input
        formControlName="weight"
          type="text"
          class="form-control"
          pInputText
        /> -->
        <p-inputNumber inputId="locale-user"   [minFractionDigits]="2" formControlName="weight">
        </p-inputNumber>
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold"
          >{{ "Nombre de palette  " | translate }}<span style="font-size: 9px;"></span> </label
        >
        <p-inputNumber  inputId="integeronly"
         formControlName="numberOfPallet">
       </p-inputNumber>

        </div>
        <div class="form-group col-md-3">
</div>

          </div>
          <div class="row justify-content-around">

          <div class="form-group col-md-6">
            <!-- <p-button  (click)='onShowDialogPackageDetail(null,false)'>Ajouter Details d'emballage</p-button> -->
            <span class="add" style="float: left;" *ngIf="   this.selectedOrderTransportInfo.packagingType?.id>0">
              <img *ngIf="   this.selectedOrderTransportInfo.packagingType?.id==2" src="./assets/img/add.png" style="width: 30px ; height: 30px;">

              <img *ngIf="   this.selectedOrderTransportInfo.packagingType?.id==1
              " src="./assets/img/add_pallet.png" style="width: 30px ; height: 30px;">
              <a (click)='onShowDialogPackageDetail(null,false)' class="ml-2">Ajouter Details d'emballage</a></span>
        </div>
        <div class="form-group col-md-6">
        </div>
        </div>

        <p-table *ngIf="this.selectedOrderTransportInfo.packagingType?.id>0 && packageDetails.length>0"
          [value]=" packageDetails" [lazy]="true" [rows]="5" [paginator]="true"
          [totalRecords]="packageDetails">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ "Nombre colis" | translate }}</th>
                <th>{{ "Type Palette" | translate }}</th>
                <th>{{ "Longueur" | translate }}</th>
                <th>{{ "Largeur" | translate }}</th>
                <th>{{ "Hauteur" | translate }}</th>
                <th>{{ "Poids Kg" | translate }}</th>


                <th style="width: 15%;">{{ "Actions" | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{ line?.numberOfPackages }}</td>

                <td>
                  {{ line?.containerType?.code }}
              </td>
              <td>{{ line?.length }}</td>
              <td>
                  {{ line?.width }}
              </td>
              <td>{{ line?.height }}</td>
              <td>{{ line?.weight }}</td>


                <td>
                  <button

                  type="button"
                  class="btn btn-sm btn-primary mx-1"
                  (click)="onShowDialogPackageDetail(line,true)"
                  >
                  <i class="fa fa-pencil"></i>
                </button>
                <button

                type="button"
                class="btn btn-sm btn-danger mx-1"
                (click)="onDeletePackageDetail(line.id)"
                >
                <i class="fa fa-trash"></i>
              </button>

                </td>
              </tr>
            </ng-template>

          </p-table>
      </div>

      <div class="row justify-content-around mt-3">

        <div class="form-group col-md-3">
          <label class="font-weight-bold">{{
            "Date Depart" | translate
          }}</label
          ><br />
        <p-calendar formControlName="orderTransportInfoInitialDate" [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="1970:2100"
       >
      </p-calendar>
    </div>
    <div class="form-group col-md-9">
</div>
  </div>


    <div class="row justify-content-around " >




      <div class="form-group col-md-6">




     <div *ngIf="showDialogOrderTransportInfoLineEnlevement == true">
      <app-order-transport-complet-edit
      [orderTypeTitle]="'Enlevement'"
      (showDialog)="onHideDialogOrderTransportInfoLineEnlevement($event)"
      (orderTransportInfoLineAdded)="onLineEditedOrderTransportInfoLine($event)"
       [selectedOrderTransportInfoLine]="selectOrderTransportInfoLineEnlevement"
       [editMode]="editModeOrderTransportInfoLine"
       [displayDialog]="showDialogOrderTransportInfoLineEnlevement"

      >


      </app-order-transport-complet-edit>
      </div>

</div>

      <div class="form-group col-md-6">




        <div *ngIf="showDialogOrderTransportInfoLineLivraison == true">
         <app-order-transport-complet-edit
         [orderTypeTitle]="'Livraison'"

         (showDialog)="onHideDialogOrderTransportInfoLineLivraison($event)"
         (orderTransportInfoLineAdded)="onLineEditedOrderTransportInfoLine($event)"
          [selectedOrderTransportInfoLine]="selectOrderTransportInfoLineLivraison"
          [editMode]="editModeOrderTransportInfoLine"
          [displayDialog]="showDialogOrderTransportInfoLineLivraison"

         >


         </app-order-transport-complet-edit>
         </div>

    </div>
  </div>


  <div class="row justify-content-around m-1" >

    <div class="card  ">
      <div class="card-header" style="background-color: #f7f7f7;">
        <div class="row">

          <div class="col-xs-4 col-md-4 pull-left">
            <button type="button" class="btn btn-sm btn-primary mx-1" (click)="onShowDialogTransportProduct(selectedTransportProductService,false)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class=" col-xs-4 col-md-6 pull-center">
            <span style="font-size: 16px; color: #5f5b5b;">
              <b> {{ "Services" | translate }}</b></span>
          </div>
        </div>
      </div>
      <div class="card-body border-top-primary">
        <p-table [value]=" this.selectedOrderTransport?.orderTransportServiceCatalogs" [lazy]="true" [rows]="8"
          [paginator]="true" [totalRecords]=" this.selectedOrderTransport
      ?.orderTransportServiceCatalogs?.length" >
          <ng-template pTemplate="header">
            <tr>

              <th>{{'Service' | translate}}</th>
              <th>{{'Prix HT '| translate}}</th>
              <th>{{'TVA' | translate}}</th>
              <th>{{'Pric TTC '| translate}}</th>
              <!-- <th>{{ "Prix" | translate }}</th> -->
              <th style="width: 18%;">{{ "Actions" | translate }}</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-line>
            <tr>
              <td>{{line?.product?.code}}</td>
              <td>{{line?.salePriceHT}}</td>
              <td>{{line?.saleVat?.value}}</td>
              <td>{{line?.salePriceTTC}}</td>

              <td>

                <button  type="button" class="btn btn-sm btn-primary mx-1"
                  (click)="onShowDialogTransportProduct(line,true)">
                  <!--ADD-->
                  <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-sm btn-danger mx-1"
                  (click)="onDeleteTransportProduct(line?.product?.code)">
                  <!--ADD-->
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>




</div>



    </form>
    </div>

    </div>
    <div class="row pull-left mt-5">
      <button
        type="button"
        pButton
        icon="fa fa-chevron-left"
        (click)="previous()"
      ></button>
    </div>
    <div class="row pull-right mt-5">
      <button
        type="button"
        pButton
        icon="fa fa-chevron-right"
        (click)="next()"
      ></button>
    </div>


      <div *ngIf="showDialogContactAddress == true">
        <app-generate-address-contact
          (showDialog)="onHideDialogGenerateContactAddress($event)"
          (addressContactDeliveryInfo)="affectedContactAddressInfoSelected($event)"
        ></app-generate-address-contact>
      </div>


      <div *ngIf="showDialogPackageDetail == true">
        <app-package-detail
          (showDialog)="onHideDialogPackageDetail($event)"
          (packageDetailAdded)="onLineEditedPackageDetail($event)"
           [selectedPackageDetail]="selectPackageDetail"
           [editMode]="editModePackageDetail"
          ></app-package-detail>
      </div>


      <div *ngIf="showDialogTransportProduct == true">


        <app-order-transport-service
        (showDialog)="onHideDialogTransportProduct($event)"
       (transportProductEdited)="onLineEditedTransportProduct($event)"
       [selectedAccount]="this.selectedOrderTransport?.account"
         [selectedTransportServiceCatalog]="this.selectedTransportProductService"
         [editMode]="editModeTransportProduct"></app-order-transport-service>

      </div>
