:host ::ng-deep  .my-custom-icon {
  // width: 25px;
  // height: 41px;
  text-align: center;
  display: block;
  background-image: url('/assets/img/address1.png');
  background-repeat: no-repeat;
  background-position: center;
}

:host ::ng-deep.number {
  // position: absolute;
  // top: -10px;
  // left: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
  width: 100%;
}


:host ::ng-deep .circle {
  border-radius: 40%;
  // width: 50px;
  // height: 50px;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #17a3f5;
  //border: 3px solid #000;
  display: block;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
  box-shadow: 0px 10px 20px 5px rgb(108 222 255 / 50%);
  background: radial-gradient(#17a3f5, #71b6dd);
  transform: translateY(-5px);

  margin-left: 0px !important;
  margin-top: 0px !important;
  width: auto !important;
  height: auto !important;




}
