<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">
  <div class="row mt-1">
    <div class="col-md-2">
      <label class="font-weight-bold"> Véhicule</label><br />
      <p-autoComplete
        [(ngModel)]="vehicleSearch"
        [suggestions]="vehicleList"
        (completeMethod)="onVehicleSearch($event)"
        field="registrationNumber"
      ></p-autoComplete>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold"> Chauffeur</label><br />
      <p-autoComplete
        [(ngModel)]="driverSearch"
        [suggestions]="driverList"
        (completeMethod)="onDriverSearch($event)"
        field="name"
      ></p-autoComplete>
    </div>


    <div class="col-md-2">
      <label class="font-weight-bold"> {{'Date' | translate}} </label><br />
      <p-calendar [(ngModel)]="dateSearch" [monthNavigator]="true" [yearNavigator]="true"
          yearRange="2000:2030" selectionMode="multiple" [showIcon]="true" inputId="icon"
          [readonlyInput]="true" [maxDateCount]='2'                  dateFormat="dd-mm-yy"
          ></p-calendar>

  </div>
  </div>

  <br />
  <br />
  <div class="text-center">
    <button type="button" class="btn btn-primary mr-2" (click)="reset()">
      <i class="fa fa-refresh mr-2"></i>
      {{ "Réinitialiser" | translate }}
    </button>

    <button type="button" class="btn btn-success" (click)="onSearchClicked()">
      <i class="fa fa-search mr-2"></i>

      {{ "Rechercher" | translate }}
    </button>
  </div>
</p-panel>

<div class="row justify-content-around">
  <div class="form-group col-md-8">

    <p-panel header="{{ '' | translate }}" [toggleable]="true">

  <div class="map-wrapper" appendTo="body" style="background-color: aliceblue" style="height: calc(100vh - 30vh); margin-left: 15px;
  margin-right: 15px;
  ">
    <div class="map-border" style="background-color: aliceblue">
      <div id="map">

      </div>
      <!-- <div style="background-color: aliceblue" class="p-3">

        <span style="color:#188038;font-weight: bold;line-height: 24px;
        white-space: normal;font-size: 18px;"> {{this.selectItineraryInfo.heur}} h {{this.selectItineraryInfo.minute }} min</span>
        <span style="font-weight: bold;line-height: 20px;
        white-space: normal;font-size: 16px;"> ({{ this.selectItineraryInfo.distance | number: "1.2-2" }} km)</span>
      </div> -->

    </div>
  </div>




      </p-panel>
  </div>

  <div class="form-group col-md-4">

    <p-panel header="{{ '' | translate }}" [toggleable]="true">

<div *ngFor="let item of itineraries">

  <div class="row justify-content-around m-0">
    <div class="form-group col-md-6">
     <span  style="font-size: 15px;
     font-weight: 700;
     color: #474a4c;"> {{item.date  | date: 'HH:mm'}}</span><br>
     <span  style="font-size: 12px;
     font-weight: 500;
     color: #474a4c;">{{item.date | date :'dd-MM-yyyy'}}</span>
      </div>
      <div class="form-group col-md-6">
       <span class="p-text-secondary" style="
       font-weight: 700;
       color: #326895;">{{item.type}}</span>
      </div>
      </div>

</div>

    </p-panel>
  </div>

</div>
