<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-panel header="{{ 'Filters' | translate }}" [toggleable]="true">
  <div class="row mt-1">
    <div class="col-md-2">
      <label class="font-weight-bold"> Order Transport</label><br />
      <p-autoComplete
        [(ngModel)]="orderTransportSearch"
        [suggestions]="orderTransportList"
        (completeMethod)="onOrderTransportSearch($event)"
        field="code"
      ></p-autoComplete>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold"> Véhicule</label><br />
      <p-autoComplete
        [(ngModel)]="vehicleSearch"
        [suggestions]="vehicleList"
        (completeMethod)="onVehicleSearch($event)"
        field="registrationNumber"
      ></p-autoComplete>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold"> Chauffeur</label><br />
      <p-autoComplete
        [(ngModel)]="driverSearch"
        [suggestions]="driverList"
        (completeMethod)="onDriverSearch($event)"
        field="name"
      ></p-autoComplete>
    </div>

    <div class="col-md-2">
      <label class="font-weight-bold"> {{ "Date" | translate }} </label><br />
      <p-calendar
        [(ngModel)]="dateSearch"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2000:2030"
        selectionMode="multiple"
        [showIcon]="true"
        inputId="icon"
        [readonlyInput]="true"
        [maxDateCount]="2"
        dateFormat="dd-mm-yy"
      ></p-calendar>
    </div>

    <div class="form-group col-sm-2">
      <label class="font-weight-bold">{{ "Statut" | translate }} </label>

      <br />

      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="this.turnStatusSearch"
          name="active"
          [binary]="true"
          inputId="active"
        ></p-checkbox>
        <label class="font-weight-bold ml-1" for="active">{{
          this.turnStatusSearch ? "En Cours" : "Fermée"
        }}</label>
      </div>
    </div>
  </div>

  <br />
  <br />
  <div class="text-center">
    <button type="button" class="btn btn-primary mr-2" (click)="reset()">
      <i class="fa fa-refresh mr-2"></i>
      {{ "Réinitialiser" | translate }}
    </button>

    <button type="button" class="btn btn-success" (click)="onSearchClicked()">
      <i class="fa fa-search mr-2"></i>

      {{ "Rechercher" | translate }}
    </button>
  </div>
</p-panel>

<div class="row justify-content-around">

  <div [class]="visibleSidebar2? 'form-group col-md-8' :'form-group col-md-12'">






      <div
        class="map-wrapper"
        appendTo="body"
        style="background-color: aliceblue"
        style="
          height: calc(100vh - 30vh);
          margin-left: 15px;
          margin-right: 15px;
        "
      >
        <div class="map-border" style="background-color: aliceblue">
          <div id="map"></div>
          <!-- <div style="background-color: aliceblue" class="p-3">

        <span style="color:#188038;font-weight: bold;line-height: 24px;
        white-space: normal;font-size: 18px;"> {{this.selectItineraryInfo.heur}} h {{this.selectItineraryInfo.minute }} min</span>
        <span style="font-weight: bold;line-height: 20px;
        white-space: normal;font-size: 16px;"> ({{ this.selectItineraryInfo.distance | number: "1.2-2" }} km)</span>
      </div> -->
        </div>
      </div>

      <button  *ngIf="!visibleSidebar2"   type="button" class="btn btn-light " style=" float: right;    margin-left: -15px; z-index: 10001;     background-color: #2c3941;
      color: white;   border-radius: 5px;    height: calc(100vh - 30vh);
        " (click)="visibleSidebar2 = true" ><i class="fa fa-chevron-circle-left" style="font-size: xx-large;" aria-hidden="true"></i>
  </button>

  <button  *ngIf="visibleSidebar2"  type="button" class="btn btn-light " style=" float: right;   margin-left: -15px;  z-index: 10001;     background-color: #2c3941;
  color: white;   border-radius: 5px;    height: calc(100vh - 30vh);
    " (click)="visibleSidebar2 = false" ><i class="fa fa-chevron-circle-right" style="font-size: xx-large;" aria-hidden="true"></i>
  </button>
  </div>

  <div [class]="visibleSidebar2? 'form-group col-md-4' :'form-group col-md-1'">
    <!-- <p-panel header="{{ '' | translate }}" [toggleable]="true"> -->



        <div *ngIf="visibleSidebar2">



    <div>
      <p-accordion>
        <div *ngFor="let plan of transportPlan">
          <p-accordionTab>
            <!-- (click)="onTransportPlanLocationSearch(plan.orderTransport)" -->
            <ng-template pTemplate="header"
              ><a>{{ plan?.orderTransport?.code }}</a>
              </ng-template
            >
            <ng-template pTemplate="content">
              <div class="m-3">

          <button type="button" class="btn btn-secondary" (click)="getLocalisation(plan)">
                <i class="fa fa-map-marker "></i>

                {{ "Trajet en Temps Réel" | translate }}
              </button>

              </div>

              <div
                *ngFor="let info of plan?.orderTransport?.orderTransportInfos"
              >
                <!-- <div  *ngFor="let line of info?.orderTransportInfoLines" > </div> -->

                <div class="form-group col-md-12">
                  <h4 class="divider donotcross" >      {{ info.type == 1 ? "ALLER" : "RETOUR" }}</h4>
              </div>
                <div *ngFor="let line of info?.orderTransportInfoLines">
                  <br>
                  <p-card *ngIf="line.orderTransportType?.code != null">
                    <!-- <h2 class="pb-3 pt-2 border-bottom mb-5">
                      {{ line.orderTransportType?.code }}
                    </h2> -->

                    <div class="row justify-content-around m-0">
                      <div class="form-group col-md-12">


                        <div class="product-item">
  <div class="image-container" >

    <h6 *ngIf="line.orderTransportType?.id==1" style="
    background: #23547b;
    color: #ffffff;
    padding: 4px 14px 4px 14px;
    border-radius: 5px;
    font-size:2rem;
  ">
  <span><i class="fa fa-arrow-up" aria-hidden="true"></i> </span>
</h6>

<h6 *ngIf="line.orderTransportType?.id==2" style="
 background: #23547b;
    color: #ffffff;
padding: 4px 14px 4px 14px;
border-radius: 5px;
font-size:2rem;
">
<span><i class="fa fa-arrow-down" aria-hidden="true"></i> </span>
</h6>

                       <!-- <img *ngIf="line.orderTransportType?.id==1" src="assets/img/enlevement.png"  class="product-image" />
                       <img *ngIf="line.orderTransportType?.id==2" src="assets/img/livraison.png"  class="product-image" /> -->

                        </div>
                          <div class="product-list-detail ml-3">
   <!-- <h2 class="pb-3 pt-2 border-bottom mb-5">
                      {{ line.orderTransportType?.code }}
                    </h2> -->
                    <span>
                      <span style="font-size: 14px;                                      font-weight: 700;
                      ">
                          <i class="fa fa-cog" aria-hidden="true">  <span> {{ line.orderTransportType?.code }}</span></i>
                    </span></span><br />
                            <span>
                              <span style="font-size: 14px">
                                  <i class="fa fa-map-marker" aria-hidden="true">  <span> {{ line.address?.name }}</span></i>
                            </span></span><br />
 <span>  <span style="font-size: 14px">
  <i class="fa fa-user" aria-hidden="true">  <span> {{ line.contact?.name }}</span></i>
</span>
                              </span>
                            <br />


                          </div>
                          <div class="product-list-action">
                            <h6 *ngIf="line.closeDate!=null" style="
                                background: #c8e6c9;
                                color: #256029;
                                padding: 4px 14px 4px 14px;
                                border-radius: 5px;
                                font-size:2rem;
                              ">
                              <span>
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                              </span>
                            </h6>


                            <h6 *ngIf="line.closeDate==null"  style="
                            background: #ffd8b2;
                            color: #805b36;
                            padding: 4px 14px 4px 14px;
                            border-radius: 5px;
                            font-size:2rem;
                          ">
                          <span>
                            <i class="fa fa-hourglass" aria-hidden="true"></i>
                          </span>
                        </h6>



                          </div>
                        </div>
                      </div>
                    </div>

                    <ng-template pTemplate="footer">
                      <p-panel  [toggleable]="true" [collapsed]="true">
                        <ng-template pTemplate="header">
                         <div>Détails</div>
                      </ng-template>
                        <div class="form-group col-md-12">
                          <div class="">
                            <div class="container">
                              <!-- <h2 class="pb-3 pt-2 border-bottom mb-5">Vertical Left-Right Timeline</h2> -->
                              <!--first section-->
                              <div
                                class="row align-items-center how-it-works d-flex"
                              >
                                <div
                                  class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center"
                                >
                                  <div class="circle font-weight-bold">1</div>
                                </div>
                                <div class="col-8">
                                  <div class="row">
                                    <div class="clo-6 float-left" >
                                       <span
                                    style="
                                      font-size: 12px;
                                      font-weight: 700;
                                      color: #474a4c;
                                    "
                                  >
                                    {{ line.dateArriver | date : "HH:mm" }}</span
                                  ><br />
                                  <span
                                    style="
                                      font-size: 12px;
                                      font-weight: 700;
                                      color: #474a4c;
                                    "
                                    >{{
                                      line.dateArriver | date : "dd-MM-yyyy"
                                    }}</span
                                  >
                                    </div>

                                    <div class="col-6 float-right">
                                      <h6 style="
                                     background: #23547b;
    color: #ffffff;
                                      padding: 4px 14px 4px 14px;
                                      border-radius: 5px;
                                    ">
                                    <span>Date d'arrivée</span>
                                  </h6>




                                    </div>
                                  </div>


                                </div>
                              </div>
                              <!--path between 1-2-->
                              <div class="row timeline">
                                <div class="col-2">
                                  <div class="corner top-right"></div>
                                </div>
                                <div class="col-8">
                                  <hr />
                                </div>
                                <div class="col-2">
                                  <div class="corner left-bottom"></div>
                                </div>
                              </div>
                              <!--second section Enlevement-->
                              <div *ngIf="line.orderTransportType?.id==1"
                                class="row align-items-center justify-content-end how-it-works d-flex"
                              >

                                <div class="col-8  ">

                                  <div class="row">
                                    <div class="col-7 float-left" >
                                      <h6 style="
                                        background: #23547b;
    color: #ffffff;
                                      padding: 4px 14px 4px 14px;
                                      border-radius: 5px;
                                    ">
                                    <span> Début Chargement </span>
                                  </h6>
                                                          </div>
                                                            <div class="col-5 float-right">

 <span
                                      style="
                                        font-size: 12px;
                                        font-weight: 700;
                                        color: #474a4c;
                                      "
                                    >
                                      {{
                                        line.dateCommancerChargement
                                          | date : "HH:mm"
                                      }}</span
                                    ><br />
                                    <span
                                      style="
                                        font-size: 12px;
                                        font-weight: 700;
                                        color: #474a4c;
                                      "
                                      >{{
                                        line.dateCommancerChargement
                                          | date : "dd-MM-yyyy"
                                      }}</span
                                    >
                                                            </div>
                                  </div>





                                <br />

                                <div class="row">
                                  <div class="col-7 float-left" >
                                    <h6 style="
                                       background: #23547b;
    color: #ffffff;
                                    padding: 4px 14px 4px 14px;
                                    border-radius: 5px;
                                  ">
                                  <span> Fin Chargement </span>
                                </h6>
          </div>

                                   <div class="col-5 float-right">
                                     <span
                                    style="
                                      font-size: 12px;
                                      font-weight: 700;
                                      color: #474a4c;
                                    "
                                  >
                                    {{
                                      line.dateFinChargement
                                        | date : "HH:mm"
                                    }}</span
                                  ><br> <span
                                    style="
                                      font-size: 12px;
                                      font-weight: 700;
                                      color: #474a4c;
                                    "
                                    >{{
                                      line.dateFinChargement
                                        | date : "dd-MM-yyyy"
                                    }}</span
                                  >

                                </div>
 </div>



                                </div>
                                <div
                                  class="col-2 text-center full d-inline-flex justify-content-center align-items-center"
                                >
                                  <div class="circle font-weight-bold">2</div>
                                </div>
                              </div>

 <!--second section Livraison-->
 <div *ngIf="line.orderTransportType?.id==2"
 class="row align-items-center justify-content-end how-it-works d-flex"
>

 <div class="col-8  ">

   <div class="row">
     <div class="col-7 float-left" >
       <h6 style="
         background: #23547b;
color: #ffffff;
       padding: 4px 14px 4px 14px;
       border-radius: 5px;
     ">
     <span> Debut Dechargement </span>
   </h6>
                           </div>
                             <div class="col-5 float-right">

<span
       style="
         font-size: 12px;
         font-weight: 700;
         color: #474a4c;
       "
     >
       {{
         line.dateCommancerDechargement
           | date : "HH:mm"
       }}</span
     ><br />
     <span
       style="
         font-size: 12px;
         font-weight: 700;
         color: #474a4c;
       "
       >{{
         line.dateCommancerDechargement
           | date : "dd-MM-yyyy"
       }}</span
     >
                             </div>
   </div>





 <br />

 <div class="row">
   <div class="col-7 float-left" >
     <h6 style="
        background: #23547b;
color: #ffffff;
     padding: 4px 14px 4px 14px;
     border-radius: 5px;
   ">
   <span> Fin Dechargement </span>
 </h6>
</div>

    <div class="col-5 float-right">
      <span
     style="
       font-size: 12px;
       font-weight: 700;
       color: #474a4c;
     "
   >
     {{
       line.dateFinDechargement
         | date : "HH:mm"
     }}</span
   ><br> <span
     style="
       font-size: 12px;
       font-weight: 700;
       color: #474a4c;
     "
     >{{
       line.dateFinDechargement
         | date : "dd-MM-yyyy"
     }}</span
   >

 </div>
</div>



 </div>
 <div
   class="col-2 text-center full d-inline-flex justify-content-center align-items-center"
 >
   <div class="circle font-weight-bold">2</div>
 </div>
</div>


                              <!--path between 2-3-->
                              <div class="row timeline">
                                <div class="col-2">
                                  <div class="corner right-bottom"></div>
                                </div>
                                <div class="col-8">
                                  <hr />
                                </div>
                                <div class="col-2">
                                  <div class="corner top-left"></div>
                                </div>
                              </div>
                              <!--third section-->
                              <div
                                class="row align-items-center how-it-works d-flex"
                              >
                                <div
                                  class="col-2 text-center top d-inline-flex justify-content-center align-items-center"
                                >
                                  <div class="circle font-weight-bold">3</div>
                                </div>
                                <div class="col-3 float-right">
                                  <span
                                 style="
                                   font-size: 12px;
                                   font-weight: 700;
                                   color: #474a4c;
                                 "
                               >
                                 {{
                                   line.closeDate
                                     | date : "HH:mm"
                                 }}</span
                               ><br> <span
                                 style="
                                   font-size: 12px;
                                   font-weight: 700;
                                   color: #474a4c;
                                 "
                                 >{{
                                   line.closeDate
                                     | date : "dd-MM-yyyy"
                                 }}</span
                               >

                             </div>
                                <div class="col-6 float-left">

                                  <h6 style="
                                    background: #23547b;
    color: #ffffff;
                                  padding: 4px 14px 4px 14px;
                                  border-radius: 5px;
                                ">
                                <span> FIN </span>
                              </h6>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                    </p-panel>

                    </ng-template>
                  </p-card>
                </div>
              </div>
            </ng-template>
          </p-accordionTab>
        </div>
      </p-accordion>

      <!-- <div class="row justify-content-around m-0">
  <div class="form-group col-md-6">
    <span class="p-text-secondary" style="
    font-weight: 700;
    color: #326895;">{{item.orderTransport?.code }}</span>
   </div>
   </div> -->

      <!-- <div class="row justify-content-around m-0">
    <div class="form-group col-md-6">
     <span  style="font-size: 15px;
     font-weight: 700;
     color: #474a4c;"> {{item.date  | date: 'HH:mm'}}</span><br>
     <span  style="font-size: 12px;
     font-weight: 500;
     color: #474a4c;">{{item.date | date :'dd-MM-yyyy'}}</span>
      </div>
      <div class="form-group col-md-6">
       <span class="p-text-secondary" style="
       font-weight: 700;
       color: #326895;">{{item.type !=null ?item.type :'En Route' }}</span>
      </div>
      </div> -->
    </div>

</div>




    <!-- </p-panel> -->
  </div>
</div>
