<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">
    Inserer Chauffeur
  </div>
  <div class="card-body border-top-primary">
    <form [formGroup]="driverForm">
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Cin" | translate }}*</label>
          <span
            *ngIf="
              (driverForm.get('cin').touched &&
                driverForm.get('cin').invalid) ||
              (isFormSubmitted && driverForm.get('cin').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
            Ce Champs est obligatoire
          </span>
          <br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="cin"
          />
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Code" | translate }}* </label>
          <span
            *ngIf="
              (driverForm.get('code').touched &&
                driverForm.get('code').invalid) ||
              (isFormSubmitted && driverForm.get('code').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
            Ce Champs est obligatoire
          </span>
          <br />

          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="code"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Nom" | translate }}* </label>
          <span
            *ngIf="
              (driverForm.get('nom').touched &&
                driverForm.get('nom').invalid) ||
              (isFormSubmitted && driverForm.get('nom').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
            Ce Champs est obligatoire
          </span>
          <br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="nom"
          />
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Date Naissance" | translate
          }}</label
          ><br />
          <p-calendar
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd/mm/yy"
            [locale]="fr"
            formControlName="dateNaissance"
            yearRange="1970:2100"
          ></p-calendar>
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Visite Médicale" | translate
          }}</label
          ><br />
          <p-calendar
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd/mm/yy"
            [locale]="fr"
            formControlName="visiteMedicale"
            yearRange="1970:2100"
          ></p-calendar>
        </div>

        <div class="form-group col-md-3">

        </div>
      </div>
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "N° Téléphone" | translate
          }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="tele"
          />
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "N° Fax" | translate }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="fax"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Email" | translate }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="email"
          />
        </div>
      </div>


      <div class="card mt-3">
        <div class="card-header " style=" background-color:#f7f7f7;">
          <span>Liste Des badge </span>
          <span class="pull-right">

            <app-driver-badgetype-line-edit [editMode]="false" (badgeDriverAdd)="onLineEdited($event)"></app-driver-badgetype-line-edit>
          </span>
        </div>
        <div class="card-body  border-top-primary">
          <p-table
            [value]="selectedDriver?.badgeTypeDrivers"
            [lazy]="true"
            (onLazyLoad)="loadDataLazy($event)"
            [rows]="size"
            [paginator]="true"
            [totalRecords]="selectedDriver?.badgeTypeDrivers?.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Type Badge</th>
                <th>Badge Number</th>
                <th>Date Délivrance</th>
                <th>Date Date de Fin De Validité</th>
                <th style="width:10%">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-badgeL>
              <tr>
                <td>{{ badgeL?.badgeType?.code}}</td>
                <td>{{ badgeL?.badgeNumber }}</td>
                <td>{{ badgeL?.deliveranceDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{ badgeL?.validityEndDate | date: 'dd-MM-yyyy'}}</td>
                <td>
                  <app-driver-badgetype-line-edit [editMode]="true" [selectedBadgeDriver]="badgeL" (badgeAdd)="onLineEdited($event)"></app-driver-badgetype-line-edit>

                  <button
                    type="button"
                    (click)="onDeleteLine(badgeL)"
                    class="btn btn-sm btn-danger"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>


      <div class="text-center">
        <a
          class="btn btn-primary m-1"
          [routerLink]="['/core/drivers/list']"
          routerLinkActive="active"
        >
          {{ "Fermer" | translate }}
        </a>
        <button
          type="button"
          class="btn btn-success m-1"
          (click)="onSubmitForm()"
        >
          {{ "Valider et continue" | translate }}
        </button>

        <button
          type="button"
          class="btn btn-success m-1"
          (click)="onSubmitForm(true)"
        >
          {{ "Valider" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>


<p-contextMenu #cm [model]="items"></p-contextMenu>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
