<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">
    Inserer Chauffeur
  </div>
  <div class="card-body border-top-primary">
    <form [formGroup]="driverForm">
       <p-tabView [activeIndex]="index"  >
        <p-tabPanel header="General"  >
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Cin" | translate }}*</label>
          <span
            *ngIf="
              (driverForm.get('cin').touched &&
                driverForm.get('cin').invalid) ||
              (isFormSubmitted && driverForm.get('cin').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
             obligatoire
          </span>
          <br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="cin"
          />
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Code" | translate }}* </label>
          <span
            *ngIf="
              (driverForm.get('code').touched &&
                driverForm.get('code').invalid) ||
              (isFormSubmitted && driverForm.get('code').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
            obligatoire
          </span>
          <br />

          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="code"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Nom" | translate }}* </label>
          <span
            *ngIf="
              (driverForm.get('nom').touched &&
                driverForm.get('nom').invalid) ||
              (isFormSubmitted && driverForm.get('nom').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
             obligatoire
          </span>
          <br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="nom"
          />
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Date Naissance" | translate
          }}</label
          ><br />
          <p-calendar
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd/mm/yy"
            [locale]="fr"
            formControlName="dateNaissance"
            yearRange="1970:2100"
          ></p-calendar>
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Visite Médicale" | translate
          }}</label
          ><br />
          <p-calendar
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd/mm/yy"
            [locale]="fr"
            formControlName="visiteMedicale"
            yearRange="1970:2100"
          ></p-calendar>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Carte d'abonnement" | translate
          }}</label
          ><br />
          <input
          type="text"
          class="form-control"
          formControlName="carte"
          pInputText

        />

        </div>
      </div>
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "N° Téléphone" | translate
          }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="tele"
          />
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "N° Fax" | translate }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="fax"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Email" | translate }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="email"
          />
        </div>
      </div>

    </p-tabPanel>

    <p-tabPanel header="Badges"  >
      <ng-template pTemplate="content">
        <app-badge-driver-edit (badgeTypedriverListEdit)='onLoadBadge($event)' [badgeTypeDriverList]="this.selectedDriver.badgeTypeDrivers" [idDriver]='idDriver'></app-badge-driver-edit>

        <div class="text-center">
          <a
            class="btn btn-primary m-1"
            [routerLink]="['/core/drivers/list']"
            routerLinkActive="active"
          >
            {{ "Fermer" | translate }}
          </a>
          <button
            type="button"
            class="btn btn-success m-1"
            (click)="onSubmitForm()"
          >
            {{ "Valider et continue" | translate }}
          </button>

          <button
            type="button"
            class="btn btn-success m-1"
            (click)="onSubmitForm(true)"
          >
            {{ "Valider" | translate }}
          </button>
        </div>

      </ng-template>

    </p-tabPanel>
    <!-- <p-tabPanel header="Commission"  >

      <ng-template pTemplate="content">

        <app-driver-commission-edit (commissionTypedriverListEdited)='onLoadCommission($event)' [idDriver]='idDriver'></app-driver-commission-edit>
      <br>
    </ng-template>

    </p-tabPanel> -->


      <div *ngIf="!(this.index==0)"   class="row pull-left ">
        <button type="button"  pButton icon="fa fa-chevron-left" (click)="openPrev()" ></button>
</div>


<div *ngIf="!(this.index==1)"  class="row pull-right">
        <button type="button"  pButton icon="fa fa-chevron-right" (click)="openNext()" ></button>
</div>
<br><br>

    </p-tabView>
    </form>

  </div>
</div>


<p-contextMenu #cm [model]="items"></p-contextMenu>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
