<br />
<div class="card">
  <div class="card-header">
    <span class="h4">{{ editModeTitle | translate }}</span>
  </div>
  <div class="card-body border-top-primary">
    <form [formGroup]="driverForm">

      <div class="row justify-content-around">

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Code" | translate }} * </label>
          <span
            *ngIf="
              (driverForm.get('code').touched &&
                driverForm.get('code').invalid) ||
              (isFormSubmitted && driverForm.get('code').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
          {{"Obligatoire" | translate}}
          </span>
          <br />

          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="code" [attr.disabled]="true"
          />
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Cin" | translate }} *</label>
          <span
            *ngIf="
              (driverForm.get('cin').touched &&
                driverForm.get('cin').invalid) ||
              (isFormSubmitted && driverForm.get('cin').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
          {{"Obligatoire" | translate}}
          </span>
          <br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="cin"
          />
        </div>


        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Nom" | translate }} * </label>
          <span
            *ngIf="
              (driverForm.get('nom').touched &&
                driverForm.get('nom').invalid) ||
              (isFormSubmitted && driverForm.get('nom').invalid)
            "
            class="text-lighter"
            style="color: red; font-size: xx-small;"
          >
          {{"Obligatoire" | translate}}
          </span>
          <br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="nom"
          />
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Date naissance" | translate
          }}</label
          ><br />
          <p-calendar
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd/mm/yy"
            [locale]="fr"
            formControlName="dateNaissance"
            yearRange="1970:2100"
          ></p-calendar>
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Visite médicale" | translate
          }}</label
          ><br />
          <p-calendar
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd/mm/yy"
            [locale]="fr"
            formControlName="visiteMedicale"
            yearRange="1970:2100"
          ></p-calendar>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "Carte d'abonnement" | translate
          }}</label
          ><br />
          <input
          type="text"
          class="form-control"
          formControlName="carte"
          pInputText

        />

        </div>
      </div>
      <div class="row justify-content-around">
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{
            "N° téléphone" | translate
          }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="tele"
          />
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "N° Fax" | translate }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="fax"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="font-weight-bold ">{{ "Email" | translate }}</label
          ><br />
          <input
            type="text"
            class="form-control"
            pInputText
            formControlName="email"
          />
        </div>
      </div>



      <div class="card m-5 ">
        <div class="card-header" style="background-color: #f7f7f7;">
         <div class="row">
      
          <div class="col-xs-4 col-md-4 pull-left">
            <button
      
              type="button"
              class="btn btn-sm btn-primary mx-1"
              (click)="onShowDialogBadge(selectedBadgeDriver,false)"
              >   
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class=" col-xs-4 col-md-6 pull-center">
            <span style="font-size: 16px; color: #5f5b5b;">
              <b> {{ "Liste des Badge" | translate }}</b></span
            >
          </div>
        </div></div>
        <div class="card-body border-top-primary">
          <p-table
          [value]=" this.BadgeDriverList" [lazy]="true" [rows]="size" [paginator]="true"
          [totalRecords]=" this.BadgeDriverList?.length">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ 'Type badge ' | translate}}</th>
                <th>{{ 'Numero de badge' | translate}}</th>
                <th>{{ 'Date de délivrance ' | translate}}</th>
                <th>{{ 'Date de fin De validité ' | translate}}</th>
                <th style="width:10%">{{ 'Action ' | translate}}</th>
               
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-badgeL>
              <tr>
                <td>{{ badgeL?.badgeType?.code}}</td>
                <td>{{ badgeL?.badgeNumber }}</td>
                <td>{{ badgeL?.deliveranceDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{ badgeL?.validityEndDate | date: 'dd-MM-yyyy'}}</td>
             
                <td>
      
                  <button
                  type="button"
                  class="btn btn-sm btn-primary mx-1"
                  (click)="onShowDialogBadge(badgeL,true)"
                  ><!--ADD-->
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                type="button"
                class="btn btn-sm btn-danger mx-1"
                (click)="onDeleteBadge(badgeL.id)"
                ><!--ADD-->
                <i class="fa fa-trash"></i>
              </button>
                </td>
              </tr>
            </ng-template>
      
          </p-table>
        </div>
      </div>


      
        <div class="text-center">
          <a
            class="btn btn-primary m-1"
            [routerLink]="['/core/drivers/list']"
            routerLinkActive="active"
          >
            {{ "Fermer" | translate }}
          </a>
          <button
            type="button"
            class="btn btn-success m-1"
            (click)="onSubmitForm(false)"
          >
            {{ "Valider et continue" | translate }}
          </button>

          <button
            type="button"
            class="btn btn-success m-1"
            (click)="onSubmitForm(true)"
          >
            {{ "Valider" | translate }}
          </button>
        </div>


    </form>

  </div>
</div>


<div *ngIf="showDialog == true">
  <app-driver-badge-edit
    [editMode]="editMode"
    (badgeDriverEdited)="onLineEditedBadge($event)"
    [selectedBadgeDriver]="selectedBadgeDriver"
    (showDialog)="onHideDialogBadge($event)"
  ></app-driver-badge-edit>

</div>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
