
<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '350px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="zoneForm">

        <div class="row  justify-content-around">
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">{{'Code' | translate}} *</label>
            <span *ngIf="(zoneForm.get('name').touched && zoneForm.get('name').invalid) ||
            (isFormSubmitted && zoneForm.get('name').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
               {{'Obligatoire' | translate }}
            </span>
            <br />
            <input type="text" class="form-control" pInputText formControlName="name"
            (keydown.space)="$event.preventDefault()"
           />
          </div>

          <div class="col-md-3"></div>

        </div>
      </form>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onShowDialog()"
    class="ui-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="ui-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog>
