<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Inserer Chauffeur</div>
  <div class="card-body border-top-primary">
   <form [formGroup]="driverForm" (ngSubmit)="onSubmitForm()">
      <div class="row justify-content-around">


        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{ 'Cin' | translate }}</label
            ><br />
            <input type="text" class="form-control"   pInputText formControlName="cin"  />
        </div>


        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{ 'Code'  | translate }}</label
            ><br />
            <input type="text" class="form-control" pInputText formControlName="code" />
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{ 'Date Naissance'  | translate }}</label
            ><br />
            <p-calendar  [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                         formControlName="dateNaissance" ></p-calendar>
          </div>
        </div>

        <div class="row justify-content-around">

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{'Visite Medicale'  | translate }}</label
            ><br />
            <p-calendar  [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
            formControlName="visiteMedicale" ></p-calendar>

        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{ 'Comission'  | translate }}</label
            ><br />
            <input type="text" class="form-control"  pInputText formControlName="comission" />
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{ 'Contact '  | translate }}</label
            ><br />
            <p-dropdown placeholder=".." formControlName="contact"></p-dropdown>

        </div>
        </div>
        <div class="row justify-content-around">

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{ 'N Telephone'  | translate }}</label
            ><br />
            <input type="text" class="form-control" pInputText formControlName="tele"/>
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{'N Fax'  | translate }}</label
            ><br />
            <input type="text" class="form-control" pInputText formControlName="fax"/>
        </div>
        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >{{'Email'  | translate }}</label
            ><br />
            <input type="text" class="form-control" pInputText  formControlName="email"/>
        </div>

        </div>
        <br>
        <br>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-primary col-md-2" style="margin-right:20px;">
              {{'Fermer' | translate }}
            </button>
            <button type="submit" class="btn btn-success col-md-2">{{'Valider'|translate}}</button>
          </div>

        </form>
    </div>
    </div>


