<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Inserer Chauffeur</div>
  <div class="card-body border-top-primary">

      <div class="row justify-content-around">

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Cin</label
            ><br />
            <input type="text" class="form-control"  pInputText />
        </div>


        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Nom</label
            ><br />
            <input type="text" class="form-control" pInputText />
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Date Naissance</label
            ><br />
            <p-calendar  [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
          </div>
        </div>

        <div class="row justify-content-around">

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Visite Medicale</label
            ><br />
            <input type="text" class="form-control" pInputText />
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Comission</label
            ><br />
            <input type="text" class="form-control"  pInputText />
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Contrat Type</label
            ><br />
            <input type="text" class="form-control" pInputText />
        </div>
        </div>
        <div class="row justify-content-around">

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >N Telephone</label
            ><br />
            <input type="text" class="form-control" pInputText />
        </div>

        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >N Fax</label
            ><br />
            <input type="text" class="form-control" pInputText />
        </div>
        <div class="form-group col-md-3">
            <label
              class="font-weight-bold "
              >Email</label
            ><br />
            <input type="text" class="form-control" pInputText />
        </div>

        </div>
        <br>
        <br>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-primary col-md-2" style="margin-right:20px;">
              Fermer
            </button>
            <button type="button" class="btn btn-success col-md-2">{{'Valider'|translate}}</button>
          </div>
    </div>
    </div>


