<!-- <button class="btn btn-success btn-sm" (click)="open(content)">
  <i class="fa" [ngClass]="editMode ? 'fa-pencil' : 'fa-plus'"></i>
</button>
<ng-template #content let-modal>
  <div class="modal-header" style=" background-color:#f7f7f7; height: 45px;">
    <h4 class="modal-title" id="modal-basic-title">Editer Ligne de Commande</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="card "> -->

      <!-- header="{{ title | translate }}" -->
<p-dialog

[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '50vw' }"
(onHide)='onHideDialog()'
>
<div>
  <!-- <div class="modal-body">
    <div class="card-body">
      <div class="card-body border-top-primary"> -->
        <p-table  [value]="turnLineList"  [rows]="5" [paginator]="true"
        [totalRecords]="turnLineList?.length" editMode="row">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th>line id</th> -->
              <th>Produit</th>
              <th>Statut</th>
              <th>Quantite</th>
              <th>Poids</th>

              <th style="width:15%">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Lines let-editing="editing" let-ri="rowIndex">


            <tr [pEditableRow]="Lines">
              <!-- <td>
                {{saleOrderLines?.id}}
            </td> -->
              <td>
                  {{Lines?.product?.code}}
              </td>
              <td>
                 {{Lines?.orderStatus?.code}}
            </td>
              <td>
                  <p-cellEditor>
                
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="Lines.quantityServed" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{Lines?.quantityServed}}
                      </ng-template>
                 
                    <!-- <div *ngIf="saleOrderLines.orderStatus.code==='En attente'" >
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="saleOrderLines.quantityDeliver" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{saleOrderLines?.quantity -saleOrderLines?.quantityServed  }}
                      </ng-template>
                    </div>
                    <div *ngIf="saleOrderLines.orderStatus.code==='En cours'" >
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="saleOrderLines.quantityDeliver" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{saleOrderLines?.quantityReserved -saleOrderLines?.quantityServed}}
                      </ng-template>
                    </div> -->
                  </p-cellEditor>
              </td>
              <td>
                {{(Lines?.quantityServed *Lines?.productPack?.weight)}} KG
            </td>

              <td style="text-align:center mt-5">
                  <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"  class="btn btn-sm" 
                  style="  background: #3caea3  !important;color: #ffffff;border-color: #27ad60 ;height: 25px;width: 25px"
                   (click)="onRowEditInit(Lines)"></button>
                
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"  class="btn btn-sm" 
                style="  margin-right: .5em ; background: #4084bd !important;color: #ffffff;border-color: #0062cc;height: 25px;width: 25px"  
                (click)="onRowEditSave(Lines)"></button>
                
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="btn btn-sm" 
                 style="  background: #e74c3c  !important;color: #ffffff;border-color: #c44133;  height: 25px;width: 25px"
                  (click)="onRowEditCancel(Lines, ri)"></button>
              </td>
          </tr>



          </ng-template>
        </p-table>
      <!-- </div>

    </div>
  </div> -->
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button
    type="button"
    pButton
    (click)="onHideDialog()"
    class="ui-button-primary"
    label="{{'Annuler' | translate }}"
  ></button>
  <button
      type="button"
      pButton
      (click)="onSubmit()"
      class="ui-button-success"
      label="{{ 'Valider' | translate }}"
    ></button>
  </div>
</p-footer>
</p-dialog>


    <!-- </div>

  <div class="modal-footer pull-right ">

    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      {{'Fermer' | translate}}
    </button>

  </div>
</ng-template> -->

