<button class="btn btn-primary btn-sm" (click)="open(content)">
  <i class="fa" [ngClass]="editMode ? 'fa-pencil' : 'fa-plus'"></i>
</button>
<ng-template #content let-modal>
  <div class="modal-header" style=" background-color:#f7f7f7">
    <h4 class="modal-title" id="modal-basic-title">Editer Ligne de Commande</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body border-top-primary">

    <div class="card mt-3">

      <div class="card-body border-top-primary">
        <p-table  [value]="saleOrderLineList" [lazy]="true" [rows]="size" [paginator]="true"
        [totalRecords]="saleOrderLineList?.length" editMode="row">
          <ng-template pTemplate="header">
            <tr>
              <th>line id</th>
              <th>Produit</th>
              <th>Statut</th>
              <th>Quantite</th>
              <th>Poids</th>

              <th style="width:15%">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-saleOrderLines let-editing="editing" let-ri="rowIndex">


            <tr [pEditableRow]="saleOrderLines">
              <td>
                {{saleOrderLines?.id}}
            </td>
              <td>
                  {{saleOrderLines?.product?.code}}
              </td>
              <td>
                {{saleOrderLines?.orderStatus.code}}
            </td>
              <td>
                  <p-cellEditor>
                    <div *ngIf="saleOrderLines.orderStatus.code==='préparer'" >
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="saleOrderLines.quantityDeliver" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{saleOrderLines?.quantityPrepare -saleOrderLines?.quantityServed }}
                      </ng-template>
                    </div>
                    <div *ngIf="saleOrderLines.orderStatus.code==='En attente'" >
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="saleOrderLines.quantityDeliver" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{saleOrderLines?.quantity -saleOrderLines?.quantityServed  }}
                      </ng-template>
                    </div>
                    <div *ngIf="saleOrderLines.orderStatus.code==='En cours'" >
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="saleOrderLines.quantityDeliver" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{saleOrderLines?.quantityReserved -saleOrderLines?.quantityServed}}
                      </ng-template>
                    </div>
                  </p-cellEditor>
              </td>
              <td>
                {{saleOrderLines?.productPack?.weight}}
            </td>

              <td style="text-align:center">
                  <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(saleOrderLines)"></button>
                  <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(saleOrderLines)"></button>
                  <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(saleOrderLines, ri)"></button>
              </td>
          </tr>



          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="modal-footer pull-right ">

    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      {{'Fermer' | translate}}
    </button>

  </div>
</ng-template>

