

<div class="container-fluid mt-5">

  <div class="row justify-content-around mt-5">


    <div class="form-group col-md-12">
      <p-fieldset legend="Tarification" [toggleable]="true">

<p-table [value]="vehicleCatsToDeliver" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>Catégorie</th>
          <th>Tonnage</th>
          <th>Pourcentage</th>
          <!-- <th>Nombre Palettes</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="cat"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="
                expanded
                  ? 'pi pi-chevron-down'
                  : 'pi pi-chevron-right'
              "
            ></button>
          </td>
          <td>{{ cat.description }}</td>
          <td>{{ cat.tonnage }} KG</td>
          <td>{{ cat.pourcentageToDeliver | number: "1.2-2" }}%</td>
          <!-- <td>{{ cat.numberOfPalette | number: "1.2-2" }}</td> -->
        </tr>
      </ng-template>

      <ng-template
        pTemplate="rowexpansion"
        let-cat
        let-expanded="expanded"
      >
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="cat.transports" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th>transport</th>

                    <th>prix</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tr>
                  <tr>
                    <td>
                      <b>{{ tr?.name }}</b>
                    </td>

                    <td>
                      <b>{{ tr?.priceTurn }} DH</b>
                    </td>
                  </tr>
                  <!-- <tr
                    *ngFor="let item of tr?.catalogTransportTypes"
                  >
                    <td>+{{ item?.villeDestination.code }}</td>

                    <td>{{ item?.amountTtc }}DH</td>
                  </tr> -->
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">pas de Transport</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>

</div>
</div>

<div class="row justify-content-around ">

<div class="form-group col-md-3" >
  <span *ngIf="(this.selectOrderDelivery?.turnType.id==1 ||this.selectOrderDelivery?.turnType.id==3)">
  <label class="font-weight-bold">{{
    "Prix TTC - Aller" | translate
  }} *</label
  >


  <br />
  <input
  [disabled]="true"
  [(ngModel)]="this.priceAller"
  type="text"
    class="form-control"
    pInputText
  /></span>
</div>
<div class="form-group col-md-3">
  <span *ngIf="(this.selectOrderDelivery?.turnType.id==2 ||this.selectOrderDelivery?.turnType.id==3)">

  <label class="font-weight-bold">{{
    "Prix TTC - Retour" | translate
  }} *</label
  >


  <br />
  <input
  [disabled]="true"
  [(ngModel)]="this.priceRetour"

  type="text"
    class="form-control"
    pInputText
  />
  </span>
</div>

<div class="form-group col-md-6">
</div>
</div>

<div class="row justify-content-around mt-5">

  <div class="form-group col-md-3">
<span class="add" style="float: left;" >
  <img src="/assets/img/add-transport.png" style="width: 30px ; height: 30px;">
  <a (click)='onShowDialogOrderDeliveryTransport(null,false)' class="ml-2">Ajouter Transport</a></span>
</div>
<div class="form-group col-md-9">
</div>
</div>


<p-table
  [value]=" orderDeliveryTransports" [lazy]="true" [rows]="5" [paginator]="true"
  [totalRecords]="orderDeliveryTransports">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "Catégorie Véhicule" | translate }}</th>
        <th>{{ "Véhicule" | translate }}</th>
        <th>{{ "Chauffeur" | translate }}</th>
        <th>{{ "Transport" | translate }}</th>



        <th style="width: 15%;">{{ "Actions" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-line>
      <tr>
        <td>{{ line?.vehicleCategory?.code }}</td>

        <td>
          {{ line?.vehicle?.registrationNumber }}
      </td>
      <td>
      <span *ngFor="let item of  line?.drivers">{{ item?.name}}</span>
    </td>


      <td>{{ line?.transport?.name }}</td>



        <td>
          <button

          type="button"
          class="btn btn-sm btn-primary mx-1"
          (click)="onShowDialogOrderDeliveryTransport(line,true)"
          ><!--ADD-->
          <i class="fa fa-pencil"></i>
        </button>
        <button

        type="button"
        class="btn btn-sm btn-danger mx-1"
        (click)="onDeleteOrderDeliveryTransport(line)"
        ><!--ADD-->
        <i class="fa fa-trash"></i>
      </button>

        </td>
      </tr>
    </ng-template>

  </p-table>



</div>






<div class="row pull-left mt-5">
  <button
    type="button"
    pButton
    icon="fa fa-chevron-left"
    (click)="previous()"
  ></button>
</div>

<div class="row pull-right mt-5">
  <button
    type="button"
    pButton
    icon="fa fa-chevron-right"
    (click)="next()"
  ></button>
</div>

<div *ngIf="showDialogOrderDeliveryTransport==true">
  <app-transport-edit
  (showDialog)="onHideDialogOrderDeliveryTransport($event)"
  [selectedOrderDeliveryTransport]="selectOrderDeliveryTransport"
  (orderDeliveryTransportEdited)="onLineEditedOrderDeliveryTransport($event)"
  ></app-transport-edit>
</div>
