<p-dialog
  header="{{ title | translate }}"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [position]="'right'"
  [style]="{ width: '950px' }"
  (onHide)="onShowDialog()"
>
  <div>
    <div>
      <div>
        <form>
          <div class="modal-body">
            <div class="row justify-content-around">
              <div class="form-group col-md-6">
                <p-fieldset legend="Contact"  [toggleable]="true">
          <div class="row justify-content-around">

            <div class="form-group col-md-12">
              <span class="add" style="float: left;" >

                <img

                src="./assets/img/contact.png" style="width: 30px ; height: 30px;">
                <a (click)='onShowdialogContact()' class="ml-2">Ajouter Contact </a></span>
          </div>

          </div>


                  <p-table
                    [value]="contactList"
                    [(selection)]="selectedContact"
                    dataKey="code"
                    [rows]="5"
            [paginator]="true"
            [(selection)]="selectedContact"

            [totalRecords]="contactList?.length"
                    responsiveLayout="scroll"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 3rem"></th>
                        <th>Nom</th>
                        <th>Tele</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contact>
                      <tr>
                        <td>
                          <p-tableRadioButton
                            [value]="contact"
                          ></p-tableRadioButton>
                        </td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.tel1 }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-fieldset>
              </div>

              <div class="form-group col-md-6">
                <p-fieldset legend="Adresse" [toggleable]="true">
                  <div class="row justify-content-around">

                    <div class="form-group col-md-12">
                      <span class="add" style="float: left;" >

                        <img
                        src="./assets/img/address1.png" style="width: 30px ; height: 30px;">
                        <a (click)='onShowdialogAddress()' class="ml-2">Ajouter Adresse </a></span>
                  </div>

                  </div>
                  <p-table
                    [value]="addressList"
                    [(selection)]="selectedAddress"
                    dataKey="code"
                    [rows]="5"
                    [paginator]="true"
                    [totalRecords]="addressList?.length"
                    responsiveLayout="scroll"
                    (onRowSelect)="onSelectAddress()"
                  >
                  <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                      <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <p-autoComplete
                                [suggestions]="addressList"

                                (completeMethod)="onSearchAddressName($event)"
                                field="name"
                                placeholder="Rechercher"
                                [appendTo]="body"
                              ></p-autoComplete>
                                <!-- <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" /> -->
                            </span>
                    </div>
                  </ng-template>

                    <ng-template pTemplate="header">
                      <!-- <tr>
                        <th style="width: 3rem"></th> -->
                        <!-- <th>  <p-autoComplete
                          [suggestions]="addressList"
                          (onSelect)="onSelectAddress($event)"
                          (completeMethod)="onSearchAddressName($event)"
                          field="name"
                          [appendTo]="body"
                        ></p-autoComplete></th>
                        <th></th>                        <th></th> -->


                      <!-- </tr> -->
                      <tr>
                        <th style="width: 3rem"></th>
                        <th>Nom d'adresse</th>

                        <th>ligne d'adresse</th>
                        <th>Ville</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-address>
                      <tr>
                        <td>
                          <p-tableRadioButton
                            [value]="address"
                          ></p-tableRadioButton>
                        </td>
                        <td>{{ address.name }}</td>
                        <td>{{ address.line1 }}</td>
                        <td>{{ address?.ville?.code }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-fieldset>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        (click)="onShowDialog()"
        class="p-button-primary"
        label="{{ 'Annuler' | translate }}"
      ></button>
      <button
        type="button"
        pButton
        (click)="onSubmit()"
        class="p-button-success"
        label="{{ 'Valider' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast position="top-right" [autoZIndex]="'true'"></p-toast>


<div *ngIf="showDialogContact == true">
  <app-generate-contact-edit
   (showDialog)="onHideDialogContact($event)"
  (contactEdited)="onLineEditedContact($event)"
  ></app-generate-contact-edit>
</div>

<div *ngIf="showDialogAddress == true">
  <app-generate-address-edit
   (showDialog)="onHideDialogAddress($event)"
  (addressEdited)="onLineEditedAddress($event)"
></app-generate-address-edit>
</div>
