
<p-dialog
header="{{ title | translate }}"
[(visible)]="displayDialog"
[focusOnShow]="false"
[responsive]="true"
showEffect="fade"
[modal]="true"
[style]="{ width: '500px' }"
(onHide)='onShowDialog()'
>
<div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="vehicleProductForm" >
        <div class="modal-body">

          <div class="row  justify-content-around">
            <div class="form-group col-md-6">
                    <label class="font-weight-bold">{{'Produit' | translate}}*</label>
                    <span *ngIf="(vehicleProductForm.get('pdt').touched && vehicleProductForm.get('pdt').invalid) ||
            (isFormSubmitted && vehicleProductForm.get('pdt').invalid)" class="text-lighter"
              style="color: red; font-size: xx-small;">
              {{"Obligatoire" | translate}}
                    </span>
                    <p-autoComplete formControlName="pdt" [appendTo]="'body'"[suggestions]="productList" class="w-100"
                     field="code" class="form-control border-0"  placeholder="{{this.selectedVehicleProduct?.product?.code}}"
                        [minLength]="1" [size]="10" (completeMethod)="searchProduct($event)"
                        (onSelect)="onSelectProduct($event)"></p-autoComplete>
                </div>

                <div class="form-group col-md-6">
                  <label class="font-weight-bold">{{'Type Produit' | translate}}*</label>
                  <span *ngIf="(vehicleProductForm.get('pdtType').touched && vehicleProductForm.get('pdtType').invalid) ||
          (isFormSubmitted && vehicleProductForm.get('pdtType').invalid)" class="text-lighter"
            style="color: red; font-size: xx-small;">
            {{"Obligatoire" | translate}}
                  </span>
                  <p-autoComplete formControlName="pdtType" [appendTo]="'body'"[suggestions]="productTypeList" class="w-100"
                   field="code" class="form-control border-0"  placeholder="{{this.selectedVehicleProduct?.productType?.code}}"
                      [minLength]="1" [size]="10" (completeMethod)="searchProductType($event)"
                      (onSelect)="onSelectProductType($event)"></p-autoComplete>
              </div>



            </div>

<div class="row">
            <div class="col-xs-4 col-md-4 pull-left">
              <button
                type="button"
                class="btn btn-sm btn-primary mx-1"
                (click)="onShowNewLigne()"
              >
                <!--ADD-->
                <i class="fa fa-plus"></i>
              </button>
            </div>
</div>
            <p-table [value]="selectedVehicleProduct.vehicleProductReferences" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Référence</th>

                      <th style="width:8rem"></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-reference let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="reference">
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="reference.reference" [ngModelOptions]="{standalone: true}">
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{reference?.reference}}
                              </ng-template>
                          </p-cellEditor>
                      </td>



                      <td style="text-align:center">
                          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(reference)" class="p-button-rounded p-button-text"></button>
                          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(reference,ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(reference, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>

        </div>

    </form>


</div>
</div>
</div>
<p-footer>
<div class="ui-dialog-buttonpane ui-helper-clearfix">

  <button
  type="button"
  pButton
  (click)="onShowDialog()"
  class="p-button-primary"
  label="{{'Annuler' | translate }}"
></button>
<button
    type="button"
    pButton
    (click)="onSubmit()"
    class="p-button-success"
    label="{{ 'Valider' | translate }}"
  ></button>
</div>
</p-footer>
</p-dialog>



