<div [@routerTransition]>
  <app-page-header [heading]="'Zones'" [icon]="'fa-users'"></app-page-header>

  <div style="margin: 1em;">
    <div class="header">
      <h4>{{'Zones' | translate}}</h4>
      <div>
        <button class="btn btn-primary btn-sm" type="button" (click)="addZone()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="item" *ngFor="let zone of zones">
      <label *ngIf="!editMode[zone.id]">{{zone.name}}</label>
      <input *ngIf="editMode[zone.id]" type="text" class="form-control" 
      [value]="zone.name" (input)="zone.name = $event.target.value">
      <div class="icons">
          <button *ngIf="!editMode[zone.id]" class="btn btn-primary btn-sm" type="button" (click)="edit(zone)">
            <i class="fa fa-pencil"></i>
          </button>
        <button *ngIf="editMode[zone.id]" class="btn btn-primary btn-sm" type="button" (click)="save(zone)">
          <i class="fa fa-save"></i>
        </button>
        <button class="btn btn-danger btn-sm" type="button" (click)="delete(zone)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="large" color="#00d2ff" type="ball-spin-fade-rotating"></ngx-spinner>