<br />
<div class="card">
  <div class="card-header " style="background-color:#f7f7f7;">Filters</div>
  <div class="card-body  border-top-primary">
    <div class="row">
      <div class="col-md-3">
        <label
          class="font-weight-bold"
          > Cin</label
        ><br />
        <input type="text" pInputText />
      </div>

      <div class="col-md-3">
        <label
          >Nom</label
        ><br />
                <input type="text" pInputText />

      </div>

      <div class="col-md-3 ">
        <label
          >Type Contrat</label
        ><br />
        <p-dropdown placeholder=".."></p-dropdown>

      </div>

    </div>
    <br />
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-primary" style="margin-right:20px;">
        Rechercher
      </button>
      <button type="button" class="btn btn-success">Renitialiser</button>
    </div>
  </div>
</div>

<div class="card mt-3">
    <div class="card-header " style=" background-color:#f7f7f7;">
      <span>Liste Des Chauffeurs</span>

    </div>
    <div class="card-body  border-top-primary">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Cin</th>
            <th>Nom</th>
            <th>Type Contrat</th>
            <th>N Tele </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td>uu</td>
            <td>uu</td>
            <td>uu</td>
            <td>uu</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  </div>
