<div class="page-content fade-in-up">
    <p-panel header="Filters" [toggleable]="true">

        <div class="row  mt-1 ">
            <!-- <div class="col-md-3">
              <label class="font-weight-bold">
                {{"Code" | translate}}</label><br />
                <p-autoComplete [(ngModel)]="codeSearch" [suggestions]="codeList"
                (completeMethod)="onCodeSearch($event)"></p-autoComplete>
            </div> -->

            <div class="col-md-3">
                <label class="font-weight-bold">{{'Véhicule' | translate}} </label><br />
                <p-autoComplete [(ngModel)]="codeSearch" [suggestions]="vehicleRegistrationNumberList"
                    (completeMethod)="onVehicleCodeSearch($event)" field="registrationNumber">
                </p-autoComplete>

            </div>

            <div class="form-group col-md-6 ">
                <label class="font-weight-bold"> {{'Date ' | translate}} </label><br />
                <div class="row">
                    <div class=" input-group input-group-sm col-md-6 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-black">Du</span>
                        </div>
                        <p-calendar  placeholder="jj-mm-aaaa" [showButtonBar]="true" dateFormat="dd-mm-yy" [maxDateCount]='1' [(ngModel)]="dateDepartSearch" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" inputId="icon"
                            [readonlyInput]="true"></p-calendar>
                    </div>


                    <div class=" input-group input-group-sm col-md-6 ">
                        <!-- <label class="font-weight-bold"> {{'Date finale' | translate}} </label>-->
                        <div class="input-group-prepend ">
                            <span class="input-group-text text-black">Au</span>
                        </div>
                        <p-calendar placeholder="jj-mm-aaaa" [showButtonBar]="true" dateFormat="dd-mm-yy" [maxDateCount]='1' [(ngModel)]="dateFinSearch" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" inputId="icon"
                            [readonlyInput]="true"></p-calendar>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="font-weight-bold ">{{'Catégorie' | translate}}</label><br />
                <p-dropdown [options]="vehicleCategoryList" [showClear]="true" optionLabel="code"
                    [autoDisplayFirst]="false" [(ngModel)]="categorySearch" filter="true">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="font-weight-bold">{{
                    "Trajet" | translate
                    }}</label><br />

                <p-autoComplete [(ngModel)]="codeSearch2" [suggestions]="trajetList"
                    (completeMethod)="onCodeSearch($event)" field="code"></p-autoComplete>

            </div>
            <div class="col-md-3">
                <label class="font-weight-bold ">{{'Marque' | translate}}</label><br />
                <p-dropdown [autoDisplayFirst]="false" [options]="vehicleBrandTypeList" optionLabel="code"
                  [filter]="true" [showClear]="true" [(ngModel)]="marqueSearch"></p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="font-weight-bold ">{{'Ancienneté par tranche'| translate}}</label><br />
                <p-dropdown [options]="seniorityList" optionLabel="header" [autoDisplayFirst]="false"
                    [(ngModel)]="senioritySearch" [showClear]="true">
                </p-dropdown>
            </div>
          
        </div>

        <br />
        <br />
        <div class="text-center">
            <button type="button" class="btn btn-primary mr-2" (click)="reset()">
                <i class="fa fa-refresh mr-2"></i>
                {{'Réinitialiser'| translate}}
            </button>

            <button type="button" class="btn btn-success" (click)="onSearchClicked()">
                <i class="fa fa-search mr-2"></i>

                {{' Rechercher'| translate}}
            </button>
        </div>

    </p-panel>
    <br />
    <div class="row">
        <div class=" col-md-4">
            <div class="ibox bg-info color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{trajetTraveled}} </h2>
                    <div class="m-b-5">Trajets parcouru</div><i class="fa fa-tachometer widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="ibox bg-success color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{kilometerTraveled | number : '1.2'}} KM</h2>
                    <div class="m-b-5">Kilométrage parcouru</div><i class="fa fa-tachometer widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="ibox bg-danger color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{hourstrajet}} H {{minutestrajet}} MIN</h2>
                    <div class="m-b-5">Durée moyenne de trajet</div><i class="fa fa-tachometer widget-stat-icon"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="ibox bg-warning color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{hourstrajetattent}} H {{minutestrajetattent}} MIN</h2>
                    <div class="m-b-5">Durée moyenne d'attente</div><i class="fa fa-tachometer widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="ibox bg-yellow color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{hourstrajetoperation}} H {{minutestrajetoperation}} MIN</h2>
                    <div class="m-b-5">Durée moyenne d'opération</div><i class="fa fa-tachometer widget-stat-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>