<p-breadcrumb [model]="itemsbreadcrumb" [home]="home"></p-breadcrumb>

<div class="card mt-1">
  <div class="card-header" style="background-color: #f7f7f7">
    {{ editModeTitle }}
  </div>
  <div class="card-body border-top-primary">
    <form>
      <p-steps [model]="items" [(activeIndex)]="activeIndex"> </p-steps>

      <div *ngIf="activeIndex == 0" class="mt-5">
        <form [formGroup]="turnForm">
          <div class="mt-3 row justify-content-around">
            <div class="form-group col-md-2">
              <label class="font-weight-bold"
                >{{ "Date De la tournée" | translate }} *</label
              >
              <span
                *ngIf="
                  (turnForm.get('fDateLivraison').touched &&
                    turnForm.get('fDateLivraison').invalid) ||
                  (isFormSubmitted && turnForm.get('fDateLivraison').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                obligatoire
              </span>
              <p-calendar
                [monthNavigator]="true"
                [yearNavigator]="true"
                dateFormat="dd/mm/yy"
                yearRange="1970:2100"
                formControlName="fDateLivraison"
              >
              </p-calendar>
            </div>
            <div class="form-group col-md-2">
              <label class="font-weight-bold"
                >{{ "Chargement" | translate }} *</label
              >
              <span
                *ngIf="
                  (turnForm.get('fDateLivraison').touched &&
                    turnForm.get('fDateLivraison').invalid) ||
                  (isFormSubmitted && turnForm.get('fDateLivraison').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                obligatoire
              </span>
              <p-selectButton
                [options]="loadingTypeList"
                formControlName="floadingType"
                (onChange)="onSelectLoadingTypes($event)"
                optionLabel="code"
              >
              </p-selectButton>
            </div>
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Type tournée" | translate }}
              </label>

              <p-selectButton
                [options]="turnTypeList"
                formControlName="fTurnType"
                name="first"
                (onChange)="onSelectTurnType($event)"
                optionLabel="code"
              ></p-selectButton>
            </div>
            <div class="form-group col-md-2">
              <label class="font-weight-bold"
                >{{ "Type emballage" | translate }}
              </label>
              <p-selectButton
                [options]="packagingTypes"
                formControlName="fpackagingType"
                name="first"
                (onChange)="onSelectPackagingTypes($event)"
                optionLabel="code"
              >
              </p-selectButton>
            </div>
          </div>
        </form>
        <div class="row mt-3 justify-content-around">
          <!-- <div class="form-group col-md-3">
            <label class="font-weight-bold">{{
              "Type tournée" | translate}} </label>

            <p-selectButton [options]="turnTypeList" [(ngModel)]="this.turnAdded.turnType" name="first"
              (onChange)="onSelectTurnType($event)" optionLabel="code"></p-selectButton>

          </div> -->
          <div class="form-group col-md-6"></div>
        </div>
        <div *ngIf="turnTypeId == 1 || turnTypeId == 3">
          <h6></h6>
          <p-pickList
            [source]="saleOrders"
            [target]="saleOrdersLoading"
            sourceHeader="Commande"
            targetHeader="sélectionné"
            [responsive]="true"
            filterBy="account.name,code,expectedDate,deliveryAddress.city"
            dragdrop="true"
            sourceFilterPlaceholder="Recherche Par Client - Commande - Ville"
            targetFilterPlaceholder="Recherche Par Client - Commande - Ville "
            [sourceStyle]="{ height: '300px' }"
            [targetStyle]="{ height: '300px' }"
            (onMoveToSource)="onMoveSoToSource($event)"
            (onMoveToTarget)="onMoveSoToTarget($event)"
             [showSourceControls]="false"
             [showTargetControls]="false"



          >
            <ng-template let-turn pTemplate="item">
              <div class="product-item" >
                <div class="product-list-detail">
                  <h5 class="p-mb-2">CLient : {{ turn?.account?.name }}</h5>
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="product-category">
                    Ville : {{ turn?.account?.deliveryAddress?.city }}</span
                  >
                </div>
                <div class="product-list-action">
                  <h6 class="p-mb-2">Commande :{{ turn.code }}</h6>
                  <span
                    >date prévue:
                    {{ turn?.expectedDate | date: "dd-MM-yyyy" }}</span
                  >
                </div>
              </div>
            </ng-template>
          </p-pickList>
          <div class="row">
            <div class="col-5"></div>
            <div class="col-2"></div>
            <div class="col-5">
              <span>
                <h2>
                  Totale : {{ this.turnAdded?.totalSoQnt | number: "1.2-2" }} KG
                </h2>
              </span>
              <!-- <p>le taux de remplissage en fonction du tonnage : </p>
              <p  *ngFor="let item of this.vehicleCatsToDeliver" >
              {{item?.description}} :  <span class="font-weight-bolder"> {{item?.pourcentageToDeliver| number : '1.2-2'}}%</span>
              </p> -->

              <!-- <p-button  icon="pi pi-info" (click)="op.toggle($event)"></p-button> -->
            </div>
          </div>
        </div>

        <div *ngIf="turnTypeId == 2 || turnTypeId == 3" class="mt-5">
          <p-pickList
            [source]="purchaseOrders"
            [target]="purchaseOrderLoading"
            sourceHeader="Achat"
            targetHeader="sélectionné"
            [responsive]="true"
            filterBy="account.name,code,expectedDate,deliveryAddress.city"
            dragdrop="true"
            sourceFilterPlaceholder="Recherche Par Fournisseur - Achat - Ville"
            targetFilterPlaceholder="Recherche Par Fournisseur - Achat - Ville "
            [sourceStyle]="{ height: '300px' }"
            [targetStyle]="{ height: '300px' }"
            (onMoveToSource)="onMovePoToSource($event)"
            (onMoveToTarget)="onMovePoToTarget($event)"
          >
            <ng-template let-purchase pTemplate="item">
              <div class="product-item">
                <div class="product-list-detail">
                  <h5 class="p-mb-2">
                    Fournisseur : {{ purchase?.supplier?.contact.name }}
                  </h5>
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="product-category">
                    Ville : {{ purchase?.supplier?.address?.city }}</span
                  >
                </div>
                <div class="product-list-action">
                  <h6 class="p-mb-2">Achat :{{ purchase.code }}</h6>
                  <span
                    >date prévue:
                    {{ purchase?.expectedDate | date: "dd-MM-yyyy" }}</span
                  >
                </div>
              </div>
            </ng-template>
          </p-pickList>
          <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
              <h2>
                Totale : {{ this.turnAdded?.totalPoQnt | number: "1.2-2" }} KG
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="activeIndex == 1" class="mt-5">

        <div class="row">
          <div class="d-flex col-md-6 justify-content-start">
            <span>
              <button
                pButton
                pRipple
                icon="pi pi-caret-up"
                (click)="onShowDialogCategory()"
                type="button"
                label="Catégorie proposé "
                class="p-button-outlined"
              ></button>
            </span>
            <!-- <p-overlayPanel #op [showCloseIcon]="true">
              <ng-template pTemplate>
                <p-table [value]="vehicleCatsToDeliver" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 3rem"></th>
                      <th>Catégorie</th>
                      <th>Tonnage</th>
                      <th>Pourcentage</th>
                      <th>Nombre Palettes</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-cat let-expanded="expanded">
                    <tr>
                      <td>
                        <button
                          type="button"
                          pButton
                          pRipple
                          [pRowToggler]="cat"
                          class="p-button-text p-button-rounded p-button-plain"
                          [icon]="
                            expanded
                              ? 'pi pi-chevron-down'
                              : 'pi pi-chevron-right'
                          "
                        ></button>
                      </td>
                      <td>{{ cat.description }}</td>
                      <td>{{ cat.tonnage }} KG</td>
                      <td>{{ cat.pourcentageToDeliver | number: "1.2-2" }}%</td>
                      <td>{{ cat.numberOfPalette | number: "1.2-2" }}</td>
                    </tr>
                  </ng-template>

                  <ng-template
                    pTemplate="rowexpansion"
                    let-cat
                    let-expanded="expanded"
                  >
                    <tr>
                      <td colspan="7">
                        <div class="p-p-3">
                          <p-table [value]="cat.transports" dataKey="id">
                            <ng-template pTemplate="header">
                              <tr>
                                <th>transport</th>

                                <th>prix</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-tr>
                              <tr>
                                <td>
                                  <b>{{ tr?.name }}</b>
                                </td>

                                <td>
                                  <b>{{ tr?.priceTurn }} DH</b>
                                </td>
                              </tr>
                              <tr
                                *ngFor="let item of tr?.catalogTransportTypes"
                              >
                                <td>+{{ item?.zoneDestination.code }}</td>

                                <td>{{ item?.amountTtc }}DH</td>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                              <tr>
                                <td colspan="6">pas de Transport</td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </ng-template>
            </p-overlayPanel> -->
          </div>

          <div class="d-flex col-md-6 justify-content-end">
            <button
              pButton
              pRipple
              icon="pi pi-map-marker"
              (click)="onShowDialogMap()"
              type="button"
              label="Itineraire"
              class="p-button-outlined"
            ></button>
          </div>
        </div>

        <div *ngIf="turnTypeId == 1 || turnTypeId == 3" class="mt-5">




          <p-table [value]="turnSoList">
            <ng-template pTemplate="caption" style="    text-align: center;">
              Commandes
          </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Commande</th>
                <th>Client</th>
                <th>Surcharge</th>
                <th>Statut</th>

                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-del>
              <tr>
                <td>{{ del.code }}</td>
                <td>{{ del?.saleOrder?.account?.name }}</td>
                <td>{{ del?.totalQuantity | number: "1.2-2" }} KG</td>
                <td>{{ del?.saleOrder?.orderStatus.code }}</td>

                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-primary mx-1"
                    (click)="onShowDialogligne(del, true)"
                  >
                    <!--ADD-->
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="2" class="text-right">Total</td>
                <td>{{ this.turnAdded?.totalSoQnt | number: "1.2-2" }} KG</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div *ngIf="turnTypeId == 2 || turnTypeId == 3" class="mt-5">
          <h5>Achat</h5>

          <p-table [value]="turnPoList">
            <ng-template pTemplate="header">
              <tr>
                <th>Achat</th>
                <th>Fournisseur</th>
                <th>Surcharge</th>
                <th>Statut</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-purchase>
              <tr>
                <td>{{ purchase.code }}</td>
                <td>{{ purchase?.purshaseOrder?.supplier.code }}</td>
                <td>{{ purchase?.totalQuantity | number: "1.2-2" }} KG</td>
                <td>{{ purchase?.purshaseOrder?.orderStatus?.code }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-primary mx-1"
                    (click)="onShowDialogligne(purchase, true)"
                  >
                    <!--ADD-->
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="2" class="text-right">Total</td>
                <td>{{ this.turnAdded?.totalPoQnt | number: "1.2-2" }} KG</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div *ngIf="activeIndex == 2" class="mt-5">
        <form [formGroup]="turnForm">


          <div class="mt-3 row justify-content-around">
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Type de Véhicule" | translate }} *</label
              >
              <span
                *ngIf="
                  (turnForm.get('fTypeVehicule').touched &&
                    turnForm.get('fTypeVehicule').invalid) ||
                  (isFormSubmitted && turnForm.get('fTypeVehicule').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                obligatoire
              </span>
              <p-dropdown
                [autoDisplayFirst]="false"
                (onChange)="onSelectChangeCatVehicle($event)"
                [options]="vehicleCatList"
                optionLabel="code"
                [filter]="true"
                formControlName="fTypeVehicule"
                [filter]="true"
              ></p-dropdown>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ "Transport" | translate }} *</label
              >
              <span
                *ngIf="
                  (turnForm.get('fTransport').touched &&
                    turnForm.get('fTransport').invalid) ||
                  (isFormSubmitted && turnForm.get('fTransport').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                obligatoire
              </span>
              <p-dropdown
                [autoDisplayFirst]="false"
                [options]="transportList"
                optionLabel="name"
                [filter]="true"
                formControlName="fTransport"
                (onChange)="onSelectTransport($event)"
              >
              </p-dropdown>
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ " Véhicule " | translate }} *</label
              >
              <span
                *ngIf="
                  (turnForm.get('fVehicule').touched &&
                    turnForm.get('fVehicule').invalid) ||
                  (isFormSubmitted && turnForm.get('fVehicule').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                obligatoire </span
              ><br />
              <p-dropdown
                [autoDisplayFirst]="true"
                [options]="vehicleList"
                optionLabel="code"
                [filter]="true"
                formControlName="fVehicule"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="mt-3 row justify-content-around">
            <div class="form-group col-md-3">
              <label class="font-weight-bold"
                >{{ " Chauffeurs " | translate }} *</label
              >
              <span
                *ngIf="
                  (turnForm.get('fDrivers').touched &&
                    turnForm.get('fDrivers').invalid) ||
                  (isFormSubmitted && turnForm.get('fDrivers').invalid)
                "
                class="text-lighter"
                style="color: red; font-size: xx-small"
              >
                obligatoire
              </span>
              <br />

              <p-multiSelect
                [options]="driverList"
                optionLabel="name"
                defaultLabel="- - - - - - Choisir - - - - - - "
                [maxSelectedLabels]="5"
                [panelStyle]="{ minWidth: '20em' }"
                [showTransitionOptions]="'0ms'"
                [hideTransitionOptions]="'0ms'"
                formControlName="fDrivers"
                (onChange)="onSelectDriver($event)"
              >
              </p-multiSelect>
            </div>

            <div class="form-group col-md-3"></div>

            <div class="form-group col-md-3"></div>
          </div>

          <!-- <div class="text-center mt-3 mr-3 ml-3">
            <button
              type="button"
              class="btn btn-primary m-1"
              (click)="resetTurnTransport()"
            >
              {{ "Rénitialiser" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-success m-1"
              (click)="editTurnTransport()"
            >
              {{ "Valider " | translate }}
            </button>
          </div> -->
        </form>

        <!-- <div class="card">
          <div class="card-header" style="background-color: #f7f7f7">
            <div class="row">
              <div class="col-xs-4 col-md-4 pull-left">

              </div>
              <div class="col-xs-4 col-md-6 pull-center">
                <span style="font-size: 16px; color: #5f5b5b">
                  <b> {{ "Liste Planning" | translate }}</b></span
                >
              </div>
            </div>
          </div>
          <div class="card-body border-top-primary">
            <p-table
              [value]="this.turnTransports"
              [lazy]="true"
              [rows]="size"
              [paginator]="true"
              [totalRecords]="this.turnTransports?.length"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ "Catégorie" | translate }}</th>
                  <th>{{ "Transport" | translate }}</th>
                  <th>{{ "Chaiffeurs" | translate }}</th>
                  <th>{{ "Véhicule" | translate }}</th>

                  <th style="width: 18%">{{ "Actions" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-line>
                <tr>
                  <td>{{ line?.vehicleCategory?.code }}</td>
                  <td>{{ line?.transport?.name }}</td>
                  <td>
                    <p *ngFor="let dr of line?.drivers">{{ dr?.name }}</p>
                  </td>
                  <td>{{ line?.vehicle?.registrationNumber }}</td>

                  <td>
                    <button
                      [disabled]="editModePlanning"
                      type="button"
                      class="btn btn-sm btn-primary mx-1"
                      (click)="onLineEditTurnTransport(line)"
                    >

                      <i class="fa fa-pencil"></i>
                    </button>
                    <button
                      [disabled]="editModePlanning"
                      type="button"
                      class="btn btn-sm btn-danger mx-1"
                      (click)="onDeletePlanning(line.day)"
                    >

                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div> -->
      </div>

      <div *ngIf="activeIndex == 3" class="mt-5">
        <div *ngIf="turnTypeId == 1 || turnTypeId == 3">
          <p-table [value]="this.turnSoList" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                <th rowspan="4">Commandes</th>
                <th colspan="5">List Des Ventes</th>
              </tr>

              <tr>
                <th>Client</th>
                <th>Ville</th>
                <th>Surchage</th>
                <th>Prix</th>
                <!-- <th>Prix transport</th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
              <tr>
                <td>{{ sale?.saleOrder?.code }}</td>
                <td>{{ sale?.saleOrder?.account?.name }}</td>
                <td>{{ sale?.saleOrder?.deliveryAddress?.city }}</td>

                <td>{{ sale?.totalQuantity | number: "1.2-2" }} KG</td>
                <td>{{ sale?.totalPriceTTC | currency: "MAD" }}</td>
                <!-- <td>{{sale?.totalPriceTurn | currency: 'MAD'}}</td> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>{{ this.turnAdded.totalSoQnt | number: "1.2-2" }} KG</td>
                <td>{{ this.turnAdded.totalSoTTC | currency: "MAD" }}</td>
                <!-- <td>{{this.turnAdded.totalSoPriceTurn | currency: 'MAD'}}</td> -->
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div>
          <div class="mt-5"></div>
          <div *ngIf="turnTypeId == 2 || turnTypeId == 3">
            <p-table [value]="this.turnPoList" responsiveLayout="stack">
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="4">Commandes</th>
                  <th colspan="5">Liste Des Achat</th>
                </tr>

                <tr>
                  <th>Fournisseur</th>
                  <th>Ville</th>
                  <th>Surchage</th>
                  <th>Prix</th>
                  <!-- <th>Prix transport</th> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-purchase>
                <tr>
                  <td>{{ purchase?.purshaseOrder?.code }}</td>
                  <td>
                    {{ purchase?.purshaseOrder?.supplier?.contact?.name }}
                  </td>
                  <td>
                    {{ purchase?.purshaseOrder?.supplier?.address?.city }}
                  </td>
                  <td>{{ purchase?.totalQuantity | number: "1.2-2" }} KG</td>
                  <td>{{ purchase?.totalPriceTTC | currency: "MAD" }}</td>
                  <!-- <td>{{purchase?.totalPriceTurn | currency: 'MAD'}}</td> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="3" class="text-right">Total</td>
                  <td>{{ this.turnAdded.totalPoQnt | number: "1.2-2" }} KG</td>
                  <td>{{ this.turnAdded.totalPoTTC | currency: "MAD" }}</td>
                  <!-- <td>{{this.turnAdded.totalPoPriceTurn | currency: 'MAD'}}</td> -->
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="text-center mt-3 mr-3 ml-3">
          <a class="btn btn-primary m-1" [routerLink]="['/core/vehicles/list']">
            {{ "Fermer" | translate }}
          </a>
          <button
            type="button"
            class="btn btn-success m-1"
            (click)="onSubmit()"
          >
            {{ "Valider et continuer" | translate }}
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="!(this.activeIndex == 0)" class="row pull-left mt-5">
      <button
        type="button"
        pButton
        icon="fa fa-chevron-left"
        (click)="previous()"
      ></button>
    </div>
    <div *ngIf="!(this.activeIndex == 3)" class="row pull-right mt-5">
      <button
        type="button"
        pButton
        icon="fa fa-chevron-right"
        (click)="next()"
      ></button>
    </div>
  </div>
</div>
<div
  class="alert alert-danger"
  *ngIf="this.catVehiculeQnt && this.activeIndex == 2"
>
  <strong></strong>le Poids Total:
  {{ this.turnAdded.totalSoQnt | number: "1.2-2" }} KG Poids total autorisé en
  charge : {{ this.totalqntV }} KG
</div>
<div
  class="alert alert-primary"
  *ngIf="this.catVehiculeQntSucces && this.activeIndex == 2"
>
  <strong></strong>le Poids Total:
  {{ this.turnAdded.totalSoQnt | number: "1.2-2" }} KG Poids total autorisé en
  charge : {{ this.totalqntV }} KG
</div>

<div *ngIf="showDialogLine == true">
  <app-delivery-line-edit
    [editMode]="true"
    (showDialog)="onHideDialogLigne($event)"
    (selectedTurnSoPoEdited)="onLineEditedturnSo($event)"
    [selectedTurnSoPo]="turnSoPoEdited"
  >
  </app-delivery-line-edit>
</div>

<div *ngIf="showDialogMap == true">
  <app-turn-itinerary
    [turnSoList]="this.turnSoList"
    (showDialog)="onHideDialogMap($event)"
  ></app-turn-itinerary>
</div>
<div *ngIf="showDialogCategory == true">
  <app-turn-category
    [turnSoList]="this.turnSoList"
    [turnAdded]="this.turnAdded"
    (showDialog)="onHideDialogCategory($event)"
  ></app-turn-category>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  acceptLabel="Complet"
  rejectLabel="Grouper"
></p-confirmDialog>
